<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">
           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">Règlements
                 </li>
               </ol>
             </div>
           </div>
         </div>

 </div>
  <!-- End Row Header=============================================== -->
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="form-group">

          <!-- Modal -->
          <div class="modal fade text-xs-left" id="primarymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header p-2 bg-gradient-x-primary white media-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel8">Règlement des Ordres de paiement</h4>
              </div>
              <div class="modal-body">
              <div class="row">
                <div class="col-xs-12">
                  <div class="card">
                    <div class="card-body collapse in">
                      <div class="card-block">
                        <!-- show image etat engagement -->
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-6">
                            <!-- <button type="button" class="btn mb-1 btn-success btn-lg btn-block" id="btnvaliderregl" onclick="validerreglement(true);"><i class="fa fa-check-circle"></i> Valider ce règlement</button> -->
                            <img src="../images/valider.jpeg" alt="Smiley face" height="40" width="102" id="imgvalide">
                          </div>
                        </div>
                        <!-- show entete engagement -->
                        <div class="row">
                          <div class="table-responsive">
                            <div class="table-responsive">
                              <table class="table table-bordered">
                                <thead>
                                    <tr bgcolor="#EFFBF8">
                                      <th width="25%" >Exercice</th>
                                      <th width="75%" ><label  ID="exe_txt"></label> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                      <td class="text-middle" >Numéro d'engagement</td>
                                      <td> <label  id="numeng_txt"></label></td>
                                    </tr>
                                    <tr>
                                      <td class="text-middle" >Numéro OP</td>
                                      <td><label  id="numop_txt"></label></td>
                                    </tr>
                                    <tr>
                                      <td class="text-middle" >Bénéficiaire</td>
                                      <td> <label  id="benef_txt"></label></td>
                                    </tr>
                                    <tr>
                                      <td class="text-middle" >RIB</td>
                                      <td> <input type="text" name="" value="111122223333444455556666" id="rib_txt" size="60%"></td>
                                    </tr>
                                    <tr>
                                      <td class="text-middle" >Nature</td>
                                      <td><label  id="nature_txt"></label></td>
                                    </tr>

                                    <tr bgcolor="#FAFAFA">
                                      <td class="text-middle" >Montant OP</td>
                                      <td><span class="primary"><b><label  id="montantop_txt"></label> dhs</b></span></td>
                                    </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <!-- Row liste des mode paiement in modal -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <div class="form-group" id="divmodepaiement">
                                <p>Sélectionner un mode de paiement</p>
                                <select id="select2-modepaiement" class="select2-theme form-control" style="width: 100%" onchange="change()">
                                  	<option value = 'vide' selected>--SELECT--</option>
                                  	<option value = 'Chèque'>Chéque</option>
                                  	<option value = 'Virement'>Virement</option>
                                  	<option value = 'MAD'>Mise á disposition</option>
                                  	<option value = 'ESP'>Espèce</option>
                                </select>
                            </div>
                          </div>
                        </div>
                        <!-- show detail engagement in datatable -->
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-6">
                              <div class="form-group">
                                  <label for="numbc">Numéro de règlement :</label>
                                  <input type="text" class="form-control" id="numregl" name="numregl" required placeholder="Entrez le numéro du règlement">
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6">
                                  <label for="dateeng">Date règlement :</label>
                                  <div class="input-group">
                                    <span class="input-group-addon">
                                      <span class="fa fa-calendar-o"></span>
                                    </span>
                                    <input type="date" class="form-control" id="dateregl" name="dateregl"  required>
                                  </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6">
                                  <label for="dateeng">Date VISA :</label>
                                  <div class="input-group">
                                    <span class="input-group-addon">
                                      <span class="fa fa-calendar-o"></span>
                                    </span>
                                    <input type="date" class="form-control" id="datevisa" name="datevisa"  required disabled>
                                  </div>
                          </div>

                        </div>


                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="btn-valider" class="btn btn-outline-info" onclick="validerreglement('valider');">Valider</button>
                <button type="button" id="btn-enregistrer" class="btn btn-outline-primary" onclick="validerreglement('enregistrer');">Enregistrer</button>
                <button type="button" id="btn-fermer" class="btn grey btn-outline-secondary " data-dismiss="modal">Fermer</button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- content page -->
  <section id="custom-view">

    <!-- Row liste des exercices -->
    <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <p>Sélectionner un exercice</p>
            <select class="select2-theme form-control" id="select2-exercices" onchange="run()" style="width: 100%">
                <!-- <option value= 'vide'>Sélectionner  un exercice</option> -->
              <% for(i=0; i< exercices.length; i++){%>
                <option value= <%= exercices[i]._id %> ><%= exercices[i].libelle %></option>
              <%}%>
            </select>
        </div>
      </div>
    </div>
    <!-- End Row liste des exercices -->
      <div class="row">

          <div class="col-xs-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Liste des ordres de paiement de l'exercice sélectionné</h4>
                      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                      <!-- <div class="heading-elements">
                          <ul class="list-inline mb-0">
                              <li><a href="/liquidationsform" id="linkderogationform" class="btn btn-outline-primary btn-min-width mr-1 mb-1" role="button">Nouvel ordre de paiement</a></li>
                          </ul>
                      </div> -->
                  </div>
                                   <!-- js grid -->
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard ">
                        <div id="jsGrid1"></div>
                      </div>
                  </div>
                  <!-- end js grid -->
              </div>
          </div>
      </div>
  </section>

  <!-- content page-->


<% include footer.ejs %>
<script>
  var clients = [];
  var exerciceid;
  var engageid;
  var opid;
// ################################################################################################ //
  $(document).ready(function(){
    run();
  });

  // Onchange function for the reglement nature
  function change () {

    var elem = document.querySelector("#select2-modepaiement")
    var selected = elem.options[elem.selectedIndex].value

    var disablethis = document.querySelector("#numregl")

    if(selected === 'Virement' || selected === 'MAD' || selected === 'ESP'){
      disablethis.disabled = true
    }else{
      disablethis.disabled = false
    }

  }

// ################################################################################################ //

// ################################################################################################ //
// fonction pour appliquer les droits du profile
  $(function() {
    document.getElementById('menu34').classList.add('active');
  });
// ################################################################################################ //
// fonction de chargement des engagements dans le jsgrid
function run() {
  exerciceid = document.getElementById("select2-exercices").value;
  var typecharge = [
     { name: "---" },
     { name: "FONCTIONNEMENT" },
     { name: "EQUIPEMENT" }
  ];
  var query = $.ajax({
           type: "GET",
           url: "/ops/api/get_op_regflagop/".concat(exerciceid),
           dataType: "json"
         });

   query.success(function(msg){

     clients = msg;
    console.log("clients",clients);
     $("#jsGrid1").jsGrid({
      //  height: "70%",
       width: "100%",
       filtering: true,
       editing: true,
       sorting: true,
       paging: true,
       autoload: true,
       inserting: false,
       pageSize: 15,
       pageButtonCount: 5,
       confirmDeleting: false,
       noDataContent: "Liste vide",

        controller: {

        loadData: function(filter) {

            return $.grep(clients, function(obj) {
                return (!filter.dateeng || obj.dateeng.indexOf(filter.dateeng) > -1)
                && (!filter.beneficiaire || obj.beneficiaire.indexOf(filter.beneficiaire) > -1)
                // && (!filter.numjournal || obj.numjournal.indexOf(filter.numjournal) > -1)
                // && (!filter.numpiece || obj.numpiece.indexOf(filter.numpiece) > -1)
                // && (!filter.objet || obj.objet.indexOf(filter.objet) > -1)
                // && (!filter.nature || obj.nature.indexOf(filter.nature) > -1)
                // && (!filter.numeng || obj.numeng.indexOf(filter.numeng) > -1)
                && (!filter.numop || obj.numop.indexOf(filter.numop) > -1);
            });
        },
        updateItem: function(item) {

          swal({
               title: "Êtes-vous sûr ?",
               text:  "de vouloir valider cet enregistrement!",
               showCancelButton: true,
               confirmButtonColor:  '#04B486',
               confirmButtonText: 'Oui, je confirme!',
               cancelButtonText: "Non, annuler!",
               closeOnConfirm: false,
               closeOnCancel: true,
               showLoaderOnConfirm: true
             }, function () {
               // Construction de l objet OP a envoyer dans body [partie reglement]
               var objet_op = {
                  //  lastupdate: new Date(),
                   numjournal: item.numjournal,
                   numpiece: item.numpiece ,
                   typecharge: item.typecharge,
                   comptaflagop: true
                 }
                 console.log(objet_op);
               axios.post('/ops/update_compta',{
                 exerciceid: item.exerciceid,
                 engageid: item.engageid,
                 opid: item.opid,
                 op: objet_op
               })
               .then((msg) => {
                 window.location.href = '/compta';
               })
               .catch((err) => {
                 console.log(err)
               })

             });
         },
        },

           fields: [
                       {
                             itemTemplate: function(_, item) {
                                       if(item.annuler){
                                         return $("<h4><i class='fa fa-times danger'></i></h4>")
                                       }else{
                                         return item.comptaflagop ? $("<h3><i class='ft-check-circle success'></i></h3>") : $("<h4><i class='fa fa-pencil-square-o warning'></i></h4>")
                                       }
                             }, width: 18, align: "center", title: "", css:  "secondary"
                        },
                      //  { name: "dateop", title: "Date OP", type: "text", width: 60, validate: "required" },
                       { name: "numop", title: "N° OP", type: "text", width: 50, validate: "required",editing: false},
                      //  { name: "numeng", title: "N° ENG", type: "text", width: 60, validate: "required"},
                      //  { name: "nature", title: "Nature", type: "text", width: 40, validate: "required"},
                       { name: "beneficiaire", title: "Bénéficiaire", type: "text", width: 150, validate: "required",editing: false},
                       { name: "montantop", title: "Montant OP", type: "number", width: 50, validate: "required",editing: false,
                         align: "right",itemTemplate: function(cost) {return (cost).toFixed(2); }},
                       { name: "numjournal", title: "N journal", type: "text", width: "40", validate: "required",align: "left",validate: { message: "Attention, le mode de règlement est non valide.", validator: function(value) { return (value !== ""); } } },
                       { name: "numpiece", title: "N° pièce", type: "text", width: 60, validate: "required"},
                       { name: "typecharge" , title: "Type", type: "select", items: typecharge, valueField: "name", textField: "name", width: 80, validate: "required",align:"left" },
                    { type: "control", }


                  ]


       });
        $("#jsGrid1").jsGrid("option", "filtering", false);
        $("#jsGrid1").jsGrid("sort", "numop", "desc");
    });
}
 
// ################################################################################################ //
</script>
