<% include header.ejs %>
<!-- =============================================== -->
<!-- <div class="row">
  <div class="col-xl-12 col-lg-12">
  <div class="card">

    <div class="card-body">
      <div class="card-block">

        <ul class="nav nav-tabs nav-linetriangle no-hover-bg">
          <li class="nav-item">
            <a class="nav-link" id="base-tab41" data-toggle="tab" aria-controls="tab41" href="#tab41" aria-expanded="true">2010</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="base-tab42" data-toggle="tab" aria-controls="tab42" href="#tab42" aria-expanded="false">2011</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="base-tab43" data-toggle="tab" aria-controls="tab43" href="#tab43" aria-expanded="false">2012</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="base-tab44" data-toggle="tab" aria-controls="tab44" href="#tab44" aria-expanded="false">2013</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="base-tab45" data-toggle="tab" aria-controls="tab45" href="#tab45" aria-expanded="false">2014</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="base-tab46" data-toggle="tab" aria-controls="tab46" href="#tab46" aria-expanded="false">2015</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="base-tab47" data-toggle="tab" aria-controls="tab47" href="#tab47" aria-expanded="false">2016</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="base-tab48" data-toggle="tab" aria-controls="tab438" href="#tab48" aria-expanded="false">2017</a>
          </li>
        </ul>
        <div class="tab-content px-1 pt-1">
          <div role="tabpanel" class="tab-pane active" id="tab41" aria-expanded="true" aria-labelledby="base-tab41">
              <div class="col-xl-3 col-lg-6 col-xs-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-block">
                              <div class="media">
                                  <div class="media-body text-xs-left">
                                      <h3 class="primary">78%</h3>
                                      <span>Budget engagé</span>
                                  </div>
                                  <div class="media-right media-middle">
                                      <i class="ft-bar-chart primary font-large-2 float-xs-right"></i>
                                  </div>
                              </div>
                              <progress class="progress progress-sm progress-primary mt-1 mb-0" value="80" max="100"></progress>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-xs-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-block">
                              <div class="media">
                                  <div class="media-body text-xs-left">
                                      <h3 class="danger">42 367 900,00</h3>
                                      <span>Montant Total Engagé</span>
                                  </div>
                                  <div class="media-right media-middle">
                                      <i class="icon-social-dropbox danger font-large-2 float-xs-right"></i>
                                  </div>
                                  <progress class="progress progress-sm progress-danger mt-1 mb-0" value="40" max="100"></progress>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-xs-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-block">
                              <div class="media">
                                  <div class="media-body text-xs-left">
                                      <h3 class="success">36 367 900,00</h3>
                                      <span>Montant Total reglé</span>
                                  </div>
                                  <div class="media-right media-middle">
                                      <i class="ft-check-circle success font-large-2 float-xs-right"></i>
                                  </div>
                                  <progress class="progress progress-sm progress-success mt-1 mb-0" value="60" max="100"></progress>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-block">
                            <div class="media">
                                <div class="media-body text-xs-left">
                                    <h3 class="warning">6 000 000,00</h3>
                                    <span>Reste á payer</span>
                                </div>
                                <div class="media-right media-middle">
                                    <i class="ft-bookmark warning font-large-2 float-xs-right"></i>
                                </div>
                                <progress class="progress progress-sm progress-warning mt-1 mb-0" value="35" max="100"></progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="tab-pane" id="tab42" aria-labelledby="base-tab42">
              <div class="col-xl-3 col-lg-6 col-xs-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-block">
                              <div class="media">
                                  <div class="media-body text-xs-left">
                                      <h3 class="primary">62%</h3>
                                      <span>Budget engagé</span>
                                  </div>
                                  <div class="media-right media-middle">
                                      <i class="ft-bar-chart primary font-large-2 float-xs-right"></i>
                                  </div>
                              </div>
                              <progress class="progress progress-sm progress-primary mt-1 mb-0" value="80" max="100"></progress>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-xs-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-block">
                              <div class="media">
                                  <div class="media-body text-xs-left">
                                      <h3 class="danger">72 367 900,00</h3>
                                      <span>Montant Total Engagé</span>
                                  </div>
                                  <div class="media-right media-middle">
                                      <i class="icon-social-dropbox danger font-large-2 float-xs-right"></i>
                                  </div>
                                  <progress class="progress progress-sm progress-danger mt-1 mb-0" value="40" max="100"></progress>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-xs-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-block">
                              <div class="media">
                                  <div class="media-body text-xs-left">
                                      <h3 class="success">56 367 900,00</h3>
                                      <span>Montant Total reglé</span>
                                  </div>
                                  <div class="media-right media-middle">
                                      <i class="ft-check-circle success font-large-2 float-xs-right"></i>
                                  </div>
                                  <progress class="progress progress-sm progress-success mt-1 mb-0" value="60" max="100"></progress>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-xs-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-block">
                              <div class="media">
                                  <div class="media-body text-xs-left">
                                      <h3 class="warning">7 000 000,00</h3>
                                      <span>Reste á payer</span>
                                  </div>
                                  <div class="media-right media-middle">
                                      <i class="ft-bookmark warning font-large-2 float-xs-right"></i>
                                  </div>
                                  <progress class="progress progress-sm progress-warning mt-1 mb-0" value="35" max="100"></progress>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="tab-pane" id="tab43" aria-labelledby="base-tab43">
              <div class="col-xl-3 col-lg-6 col-xs-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-block">
                              <div class="media">
                                  <div class="media-body text-xs-left">
                                      <h3 class="primary">58%</h3>
                                      <span>Budget engagé</span>
                                  </div>
                                  <div class="media-right media-middle">
                                      <i class="ft-bar-chart primary font-large-2 float-xs-right"></i>
                                  </div>
                              </div>
                              <progress class="progress progress-sm progress-primary mt-1 mb-0" value="80" max="100"></progress>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-xs-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-block">
                              <div class="media">
                                  <div class="media-body text-xs-left">
                                      <h3 class="danger">46 367 900,00</h3>
                                      <span>Montant Total Engagé</span>
                                  </div>
                                  <div class="media-right media-middle">
                                      <i class="icon-social-dropbox danger font-large-2 float-xs-right"></i>
                                  </div>
                                  <progress class="progress progress-sm progress-danger mt-1 mb-0" value="40" max="100"></progress>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-xs-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-block">
                              <div class="media">
                                  <div class="media-body text-xs-left">
                                      <h3 class="success">34 367 900,00</h3>
                                      <span>Montant Total reglé</span>
                                  </div>
                                  <div class="media-right media-middle">
                                      <i class="ft-check-circle success font-large-2 float-xs-right"></i>
                                  </div>
                                  <progress class="progress progress-sm progress-success mt-1 mb-0" value="60" max="100"></progress>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-block">
                            <div class="media">
                                <div class="media-body text-xs-left">
                                    <h3 class="warning">6 700 000,00</h3>
                                    <span>Reste á payer</span>
                                </div>
                                <div class="media-right media-middle">
                                    <i class="ft-bookmark warning font-large-2 float-xs-right"></i>
                                </div>
                                <progress class="progress progress-sm progress-warning mt-1 mb-0" value="35" max="100"></progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="tab-pane" id="tab44" aria-labelledby="base-tab44">
              <div class="col-xl-3 col-lg-6 col-xs-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-block">
                              <div class="media">
                                  <div class="media-body text-xs-left">
                                      <h3 class="primary">86%</h3>
                                      <span>Budget engagé</span>
                                  </div>
                                  <div class="media-right media-middle">
                                      <i class="ft-bar-chart primary font-large-2 float-xs-right"></i>
                                  </div>
                              </div>
                              <progress class="progress progress-sm progress-primary mt-1 mb-0" value="80" max="100"></progress>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-xs-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-block">
                              <div class="media">
                                  <div class="media-body text-xs-left">
                                      <h3 class="danger">42 657 900,00</h3>
                                      <span>Montant Total Engagé</span>
                                  </div>
                                  <div class="media-right media-middle">
                                      <i class="icon-social-dropbox danger font-large-2 float-xs-right"></i>
                                  </div>
                                  <progress class="progress progress-sm progress-danger mt-1 mb-0" value="40" max="100"></progress>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-xs-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-block">
                              <div class="media">
                                  <div class="media-body text-xs-left">
                                      <h3 class="success">34 367 900,00</h3>
                                      <span>Montant Total reglé</span>
                                  </div>
                                  <div class="media-right media-middle">
                                      <i class="ft-check-circle success font-large-2 float-xs-right"></i>
                                  </div>
                                  <progress class="progress progress-sm progress-success mt-1 mb-0" value="60" max="100"></progress>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-block">
                            <div class="media">
                                <div class="media-body text-xs-left">
                                    <h3 class="warning">6 000 000,00</h3>
                                    <span>Reste á payer</span>
                                </div>
                                <div class="media-right media-middle">
                                    <i class="ft-bookmark warning font-large-2 float-xs-right"></i>
                                </div>
                                <progress class="progress progress-sm progress-warning mt-1 mb-0" value="35" max="100"></progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="tab-pane" id="tab45" aria-labelledby="base-tab45">
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="primary">67%</h3>
                                        <span>Budget engagé</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="ft-bar-chart primary font-large-2 float-xs-right"></i>
                                    </div>
                                </div>
                                <progress class="progress progress-sm progress-primary mt-1 mb-0" value="80" max="100"></progress>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="danger">65 367 900,00</h3>
                                        <span>Montant Total Engagé</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-social-dropbox danger font-large-2 float-xs-right"></i>
                                    </div>
                                    <progress class="progress progress-sm progress-danger mt-1 mb-0" value="40" max="100"></progress>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="success">36 367 900,00</h3>
                                        <span>Montant Total reglé</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="ft-check-circle success font-large-2 float-xs-right"></i>
                                    </div>
                                    <progress class="progress progress-sm progress-success mt-1 mb-0" value="60" max="100"></progress>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-block">
                            <div class="media">
                                <div class="media-body text-xs-left">
                                    <h3 class="warning">6 500 000,00</h3>
                                    <span>Reste á payer</span>
                                </div>
                                <div class="media-right media-middle">
                                    <i class="ft-bookmark warning font-large-2 float-xs-right"></i>
                                </div>
                                <progress class="progress progress-sm progress-warning mt-1 mb-0" value="35" max="100"></progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="tab-pane" id="tab46" aria-labelledby="base-tab46">
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="primary">65%</h3>
                                        <span>Budget engagé</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="ft-bar-chart primary font-large-2 float-xs-right"></i>
                                    </div>
                                </div>
                                <progress class="progress progress-sm progress-primary mt-1 mb-0" value="80" max="100"></progress>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="danger">42 367 900,00</h3>
                                        <span>Montant Total Engagé</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-social-dropbox danger font-large-2 float-xs-right"></i>
                                    </div>
                                    <progress class="progress progress-sm progress-danger mt-1 mb-0" value="40" max="100"></progress>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="success">36 367 900,00</h3>
                                        <span>Montant Total reglé</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="ft-check-circle success font-large-2 float-xs-right"></i>
                                    </div>
                                    <progress class="progress progress-sm progress-success mt-1 mb-0" value="60" max="100"></progress>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-block">
                            <div class="media">
                                <div class="media-body text-xs-left">
                                    <h3 class="warning">6 000 000,00</h3>
                                    <span>Reste á payer</span>
                                </div>
                                <div class="media-right media-middle">
                                    <i class="ft-bookmark warning font-large-2 float-xs-right"></i>
                                </div>
                                <progress class="progress progress-sm progress-warning mt-1 mb-0" value="35" max="100"></progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="tab-pane" id="tab47" aria-labelledby="base-tab47">
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="primary">48%</h3>
                                        <span>Budget engagé</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="ft-bar-chart primary font-large-2 float-xs-right"></i>
                                    </div>
                                </div>
                                <progress class="progress progress-sm progress-primary mt-1 mb-0" value="80" max="100"></progress>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="danger">88 367 900,00</h3>
                                        <span>Montant Total Engagé</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-social-dropbox danger font-large-2 float-xs-right"></i>
                                    </div>
                                    <progress class="progress progress-sm progress-danger mt-1 mb-0" value="40" max="100"></progress>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="success">36 367 900,00</h3>
                                        <span>Montant Total reglé</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="ft-check-circle success font-large-2 float-xs-right"></i>
                                    </div>
                                    <progress class="progress progress-sm progress-success mt-1 mb-0" value="60" max="100"></progress>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-block">
                            <div class="media">
                                <div class="media-body text-xs-left">
                                    <h3 class="warning">6 534 000,00</h3>
                                    <span>Reste á payer</span>
                                </div>
                                <div class="media-right media-middle">
                                    <i class="ft-bookmark warning font-large-2 float-xs-right"></i>
                                </div>
                                <progress class="progress progress-sm progress-warning mt-1 mb-0" value="35" max="100"></progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="tab-pane" id="tab48" aria-labelledby="base-tab48">
              <div class="col-xl-3 col-lg-6 col-xs-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-block">
                              <div class="media">
                                  <div class="media-body text-xs-left">
                                      <h3 class="primary">23%</h3>
                                      <span>Budget engagé</span>
                                  </div>
                                  <div class="media-right media-middle">
                                      <i class="ft-bar-chart primary font-large-2 float-xs-right"></i>
                                  </div>
                              </div>
                              <progress class="progress progress-sm progress-primary mt-1 mb-0" value="80" max="100"></progress>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-xs-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-block">
                              <div class="media">
                                  <div class="media-body text-xs-left">
                                      <h3 class="danger">42 367 900,00</h3>
                                      <span>Montant Total Engagé</span>
                                  </div>
                                  <div class="media-right media-middle">
                                      <i class="icon-social-dropbox danger font-large-2 float-xs-right"></i>
                                  </div>
                                  <progress class="progress progress-sm progress-danger mt-1 mb-0" value="40" max="100"></progress>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-xs-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-block">
                              <div class="media">
                                  <div class="media-body text-xs-left">
                                      <h3 class="success">36 367 900,00</h3>
                                      <span>Montant Total reglé</span>
                                  </div>
                                  <div class="media-right media-middle">
                                      <i class="ft-check-circle success font-large-2 float-xs-right"></i>
                                  </div>
                                  <progress class="progress progress-sm progress-success mt-1 mb-0" value="60" max="100"></progress>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-block">
                            <div class="media">
                                <div class="media-body text-xs-left">
                                    <h3 class="warning">6 000 000,00</h3>
                                    <span>Reste á payer</span>
                                </div>
                                <div class="media-right media-middle">
                                    <i class="ft-bookmark warning font-large-2 float-xs-right"></i>
                                </div>
                                <progress class="progress progress-sm progress-warning mt-1 mb-0" value="35" max="100"></progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="card">
        <div class="card-header no-border">
            <h4 class="card-title">Etat des 10 derniers exercices</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div id="goal-list-scroll" class="table-responsive ">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>Exercice</th>
                            <th><font color="#0040FF">Budget alloué</font></th>
                            <th><font color="#FF0000">Total engagé</font></th>
                            <th><b>Total réglé</b></th>
                            <th><font color="#FF8000">RAP</font></th>
                            <th><font color="#04B45F">Disponible</font></th>
                            <th>%</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2017</td>
                            <td><font color="#0040FF">9 000 000,00</font></td>
                            <td><font color="#FF0000">2 000 000,00</font></td>
                            <td><b>1 500 000,00</b></td>
                            <td><font color="#FF8000">500 000,00</font></td>
                            <td><font color="#04B45F">7 000 000,00</font></td>
                            <td class="text-xs-center font-small-2">77.78% <progress class="progress progress-sm progress-success mb-0" value="77.78" max="100"></progress></td>
                        </tr>
                        <tr>
                          <td>2016</td>
                          <td><font color="#0040FF">8 000 000,00</font></td>
                          <td><font color="#FF0000">7 600 000,00</font></td>
                          <td><b>7 000 000,00</b></td>
                          <td><font color="#FF8000">600 000,00</font></td>
                          <td><font color="#04B45F">400 000,00</font></td>
                          <td class="text-xs-center font-small-2">5% <progress class="progress progress-sm progress-success mb-0" value="5" max="100"></progress></td>
                        </tr>
                        <tr>
                          <td>2015</td>
                          <td><font color="#0040FF">8 000 000,00</font></td>
                          <td><font color="#FF0000">7 600 000,00</font></td>
                          <td><b>7 000 000,00</b></td>
                          <td><font color="#FF8000">600 000,00</font></td>
                          <td><font color="#04B45F">400 000,00</font></td>
                          <td class="text-xs-center font-small-2">5% <progress class="progress progress-sm progress-success mb-0" value="5" max="100"></progress></td>
                        </tr>
                        <tr>
                          <td>2014</td>
                          <td><font color="#0040FF">8 000 000,00</font></td>
                          <td><font color="#FF0000">7 600 000,00</font></td>
                          <td><b>7 000 000,00</b></td>
                          <td><font color="#FF8000">600 000,00</font></td>
                          <td><font color="#04B45F">400 000,00</font></td>
                          <td class="text-xs-center font-small-2">5% <progress class="progress progress-sm progress-success mb-0" value="5" max="100"></progress></td>
                        </tr>
                        <tr>
                          <td>2013</td>
                          <td><font color="#0040FF">8 000 000,00</font></td>
                          <td><font color="#FF0000">7 600 000,00</font></td>
                          <td><b>7 000 000,00</b></td>
                          <td><font color="#FF8000">600 000,00</font></td>
                          <td><font color="#04B45F">400 000,00</font></td>
                          <td class="text-xs-center font-small-2">5% <progress class="progress progress-sm progress-success mb-0" value="5" max="100"></progress></td>
                        </tr>
                        <tr>
                          <td>2012</td>
                          <td><font color="#0040FF">8 000 000,00</font></td>
                          <td><font color="#FF0000">7 600 000,00</font></td>
                          <td><b>7 000 000,00</b></td>
                          <td><font color="#FF8000">600 000,00</font></td>
                          <td><font color="#04B45F">400 000,00</font></td>
                          <td class="text-xs-center font-small-2">5% <progress class="progress progress-sm progress-success mb-0" value="5" max="100"></progress></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12">
     <div class="card">
       <div class="card-header">
          <h4 class="card-title">Présentation graphique</h4>
          <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

       </div>
        <div class="card-body collapse in">
           <div class="card-block ">
             <div id="container" style="width:100%; height:360px;">
               <canvas id="line-chart" style="width:100%; height:360px;"></canvas>
             </div>

           </div>
        </div>
     </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12">
     <div class="card">
       <div class="card-header">
          <h4 class="card-title">Présentation graphique</h4>
          <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

       </div>
        <div class="card-body collapse in">
           <div class="card-block ">
             <div id="container" style="width:100%; height:360px;">
               <canvas id="line-chart2" style="width:100%; height:360px;"></canvas>
             </div>

           </div>
        </div>
     </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="card">
        <div class="card-header no-border">
            <h4 class="card-title">Nombre d'opérations</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div id="goal-list-scroll" class="table-responsive ">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>Exercice</th>
                            <th>Nombre engagements</th>
                            <th>Nombre OP</th>
                            <th>Nombre engagements annulés</th>
                            <th>Nombre OP annulés</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2017</td>
                            <td> <span class="tag tag-default tag-pill bg-primary float-xs-center">500</span> </td>
                            <td> <span class="tag tag-default tag-pill bg-info float-xs-center">550</span></td>
                            <td> <span class="tag tag-default tag-pill bg-danger float-xs-center">10</span> </td>
                            <td> <span class="tag tag-default tag-pill bg-warning float-xs-center">18</span> </td>
                        </tr>
                        <tr>
                          <td>2016</td>
                          <td> <span class="tag tag-default tag-pill bg-primary float-xs-center">500</span> </td>
                          <td> <span class="tag tag-default tag-pill bg-info float-xs-center">550</span></td>
                          <td> <span class="tag tag-default tag-pill bg-danger float-xs-center">10</span> </td>
                          <td> <span class="tag tag-default tag-pill bg-warning float-xs-center">18</span> </td>
                        </tr>
                        <tr>
                          <td>2015</td>
                          <td> <span class="tag tag-default tag-pill bg-primary float-xs-center">500</span> </td>
                          <td> <span class="tag tag-default tag-pill bg-info float-xs-center">550</span></td>
                          <td> <span class="tag tag-default tag-pill bg-danger float-xs-center">10</span> </td>
                          <td> <span class="tag tag-default tag-pill bg-warning float-xs-center">18</span> </td>
                        </tr>
                        <tr>
                          <td>2014</td>
                          <td> <span class="tag tag-default tag-pill bg-primary float-xs-center">500</span> </td>
                          <td> <span class="tag tag-default tag-pill bg-info float-xs-center">550</span></td>
                          <td> <span class="tag tag-default tag-pill bg-danger float-xs-center">10</span> </td>
                          <td> <span class="tag tag-default tag-pill bg-warning float-xs-center">18</span> </td>
                        </tr>
                        <tr>
                          <td>2013</td>
                          <td> <span class="tag tag-default tag-pill bg-primary float-xs-center">500</span> </td>
                          <td> <span class="tag tag-default tag-pill bg-info float-xs-center">550</span></td>
                          <td> <span class="tag tag-default tag-pill bg-danger float-xs-center">10</span> </td>
                          <td> <span class="tag tag-default tag-pill bg-warning float-xs-center">18</span> </td>
                        </tr>
                        <tr>
                          <td>2012</td>
                          <td> <span class="tag tag-default tag-pill bg-primary float-xs-center">500</span> </td>
                          <td> <span class="tag tag-default tag-pill bg-info float-xs-center">550</span></td>
                          <td> <span class="tag tag-default tag-pill bg-danger float-xs-center">10</span> </td>
                          <td> <span class="tag tag-default tag-pill bg-warning float-xs-center">18</span> </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div> -->



<% include footer.ejs %>



<script>
  $(function() {
    document.getElementById('menu1').classList.add('active');
  });


  var clients = [];
  var equiptab = [];
  var foncttab = [];
  var yearstab = [];

  var datenow = new Date();
  var  yearstart = datenow.getFullYear();

  var query = $.ajax({
          type: "GET",
          url: "/exercices/api/get2",
          dataType: "json"
        });

  query.success(function(msg){
  // Ordonner par year ( sort -1 ne marche pas au niveau mongodb ??!!)
    clients = msg.sort(function (a,b){ return a._id.year - b._id.year; });

     for(i=0; i< clients.length; i++){
      yearstart = Math.min(yearstart, clients[i]._id.year);

           if (clients[i]._id.type == "EQUIPEMENT"){
             equiptab.push(clients[i].budget );
             yearstab.push(clients[i]._id.year );
           } else {
             foncttab.push(clients[i].budget );
           }

      }
      // graph 1
  new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    // labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    labels: yearstab,
    datasets: [{
        // data: [86,114,106,106,107,111,133,221,783,2478],
        data: equiptab,
        label: "EQUIPEMENT",
        borderColor: "#3e95cd",
        backgroundColor: "#3e95cd",
        fill: false
      }, {
        // data: [282,350,411,502,635,809,947,1402,3700,5267],
        data: foncttab,
        label: "FONCTIONNEMENT",
        borderColor: "#8e5ea2",
        backgroundColor: "#8e5ea2",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'test '
    }
  }
  });

  // Graph 2
  new Chart(document.getElementById("line-chart2"), {
  type: 'line',
  data: {
    // labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    labels: yearstab,
    datasets: [{
        data: [166,217,256,276,220,165,170,240,233],
        label: "Nombre engagements",
        borderColor: "#08298A",
        backgroundColor: "#08298A",
        fill: false
      }, {
        data: [382,350,351,342,365,379,387,402,490],
        label: "Nombre OP",
        borderColor: "#04B404",
        backgroundColor: "#04B404",
        fill: false
      }, {
        data: [382,450,511,562,695,609,647,502,500],
        label: "Nombre Engagements annulés",
        borderColor: "#DF0101",
        backgroundColor: "#DF0101",
        fill: false
      }, {
        data: [282,350,411,502,635,709,647,602,690],
        label: "Nombre OP annulés",
        borderColor: "#D7DF01",
        backgroundColor: "#D7DF01",
        fill: false
      }
    ]
  },
  options: {
        elements: {
            line: {
                tension: 0, // disables bezier curves
            }
        }
    }
  });
  });

</script>
