<% include header.ejs %>
<!-- The Good One -->
<!-- BREADCRUMBS -->
    <div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">
           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item"><a href="/engagements">Liste des engagements</a>
                 </li>
                 <li class="breadcrumb-item active">Nouvel engagement
                 </li>
               </ol>
             </div>
           </div>
         </div>
    </div>
<!-- END BREADCRUMBS -->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- Card Header -->
      <div class="card-header">
        <h4 class="card-title" id="horz-layout-basic">Nouvel engagement</h4>
      </div>
      <!-- End card header -->
      <!-- Card Body -->
      <div class="card-body collapse in">
        <div class="card-block">
          <!-- Begin Form -->
          <form name="myform" id="myform"  class="form form-horizontal form-bordered"  method="post" onsubmit="return validateForm()">
             <div class="form-body">
              <fieldset>
                <div class="row" align="right">
                  <div class="form-actions col-xs-12" >
                    <button type="button" class="btn btn-warning mr-1" id="onCancel">
                      <i class="ft-x"></i> Annuler
                    </button>
                     <input id="save" type="button" name="save" class="btn btn-primary"  value="Enregistrer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </div>
                <!-- Row1 in the form -->
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
        							<label for="exercice">Exercice :</label>
        							<select name="exercice" class="select2-theme form-control" id="exercice" required onchange="exerciceChanged()" placeholder="Entrez le numéro du BC" style="width: 100%">
                        <option value=' ' selected></option>
                        <% for(i=0; i< exercices.length; i++){%>
                          <% if( !exercices[i].clotured & !exercices[i].disabled )  { %>
                            <option value="<%= exercices[i]._id %>"><%= exercices[i].libelle %></option>
                          <%}%>
                        <%}%>
        							</select>
        						</div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                        <label for="nature">Nature :</label>
                          <select class="select2-theme form-control" required id="nature" name="nature" onchange="natureChanged()" style="width: 100%">
                                    <option value='BC'  >Bon de commande</option>
                                    <option value='MAR' >Marché</option>
                                    <option value='REG' >Régie</option>
                                    <option value='DEP' >Déplacement</option>
                                    <option value='PAI' >Paie</option>
                                    <option value='CON' >Contrat</option>
                            </select>
                      </div>
                  </div>
                </div>
                <!-- end row1 in the form -->
                <!-- Row2 in the form -->
                <div class="row">
                    <div class="col-md-6">

                            <label for="dateeng">Date engagement :</label>
                            <div class="input-group">
                              <span class="input-group-addon">
                                <span class="fa fa-calendar-o"></span>
                              </span>
                              <input type="date" class="form-control" id="dateeng" name="dateeng"  required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="numbc">Numéro Bon de Commande :</label>
                            <input type="text" class="form-control" id="numbc" name="numbc" required placeholder="Entrez le numéro du BC">
                        </div>
                    </div>
                    <div class="col-md-3 ">

                          <label for="datebc">Date Bon de Commande :</label>
                          <div class="input-group">
                            <span class="input-group-addon">
                              <span class="fa fa-calendar-o"></span>
                            </span>
                            <input type="date" class="form-control" id="datebc" name="datebc" required placeholder="Entrez la date du BC">
                          </div>

                    </div>
                </div>
                <!-- end row2 in the form -->
                <!-- Row3 in the form -->
                <div class="row" style = "padding: 0px;">
                  <div class="col-md-5" style="padding-right: 1px;">
                      <div class="form-group">
                          <label for="beneficiaire">Bénéficiaire :</label>
                          <select class="select2-placeholder form-control " required id="beneficiaire" name="beneficiaire" placeholder="Sélectionner un bénéficiaire">
                            <option value=' ' selected></option>
                             <optgroup label="Externe">
                                  <%
                                  for(i=0; i< beneficiairesext.length; i++){%>
                                    <option  value="<%= beneficiairesext[i]._id %>"><%= beneficiairesext[i].nom %></option>
                                  <%}%>
                              </optgroup>
                              <optgroup label="Interne">
                                   <%
                                   for(i=0; i< beneficiairesint.length; i++){%>
                                     <option  value="<%= beneficiairesint[i]._id %>"><%= beneficiairesint[i].nom %></option>
                                   <%}%>
                               </optgroup>
                            </select>
                            <!-- <button type="button" id="refreshcombo" class="btn btn-icon btn-primary mr-1 "><i class="fa fa-refresh"></i></button> -->
                      </div>

                  </div>
                  <div class="col-md-1" style=" padding: 1px;">
                      <label for="beneficiaire" >Refresh:</label>
                      <button type="button" id="refreshcombo" class="btn btn-icon btn-primary mr-1 "><i class="fa fa-refresh"></i></button>

                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                        <label for="nummarche">Numéro du marché :</label>
                        <input type="text" class="form-control" id="nummarche" name="nummarche" readonly='readonly' required placeholder="Entrez la référence du marché">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="date4">Divers :</label>
                          <input type="text" class="form-control " id="autreinfos" name="autreinfos" readonly='readonly' required placeholder="Entrez la référence de la nature">
                      </div>
                  </div>
                </div>
                <!-- end row4 in the form -->
                <!-- Row5 in the form -->
                <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="objet">Objet :</label>
                          <input type="text" class="form-control" id="objet" name="objet" class="form-control pickadate-translations has-danger" placeholder="Saisir l'objet" required>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="intitule">Intitulé :</label>
                          <input type="text" class="form-control" id="intitule" name="intitule" class="form-control pickadate-translations has-danger" placeholder="Saisir l'intitulé" required>
                      </div>
                  </div>
                </div>
                <!-- end row5 in the form -->
                <!-- Row6 in the form -->
                <div class="row hidden">
                  <div class="col-md-12">
                    <div class="form-group">
                      <p>Objet for BackEnd :</p>
                      <textarea type="text" id="detaileng"  name="detaileng" required  class="form-control" placeholder="detaileng" >
                      </textarea>
                    </div>
                  </div>
                </div>
                <!-- end row6 in the form -->

              </fieldset>
            </div>

          </form>
          <!-- End Form -->
        </div>
      </div>
      <!-- End card body -->
    </div>
  </div>
</div>


<!-- Row modal disponibilite -->
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="form-group">
      <!-- Modal -->
      <div class="modal fade text-xs-left" id="primarymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- Title modal -->
              <div class="modal-header p-2 white media-body" style="background-color: #3F729B;">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel8">Disponibilité du compte budgétaire sélectionné :</h4>
              </div>
          <!-- Body modal -->
              <div class="modal-body" style="background-color: #F5F7FA;">
                  <!-- compte rubrique -->
                  <h2><label  ID="compte_txt"></label></h2>
                  <!-- libelle rubrique -->
                  <h5><label  ID="libelle_txt"></label></h5>
                  <hr>

                  <!-- Credit ouvert -->
                  <div class="card">
                      <div class="card-body">
                          <div class="media">
                              <div class="p-2 text-xs-center bg-primary media-left media-middle">
                                  <i class="fa fa-align-justify font-large-2 white"></i>
                              </div>
                              <div class="p-2 media-body">
                                <div class="media-body">
                                    <h6 class="list-group-item-heading">Crédit ouvert <span class="font-medium-4 float-xs-right primary pt-1">
                                      <h2 class="text-bold-400 "><label  ID="co_txt"></label> DHS</h2></span></h6>
                                    <p class="list-group-item-text"><span class="tag tag-warning ml-1"><label  ID="exe_txt" style="margin:0;"></label></span></p>
                                </div>
                              </div>
                          </div>
                      </div>
                    </div>

                    <!-- budget dispo -->
                    <div class="card">
                          <div class="card-body">
                              <div class="media">
                                  <div class="p-2 text-xs-center bg-success  media-left media-middle">

                                      <i class="fa fa-battery-three-quarters font-large-2 white"></i>
                                  </div>
                                  <div class="p-2 media-body">
                                    <div class="media-body">
                                        <h6 class="list-group-item-heading">Budget disponible <span class="font-medium-4 float-xs-right success pt-1">
                                          <h2 class="text-bold-400 succes"><label  ID="dispo_txt"></label> DHS</h2></span></h6>
                                        <p class="list-group-item-text"><span class="tag tag-warning ml-1"><label  ID="exe1_txt" style="margin:0;"></label></span></p>

                                        <div  style="width: 100%;">
                                          <div class="text-xs-left blue" id="example-caption-2"><label  ID="prcent_txt"></label>%</div>
                                          <progress class="progress progress-sm progress-blue mb-0" value="100" max="100" id="progbar"></progress>
                                        </div>

                                    </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                      <!-- Montant total des BC-->
                      <div class="card">
                          <div class="card-body">
                              <div class="media">
                                  <div class="p-2 text-xs-center bg-primary media-left media-middle">
                                      <i class="fa fa-shopping-basket font-large-2 white"></i>
                                  </div>
                                  <div class="p-2 media-body">
                                    <div class="media-body">
                                        <h6 class="list-group-item-heading">Montant total des BCs <span class="font-medium-4 float-xs-right primary pt-1">
                                          <h2 class="text-bold-400 "><label  ID="totalbc_txt"></label> DHS</h2></span></h6>
                                        <p class="list-group-item-text"><span class="tag tag-warning ml-1"><label  ID="exe2_txt" style="margin:0;"></label></span></p>
                                    </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                      <!-- Montant á engagé -->
                      <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="p-2 text-xs-center bg-danger media-left media-middle">
                                        <i class="icon-basket-loaded font-large-2 white"></i>
                                    </div>
                                    <div class="p-2 media-body">
                                      <div class="media-body">
                                          <h6 class="list-group-item-heading">Montant á engager <span class="font-medium-4 float-xs-right danger pt-1">
                                            <h2 class="text-bold-400 "><label  ID="montantengage_txt"></label> DHS</h2></span></h6>


                                      </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <!-- budget dispo -->
                        <!-- <div class="card"> -->
                          <p class="list-group-item-text">

                            <span class="tag ml-1">

                              <h1>
                                <!-- <i id="etatok" class="fa fa-thumbs-o-up primary"></i> -->
                                <div id="etatko" class="alert bg-danger alert-icon-left alert-dismissible fade in mb-2" role="alert" align="center">
                                    <strong align="">Crédit insuffisant!</strong>
                                </div>
                                <div id="etatok" class="alert bg-success alert-icon-left alert-dismissible fade in mb-2" role="alert" align="center">
                                    <strong>Crédit suffisant.</strong>
                                </div>
                                <!-- <i id="etatko" class="fa fa-thumbs-o-down danger"></i> -->
                               </h1>
                             </span>
                           </p>
                          <!-- </div> -->


          </div>
          <!-- Endf Body modal -->
          <!-- footer modal -->
          <div class="modal-footer">
              <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Fermer</button>
          </div>
            <!-- End ooter modal -->
        </div>
        <!-- End modal-content -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row modal disponibilite -->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="horz-layout-basic">Imputation budgétaire</h4>
        <div class="card-body collapse in">

          <!-- Row formulaire alimentation jsgrid -->
          <div class="row">

            <div class="col-md-2">
                <div class="form-group">
                    <p for="entitebenef">Projet :</p>
                    <select class="select2-border border-primary form-control" name="projet" id="projet" data-border-color="primary" data-border-variation="darken-2" data-text-color="primary" data-text-variation="darken-3" onchange="projectChanged()" disabled>
                        <option value="" selected>Sélectionner un projet</option>
                      <%
                      for(var i=0; i < projets.length; i++){%>
                        <option value="<%= projets[i]._id %> | <%= projets[i].code %> | <%= projets[i].libelle %>"><%= projets[i].libelle %></option>
                      <%}%>

                      </select>
                </div>
            </div>


            <div class="col-md-4">
              <div class="form-group">
                <p>Rubriques : </p>
                <select class="select2-border border-primary form-control" name="rubriques" id="rubriques" data-border-color="primary" data-border-variation="darken-2" data-text-color="primary" data-text-variation="darken-3" disabled>
                  <option value="" selected>Sélectionner une rubrique</option>
                </select>
              </div>
            </div>


            <div class="col-md-3">
                <div class="form-group">
                    <p for="entitebenef">Entité bénéficiaire :</p>
                    <select class="select2-border border-primary form-control" id="entitebenef" name="entitebenef" data-border-color="primary" data-border-variation="darken-2" data-text-color="primary" data-text-variation="darken-3">
                            <option value="" selected>Sélectionner une entité bénéficiaire</option>
                            <%
                            for(i=0; i< entites.length; i++){%>
                              <option ><%= entites[i].code %> | <%= entites[i].libelle %></option>
                            <%}%>

                      </select>
                </div>
            </div>


            <div class="col-md-2">
                <div class="form-group">
                    <p for="date4">Montant :</p>
                    <input type="text" class="form-control  decimal-inputmask" id="montant" placeholder="0,00" maxlength="14">
                </div>
            </div>


            <div class="col-md-1">
                  <p for="date4">Action :</p>
                  <button type="button" id="addline" class="btn btn-icon btn-primary mr-1"><i class="fa fa-check"></i></button>
            </div>


          </div>
            <!-- End Row formulaire alimentation jsgrid -->

              <!-- Row  jsgrid -->
          <div class="row">
            <div class="col-md-12">
              <div id="jsGrid"></div>
            </div>
          </div>
            <!-- End Row jsgrid -->

        </div>
        <div class="row" align="right">
          <div class="form-actions col-xs-12" >
            <button type="button" class="btn btn-warning mr-1" id="onCancelbis">
              <i class="ft-x"></i> Annuler
            </button>
             <input id="savebis" type="button" name="savebis" class="btn btn-primary"  value="Enregistrer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<% include footer.ejs %>


<script>
// Refresh combo
 var refresh = document.querySelector('#refreshcombo')
 var benef = document.querySelector('#beneficiaire')

 refresh.addEventListener('click', () => {
   $("#beneficiaire").empty()
   $('#beneficiaire').append($('<optgroup>', {
    label: 'Externe',
    id: 'externe'
    }));
   $('#beneficiaire').append($('<optgroup>', {
    label: 'Interne',
    id: 'interne'
    }));
   axios.get('beneficiaires/api/get')
     .then((data) => {
       var tmpInterne = data.data.filter(item => item.type === 'Interne')
       var tmpExterne = data.data.filter(item => item.type === 'Externe')
       tmpInterne.forEach((item) => {
         $("#interne").append($('<option>', {
           value: item._id,
           text: item.nom
         }));
       })
       tmpExterne.forEach((item) => {
         $("#externe").append($('<option>', {
           value: item._id,
           text: item.nom
         }));
       })
     })
     .catch((err) => {
       console.log({Message: err})
     })
 })
 var jsgrid_data = [];
// ################################################################################################ //
  $(function() {
    document.getElementById('menu14').classList.add('active');
    $('#onCancel').on('click', function(){
      window.location.href = '/engagements'
    })
    $('#onCancelbis').on('click', function(){
      window.location.href = '/engagements'
    })
  });
// ################################################################################################ //
  (function(){
          var save = document.getElementById('save');
           save.addEventListener('click', mySubmit);
          var savebis = document.getElementById('savebis');
           savebis.addEventListener('click', mySubmit);
  })();
// ################################################################################################ //
function mySubmit() {
       if(validateForm()){

          swal({
            title: "Êtes-vous sûr ?",
            text: "de vouloir ajouter cet enregistrement!",
           //  type: "warning",
            showCancelButton: true,
            confirmButtonColor:  '#04B486',
            confirmButtonText: 'Oui, je confirme!',
            cancelButtonText: "Non, annuler!",
            closeOnConfirm: false,
            closeOnCancel: true
              // title: "Are you sure?",
              // text: "You will not be able to recover this imaginary file!",
              // type: "warning",
              // showCancelButton: true,
              // confirmButtonColor: "#DD6B55",
              // confirmButtonText: "Yes, delete it!",
              // closeOnConfirm: false
          }, function(isConfirm){
              if (isConfirm) document.getElementById("myform").submit();
          });
        }
}
// ################################################################################################ //
  function validateForm() {

      var message ='';
  // Check exercice
      if (document.forms["myform"]["exercice"].value.trim() == "") {
          message = message + 'Exercice non valide\n';
      }
  // Check date engagement
      if (document.forms["myform"]["dateeng"].value == "") {
          message = message + 'Date engagements non valide\n';
      }
  // Check Nature
      switch ($("#nature").val()) {
        case 'BC':
                  if (document.forms["myform"]["numbc"].value == "") {
                      message = message + 'Numéro BC non valide\n';
                  }
                  if (document.forms["myform"]["datebc"].value == "") {
                      message = message + 'Date BC non valide\n';
                  }
          break;
        case 'MAR':
                  if (document.forms["myform"]["nummarche"].value == "") {
                      message = message + 'Numéro marché non valide\n';
                  }
          break;
        default:
                  if (document.forms["myform"]["autreinfos"].value == "") {
                      message = message + 'Référence nature  non valide\n';
                  }
          $("#autreinfos").focus();
          break;
      }
  // Check beneficiaire
      if (document.forms["myform"]["beneficiaire"].value.trim() == "") {
          message = message + 'Bénéficiaire non valide\n';
      }
  // Check Objet
      if (document.forms["myform"]["objet"].value  == "") {
          message = message + 'Objet non valide\n';
      }
  // Check intitule
      if (document.forms["myform"]["intitule"].value  == "") {
          message = message + 'Intitulé non valide\n';
      }
  // Check detail engagement
      if (document.forms["myform"]["detaileng"].value.trim()  == "" || document.forms["myform"]["detaileng"].value.trim()== "[]") {
          message = message + 'Détail engagement non valide\n';
      }

  // Test end Show message
      if (message !== "") {
          sweetAlert("Champs obligatoires...",message, "warning");
          return false;
      } else {
        return true;
      }

}


// ################################################################################################ //
 function run() {
   InitGridCustomFields();
   $("#jsGrid").jsGrid({
       width: "100%",
       height: "200px",
       filtering: false,
       editing: true,
       sorting: true,
       paging: true,
       autoload: true,
       noDataContent: "Liste vide",
       controller: {
         loadData: function(filter) {
             return $.grep(jsgrid_data, function(obj) {
                 return (!filter.code || obj.code.indexOf(filter.code) > -1)
                 && (!filter.libelle || obj.libelle.indexOf(filter.libelle) > -1)
                 && (!filter.montant || obj.montant == filter.montant);
             });
         },
         insertItem: function(insertingClient) {},
         updateItem: function(updatingClient) {},
         deleteItem: function(deletingClient) {}
       },
       data: jsgrid_data,
       fields: [
         { name: "ressource", title: "Ressource", type: "text", width: 120, validate: "required",editing: false },
         { name: "code", title: "Code", type: "text", width: 50, validate: "required",editing: false },
         { name: "libelle", title: "Libelle rubrique", type: "text", width: 250, validate: "required",editing: false},
         { name: "entitebenef", title: "Entité bénéficiaire", type: "text", width: 250, validate: "required",editing: false},
         { name: "montant", title: "Montant", type: "customCurrencyField", width: 80, validate: "required",align: "right"},
         {
               itemTemplate: function(_, item) {
                         return $("<button class='btn btn btn-outline-secondary btn-sm' data-toggle='modal' data-backdrop='true'><i class='ft-eye'></i></button>").on("click", function() {
                          charger_modal(item);
                         });
               }, width: 40, align: "center", title: "Aperçu", css: "Secondary"
          },
         { type: "control", editButton: false }
       ]
     });
 }

// ################################################################################################ //
// currency field
function InitGridCustomFields () {

  var optionsCurrency = {
    digitGroupSeparator: ' ',
    decimalCharacter: '.',
    decimalCharacterAlternative: ',',
    currencySymbol: '',
    currencySymbolPlacement: 's',
    decimalPlacesOverride: 2,
    minimumValue: '0.00',
    emptyInputBehavior: 'zero',
    leadingZero: 'deny',
    defaultValueOverride: '0.00'
  };

  var jsGridCustomCurrencyField = function (config) {
    jsGrid.Field.call(this, config);
  };

  jsGridCustomCurrencyField.prototype = new jsGrid.Field({
    sorter: function (num1, num2) {
      return num1 - num2;
    },
    itemTemplate: function (value) {
      return $.fn.autoFormat(value, optionsCurrency);
    },
    insertTemplate: function (value) {
      this._insertPicker = $('<input type="text">').val(value);
      this._insertPicker.autoNumeric('init', optionsCurrency);
      return this._insertPicker;
    },
    editTemplate: function (value) {
      this._editPicker = $('<input type="text">').val(value);
      this._editPicker.autoNumeric('init', optionsCurrency);
      return this._editPicker;
    },
    filterTemplate: function () {
      if (!this.filtering)
        return '';

      var grid = this._grid,
        $result = $('<input type="text">').val(0);
      if (this.autosearch) {
        $result.on('change', function (e) {
          grid.search();
        });
      }

      return $result;
    },
    filterValue: function () {
      console.log(this._insertPicker.val());
      return this._insertPicker.val();
    },
    insertValue: function () {
      return this._insertPicker.autoNumeric('get');
    },
    editValue: function () {
      return this._editPicker.autoNumeric('get');
    }
  });

  jsGrid.fields.customCurrencyField = jsGridCustomCurrencyField;
};
// ################################################################################################ //
 // fonction de chargement du modal selon l'engagement selectionne
 function charger_modal(param){
         var exerciceid = $('#exercice').val().split('|')[0]
         var engageid = param._id;
         var budget = 0;
         var dispo = 0;
        //  var etat = "";
         var detail = [];
         var rubsdispo = [];

         var query = $.ajax({
                  type: "POST",
                  url: "/mylibs/api/get/",
                  dataType: "json",
                  data: {
                          action: "getrubriquesdispo",
                          exerciceid: exerciceid,
                          code: param.code,
                          montant: param.montant
                        },
                   success: function(msg){
                       budget = msg.budget;
                       dispo = msg.MontantDispo;
                       totalmntbc = msg.totalmntbc;
                       etat = msg.result;
                       console.log(msg);

                       $('#compte_txt').text(param.code);
                       $('#libelle_txt').text(param.libelle);
                       $('#exe_txt').text($("#exercice>option:selected").text());
                       $('#exe1_txt').text($("#exercice>option:selected").text());
                       $('#exe2_txt').text($("#exercice>option:selected").text());
                       $('#montantengage_txt').text(param.montant);
                       $('#co_txt').text(budget.toFixed(2));
                       $('#totalbc_txt').text(totalmntbc.toFixed(2));
                       $('#dispo_txt').text(dispo.toFixed(2));
                       $('#prcent_txt').text((budget === 0)? 0: Math.round((dispo*100)/budget));

                       document.getElementById("progbar").value = (budget === 0)? 0: Math.round((dispo*100)/budget);
                       document.getElementById("etatok").hidden = ((etat === "OK")? false : true);
                       document.getElementById("etatko").hidden = ((etat === "KO")? false : true);
                     }
                });
               // afficher le modal
               $(primarymodal).modal('show');
 }
 // ################################################################################################ //
  $(document).ready(function() {
      run();
      $("#addline").attr("disabled", "disabled");
    });

// ################################################################################################ //
    $("#addline").click(function() {
        var message ='';
        var ressource =  $("#projet>option:selected").text();
        var code =  $("#rubriques>option:selected").text().split("|")[0];
        var libelle =  $("#rubriques>option:selected").text().split("|")[1];
        var entitebenef =  $("#entitebenef>option:selected").text();
        var montant = $('#montant').val();
        var etat = "notfind";

        // Check source
        if($('#projet').val() == ""){
            message = message + 'Source non valide \n';
        }
        // Check rubrique
        if($('#rubriques').val() == ""){
            message = message + 'Rubrique non valide \n';
        }
        // Check entite beneficiaire
        if($('#entitebenef').val() == ""){
            message = message + 'Entité bénéficiaire non valide \n';
        }
        // Check montant rubrique
        if ($('#montant').val() == "" || $('#montant').val() <= 0) {
            message = message + 'Montant non valide \n';
        }
        // Test end Show message
        if (message !== "") {
            sweetAlert("Champs obligatoires...",message, "warning");

        }else {


          for(let i=0;i<jsgrid_data.length;i++){
                 if(jsgrid_data[i].ressource.trim() === ressource.trim() && jsgrid_data[i].code.trim() === code.trim() && jsgrid_data[i].entitebenef.trim() === entitebenef.trim()){
                   jsgrid_data[i].montant = Number(jsgrid_data[i].montant) + Number(montant);
                   etat = "find";
                   break;
                 }
             }

            if (etat === "notfind"){

              jsgrid_data.push({
                ressource: $("#projet>option:selected").text(),
                ressourceid: $("#projet>option:selected").val().split("|")[0],
                code: $("#rubriques>option:selected").text().split("|")[0],
                libelle: $("#rubriques>option:selected").text().split("|")[1],
                entitebenef: $("#entitebenef>option:selected").text(),
                montant:$('#montant').val()
               });

            }
                run();
                $('#detaileng').val(JSON.stringify(jsgrid_data));
                $('#montant').val('');
                $('#exercice').select2({disabled: true});
                $("#projet").focus();
         }

      });
// ################################################################################################ //
      $("#jsGrid").jsGrid({
           onItemUpdated: function(arg) {
           $('#detaileng').val(JSON.stringify(jsgrid_data));
           },
           onItemDeleted: function(arg) {
           jsgrid_data.splice(arg.itemIndex, 1);
           $('#detaileng').val(JSON.stringify(jsgrid_data));
           if (jsgrid_data.length === 0){
             $('#exercice').select2({disabled: false});
             $('#projet').val('').trigger('change');
           }
           },
           onItemInserted: function() {
           $('#detaileng').val(JSON.stringify(jsgrid_data));

           }
       });
// ################################################################################################ //
</script>

<script>
// ################################################################################################ //
  function exerciceChanged() {
    $('#projet').removeAttr( "disabled" );
    $('#addline').removeAttr("disabled");
    document.myform.action = "/engagementsform/api/add/".concat(document.forms['myform']['exercice'].value);
  }
// ################################################################################################ //
  function natureChanged() {
    $('#datebc').val('');
    $('#numbc').val('');
    $('#nummarche').val('');
    $('#autreinfos').val('');
    document.getElementById("datebc").readOnly = true;
    document.getElementById("numbc").readOnly = true;
    document.getElementById("nummarche").readOnly = true;
    document.getElementById("autreinfos").readOnly = true;

    // console.log("valeur: ", $("#nature").val())
    switch ($("#nature").val()) {
      case 'BC':
        document.getElementById("datebc").readOnly = false;
        document.getElementById("numbc").readOnly = false;
        break;
      case 'MAR':
         document.getElementById("nummarche").readOnly = false;
        break;
      default:
        document.getElementById("autreinfos").readOnly = false;
        break;

    }

  }
// ################################################################################################ //
  function projectChanged() {
    if($('#projet').val() == ""){
      $('#rubriques').find('option').remove()
      $("#addline").attr("disabled", "disabled");
    }else{
      var idprojet = $('#projet').val().split('|')[0]
      if(idprojet.trim() == "59f4627be59c72694683091f"){
        $('#rubriques').removeAttr( "disabled" )
        $('#addline').removeAttr("disabled")
        $('#rubriques').find('option').remove()
        var exerciceid = $('#exercice').val().split('|')[0]
        if(exerciceid.trim() == '' || exerciceid == undefined || exerciceid == null ){
          sweetAlert("Attention","Veuillez sélectionner un exercice", "warning");
        }else{
          $.getJSON("/exercices/api/get/".concat(exerciceid), function(result) {
            var options = $("#rubriques");
            $.each(result, function() {
              // + ' | ' + this.montantdispo  + '/' + this.budget
              options.append($("<option />").val(this._id).text( this.code + ' | ' + this.libelle ));
            });
          });
        }
      }else{

        $('#rubriques').removeAttr( "disabled" )
        $('#addline').removeAttr("disabled")
        $('#rubriques').find('option').remove()
        $.getJSON("/projets/api/get/".concat(idprojet), function(result) {
          var options = $("#rubriques");
          $.each(result, function() {
            // + ' | ' + this.disponible + '/' + this.creditouvert
            options.append($("<option />").val(this._id).text(this.code  + ' | ' + this.libelle ));
          });
        });
      }
    }

  }
// ################################################################################################ //
  $('#rubriques').on('select2:select',function(){
    $("#entitebenef").focus();
  });
  // ################################################################################################ //
  $('#entitebenef').on('select2:select',function(){
    $("#montant").focus();
  });
  // ################################################################################################ //
  $('#nature').on('select2:select',function(){
    switch ($("#nature").val()) {
      case 'BC':
        $("#numbc").focus();
        break;
      case 'MAR':
         $("#nummarche").focus();
        break;
      default:
        $("#autreinfos").focus();
        break;
    }
  });
  // ################################################################################################ //
  </script>
