<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">
           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">Engagements
                 </li>
               </ol>
             </div>
           </div>
         </div>

 </div>
  <!-- End Row Header=============================================== -->
  <!-- content page -->
  <section id="custom-view">
    <!-- Row liste des exercices -->
    <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <p>Sélectionner un exercice</p>
            <select class="select2-theme form-control" id="select2-exercices" onchange="run()" style="width: 100%">
                <!-- <option value= 'vide'>Sélectionner  un exercice</option> -->
              <% for(i=0; i< exercices.length; i++){%>
                <% if( !exercices[i].clotured & !exercices[i].disabled )  { %>
                  <option value= <%= exercices[i]._id %> ><%= exercices[i].libelle %></option>
                <%}%>
              <%}%>
            </select>
        </div>
      </div>
    </div>
    <!-- End Row liste des exercices -->
      <div class="row">

          <div class="col-xs-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Liste des engagements de l'exercice sélectionné</h4>
                      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                      <div class="heading-elements">
                          <ul class="list-inline mb-0">
                              <li><a href="/engagementsform" id="linkderogationform" class="btn btn-outline-primary btn-min-width mr-1 mb-1" role="button">Nouvel engagement</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">

                          <!-- Modal -->
                          <div class="modal fade text-xs-left" id="primarymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header p-2 bg-gradient-x-primary white media-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel8">Validation de l'engagement temporaire</h4>
                              </div>
                              <div class="modal-body">
                              <div class="row">
                                <div class="col-xs-12">
                                  <div class="card">
                                    <div class="card-body collapse in">
                                      <div class="card-block">
                                        <!-- show image etat engagement -->
                                        <div class="row">
                                          <div class="col-xs-2">
                                            <img src="../images/valider.jpeg" alt="Smiley face" height="40" width="102" id="imgvalide">
                                          </div>
                                        </div>
                                        <!-- show entete engagement -->
                                        <div class="row">
                                          <div class="table-responsive">
                                            <div class="table-responsive">
                                              <table class="table table-bordered">
                                                <thead>
                                                    <tr bgcolor="#EFFBF8">
                                                      <th width="25%">Exercice</th>
                                                      <th width="75%"><label  ID="exe_txt"></label> </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                      <td class="text-middle">Date d'engagement</td>
                                                      <td> <label  ID="dateeng_txt"></label></td>
                                                    </tr>
                                                    <tr>
                                                      <td class="text-middle">Bénéficiaire</td>
                                                      <td> <label  ID="benef_txt"></label></td>
                                                    </tr>
                                                    <tr>
                                                      <td class="text-middle">Nature</td>
                                                      <td><label  ID="nature_txt"></label></td>
                                                    </tr>
                                                    <tr>
                                                      <td class="text-middle">Objet</td>
                                                      <td><label  ID="objet_txt"></label></td>
                                                    </tr>
                                                    <tr bgcolor="#FAFAFA">
                                                      <td class="text-middle">Montant total</td>
                                                      <td><span class="primary"><b><label  ID="montant_txt"></label> dhs</b></span></td>
                                                    </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                          </div>
                                        </div>

                                        <!-- show detail engagement in datatable -->
                                        <div class="row">
                                          <div class="table-responsive">
                                              <table id="detail_eng" class="table table-striped table-bordered sourced-data">
                                                  <thead >
                                                      <tr  class="bg-blue bg-lighten-5">

                                                          <th width="25%">Compte</th>
                                                          <th>Libellé rubrique</th>
                                                          <th>Ent. bénéf</th>
                                                          <th width="20%">Montant</th>
                                                          <th>Dispo</th>

                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                    <!-- remplir la table dynamiquement par code -->
                                                  </tbody>
                                              </table>
                                          </div>
                                        </div>


                                      </div>
                                    </div>
                                  </div>
                                </div>
                                </div>
                              </div>
                              <div class="modal-footer">

                                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Fermer</button>
                                <button type="button" id="btnvalidermodal" class="btn btn-outline-primary" onclick="validerengagement();">Valider</button>

                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <!-- js grid -->
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard ">
                        <div id="jsGrid1"></div>
                      </div>
                  </div>
                  <!-- end js grid -->
              </div>
          </div>
      </div>
  </section>

  <!-- content page-->


<% include footer.ejs %>
<script>
  var cancel = false;
  var clients = [];
  var exerciceid;
  var engageid;
  var etatdispo = true;

  $(document).ready(function(){
    run();
  });

// fonction pour appliquer les droits du profile
  $(function() {
    document.getElementById('menu14').classList.add('active');
  });

// fonction de chargement des engagements dans le jsgrid
function run() {
  exerciceid = document.getElementById("select2-exercices").value;
  var query = $.ajax({
           type: "POST",
           url: "/mylibs/api/get/",
           dataType: "json",
           data: {
             action: "engagements",
             exerciceid: exerciceid
           }
         });

   query.success(function(msg){

     clients = msg.engagetmp;

     $("#jsGrid1").jsGrid({
      //  height: "70%",
       width: "100%",
       filtering: true,
       editing: false,
       sorting: true,
       paging: true,
       autoload: true,
       inserting: false,
       pageSize: 10,
       pageButtonCount: 5,
       pageIndex: 1,
       noDataContent: "Liste vide",
      confirmDeleting: false,

        controller: {

        loadData: function(filter) {

            return $.grep(clients, function(obj) {
                return (!filter.dateeng || obj.dateeng.indexOf(filter.dateeng) > -1)
                && (!filter.numeng || obj.numeng.indexOf(filter.numeng) > -1)
                && (!filter.beneficiaire || obj.beneficiaire.indexOf(filter.beneficiaire) > -1)
                && (!filter.objet || obj.objet.indexOf(filter.objet) > -1)
                && (!filter.montanttotal || obj.montanttotal.indexOf(filter.montanttotal) > -1);
            });
        },
         deleteItem: function(item) {
           swal({
               title: "Confirmation!",
               text: "Voulez-vous vraimenet supprimer cet élement?",
               showCancelButton: true,
               confirmButtonColor: '#FE642E',
               confirmButtonText: "Yes",
               cancelButtonText: "No",
               closeOnConfirm: false,
               closeOnCancel: false
           }, function(isConfirm) {
               if (isConfirm) {
                              var t =  $.ajax({
                                 type: "DELETE",
                                 url: "engagements/api/delete/".concat(item._id),
                                 data: item
                               });
                               t.success(function(msg){
                                 if (msg.etat === 'OK'){
                                 swal(
                                       'Opération réussie',
                                       msg.message,
                                       'success'
                                     );
                                   } else {
                                       swal(
                                             'Opération échouée',
                                             msg.message,
                                             'error'
                                           )
                                     }
                                 return msg;
                               })

               } else {
                             run();
                             swal("Annulation", "Opération annulée.", "error");
               }
           });
         }

        },

        data: clients,

           fields: [
                       {
                             itemTemplate: function(_, item) {
                                       return !item.tmpflag ? $("<h3><i class='ft-check-circle success'></i></h3>") : $("<h4><i class='fa fa-pencil-square-o warning'></i></h4>")
                             }, width: 18, align: "center", title: "Etat", css:  "secondary"
                        },
                        { name: "lastupdate", title: "Date modification", type: "text", width: 80, validate: "required",itemTemplate: function (_, item) {
                         return item.lastupdate.substr(0,10) + " " + item.lastupdate.substr(11,8);
                       } },
                        { name: "dateeng", title: "Date ENG", type: "text", width: 50, validate: "required",itemTemplate: function (_, item) {
                         var from = item.dateeng.split("-");
                         return from[2] + "/" + from[1] + "/" + from[0]
                       } },
                       { name: "numeng", title: "N° ENG", type: "text", width: 50, validate: "required" },
                       { name: "beneficiaire", title: "Bénéficiaire", type: "text", width: 150, validate: "required"},
                      //  { name: "objet", title: "Objet", type: "text", width: 150, validate: "required"},
                       { name: "montanttotal", title: "Montant total", type: "number", width: 70, validate: "required",
                         align: "right",itemTemplate: function(cost) {return (cost).toFixed(2); }},
                       {
                             itemTemplate: function(_, item) {
                                       return $("<button class='btn btn btn-outline-secondary btn-sm' data-toggle='modal' data-backdrop='true'><i class='ft-eye'></i></button>").on("click", function() {
                                        charger_modal(item);
                                       });
                             }, width: 40, align: "center", title: "Aperçu", css: "Secondary"
                        },
                        {
                          type: "control",
                          itemTemplate: function(value, item) {
                              var $result = $([]);
                              var $customButton = $("<button>")
                                     .attr({class: "customGridEditbutton jsgrid-button jsgrid-edit-button"})
                                     .click(function(e) {
                                         window.location.href ='/editengagementsform/' + exerciceid + '|' + item._id;
                                         e.stopPropagation();
                                       });
                              if(item.tmpflag) {
                                  $result = $result.add($customButton);
                                  $result = $result.add(this._createDeleteButton(item));
                              }
                              return $result;
                          }
                       }
                  ]
       });
       $("#jsGrid1").jsGrid("option", "filtering", false);
       $("#jsGrid1").jsGrid("sort", "lastupdate", "desc");
    });
}
// fonction de chargement du modal selon l'engagement selectionne
function charger_modal(param){
        engageid = param._id;
        var detail = [];
        var rubsdispo = [];
        var from = param.dateeng.split("-");
        $('#exe_txt').text($("#select2-exercices>option:selected").text());
        $('#dateeng_txt').text(from[2] + "/" + from[1] + "/" + from[0]);
        $('#benef_txt').text(param.beneficiaire);

        switch(param.nature) {
            case 'BC':
                $('#nature_txt').text('Bon de commande N° : ' + param.numbc + ' Date BC : ' + param.datebc);
                break;
            case 'MAR':
                $('#nature_txt').text('Marché N° : ' + param.nummarche);
                break;
            case 'REG':
                $('#nature_txt').text('Régie : ' + param.autreinfos);
                break;
            case 'DEP':
                $('#nature_txt').text('Déplacement : ' + param.autreinfos);
                break;
            case 'PAI':
                $('#nature_txt').text('Paie : ' + param.autreinfos);
                break;
            case 'CON':
                $('#nature_txt').text('Contrat : ' + param.autreinfos);
                break;
        };
        $('#objet_txt').text(param.objet);
        $('#montant_txt').text(param.montanttotal.toFixed(2));
        document.getElementById("btnvalidermodal").disabled =!param.tmpflag;
        document.getElementById("imgvalide").style.visibility = (param.tmpflag ? 'hidden' : 'visible');

        var t =  $('#detail_eng').DataTable();
        var query = $.ajax({
                 type: "POST",
                 url: "/mylibs/api/get/",
                 dataType: "json",
                 data: {
                         action: "getrubriquesbyengageid",
                         exerciceid: exerciceid,
                         engageid: engageid
                       },
                success: function(msg){
                    var landSum = 0;
                    var result =[];

                    t.clear().draw();
                    detail = msg.rubriques;
                    rubsdispo = msg.rubdispo;
                    etatdispo='OK';
                    $.each(detail, function(p) {
                      // calcul somme affecte aux differentes entites benefiaires
                      landSum = detail.filter(item => item.code === this.code).reduce(function(sum, d) {
                        return sum + d.montant;
                      }, 0);
                      // filtrer pour recuperer le montant disponible de la rubrique encours
                      result = rubsdispo.filter(item => item.code.trim() === this.code.trim());
                      if (result[0].montantdispo < landSum){
                              etatdispo='KO';
                              // fi khater khoya karim
                              document.getElementById("btnvalidermodal").disabled= true;
                      }
                      t.row.add(
                          ['<td class="text-truncate">' + this.code + '</td>',
                           '<td class="text-truncate">'+ this.libelle + '</td>',
                           '<td class="text-truncate">'+ this.entitebenef + '</td>',
                           '<td class="number" align="right">'+ this.montant.toFixed(2)  + '</td>',
                           '<td class="text-truncate text-right">' + (!param.tmpflag ? '<span class="tag tag-pill tag-info">Engagé</span>' : ((result[0].montantdispo >= landSum) ? '<h3><i class="fa fa-thumbs-up primary"></i></h3>' : '<h3><i class="fa fa-thumbs-down danger"></i></h3>'))  + '</td>'
                           ]
                       ).draw( false );
                     });
                }
        });
          // afficher le modal
          $(primarymodal).modal('show');
  }
// fonction pour valider l'engagement
    function validerengagement() {
      // s'il y a au moins une rubrique avec un montant disponible insuffisant
      if (etatdispo === 'KO'){
          sweetAlert("Opération non autorisée",'Budget insuffisant pour certaines rubriques.', "warning");
      // si toutes les rubriques ont un montant disponible qui couvre le montant a engage
      }else {
      swal({
              // title: "Validation de cet engagement.",
              // text: "Êtes-vous sûr?",
              // type: "info",
              // showCancelButton: true,
              // closeOnConfirm: false,
              // showLoaderOnConfirm: true
              title: "Êtes-vous sûr ?",
              text: "de vouloir valider cet enregistrement!",
             //  type: "warning",
              showCancelButton: true,
              confirmButtonColor:  '#04B486',
              confirmButtonText: 'Oui, je confirme!',
              cancelButtonText: "Non, annuler!",
              closeOnConfirm: false,
              closeOnCancel: true,
              showLoaderOnConfirm: true
            }, function () {
              var ttt = $.ajax({
                       type: "POST",
                       url: "/mylibs/api/get/",
                       dataType: "json",
                       success: function(msg) {
                         if (msg.result == "OK"){
                           setTimeout(function () {
                             swal("Engagement validé avec succès!");
                             $(primarymodal).modal('hide');
                             run();

                           }, 2000);

                         }
                        else{
                          setTimeout(function () {
                            swal("Engagement n'est pas valide");
                            $(primarymodal).modal('hide');
                          }, 2000);
                        }
                         // console.log("Message: ", msg)
                       },
                       data: {
                         action: "validateengage",
                         exerciceid: exerciceid,
                         engageid: engageid
                       }
                      });

            });
          }

    }


</script>
