<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">

           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">Entites
                 </li>
               </ol>
             </div>
           </div>
         </div>

    </div>
  <!-- End Row Header=============================================== -->
  <!-- content page -->
  <section id="custom-view">
      <div class="row">
        <h>
          <% if (message.length > 0) { %>
           <div class="alert alert-danger"><%= message %></div>
         <% } %>
        </h>
          <div class="col-xs-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Liste des entites</h4>
                      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                  </div>
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard ">
                          <!-- <p>All components of the grid can be easily configured. Heading, filtering, inserting, editing, sorting, paging and row selection could be switched with a single corresponding boolean option.</p> -->
                        <div id="jsGrid1"></div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- content page-->


<% include footer.ejs %>
<script>
  $(function() {
    document.getElementById('menu9').classList.add('active');
  });
</script>
<script>
   var dataloaded = [];

   function run(){
       $("#jsGrid1").jsGrid({
         width: "100%",
         filtering: true,
         editing: true,
         sorting: true,
         paging: true,
         autoload: true,
         inserting: true,
         pageSize: 15,
         pageButtonCount: 5,
         confirmDeleting: false,

         data: dataloaded,
         fields: [
             { name: "code", title: "Code", type: "text", width: 30, validate: "required" },
             { name: "libelle", title: "Libelle", type: "text", width: 150, validate: "required"},
             { type: "control" }
         ]
       });
     }
  var query = $.ajax({
           type: "GET",
           url: "/entites/api/get",
           dataType: "json"
         });



   query.success(function(msg){

     dataloaded = msg;


     $("#jsGrid1").jsGrid({
      //  height: "70%",
       width: "100%",
       filtering: true,
       editing: true,
       sorting: true,
       paging: true,
       autoload: true,
       inserting: true,
       pageSize: 15,
       pageButtonCount: 5,
       confirmDeleting: false,

        // deleteConfirm: "Do you really want to delete it?",
        controller: {
          loadData: function(filter) {
              return $.grep(dataloaded, function(obj) {
                  return (!filter.code || obj.code.indexOf(filter.code) > -1)
                  && (!filter.libelle || obj.libelle.indexOf(filter.libelle) > -1);
              });
          },

        insertItem: function(item) {
          var t = $.ajax({
                type: "POST",
                url: "entites/api/add/",
                data: item
              });
          t.success(function(msg){
            if (msg.etat === 'OK'){
            swal(
                  'Opération réussie',
                  msg.message,
                  'success'
                );
                dataloaded = msg.data;
                $("#jsGrid1").jsGrid("loadData");
                return msg.message;

              } else {
                  swal(
                        'Opération échouée',
                        msg.message,
                        'error'
                      )
                }

          })

        },
        updateItem: function(item) {
          var t = $.ajax({
                type: "POST",
                url: "entites/api/update/".concat(item._id),
                data: item
              });
          t.success(function(msg){
            if (msg.etat === 'OK'){
            swal(
                  'Opération réussie',
                  msg.message,
                  'success'
                )} else {
            swal(
                  'Opération échouée',
                  msg.message,
                  'error'
                )
            }
            return msg;
          })
         },
        deleteItem: function(item) {
          swal({
              title: "Confirmation!",
              text: "Voulez-vous vraimenet supprimer cet élement?",
              showCancelButton: true,
              confirmButtonColor: '#FE642E',
              confirmButtonText: "Yes",
              cancelButtonText: "No",
              closeOnConfirm: false,
              closeOnCancel: false
          }, function(isConfirm) {
              if (isConfirm) {
                var t =  $.ajax({
                  type: "DELETE",
                  url: "entites/api/delete/".concat(item._id),
                  data: item
                });
                t.success(function(msg){
                  if (msg.etat === 'OK'){
                  swal(
                        'Opération réussie',
                        msg.message,
                        'success'
                      );
                    } else {
                        swal(
                              'Opération échouée',
                              msg.message,
                              'error'
                            )
                      }
                  return msg;
                })

              } else {
                run();
                swal("Annulation", "Opération annulée.", "error");

              }
          });
        }
      },

        data: dataloaded,

        fields: [
            { name: "code", title: "Code", type: "text", width: 30, validate: "required" },
            { name: "libelle", title: "Libelle", type: "text", width: 150, validate: "required"},
            { type: "control" }
        ]
       });

    });



</script>
