<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">

           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">Etat Crédits ouverts
                 </li>
               </ol>
             </div>
           </div>
         </div>

    </div>
  <!-- End Row Header=============================================== -->
  <!-- content page -->
  <section id="custom-view">
    <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <p>Sélectionner un exercice</p>
            <select class="select2-diacritics form-control" id="select2-exercices" onchange="run()">
                <!-- <option value= 'vide'></option> -->
              <% for(i=0; i< exercices.length; i++){%>
                <option value= <%= exercices[i]._id %> ><%= exercices[i].libelle %></option>
              <%}%>
            </select>
        </div></div></div>

      <div class="row">
          <div class="col-xs-12">

              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Etat des crédits ouverts de l'exercice sélectionné</h4>
                  </div>
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard ">

                        <div id="jsGrid1"></div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- content page-->

<% include footer.ejs %>
<script>

    $(document).ready(function(){
      run();
    });

 </script>

<script>
var exerciceid ='';
 // Active menu
  $(function() {
    document.getElementById('menu17').classList.add('active');
  });

  // Export jsgrid data

// Load jsgrid
    function run() {
        exerciceid = document.getElementById("select2-exercices").value;
        InitGridCustomFields();
        //  if (exerciceid !== '') {
         // -----------------------Au moins il y a un exercice---------------------------------------------------------
            var clients = [];
            var query = $.ajax({
              type: "GET",
              url: "/exercices/api/get/".concat(exerciceid),
              dataType: "json"
            });

            query.success(function(msg){

              // clients = msg.rubriques;
              clients = msg;
              var section = [ {id: "", name: ""},
                              {id: "EQUIPEMENT", name: "EQUIPEMENT"},
                              {id: "FONCTIONNEMENT", name: "FONCTIONNEMENT"}
                            ];

             $("#jsGrid1").jsGrid({
              //  height: "70%",
               width: "100%",
               filtering: true,
               editing: false,
               sorting: true,
               paging: true,
               autoload: true,
               inserting: false,
               pageSize: 15,
               pageButtonCount: 5,
              //  deleteButton: true,

                deleteConfirm: "Do you really want to delete it?",
                controller: {
                     loadData: function(filter) {
                              return $.grep(clients, function(obj) {
                                  return (!filter.code || obj.code.indexOf(filter.code) > -1)
                                  && (!filter.libelle || obj.libelle.indexOf(filter.libelle) > -1)
                                  && (!filter.type || obj.type == filter.type);
                              });
                     },
                              updateItem: function(item) {
                                    var t = $.ajax({
                                          type: "POST",
                                          url: "creditsouverts/api/update/".concat(item._id + '?exeid=' + exerciceid),
                                          data: item
                                    });
                                    t.success(function(msg){
                                          return msg;
                                    })
                                  }
                  },
                  onRefreshed: function(args) {
                       var items = args.grid.option("data");
                       var total = { "code": "TOTAL: ", "budget": '0', "virementcredit": '0', "montantdispo": '0',"totalengagements": 0, IsTotal: true };

                        total.budget = 0;
                        total.virementcredit = 0;
                        total.montantdispo = 0;
                        total.totalengagements = 0;
                        items.forEach(function (item) {
                            if (item.budget != null && item.virementcredit != null && item.montantdispo != null && item.totalengagements != null) {
                                total.budget += parseFloat(item.budget);
                                total.virementcredit += parseFloat(item.virementcredit);
                                total.montantdispo += parseFloat(item.montantdispo);
                                total.totalengagements += parseFloat(item.totalengagements);
                            }
                        });
                        total.budget = total.budget.toFixed(2);
                        total.virementcredit = total.virementcredit.toFixed(2);
                        total.montantdispo = total.montantdispo.toFixed(2);
                        total.totalengagements = total.totalengagements.toFixed(2);
                       var $totalRow = $("<tr style='background: #f5f5f5;font-weight: bold;'>");

                       args.grid._renderCells($totalRow, total);
                       args.grid._content.append($totalRow);

                 },
                data: clients,

                   fields: [
                       { name: "code", title: "Code", type: "text", width: 50, validate: "required",editing: false, inserting: false },
                       { name: "libelle", title: "Libelle", type: "text", width: 120, validate: "required",editing: false, inserting: false },
                       { name: "typerubrique" , title: "Type", type: "select", items: section, valueField: "id", textField: "name", width: 50, validate: "required",editing: false, inserting: false },
                      //  { name: "type" , title: "Type", type: "select", items: section, valueField: "id", textField: "name", width: 60, validate: "required",editing: false, inserting: false },
                       { name: "budget", title: "Crédit ouvert", type: "customCurrencyField", width: 60, validate: "required",editing: false, inserting: false,
                         align: "right" , validate: { message: "Attention, valeur saisie doit être > 0" , validator: function(value, item) { return value > 0 ; } } },
                       { name: "virementcredit", title: "Virements", type: "number", width: 60, validate: "required",editing: false, inserting: false ,
                         align: "right",itemTemplate: function(cost) {return parseFloat(cost).toFixed(2); } },
                       { name: "totalengagements", title: "Engagements", type: "number", width: 60, validate: "required",editing: false, inserting: false ,
                         align: "right",itemTemplate: function(cost) {return parseFloat(cost).toFixed(2); } },
                       { name: "montantdispo", title: "Disponible", type: "number", width: 60, validate: "required",editing: false, inserting: false ,
                         align: "right",itemTemplate: function(cost) {return parseFloat(cost).toFixed(2); } },
                       { type: "control",deleteButton: false, editButton: false,itemTemplate: function(_, item) {
                           if(item.IsTotal)
                             return "";
                           return jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                         } }
                      //  { type: "control",deleteButton: false,editButton: false, }
                   ]
               });

            });

    // }
  //   else {
  //     // -----------------------Aucun exercice---------------------------------------------------------
  //       var clients = [];
  //       var section = [ {id: "", name: ""},
  //                       {id: "EQUIPEMENT", name: "EQUIPEMENT"},
  //                       {id: "FONCTIONNEMENT", name: "FONCTIONNEMENT"}
  //                     ];
  //
  //
  //      $("#jsGrid1").jsGrid({
  //       //  height: "70%",
  //        width: "100%",
  //        filtering: true,
  //        editing: true,
  //        sorting: true,
  //        paging: true,
  //        autoload: true,
  //        inserting: false,
  //        pageSize: 15,
  //        pageButtonCount: 5,
  //       //  deleteButton: true,
  //
  //         deleteConfirm: "Do you really want to delete it?",
  //         controller: {
  //                         loadData: function(filter) {
  //                             return $.grep(clients, function(obj) {
  //                                 return (!filter.code || obj.code.indexOf(filter.code) > -1)
  //                                 && (!filter.libelle || obj.libelle.indexOf(filter.libelle) > -1)
  //                                 && (!filter.categorie || obj.categorie.indexOf(filter.categorie) > -1)
  //                                 && (!filter.type || obj.type == filter.type);
  //                               });
  //                           }
  //                       },
  //
  //         data: clients,
  //
  //         fields: [
  //                { name: "code", title: "Code", type: "text", width: 50, validate: "required",editing: false, inserting: false },
  //                { name: "libelle", title: "Libelle", type: "text", width: 120, validate: "required",editing: false, inserting: false },
  //                { name: "type" , title: "Type", type: "select", items: section, valueField: "id", textField: "name", width: 50, validate: "required",editing: false, inserting: false },
  //                { name: "categorie", title: "Categorie", type: "text", width: 120, validate: "required",editing: false, inserting: false },
  //                { name: "budget", title: "Budget alloué", type: "number", width: 60, validate: "required",
  //                  align: "right",itemTemplate: function(cost) {
  //                                           return (cost).toFixed(2);
  //                                        } },
  //                { type: "control",deleteButton: false, }
  //            ]
  //        });
  // }
}
// currency field
function InitGridCustomFields () {

  var optionsCurrency = {
    digitGroupSeparator: '.',
    decimalCharacter: ',',
    decimalCharacterAlternative: ',',
    currencySymbol: '',
    currencySymbolPlacement: 's',
    decimalPlacesOverride: 2,
    minimumValue: '0.00',
    emptyInputBehavior: 'zero',
    leadingZero: 'deny',
    defaultValueOverride: '0.00'
  };

  var jsGridCustomCurrencyField = function (config) {
    jsGrid.Field.call(this, config);
  };

  jsGridCustomCurrencyField.prototype = new jsGrid.Field({
    sorter: function (num1, num2) {
      return num1 - num2;
    },
    itemTemplate: function (value) {
      return $.fn.autoFormat(value, optionsCurrency);
    },
    insertTemplate: function (value) {
      this._insertPicker = $('<input type="text">').val(value);
      this._insertPicker.autoNumeric('init', optionsCurrency);
      return this._insertPicker;
    },
    editTemplate: function (value) {

      this._editPicker = $('<input type="text">').val(value);
      this._editPicker.autoNumeric('init', optionsCurrency);
      return this._editPicker;
    },
    filterTemplate: function () {
      if (!this.filtering)
        return '';

      var grid = this._grid,
        $result = $('<input type="text">').val(0);
      if (this.autosearch) {
        $result.on('change', function (e) {
          grid.search();
        });
      }

      return $result;
    },
    filterValue: function () {
      console.log(this._insertPicker.val());
      return this._insertPicker.val();
    },
    insertValue: function () {
      return this._insertPicker.autoNumeric('get');
    },
    editValue: function () {
      return this._editPicker.autoNumeric('get');
    }
  });

  jsGrid.fields.customCurrencyField = jsGridCustomCurrencyField;
};
</script>
