<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">

           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">Exercices
                 </li>
               </ol>
             </div>
           </div>
         </div>

    </div>
  <!-- End Row Header=============================================== -->
  <!-- content page -->
  <section id="custom-view">
      <div class="row">
          <div class="col-xs-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Liste des exercices</h4>
                      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                  </div>
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard ">
                          <!-- <p>All components of the grid can be easily configured. Heading, filtering, inserting, editing, sorting, paging and row selection could be switched with a single corresponding boolean option.</p> -->
                        <div id="jsGrid1"></div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- content page-->




<% include footer.ejs %>
<script>
  $(function() {
    document.getElementById('menu10').classList.add('active');
  });

</script>
<script>
   var dataloaded = [];

   function run(){
      var regions = [];
      InitGridCustomFields();
       $("#jsGrid1").jsGrid({
         width: "100%",
         filtering: true,
         editing: true,
         sorting: true,
         paging: true,
         autoload: true,
         inserting: true,
         pageSize: 15,
         pageButtonCount: 5,
         confirmDeleting: false,

         data: dataloaded,
         fields: [
             { name: "code", title: "Code", type: "text", width: 80, validate: "required" },
             { name: "libelle", title: "Libelle", type: "text", width: 180, validate: "required" },
             { name: "region" , title: "Région", type: "select", items: regions, valueField: "_id", textField: "name", width: 80, validate: "required",align:"left" , editing: false },
             { name: "ressourcestotal", title: "Total ressources", type: "customCurrencyField", width: 80, validate: "required",editing: false, inserting: false,
               align: "right",itemTemplate: function(cost) {return parseFloat(cost).toFixed(2); }  },
             { name: "budgettotal", title: "Crédit ouvert", type: "customCurrencyField", width: 80, validate: "required",editing: false, inserting: false,
               align: "right",itemTemplate: function(cost) {return parseFloat(cost).toFixed(2); }  },
             { name: "dispototal", title: "Disponible", type: "customCurrencyField", width: 80, validate: "required",editing: false, inserting: false,
               align: "right",itemTemplate: function(cost) {return parseFloat(cost).toFixed(2); }  },
             {
             itemTemplate: function(_, item) {
                 return $("<button class='btn btn-outline-secondary btn-sm'><i class='fa fa-list-ul'></i></button>").on("click", function() {
                       window.location.href ='/ressourcesexercice/'.concat(item._id);
                   });
             }, width: 45, align: "center", title: "Ressources"
           },
             { type: "control",itemTemplate: function(value, item) {
                                           var $result = $([]);
                                           var $customButton = $("<button>")
                                                  .attr({class: "customGridEditbutton jsgrid-button jsgrid-edit-button"})
                                                  .click(function(e) {
                                                     window.location.href ='/opformedit/' + exerciceid + '|' +  item.engageid + '|' + item.opid;
                                                    });
                                           if(item.tmpflagop) {
                                               $result = $result.add($customButton);
                                               $result = $result.add(this._createDeleteButton(item));
                                           }
                                           return $result;
                                       } }
         ]
       });
        $("#jsGrid1").jsGrid("option", "filtering", false);
     }

     var q = $.ajax({
              type: "GET",
              url: "/regions/api/get/".concat('notall'),
              dataType: "json"
            });

     q.success(function(d){
       regions = d
          var query = $.ajax({
                   type: "GET",
                    url: "/exercices/api/get3",
                   dataType: "json"
                 });



   query.success(function(msg){
     dataloaded = msg;
     InitGridCustomFields();

     $("#jsGrid1").jsGrid({
      //  height: "70%",
       width: "100%",
       filtering: true,
       editing: true,
       sorting: true,
       paging: true,
       autoload: true,
       inserting: true,
       pageSize: 15,
       pageButtonCount: 5,
       confirmDeleting: false,

        // deleteConfirm: "Do you really want to delete it?",
        controller: {
          loadData: function(filter) {
            return $.grep(dataloaded, function(obj) {
                return (!filter.code || obj.code.indexOf(filter.code) > -1)
                && (!filter.libelle || obj.libelle.indexOf(filter.libelle) > -1)
                && (filter.disabled === undefined || obj.disabled === filter.disabled);
            });
          },

        insertItem: function(item) {


          var check = $.ajax({
                type: "GET",
                url: "exercices/api/checkbeforeadd/".concat(item.region)

              });
          check.success(function(msg){
              var t = $.ajax({
                    type: "POST",
                    url: "exercices/api/add/",
                    data: item
                  });
              t.success(function(msg){
                if (msg.etat === 'OK'){
                swal(
                      'Opération réussie',
                      msg.message,
                      'success'
                    );
                    console.log("data is",msg.data);
                    dataloaded = msg.data;
                    $("#jsGrid1").jsGrid("loadData");
                    return msg.message;
              //
                  } else {
                      swal(
                            'Opération échouée',
                            msg.message,
                            'error'
                          )
                    }
              //
              // })
            // }else{
            //   swal(
            //         {
            //           title: 'Opération échouée',
            //           text: msg.message,
            //           type: 'error'
            //         },function(){
            //       location.reload()
            //   });

            })
          });



        },
        updateItem: function(item) {
          var t = $.ajax({
                type: "POST",
                  url: "exercices/api/update/".concat(item._id),
                data: item
              });
          t.success(function(msg){
            if (msg.etat === 'OK'){
            swal(
                  'Opération réussie',
                  msg.message,
                  'success'
                )} else {
            swal(
                  'Opération échouée',
                  msg.message,
                  'error'
                )
            }
            return msg;
          })
         },
        deleteItem: function(item) {
          if (item.budgettotal !== item.dispototal){
              run();
              swal("Annulation", "Un exercice contenant des engagements ne peut pas être supprimer. Opération annulée.", "error");

            }else {
          swal({
              title: "Confirmation!",
              text: "Voulez-vous vraimenet supprimer cet élement?",
              showCancelButton: true,
              confirmButtonColor: '#FE642E',
              confirmButtonText: "Yes",
              cancelButtonText: "No",
              closeOnConfirm: false,
              closeOnCancel: false
          }, function(isConfirm) {
              if (isConfirm) {

                console.log("delete the item");
                var t =  $.ajax({
                  type: "POST",
                  url: "exercices/api/disable/".concat(item._id),
                  data: item
                });
                t.success(function(msg){
                  if (msg.result === 'OK'){
                  swal(
                        'Opération réussie',
                        msg.message,
                        'success'
                      );
                    } else {
                        swal(
                              'Opération échouée',
                              msg.message,
                              'error'
                            )
                      }
                  return msg;
                })

              } else {
                run();
                swal("Annulation", "Opération annulée.", "error");

              }
          });
        }
        }
      },

        data: dataloaded,

        fields: [
          { name: "code", title: "Code", type: "text", width: 80, validate: "required" },
          { name: "libelle", title: "Libelle", type: "text", width: 180, validate: "required" },
          { name: "region" , title: "Région", type: "select", items: regions, valueField: "_id", textField: "name", width: 80, validate: "required",align:"left", editing: false },
          { name: "ressourcestotal", title: "Total ressources", type: "number", width: 80, validate: "required",editing: false, inserting: false,
              align: "right",itemTemplate: function(cost) {return parseFloat(cost).toFixed(2); } },
            { name: "budgettotal", title: "Crédit ouvert", type: "number", width: 80, validate: "required",editing: false, inserting: false,
              align: "right",itemTemplate: function(cost) {return parseFloat(cost).toFixed(2); } },
            { name: "dispototal", title: "Disponible", type: "number", width: 80, validate: "required",editing: false, inserting: false,
              align: "right" ,itemTemplate: function(cost) {return parseFloat(cost).toFixed(2); } },
            {
            itemTemplate: function(_, item) {
                return $("<button class='btn btn-outline-secondary btn-sm'><i class='fa fa-list-ul'></i></button>").on("click", function() {
                      window.location.href = '/ressourcesexercice/'.concat(item._id);
                  });
            }, width: 45, align: "center", title: "Ressources"
          },
            {
            itemTemplate: function(_, item) {
                return $("<button class='btn btn-outline-danger btn-sm'><i class='icon-lock-open'></i></button>").on("click", function() {
                  swal({
                          title: "Êtes-vous sûr ?",
                          text: "de vouloir clôturer cet exercice?",
                          showCancelButton: true,
                          confirmButtonColor:  '#FE642E',
                          confirmButtonText: 'Oui, je confirme!',
                          cancelButtonText: "Non, annuler!",
                          closeOnConfirm: false,
                          closeOnCancel: true,
                          showLoaderOnConfirm: true
                        }, function () {
                          var ttt = $.ajax({
                                   type: "POST",
                                   url: "/exercices/api/cloture/".concat(item._id),
                                   dataType: "json",
                                   success: function(msg) {
                                     if (msg.result == "OK"){
                                       setTimeout(function () {
                                        //  swal("Exercice clôturé avec succès!");
                                         swal({
                                                title: "Opération réussie",
                                                 text: "Exercice clôturé avec succès!",
                                                  type: "success"
                                                },
                                                function(){
                                                  location.reload()
                                              })
                                        //  run();
                                          // location.reload()
                                       }, 2000);

                                     }
                                    else{
                                      setTimeout(function () {
                                        swal("Echec de clôture de l\'exercice");
                                      }, 2000);
                                    }
                                     // console.log("Message: ", msg)
                                   }
                                  });

                        });
                  });
            }, width: 45, align: "center", title: "Clôturer"
          },
            { type: "control"}
        ]
       });
       $("#jsGrid1").jsGrid("option", "filtering", false);
    });

});
//========================================================================
// currency field
function InitGridCustomFields () {

  var optionsCurrency = {
    digitGroupSeparator: '.',
    decimalCharacter: ',',
    decimalCharacterAlternative: ',',
    currencySymbol: '',
    currencySymbolPlacement: 's',
    decimalPlacesOverride: 2,
    minimumValue: '0.00',
    emptyInputBehavior: 'zero',
    leadingZero: 'deny',
    defaultValueOverride: '0.00'
  };

  var jsGridCustomCurrencyField = function (config) {
    jsGrid.Field.call(this, config);
  };

  jsGridCustomCurrencyField.prototype = new jsGrid.Field({
    sorter: function (num1, num2) {
      return num1 - num2;
    },
    itemTemplate: function (value) {
      return $.fn.autoFormat(value, optionsCurrency);
    },
    insertTemplate: function (value) {
      this._insertPicker = $('<input type="text">').val(value);
      this._insertPicker.autoNumeric('init', optionsCurrency);
      return this._insertPicker;
    },
    editTemplate: function (value) {
      this._editPicker = $('<input type="text">').val(value);
      this._editPicker.autoNumeric('init', optionsCurrency);
      return this._editPicker;
    },
    filterTemplate: function () {
      if (!this.filtering)
        return '';

      var grid = this._grid,
        $result = $('<input type="text">').val(0);
      if (this.autosearch) {
        $result.on('change', function (e) {
          grid.search();
        });
      }

      return $result;
    },
    filterValue: function () {
      console.log(this._insertPicker.val());
      return this._insertPicker.val();
    },
    insertValue: function () {
      return this._insertPicker.autoNumeric('get');
    },
    editValue: function () {
      return this._editPicker.autoNumeric('get');
    }
  });

  jsGrid.fields.customCurrencyField = jsGridCustomCurrencyField;
};

//=======================================================================
</script>

<!-- <script>
function run() {
   var dataloaded = [];


  var query = $.ajax({
           type: "GET",
           url: "/exercices/api/get",
           dataType: "json"
         });
  query.success(function(msg){

     dataloaded = msg;
     $("#jsGrid1").jsGrid({
       //  height: "70%",
       height: "auto",
       width: "100%",
       filtering: true,
       editing: true,
       sorting: true,
       paging: true,
       autoload: true,
       inserting: true,
       pageSize: 15,
       pageButtonCount: 5,

        deleteConfirm: "Do you really want to delete it?",
        controller: {
        loadData: function(filter) {
            return $.grep(dataloaded, function(obj) {
                return (!filter.code || obj.code.indexOf(filter.code) > -1)
                && (!filter.libelle || obj.libelle.indexOf(filter.libelle) > -1)
                && (filter.disabled === undefined || obj.disabled === filter.disabled);

            });
        },

        insertItem: function(item) {
          console.log(item);
          var t = $.ajax({
                type: "POST",
                url: "exercices/api/add/",
                data: item
              });
          t.success(function(msg){
            run();
          })

        },
        updateItem: function(item) {
          var t = $.ajax({
                type: "POST",
                url: "exercices/api/update/".concat(item._id),
                data: item
              });
          t.success(function(msg){
            run();
          })
         },
        deleteItem: function(item) {
          var t =  $.ajax({
                type: "DELETE",
                url: "exercices/api/delete/".concat(item._id),
                data: item
              });
          t.success(function(msg){
            run();
            // return msg;
          })
        }
      },

        data: dataloaded,

           fields: [
               { name: "code", title: "Code", type: "text", width: 50, validate: "required" },
               { name: "libelle", title: "Libelle", type: "text", width: 200, validate: "required" },
               { name: "ressourcestotal", title: "Total ressources", type: "number", width: 80, validate: "required",editing: false, inserting: false,
                 align: "right",itemTemplate: function(cost) {
                   if (typeof cost == 'undefined') {cost = 0;}
                                          return (cost).toFixed(2);
                                       } },
               { name: "budgettotal", title: "Crédit ouvert", type: "number", width: 80, validate: "required",editing: false, inserting: false,
                 align: "right",itemTemplate: function(cost) {
                   if (typeof cost == 'undefined') {cost = 0;}
                                          return (cost).toFixed(2);
                                       } },
               { name: "dispototal", title: "Disponible", type: "number", width: 80, validate: "required",editing: false, inserting: false,
                 align: "right",itemTemplate: function(cost) {
                   if (typeof cost == 'undefined') {cost = 0;}
                                          return (cost).toFixed(2);
                                       } },
               {
               itemTemplate: function(_, item) {
                   return $("<button class='btn btn-outline-secondary btn-sm'><i class='ft-cog'></i></button>").on("click", function() {
                         window.location.href ='/ressourcesexercice/'.concat(item._id);
                     });
               }, width: 45, align: "center", title: "Ressources"
             },{ name: "disabled" , title: "Bloquer", type: "checkbox", width: 35 },
               { type: "control" }
           ]
       });

    });

}

</script> -->
