</div>
</div>
<div class="row">
  <footer class="footer navbar-fixed-bottom footer-dark navbar-border" >
    <p class="clearfix blue-grey lighten-6 text-sm-center mb-0 px-2"><span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; 2017 <a href="https://www.itknowledge.ma" target="_blank" class="text-bold-800 grey darken-2">IT Knowledge Maroc </a>, Tous droits réservés. </span>
     <!--   <span class="float-md-right d-xs-block d-md-inline-block">Réaliser pour le compte de l'INRH <i class="ft-command green"></i></span> -->
   </p>
  </footer>
</div>


<!-- BEGIN VENDOR JS-->
<script src="../app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<!-- <script src="../app-assets/vendors/js/charts/raphael-min.js" type="text/javascript"></script> -->
<!-- <script src="../app-assets/vendors/js/charts/morris.min.js" type="text/javascript"></script> -->
  <!-- <script src="../app-assets/vendors/js/extensions/unslider-min.js" type="text/javascript"></script> -->
  <!-- <script src="../app-assets/vendors/js/timeline/horizontal-timeline.js" type="text/javascript"></script> -->

  <!-- <script type="text/javascript" src="../app-assets/vendors/js/ui/jquery.sticky.js"></script> -->
<script type="text/javascript" src="../app-assets/vendors/js/charts/jquery.sparkline.min.js"></script>
<!-- <script src="../app-assets/vendors/js/extensions/sweetalert.min.js" type="text/javascript"></script> -->

<script src="../app-assets/vendors/js/tables/jsgrid/jsgrid.min.js" type="text/javascript"></script>
<script src="../app-assets/vendors/js/tables/jsgrid/griddata.js" type="text/javascript"></script>
<!-- <script src="../app-assets/vendors/js/tables/jsgrid/jquery.validate.min.js" type="text/javascript"></script> -->
<!-- <script src="../app-assets/vendors/js/forms/spinner/jquery.bootstrap-touchspin.js" type="text/javascript"></script> -->
<!-- <script src="../app-assets/vendors/js/forms/validation/jqBootstrapValidation.js" type="text/javascript"></script> -->
<!-- <script src="../app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js" type="text/javascript"></script> -->
 <!-- <script src="../app-assets/vendors/js/forms/toggle/switchery.min.js" type="text/javascript"></script> -->

  <!-- <script src="../app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js" type="text/javascript"></script> -->
  <!-- <script src="../app-assets/vendors/js/pickers/dateTime/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/pickers/pickadate/picker.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/pickers/pickadate/picker.date.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/pickers/pickadate/picker.time.js" type="text/javascript"></script> -->
  <!-- <script src="../app-assets/vendors/js/pickers/pickadate/legacy.js" type="text/javascript"></script> -->

<script src="../app-assets/vendors/js/tables/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="../app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<script src="../app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="../app-assets/vendors/js/tables/datatable/dataTables.select.min.js" type="text/javascript"></script>
<!-- <script src="../app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js" type="text/javascript"></script> -->
<!-- <script src="../app-assets/vendors/js/tables/datatable/buttons.bootstrap4.min.js" type="text/javascript"></script> -->


  <!-- <script src="../app-assets/vendors/js/pickers/daterange/daterangepicker.js" type="text/javascript"></script> -->
  <script src="../app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/forms/toggle/switchery.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/extensions/sweetalert.min.js" type="text/javascript"></script>
  <script src="../app-assets/js/scripts/forms/switch.js" type="text/javascript"></script>

  <script src="../app-assets/vendors/js/tables/datatable/dataTables.autoFill.min.js" type="text/javascript"></script>

<!-- END PAGE VENDOR JS-->
<script src="../app-assets/vendors/js/autonumeric/autonumeric.min.js"></script>
<script src="../app-assets/vendors/js/forms/select/select2.full.min.js" type="text/javascript"></script>
<!-- <script src="../app-assets/vendors/js/forms/icheck/icheck.min.js" type="text/javascript"></script> -->

<!-- Roles Script -->
<script>
var id = "<%- user.roleid %>"
var permissions;

var querypermission = $.ajax({
         type: "GET",
         url: "/roles/api/get/".concat(id),
         dataType: "json"
       });

 querypermission.success(function(msg){
   permissions = msg;
  //  console.log(msg);

// var vm2 = new Vue({
//     el: "#menupermissions",
//     data: {
//       roleid: id,
//       permissions: permissions
//     }
//   });

if(!permissions.dashboard){$('#menu1').addClass('disabled nav-item');} else {$('#menu1').removeClass('disabled nav-item')}

if(!permissions.adm_user){$('#menu2').addClass('disabled nav-item');} else {$('#menu2').removeClass('disabled nav-item')}
if(!permissions.adm_role){$('#menu3').addClass('disabled nav-item');} else {$('#menu3').removeClass('disabled nav-item')}
if(!permissions.adm_trace){$('#menu4').addClass('disabled nav-item');} else {$('#menu4').removeClass('disabled nav-item')}

if(!permissions.param_srcbudget){$('#menu5').addClass('disabled nav-item');} else {$('#menu5').removeClass('disabled nav-item')}
if(!permissions.param_categoriesrubriques){$('#menu24').addClass('disabled nav-item');} else {$('#menu24').removeClass('disabled nav-item')}
if(!permissions.param_rubriques){$('#menu6').addClass('disabled nav-item');} else {$('#menu6').removeClass('disabled nav-item')}
if(!permissions.param_benef){$('#menu7').addClass('disabled nav-item');} else {$('#menu7').removeClass('disabled nav-item')}
if(!permissions.param_cptbancaire){$('#menu8').addClass('disabled nav-item');} else {$('#menu8').removeClass('disabled nav-item')}
if(!permissions.param_entitebenef){$('#menu9').addClass('disabled nav-item');} else {$('#menu9').removeClass('disabled nav-item')}
if(!permissions.param_comptescompta){$('#menu23').addClass('disabled nav-item');} else {$('#menu23').removeClass('disabled nav-item')}
// if(!permissions.param_centres){$('#menu26').addClass('disabled nav-item');} else {$('#menu26').removeClass('disabled nav-item')}
if(!permissions.param_regies){$('#menu27').addClass('disabled nav-item');} else {$('#menu27').removeClass('disabled nav-item')}
if(!permissions.param_regions){$('#menu28').addClass('disabled nav-item');} else {$('#menu28').removeClass('disabled nav-item')}

if(!permissions.exer_gestexercice){$('#menu10').addClass('disabled nav-item');} else {$('#menu10').removeClass('disabled nav-item')}
if(!permissions.exer_crdouvert){$('#menu11').addClass('disabled nav-item');} else {$('#menu11').removeClass('disabled nav-item')}
if(!permissions.exer_vircrd){$('#menu12').addClass('disabled nav-item');} else {$('#menu12').removeClass('disabled nav-item')}
if(!permissions.exer_projets){$('#menu25').addClass('disabled nav-item');} else {$('#menu25').removeClass('disabled nav-item')}
if(!permissions.exer_raps){$('#menu29').addClass('disabled nav-item');} else {$('#menu29').removeClass('disabled nav-item')}
if(!permissions.exer_compta){$('#menu34').addClass('disabled nav-item');} else {$('#menu34').removeClass('disabled nav-item')}

if(!permissions.regie_budget){$('#menu30').addClass('disabled nav-item');} else {$('#menu30').removeClass('disabled nav-item')}
if(!permissions.regie_histocredit){$('#menu31').addClass('disabled nav-item');} else {$('#menu31').removeClass('disabled nav-item')}
if(!permissions.regie_jc){$('#menu32').addClass('disabled nav-item');} else {$('#menu32').removeClass('disabled nav-item')}
if(!permissions.regie_alimcaisse){$('#menu33').addClass('disabled nav-item');} else {$('#menu33').removeClass('disabled nav-item')}

if(!permissions.rec_gestrecettes){$('#menu13').addClass('disabled nav-item');} else {$('#menu13').removeClass('disabled nav-item')}

if(!permissions.dep_engage){$('#menu14').addClass('disabled nav-item');} else {$('#menu14').removeClass('disabled nav-item')}
if(!permissions.dep_liquid){$('#menu15').addClass('disabled nav-item');} else {$('#menu15').removeClass('disabled nav-item')}
if(!permissions.dep_paie){$('#menu16').addClass('disabled nav-item');} else {$('#menu16').removeClass('disabled nav-item')}

if(!permissions.etat_crdouvert){$('#menu17').addClass('disabled nav-item');} else {$('#menu17').removeClass('disabled nav-item')}
if(!permissions.etat_solde){$('#menu18').addClass('disabled nav-item');} else {$('#menu18').removeClass('disabled nav-item')}
if(!permissions.etat_recettes){$('#menu19').addClass('disabled nav-item');} else {$('#menu19').removeClass('disabled nav-item')}
if(!permissions.etat_engage){$('#menu20').addClass('disabled nav-item');} else {$('#menu20').removeClass('disabled nav-item')}
if(!permissions.etat_annulengage){$('#menu21').addClass('disabled nav-item');} else {$('#menu21').removeClass('disabled nav-item')}
if(!permissions.etat_annulop){$('#menu22').addClass('disabled nav-item');} else {$('#menu22').removeClass('disabled nav-item')}
// $('#menu23').removeClass('desabled').addClass('rouge');
 });
</script>
<!-- End Roles Script -->
<!-- BEGIN STACK JS-->
<script src="../app-assets/js/core/app-menu.js" type="text/javascript"></script>
<script src="../app-assets/js/core/app.js" type="text/javascript"></script>
<!-- END STACK JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script src="../app-assets/vendors/js/forms/tags/bootstrap-tagsinput.min.js" type="text/javascript"></script>
<script src="../app-assets/vendors/js/extensions/jquery.steps.min.js" type="text/javascript"></script>
<script src="../app-assets/vendors/js/forms/validation/jquery.validate.min.js" type="text/javascript"></script>
<script src="../app-assets/vendors/js/forms/extended/inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
<script src="../app-assets/vendors/js/forms/extended/maxlength/bootstrap-maxlength.js" type="text/javascript"></script>
<!-- <script src="../app-assets/vendors/js/forms/validation/jqBootstrapValidation.js" type="text/javascript"></script> -->
<!-- <script src="../app-assets/vendors/js/charts/echarts/echarts.js" type="text/javascript"></script> -->

<!-- END PAGE VENDOR JS-->
<!-- BEGIN PAGE LEVEL JS-->
<!-- <script src="../app-assets/js/scripts/pages/dashboard-ecommerce.js" type="text/javascript"></script> -->
<script src="../app-assets/js/scripts/ui/breadcrumbs-with-stats.js" type="text/javascript"></script>
<script src="../app-assets/js/scripts/tables/jsgrid/jsgrid.js" type="text/javascript"></script>

<!-- <script src="../app-assets/js/scripts/forms/validation/form-validation.js" type="text/javascript"></script> -->
 <!-- <script src="../app-assets/js/scripts/forms/checkbox-radio.js" type="text/javascript"></script> -->

 <!-- <script src="../app-assets/js/scripts/pickers/dateTime/picker-date-time.js" type="text/javascript"></script> -->
<script src="../app-assets/js/scripts/extensions/sweet-alerts.js" type="text/javascript"></script>
 <!-- <script src="../app-assets/js/scripts/forms/tags/tagging.js" type="text/javascript"></script> -->
 <!-- <script src="../app-assets/js/scripts/pickers/dateTime/picker-date-time.js" type="text/javascript"></script> -->
 <!-- <script src="../app-assets/js/scripts/extensions/sweet-alerts.js" type="text/javascript"></script> -->
<script src="../app-assets/js/scripts/tables/datatables-extensions/datatable-select.js" type="text/javascript"></script>
<!-- <script src="../app-assets/js/scripts/forms/wizard-steps.js" type="text/javascript"></script> -->
<script src="../app-assets/js/scripts/forms/select/form-select2.js" type="text/javascript"></script>
 <!-- <script src="../app-assets/js/scripts/pages/project-summary-task.js" type="text/javascript"></script> -->
 <!-- <script src="../app-assets/js/scripts/pages/project-summary-bug.js" type="text/javascript"></script> -->
 <script src="../app-assets/js/scripts/tables/datatables-extensions/datatable-autofill.js" type="text/javascript"></script>
 <script src="../app-assets/js/scripts/forms/extended/form-inputmask.js" type="text/javascript"></script>
<script src="../app-assets/js/scripts/forms/extended/form-maxlength.js" type="text/javascript"></script>
 <!-- END PAGE LEVEL JS-->
<script src="../app-assets/vendors/js/axios/axios.min.js"></script>


<!-- Datepicker for jsGrid -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
<!-- Datepicker for jsGrid -->

</body>
</html>
