<% include header.ejs %>

<!-- content page -->
<section id="number-tabs">
    <div class="row" class="hidden">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Form wizard with number tabs</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">

                      <div id="app">





<div class="col-md-12">
<div class="card">

  <div class="card-body collapse in">
      <div class="card-block">


          <form class="form" id="myForm" action="/engagementsform/api/addtmp/<%= exeid %>" method="post">
            <div class="form-body">
              <h4 class="form-section">Engagement</h4>
              <div class="row">
                  <div class="form-group col-md-6 mb-2">
                    <label for="userinput1">Date d'engagement</label>
                      <input type="text" id="dateengage" class="form-control border-primary" placeholder="Date d'engagement" v-model="dateengage">
                  </div>
                  <div class="form-group col-md-6 mb-2">
                    <label for="userinput3">Objet</label>
                      <input type="text" id="objet" class="form-control border-primary" placeholder="Objet" v-model="objet">
                  </div>
                  <!-- <div class="form-group col-md-6 mb-2">
                    <label for="userinput2">Bénéficiaire</label>
                      <input type="text" id="benef" class="form-control border-primary" placeholder="Bénéficiaire" v-model="benef">
                  </div> -->



                  <!-- <div class="form-group col-md-6 mb-2">
                      <label for="beneficiaire">Bénéficiaire :</label>
                      <select class="form-control" required id="beneficiaire" name="beneficiaire">
                         <optgroup label="Externe">
                              <%
                              for(i=0; i< beneficiairesext.length; i++){%>
                                <option><%= beneficiairesext[i].nom %></option>
                              <%}%>
                          </optgroup>
                          <optgroup label="Interne">
                               <%
                               for(i=0; i< beneficiairesint.length; i++){%>
                                 <option  ><%= beneficiairesint[i].nom %></option>
                               <%}%>
                           </optgroup>
                        </select>
                  </div> -->
                </div>
                <div class="row">
                  <div class="form-group col-md-1 mb-2">

                  </div>
                  <div class="form-group col-md-3 mb-0">
                    <fieldset>
                      <input type="radio" name="input-radio-3" id="input-radio-11" value="Interne" v-model="picked">
                      <label for="input-radio-11">Interne</label>
                    </fieldset>
                  </div>
                  <div class="form-group col-md-3 mb-0">
                    <fieldset>
                      <input type="radio" name="input-radio-3" id="input-radio-12" value="Externe" v-model="picked">
                      <label for="input-radio-12">Externe</label>
                    </fieldset>
                  </div>
                  <div class="form-group col-md-6 mb-2">

                  </div>

                </div>
                <div class="row">
                  <div class="form-group col-md-6 mb-2">
                    <label for="userinput4">Bénéficiaire :</label>
                      <v-select :options="picked === 'Interne'? arint : arext " label="nom" v-model="benef" class="border-primary"></v-select>
                  </div>
                </div>

                <div class="row">

                  <div class="form-group col-md-6 mb-2">
                    <label for="userinput4">Intitulé</label>
                      <input type="text" id="intitule" name="intitule" class="form-control border-primary" placeholder="Intitulé" v-model="intitule">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6 mb-2">
                    <label for="userinput3">Nature du document</label>
                      <input type="text" id="nature" name="nature" class="form-control border-primary" placeholder="Nature du document" v-model="nature">
                  </div>
                  <div class="form-group col-md-6 mb-2">
                    <label for="userinput4">Montant total</label>
                      <input type="text" id="montanttotal" name="montanttotal" class="form-control border-primary" placeholder="Montant total" v-model="montanttotal">
                  </div>

                </div>
                <div class="row">
                  <div class="form-group col-md-3 mb-2">
                    <label for="userinput3">Numéro de BC</label>
                      <input type="text" id="numbc" class="form-control border-primary" placeholder="Numéro de BC" v-model="numbc">
                  </div>
                  <div class="form-group col-md-3 mb-2">
                    <label for="userinput4">Date du BC</label>
                      <input type="text" id="datebc" class="form-control border-primary" placeholder="Date du BC" v-model="datebc">
                  </div>
                  <!-- <div class="form-group col-md-3 mb-2">
                    <label for="userinput4">Numéro de Facture</label>
                      <input type="text" id="numfact" class="form-control border-primary" placeholder="Numéro de Facture" name="numfact" v-model="numfact">
                  </div> -->
                  <div class="form-group col-md-3 mb-2">
                    <label for="userinput4">Numéro du Marché</label>
                      <input type="text" id="nummarche" class="form-control border-primary" placeholder="Numéro du Marché" v-model="nummarche">
                  </div>
                </div>
                <div class="row">
                  <!-- <div class="form-group col-md-6 mb-2">
                    <label for="userinput3">Entité bénéficiaire</label>
                      <input type="text" id="entitebenef" class="form-control border-primary" placeholder="Entité bénéficiaire" v-model="entitebenef">
                  </div> -->
                  <div class="form-group col-md-6 mb-2">
                    <label for="userinput4">Entité bénéficiaire</label>
                      <v-select :options="entites" label="libelle" v-model="entitebenef" class="border-primary"></v-select>
                  </div>
                  <div class="form-group col-md-6 mb-2">
                    <label for="userinput4">Autres Info</label>
                      <input type="text" id="autresinfo" class="form-control border-primary" placeholder="Autres Info" v-model="autresinfo">
                  </div>
                </div>

                <h4 class="form-section"> Contrôle budgetaire</h4>
                <div class="row">
                  <!-- <div class="form-group col-xs-3 mb-2">
                    <label for="userinput5">Ressource</label>
                      <input class="form-control border-primary" type="text" placeholder="Source" id="source" v-model="source">
                  </div> -->
                  <!-- <div class="form-group col-xs-3 mb-2">
                    <label for="userinput5">Rubrique</label>
                      <input class="form-control border-primary" type="text" placeholder="Rubrique" id="rubrique" v-model="rubrique">
                  </div> -->
                  <div class="form-group col-xs-4 mb-2">
                    <label for="userinput5">Ressource</label>
                    <v-select :options="projets" label="libelle" v-model="projects" class="border-primary"></v-select>
                  </div>
                  <div class="form-group col-xs-4 mb-2">
                    <label for="userinput5">Rubrique</label>
                    <v-select :options="rub" label="code" v-model="rubrique" class="border-primary"></v-select>
                  </div>
                  <div class="form-group col-xs-3 mb-2">
                    <label for="userinput5">Montant</label>
                      <input class="form-control border-primary" type="text" placeholder="Montant" id="montant" v-model="montant">
                  </div>
                  <div class="form-group col-xs-2 mb-2">
                    <label for="">Action</label>
                    <button class="form-control btn-primary" @click.prevent="addItem" :disabled="!formIsValid">Send</button>
                  </div>
                </div>

                  <div class="row m-5" style="height: 100%">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>
                          Nom Ressource
                        </th>
                        <th>
                          Code Rubrique
                        </th>
                        <th>
                          Montant
                        </th>
                        <th>
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody id="tabl" class="objList">

                      <tr is="app-new-rubrique" v-for="(item, index) in da" :data="item" :key="item.code" @removeitem="removeItem(index)" tag="tbody"></tr>

                    </tbody>

                    </table>

                    <textarea id="obj" name="obj" rows="8" cols="80" v-model="obj" style="display: none;">

                    </textarea>
                  </div>

              </div>



              <div class="form-actions right">
                  <button type="button" class="btn btn-warning mr-1" @click.prevent="onCancel">
                    <i class="ft-x"></i> Cancel
                  </button>
                  <button type="submit" class="btn btn-primary" @click.prevent="onSave">
                      <i class="fa fa-check-square-o"></i> Save
                  </button>
              </div>
          </form>

      </div>
  </div>
</div>
</div>





                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</section>







<!-- content page-->

<% include footer.ejs %>
<script type="text/x-template" id="my-tr">
  <tr>
    <td>
      {{ data.ressource }}
    </td>
    <td>
      {{ data.code }}
    </td>
    <td>
      {{ data.montant }}
    </td>
    <td>
      <i class='fa fa-close' @click="removeItem"></i>
    </td>
  </tr>
</script>

<script>

var arext = <%- JSON.stringify(beneficiairesext) %>;
var arint = <%- JSON.stringify(beneficiairesint) %>;
var rub = <%- JSON.stringify(rubriques) %>;
var entites = <%- JSON.stringify(entites) %>;
var exeid = <%- JSON.stringify(exeid) %>;
var projets = <%- JSON.stringify(projets) %>;

Vue.component('v-select', VueSelect.VueSelect);

Vue.component('appNewRubrique', {
  template: '#my-tr',
    props: [
      'data'
    ],
    methods: {
      removeItem () {
        this.$emit('removeitem')
      }
    }

})

vm1 = new Vue({
    el: "#app",
    data() {
      return {
        dateengage: '',
        benef: '',
        montanttotal: '',
        objet: '',
        intitule: '',
        nature: '',
        datebc: '',
        numbc: '',
        nummarche: '',
        autresinfo: '',
        entitebenef: '',
        source: '',
        rubrique: '',
        projects: '',
        montant: '',
        arint: arint,
        arext: arext,
        rub: rub,
        da: [],
        sumrub: 0,
        picked: 'Interne',
        entites: entites,
        obj: '',
        projets: projets
      }
    },
    methods: {
      addItem () {
        const data = {
          ressource: this.projects.libelle,
          code: this.rubrique.code,
          montant: this.montant
        }
        console.log("Data : ", data)

        this.da.push(data)
      },
      async onSave () {
        console.log("onSave methode")
        await this.send();
        document.getElementById("myForm").submit();

      },
      send () {
        // {
        //   numeng: String,
        //   tmpflag: { type: Boolean, default: false },
        //   dateeng: String,
        //   beneficiaire: String,
        //   objet: String,
        //   intitule: String,
        //   nature: String,
        //   nummarche: String,
        //   numbc: String,
        //   datebc: String,
        //   entitebenef: String,
        //   autreinfos: String,
        //   annuler: Boolean,
        //   dateannulation: String,
        //   rubriques: [{
        //     ressource: String,
        //     code: String,
        //     montant: Number
        //   }
          const obj = {
            dateeng: new Date(this.dateengage),
            beneficiaire: this.benef.nom,
            montanttotal: this.montanttotal,
            objet: this.objet,
            intitule: this.intitule,
            nature: this.nature,
            datebc: new Date(this.datebc),
            numbc: this.numbc,
            nummarche: this.nummarche,
            autresinfos: this.autresinfo,
            entitebenef: this.entitebenef.libelle,
            rubriques: this.da
          }
          this.obj = JSON.stringify(obj)
          console.log("Send methode", this.obj)
        }
      },
      computed: {
        formIsValid () {
          return this.projects !== '' && this.rubrique !== '' && this.montant !== ''
        },
        sumrubs () {
          return this.montanttotal
        }
      }
  })

  // document.getElementById('obj').innerHTML = JSON.stringify(obj);

  $(function() {
    document.getElementById('menu14').classList.add('active');
  });


</script>
