<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">

           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item"><a href="/engagements">Liste des engagements</a>
                 </li>
                 <li class="breadcrumb-item active">Nouveau engagement
                 </li>
               </ol>
             </div>
           </div>
         </div>

    </div>
  <!-- End Row Header=============================================== -->

<!-- content page -->
<section id="number-tabs">
    <div class="row" class="hidden">
        <div class="col-xs-12">
            <div class="card">

                <div class="card-body collapse in">
                    <div class="card-block">

                      <div id="app">





<div class="col-md-12">
<div class="card">
  <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <p>Sélectionner un exercice</p>
          <select class="form-control" id="" v-model="exerciceid">
              <!-- <option value= 'vide'></option> -->
            <% for(i=0; i< exercices.length; i++){%>
              <option value="<%= exercices[i]._id + '|' + exercices[i].libelle %>"><%= exercices[i].libelle %></option>
            <%}%>
          </select>
      </div></div>
    </div>

  <div class="card-body collapse in">
      <div class="card-block">


          <form class="form" id="myForm" action="/engagementsform/api/add/59ad4671f53e623980285a14" method="post">
            <div class="form-body">
              <h4 class="form-section">Formulaire Engagement</h4>
              <div class="row">
                  <div class="form-group col-md-3 mb-2">
                    <label for="userinput1">Date d'engagement</label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <span class="fa fa-calendar-o"></span>
                      </span>
                      <input type="date" class="form-control" id="dateengage" name="dateengage" placeholder="Saisir la date de l\'avis de recette" required  v-model="dateengage">  <!-- <input type='text' id="dateop" name="dateop" class="form-control pickadate-translations has-danger" placeholder="Saisir la date de la recette" required /> -->
                    </div>
                      <!-- <input type="text" id="dateengage" class="form-control border-primary" placeholder="Date d'engagement" v-model="dateengage"> -->
                  </div>
                  <div class="form-group col-md-9 mb-4">
                    <label for="userinput3">Objet</label>
                      <input type="text" id="objet" class="form-control border-primary" placeholder="Objet" v-model="objet">
                  </div>

                </div>
                <div class="row">
                  <div class="form-group col-md-3 mb-2">
                    <label for="userinput4">Montant total</label>
                      <input type="text" id="montanttotal" name="montanttotal" class="form-control border-primary" placeholder="Montant total" v-model="montanttotal">
                  </div>

                  <div class="form-group col-md-8 mb-2">
                    <label for="userinput4">Bénéficiaire :</label>
                      <v-select :options="picked === 'Interne'? arint : arext " label="nom" v-model="benef" class="border-primary"></v-select>
                  </div>

                  <div class="form-group col-md-1 mb-0">
                    <br><fieldset>
                      <input type="radio" name="input-radio-3" id="input-radio-11" value="Interne" v-model="picked">
                      <label for="input-radio-11">Interne</label>
                    </fieldset>
                    <fieldset>
                      <input type="radio" name="input-radio-3" id="input-radio-12" value="Externe" v-model="picked">
                      <label for="input-radio-12">Externe</label>
                    </fieldset>
                  </div>

                </div>

                <div class="row">
                  <div class="form-group col-md-12 mb-2">
                    <label for="userinput4">Intitulé</label>
                      <input type="text" id="intitule" name="intitule" class="form-control border-primary" placeholder="Intitulé" v-model="intitule">
                  </div>
                </div>


                <div class="row">
                  <div class="form-group col-md-3 mb-2">
                    <label for="userinput3">Nature du document</label>
                    <select class="form-control" id="nature" name="nature" v-model="nature" placeholder="Nature du document">

                          <option>Bon de commande</option>
                          <option>Marché</option>
                          <option>Régie</option>
                          <option>Paie</option>
                          <option>Déplacement</option>

                    </select>

                      <!--<input type="text" id="nature" name="nature" class="form-control border-primary" placeholder="Nature du document" v-model="nature"> -->
                  </div>
                  <div class="form-group col-md-3 mb-2">
                    <label for="userinput3">Numéro de BC</label>
                      <input type="text" id="numbc" class="form-control border-primary" placeholder="Numéro de BC" v-model="numbc">
                  </div>
                  <div class="form-group col-md-3 mb-2">
                    <label for="userinput1">Date du BC</label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <span class="fa fa-calendar-o"></span>
                      </span>
                      <input type="date" class="form-control" id="datebc" name="datebc" placeholder="Date du bon de commande" required  v-model="datebc">  <!-- <input type='text' id="dateop" name="dateop" class="form-control pickadate-translations has-danger" placeholder="Saisir la date de la recette" required /> -->
                    </div>
                      <!-- <input type="text" id="dateengage" class="form-control border-primary" placeholder="Date d'engagement" v-model="dateengage"> -->
                  </div>
                  <div class="form-group col-md-3 mb-2">
                    <label for="userinput4">Numéro du Marché</label>
                      <input type="text" id="nummarche" class="form-control border-primary" placeholder="Numéro du Marché" v-model="nummarche">
                  </div>

                </div>

                <div class="row">
                  <div class="form-group col-md-6 mb-2">
                    <label for="userinput4">Entité bénéficiaire</label>
                      <v-mselect :options="entites" label="libelle" v-model="entitebenef" class="border-primary"></v-mselect>
                  </div>
                  <div class="form-group col-md-6 mb-2">
                    <label for="userinput4">Autres Info</label>
                      <input type="text" id="autresinfo" class="form-control border-primary" placeholder="Autres Info" v-model="autresinfo">
                  </div>
                </div>

                <h4 class="form-section"> Contrôle budgetaire</h4>
                <div class="row">

                  <div class="form-group col-xs-4 mb-2">
                    <label for="userinput5">Ressource</label>
                    <v-select :options="projets" label="libelle" v-model="projects" class="border-primary"></v-select>
                  </div>
                  <div class="form-group col-xs-4 mb-2">
                    <label for="userinput5">Rubrique</label>
                    <v-select :options="rub" label="code" v-model="rubrique" class="border-primary"></v-select>
                  </div>
                  <div class="form-group col-xs-3 mb-2">
                    <label for="userinput5">Montant</label>
                      <input class="form-control border-primary" type="text" placeholder="Montant" id="montant" v-model="montant">
                  </div>
                  <div class="form-group col-xs-1 mb-2">
                    <label for="">Action</label>
                    <button class="form-control btn-primary" @click.prevent="addItem" :disabled="!formIsValid">Ajouter</button>
                  </div>
                </div>

                  <div class="row m-5" style="height: 100%">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>
                          Nom Ressource
                        </th>
                        <th>
                          Code Rubrique
                        </th>
                        <th>
                          Montant
                        </th>
                        <th>
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody id="tabl" class="objList">

                      <tr is="app-new-rubrique" v-for="(item, index) in da" :data="item" :key="item.code" @removeitem="removeItem(index)" tag="tbody"></tr>

                    </tbody>

                    </table>

                    <textarea id="obj" name="obj" rows="8" cols="80" v-model="obj" style="display: none;">

                    </textarea>
                  </div>

              </div>



              <div class="form-actions right">
                  <button type="button" class="btn btn-warning mr-1" @click.prevent="onCancel">
                    <i class="ft-x"></i> Cancel
                  </button>
                  <button type="submit" class="btn btn-primary" @click.prevent="onSave">
                      <i class="fa fa-check-square-o"></i> Save
                  </button>
              </div>
          </form>

      </div>
  </div>
</div>
</div>





                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</section>







<!-- content page-->

<% include footer.ejs %>
<script type="text/x-template" id="my-tr">
  <tr>
    <td>
      {{ data.ressource }}
    </td>
    <td>
      {{ data.code }}
    </td>
    <td>
      {{ data.montant }}
    </td>
    <td>
      <i class='fa fa-close' @click="removeItem"></i>
    </td>
  </tr>
</script>

<script>

var arext = <%- JSON.stringify(beneficiairesext) %>;
var arint = <%- JSON.stringify(beneficiairesint) %>;
var rub = <%- JSON.stringify(rubriques) %>;
var entites = <%- JSON.stringify(entites) %>;

var projets = <%- JSON.stringify(projets) %>;

Vue.component('v-select', VueSelect.VueSelect);
Vue.component('v-mselect', VueMultiselect.VueMultiselect);

Vue.component('appNewRubrique', {
  template: '#my-tr',
    props: [
      'data'
    ],
    methods: {
      removeItem () {
        this.$emit('removeitem')
      }
    }

})

vm1 = new Vue({
    el: "#app",
    data() {
      return {
        dateengage: '',
        benef: '',
        montanttotal: '',
        objet: '',
        intitule: '',
        nature: '',
        datebc: '',
        numbc: '',
        nummarche: '',
        autresinfo: '',
        entitebenef: '',
        source: '',
        rubrique: '',
        projects: '',
        montant: '',
        arint: arint,
        arext: arext,
        rub: rub,
        da: [],
        sumrub: 0,
        picked: 'Interne',
        entites: entites,
        obj: '',
        projets: projets,
        natcmd: [],
        exerciceid: {}
      }
    },
    methods: {
      addItem () {
        const data = {
          ressource: this.projects.libelle,
          code: this.rubrique.code,
          montant: this.montant
        }
        console.log("Data : ", data)

        this.da.push(data)
        this.projects = ''
        this.rubrique = ''
        this.montant = ''
      },
      async onSave () {
        console.log("onSave methode")
        await this.send();
        document.getElementById("myForm").submit();

      },
      send () {
          const obj = {
            dateeng: new Date(this.dateengage),
            beneficiaire: this.benef.nom,
            montanttotal: this.montanttotal,
            objet: this.objet,
            intitule: this.intitule,
            nature: this.nature,
            datebc: new Date(this.datebc),
            numbc: this.numbc,
            nummarche: this.nummarche,
            autresinfos: this.autresinfo,
            entitebenef: this.entitebenef.libelle,
            rubriques: this.da,
            exerciceid: this.exerciceid
          }
          this.obj = JSON.stringify(obj)
          console.log("Send methode", this.obj)
        }
      },
      computed: {
        formIsValid () {
          return this.projects !== '' && this.rubrique !== '' && this.montant !== ''
        },
        sumrubs () {
          return this.montanttotal
        }
      }
  })

  // document.getElementById('obj').innerHTML = JSON.stringify(obj);

  $(function() {
    document.getElementById('menu14').classList.add('active');
  });


</script>
