<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Stack admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="">
    <title>GB-INRH - Gestion budget de l'INRH</title>
    <link rel="apple-touch-icon" href="../app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="../app-assets/images/ico/favicon.ico">
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet"> -->
    <link href="../app-assets/fonts/fontsgoogle/fontsgoogle.css" rel="stylesheet">

    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="../app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/fonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/extensions/pace.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/extensions/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/forms/spinner/jquery.bootstrap-touchspin.css">

    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/tables/datatable/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/tables/extensions/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/tables/datatable/buttons.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/tables/extensions/autoFill.dataTables.min.css">


    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/extensions/unslider.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/weather-icons/climacons.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/fonts/meteocons/style.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/charts/morris.css"> -->
    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/forms/selects/select2.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/forms/toggle/switchery.min.css"> -->
    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/tables/jsgrid/jsgrid-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/tables/jsgrid/jsgrid.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/forms/icheck/icheck.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/forms/icheck/custom.css"> -->

    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/pickers/daterange/daterangepicker.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/pickers/datetime/bootstrap-datetimepicker.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/pickers/pickadate/pickadate.css"> -->
    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/forms/toggle/switchery.min.css">

    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/forms/tags/bootstrap-tagsinput.css">



    <!-- END VENDOR CSS-->

    <!-- BEGIN STACK CSS-->
    <link rel="stylesheet" type="text/css" href="../app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/css/colors.css">

    <!-- END STACK CSS-->

    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="../app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/css/core/menu/menu-types/vertical-overlay-menu.css">
    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/css/core/colors/palette-gradient.css"> -->
    <link rel="stylesheet" type="text/css" href="../app-assets/css/pages/project.css">

    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/css/plugins/forms/wizard.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/css/plugins/pickers/daterange/daterange.css"> -->




    <link rel="stylesheet" type="text/css" href="../app-assets/fonts/simple-line-icons/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/css/pages/timeline.css"> -->
    <link rel="stylesheet" type="text/css" href="../app-assets/css/plugins/forms/validation/form-validation.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/css/plugins/forms/checkboxes-radios.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/css/plugins/forms/switch.css">
    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/css/core/colors/palette-callout.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/css/plugins/pickers/daterange/daterange.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/css/plugins/forms/wizard.css"> -->
    <link rel="stylesheet" type="text/css" href="../app-assets/css/core/colors/palette-gradient.css">
    <!-- END Page Level CSS-->

    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/vue-multiselect/vue-multiselect.min.css"> -->
    <!-- END Custom CSS-->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<!-- Datepicker for jsGrid -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" />
<!-- Datepicker for jsGrid -->

    <script src="../app-assets/vendors/js/chartjs/Chart.min.js"></script>
    <!-- <script type="text/javascript" src="../app-assets/js/scripts/vuejs/vue.js"></script> -->
    <script src="../app-assets/vendors/js/vue-select/vue-select.js"></script>
    <!-- <script src="../app-assets/vendors/js/vue-multiselect/vue-multiselect.min.js"></script> -->


  </head>
  <body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
  <% include navbar.ejs %>
  <% include sidebar.ejs %>
  <div class="app-content content container-fluid">
  <div class="content-wrapper">
