<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">

           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">Rôles
                 </li>
               </ol>
             </div>
           </div>
         </div>

    </div>
  <!-- End Row Header=============================================== -->
  <!-- content page -->
  <section id="custom-view">
      <div class="row">
          <div class="col-xs-12">
              <div class="card">



                  <div class="card-body collapse in" >
                      <div class="card-block card-dashboard " style="border:1px solid gray;">
                          <!-- <p>All components of the grid can be easily configured. Heading, filtering, inserting, editing, sorting, paging and row selection could be switched with a single corresponding boolean option.</p> -->
                          <div id="invoice-company-details" class="row">
                        			<div class="col-md-6 col-sm-12 text-xs-center text-md-left">
                        				<!-- <img src="../../../app-assets/images/logo/stack-80x80.png" alt="company logo" class=""/> -->
                        				<ul class="px-0 list-unstyled">
                        					<li class="text-bold-800"><h4>ROYAUME DU MAROC</h4></li>
                        					<li><h6>INSTITUT MATIONAL DE</h6></li>
                        					<li><h6>RECHERCHE HALIEUTIQUE</h6></li>
                        					<li>Bd Sidi Abderrahman 2 Ain Diab-Casablanca</li>
                        				</ul>
                        			</div>

                        		</div>
                            <div class="row">
                                  <div class="col-md-4 col-sm-12 text-xs-center text-md-right">
                                  </div>
                                  <div class="col-md-4 col-sm-12 text-xs-center text-md-center">
                                    <h3>ORDRE DE RECETTE</h3>
                                    <p class="pb-3">N° AV 109</p>
                                  </div>
                                  <div class="col-md-4 col-sm-12 text-xs-center text-md-right">
                                    <ul class="px-0 list-unstyled">
                                      <li class="lead text-bold-800">Exercice:    2017</li>
                                      <li class="lead text-bold-800">Date: 31/05/2017</li>
                                    </ul>
                                  </div>
                            </div>
                            <div class="row">
                              <table class="table">
                                <tbody>
                                  <tr>
                                    <th scope="row" style="width:15%">DEBETEUR</th>
                                    <td>
                                      <p>LE RECEVEUR DES DOUANES - NADOR</p>
                                    </td>
                                  </tr>
                                  <th scope="row">OBJET</th>
                                  <td>
                                    <p class="text-muted">Simply dummy text of the printing and typesetting industry.</p>
                                  </td>
                                </tr>
                                <th scope="row">Montant</th>
                                <td>
                                  <p> <b>42 916,25</b></p>
                                  <p class="text-muted">Simply dummy text of the printing and typesetting industry.Simply dummy text of the printing and typesetting industry. Simply dummy text of the printing and typesetting industry.</p>
                                </td>
                              </tr>
                                </tbody>
                              </table>
                          </div>

                          <div class="row">
                            <table class="table">
                              <tbody>
                                <tr>
                                  <th scope="row" style="width:15%">DEBETEUR</th>
                                  <td>
                                    <p>LE RECEVEUR DES DOUANES - NADOR</p>
                                  </td>
                                </tr>
                                <th scope="row">OBJET</th>
                                <td>
                                  <p class="text-muted">Simply dummy text of the printing and typesetting industry.</p>
                                </td>
                              </tr>
                              <th scope="row">Montant</th>
                              <td>
                                <p> <b>42 916,25</b></p>
                                <p class="text-muted">Simply dummy text of the printing and typesetting industry.Simply dummy text of the printing and typesetting industry. Simply dummy text of the printing and typesetting industry.</p>
                              </td>
                            </tr>
                              </tbody>
                            </table>
                        </div>
                            <div class="row">
                              <div class="table-responsive col-sm-12">
					                         <table class="table">
                                      <tr>
                              					<th width=60px;><span contenteditable>DEBETEUR: </span></th>
                              					<td><span contenteditable>LE RECEVEUR DES DOUANES - NADOR</span></td>
                              				</tr>
                                      <tr>
                              					<th width=60px;><span contenteditable>OBJET: </span></th>
                              					<td><span contenteditable>TRH RECOUVREE DURANT LE MOIS 02/2017 </span></td>
                              				</tr>
                                      <tr>
                              					<th width=60px;><span contenteditable>Montant (en lettres et en chiffre): </span></th>
                                        <td><span contenteditable>42 916,25 </span><br><span contenteditable>TRH RECOUVREE DURANT LE MOIS 02/2017 TRH RECOUVREE DURANT LE MOIS 02/2017 TRH RECOUVREE DURANT LE MOIS 02/2017 </span></td>
                              				</tr>
                                    </table>
                              </div>
                            </div>
                            <!-- Invoice Customer Details -->
                            <div id="invoice-customer-details" class="row pt-2">
                              <div class="col-sm-12 text-xs-center text-md-left">
                                <p class="text-muted">Bill To</p>
                              </div>
                              <div class="col-md-6 col-sm-12 text-xs-center text-md-left">
                                <ul class="px-0 list-unstyled">
                                  <li class="text-bold-800">Mr. Bret Lezama</li>
                                  <li>4879 Westfall Avenue,</li>
                                  <li>Albuquerque,</li>
                                  <li>New Mexico-87102.</li>
                                </ul>
                              </div>
                              <div class="col-md-6 col-sm-12 text-xs-center text-md-right">
                                <p><span class="text-muted">Invoice Date :</span> 06/05/2016</p>
                                <p><span class="text-muted">Terms :</span> Due on Receipt</p>
                                <p><span class="text-muted">Due Date :</span> 10/05/2016</p>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

<!--/ Invoice Footer -->
 <!-- =============================================== -->
<% include footer.ejs %>


 <script>
  $(function() {
    document.getElementById('menu0').classList.add('active');
  });

</script>
