<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">
           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">Regies / Journaux de caisse <%= user.region._id %>
                 </li>
               </ol>
             </div>
           </div>
         </div>

 </div>
  <!-- End Row Header=============================================== -->

  <!-- content page -->
  <section id="custom-view">
    <!-- Row liste des exercices -->
    <div class="row">
        <div class="col-xs-6">
              <div class="form-group">
                <p>Sélectionner un exercice</p>
                <select class="select2-theme form-control" id="select2-exercices" onchange="changeexercice()" style="width: 100%">
                    <option value= 'vide'></option>
                  <% for(i=0; i< exercices.length; i++){%>
                    <option value= <%= exercices[i]._id %> ><%= exercices[i].libelle %></option>
                  <%}%>
                </select>
              </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
            <p>Sélectionner une régie</p>
            <select class="select2-theme form-control" id="select2-regie" onchange="changeregie()" style="width: 100%" data-bgcolor="success" data-bgcolor-variation="lighten-3">
                <option value= 'vide'></option>
            </select>
        </div>
      </div>


    </div>
    <div class="row">
        <div class="col-xl-4 col-md-12">
            <div class="card overflow-hidden">
                <div class="card-body">
                    <div class="media bg-primary white">
                        <div class="media-left bg-primary bg-darken-2 p-2 media-middle">
                            <i class="ft-plus-circle font-large-2 white"></i>
                        </div>
                        <div class="media-body p-2">
                            <h4>Total crédit</h4>
                            <span>Total Encaissements</span>
                        </div>
                        <div class="media-right p-2 media-middle">
                            <h1><label id="lbl_total_credit">0.00</label></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="media bg-danger white">
                        <div class="media-left bg-danger bg-darken-2 p-2 media-middle">
                            <i class="ft-minus-circle font-large-2 white"></i>
                        </div>
                        <div class="media-body p-2">
                            <h4>Total débit</h4>
                            <span>Total Dépenses</span>
                        </div>
                        <div class="media-right p-2 media-middle">
                            <h1><label id="lbl_total_debit">0.00</label></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-12">
          <div class="card overflow-hidden">
              <div class="card-body">
                  <div class="media  ">
                      <div class="media-left bg-primary bg-darken-2 p-2 media-middle">
                          <i class="icon-wallet font-large-2 white"></i>
                      </div>
                      <div class="media-body p-2">
                          <h4>Solde</h4>
                          <span>Disponibles</span>
                      </div>
                      <div class="media-right p-2 media-middle">
                          <h1 class="primary"><label id="lbl_total_solde">0.00</label></h1>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <!-- End Row liste des exercices -->
      <div class="row">

          <div class="col-xs-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Liste des alimentations des caisses des régies de l'exercice sélectionné</h4>
                      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                      <div class="heading-elements">
                          <ul class="list-inline mb-0">
                            <button type="button" name="button" class="btn btn-outline-primary btn-min-width mr-1 mb-1" onclick="afficher_modal_new_jc();"  >Nouveau journal de caisse</button>
                              <!-- <li><a href="/engagementsform" id="linkderogationform" class="btn btn-outline-primary btn-min-width mr-1 mb-1" role="button">Nouvelle alimentation de caisse</a></li> -->
                          </ul>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">

                        </div>
                      </div>
                  </div>
                  <!-- js grid -->
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard ">
                        <div id="jsGrid1"></div>
                      </div>
                  </div>
                  <!-- end js grid -->
              </div>
          </div>
      </div>

  </section>

<!--  modal 1-->
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="form-group">

        <!-- Modal -->
        <div class="modal fade text-xs-left" id="New_jc_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header p-2 bg-gradient-x-primary white media-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="title_new_jc">Nouveau journal de caisse</h4>
            </div>
            <div class="modal-body">
            <!-- <div class="row">
              <div class="col-xs-12"> -->
                <div class="card">
                  <div class="card-body collapse in">
                    <div class="card-block">

                      <!-- show entete engagement -->
                      <!-- <div class="row"> -->
                        <div class="table-responsive">
                          <div class="table-responsive">
                            <table class="table table-bordered">
                              <thead>
                                  <tr bgcolor="#EFFBF8">
                                    <th width="25%">Exercice</th>
                                    <th width="75%"><label  ID="exe_txt"></label> </th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                    <td class="text-middle">La régie</td>
                                    <td> <label  ID="regie_txt"></label></td>
                                  </tr>
                                  <tr>
                                    <td class="text-middle">Date opération</td>
                                    <td> <label  ID="dateop_txt"></label></td>
                                  </tr>


                              </tbody>
                            </table>
                            <button type="button" id="btn_new_jc" class="btn mb-1 btn-outline-secondary btn-lg btn-block" onclick="valideroperation();">Créer un nouveau journal de caisse</button>
                          </div>
                        </div>
                      <!-- </div> -->

                    </div>
                  </div>
                </div>
              <!-- </div>
              </div> -->
            </div>
            <div class="modal-footer">

              <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal" id="btn_closemodal">Fermer</button>


            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!--  modal 2 : detail journal de caisse-->
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="form-group">

        <!-- Modal -->
        <div class="modal fade text-xs-left" id="detail_jc_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header p-2 bg-gradient-x-primary white media-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel8">Détail du journal de caisse N: <label id="numjc_txt"></label></h4>
            </div>
            <div class="modal-body">
                <div class="card">
                  <div class="card-body collapse in">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header">
                              <h4 class="card-title" id="horz-layout-basic">Imputation budgétaire</h4>
                              <div class="card-body collapse in">
                                <hr>
                                <!-- Row formulaire alimentation jsgrid -->


                                    <div class="col-md-3">
                                      <div class="form-group">
                                        <p>Rubriques : </p>
                                        <select class="select2-border border-primary form-control" name="rubriques" id="rubriques" data-border-color="primary" data-border-variation="darken-2" data-text-color="primary" data-text-variation="darken-3" style="width: 100%">
                                          <option value="" selected>Sélectionner une rubrique</option>

                                        </select>
                                      </div>
                                    </div>


                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <p for="entitebenef">Entité bénéficiaire :</p>
                                            <select class="select2-border border-primary form-control" id="entitebenef" name="entitebenef" data-border-color="primary" data-border-variation="darken-2" data-text-color="primary" data-text-variation="darken-3" style="width: 100%">
                                                    <option value="" selected>Sélectionner une entité bénéficiaire</option>
                                                    <%
                                                    for(i=0; i< entites.length; i++){%>
                                                      <option ><%= entites[i].code %> | <%= entites[i].libelle %></option>
                                                    <%}%>

                                              </select>
                                        </div>
                                    </div>


                                      <div class="col-md-4">
                                        <div class="form-group">
                                          <p>Description : </p>
                                          <input type="text" class="form-control" id="description" name="description" class="form-control pickadate-translations has-danger" placeholder="Saisir la description de l'opération" required>

                                        </div>
                                      </div>

                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <p for="date4">Montant :</p>
                                            <input type="text" class="form-control  decimal-inputmask" id="montant" placeholder="0,00" maxlength="14">
                                        </div>
                                    </div>


                                    <div class="col-md-1">
                                          <p for="date4">Action :</p>
                                          <button type="button" id="addline" class="btn btn-icon btn-primary mr-1"><i class="fa fa-check"></i></button>
                                    </div>




                                </div>

                                  <!-- End Row formulaire alimentation jsgrid -->
                                  <div class="row hidden">
                                    <div class="col-md-12">
                                      <div class="form-group">
                                        <p>Objet for BackEnd :</p>
                                        <textarea type="text" id="detail_jc"  name="detail_jc" required  class="form-control" placeholder="detail_jc" >
                                        </textarea>
                                      </div>
                                    </div>
                                  </div>
                                    <!-- Row  jsgrid -->
                                <div class="row">
                                  <div class="col-md-12">
                                      <hr>
                                    <div id="jsGrid_detail_jc"></div>
                                  </div>
                                </div>
                                  <!-- End Row jsgrid -->

                              </div>
                              <div class="row" align="right">
                                <div class="form-actions col-xs-12" >
                                   <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal" id="btn_Detail_jc_closemodal" onclick="changeregie();">Fermer</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

            </div>
            <div class="modal-footer">




            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <!-- content page-->


<% include footer.ejs %>
<script>
  var cancel = false;
  var jc_data = [];
  var detail_jc_data = [];
  var exerciceid;
  var regieid;
  var jcaisseelmid;
  var emploi_regie = [];
  var solde = 0;

// ############################################################################################# //
$("#addline").click(function() {
    var message ='';

    // Check rubrique
    if($('#rubriques').val() == ""){
        message = message + 'Rubrique non valide \n';
    }
    // Check entite beneficiaire
    if($('#entitebenef').val() == ""){
        message = message + 'Entité bénéficiaire non valide \n';
    }
    // Check entite beneficiaire
    if($('#description').val() == ""){
        message = message + 'Description opération non valide \n';
    }
    // Check montant rubrique
    if ($('#montant').val() == "" || Number($('#montant').val()) <= 0) {
        message = message + 'Montant non valide \n';
    }
    console.log("Solde: ", $('#lbl_total_solde').text())

    // Check depassement sold
    solde = ( Number(solde) -  Number($('#montant').val()))
    console.log("Solde at addLine : ", solde)
    if ( solde < 0 ) {
        solde = solde + Number($('#montant').val())
        message = message + 'Solde insuffisant \n';
    }

    // Check plafond rubrique

    var rub = detail_jc_data.filter(item => item.code.trim() === $("#rubriques>option:selected").text().split("|")[0].trim())
    console.log("Rubrique : ", $("#rubriques>option:selected").text().split("|")[0].trim())
    console.log("rub: ", rub)

    if(rub.length > 0){
      var totalmontant = rub.reduce(function(a, b){return { montant: a.montant + b.montant } }).montant
      var total = Number(totalmontant) + Number($('#montant').val())
      console.log('/journauxcaisse/get_jc_emploi/'.concat(exerciceid).concat('|').concat(regieid).concat('|').concat($("#rubriques>option:selected").text().split("|")[0].trim()))
      console.log("Montant: ", totalmontant + Number($('#montant').val()))
      axios.get('/journauxcaisse/get_jc_emploi/'.concat(exerciceid).concat('|').concat(regieid).concat('|').concat($("#rubriques>option:selected").text().split("|")[0].trim()))
        .then((result) => {
          // console.log("total: ", Number(totalmontant), "Montant: ", Number($('#montant').val()) )
          if ( total > Number(result.data.plafond) ) {
            console.log("OKOK ")
            message = message + 'Plafond Rubrique dépassé \n'
          }

          console.log("Plafond : ", result.data.plafond)
          // Test end Show message
          if (message !== "") {
              sweetAlert("Champs obligatoires...",message, "warning");

          }else {
            console.log("Message :", ( Number($('#lbl_total_solde').text()) -  Number($('#montant').val())))
      // ==============================================================================
      var obj = {
                    code: $("#rubriques>option:selected").text().split("|")[0],
                    libelle: $("#rubriques>option:selected").text().split("|")[1],
                    entitebenef: $("#entitebenef>option:selected").text(),
                    description: $('#description').val(),
                    montant:Number($('#montant').val()),
                    dateop: new Date()
                }

                axios({
                      method: "POST",
                      url: "/journauxcaisse/api/jcaisse/update_detail_jc",
                      data: {
                        exerciceid: exerciceid,
                        regieid: regieid,
                        jcaisseelmid: jcaisseelmid,
                        obj_detail_jc: obj
                      }
                    })
                        .then((msg) => {
                          console.log(msg);
                          detail_jc_data.push(obj)
                            if (msg.data.result === 'OK'){
                            swal(
                              'Opération réussie',
                               msg.data.message,
                              'success'
                          )
                          charger_jsGrid_detail_jc(msg.data.obj);
                        } else {
                                  swal(
                                        'Opération échouée',
                                        msg,data.message + ' ' + msg.data.err,
                                        'error'
                                      )
                                }
                        })

                  $('#montant').val('');
                  $('#description').val('');
                  $("#rubriques").focus();
           }
        })
        .catch(e => {
          return {message: e}
        })

      console.log("Detail JC Data: ", rub.reduce(function(a, b){return { montant: a.montant + b.montant } }).montant)
    }
    //




  });
  // ######JSGRID DETAIL JOURNAL DE CAISSE DANS LE MODAL########################################################################################## //
   function charger_jsGrid_detail_jc(param) {

     InitGridCustomFields();
      $("#jsGrid_detail_jc").jsGrid({
         width: "100%",
         filtering: true,
         autoload: true,
         pageSize: 10,
         pageButtonCount: 5,
         confirmDeleting: false,
         pageIndex: 1,
         noDataContent: "Liste vide",
         inserting: false,
         editing: false,
         sorting: true,
         paging: true,

         controller: {
           loadData: function(filter) {
               return $.grep(param, function(obj) {
                   return (!filter.code || obj.code.indexOf(filter.code) > -1)
                   && (!filter.libelle || obj.libelle.indexOf(filter.libelle) > -1)
                   && (!filter.entitebenef || obj.entitebenef.indexOf(filter.entitebenef) > -1)
                   && (!filter.description || obj.description.indexOf(filter.description) > -1);
               });
           },
           deleteItem: function(item) {
             swal({
                       title: "Confirmation!",
                       text: "Voulez-vous vraimenet supprimer cet élement?",
                       showCancelButton: true,
                       confirmButtonColor: '#FE642E',
                       confirmButtonText: "Yes",
                       cancelButtonText: "No",
                       closeOnConfirm: false,
                       closeOnCancel: false
                   }, function(isConfirm) {
                       if (isConfirm) {
                                      var t =  $.ajax({
                                         method: "POST",
                                         url: "/journauxcaisse/api/jcaisse/detail_jc/remove",
                                         data: {
                                               exerciceid: exerciceid ,
                                               regieid: regieid,
                                               jcaisseelmid: jcaisseelmid,
                                               detail_jc_id: item._id
                                              }
                                      });
                                       t.success(function(msg){
                                         if (msg.result === 'OK'){
                                         console.log("Param Before: ", param, detail_jc_data)
                                         param.splice(param.indexOf(msg),1)
                                         detail_jc_data.splice(detail_jc_data.indexOf(msg),1)
                                         console.log("Param After: ", param, detail_jc_data)
                                         swal(
                                               'Opération réussie',
                                               msg.message,
                                               'success'
                                             );

                                           } else {
                                               swal(
                                                     'Opération échouée',
                                                     msg.message,
                                                     'error'
                                                   )
                                             }

                                       })

                       } else {

                                     $("#jsGrid_detail_jc").jsGrid("loadData");
                                     swal("Annulation", "Opération annulée.", "error");
                       }
                   });
           }
         },
           onRefreshed: function(args) {
             var items = args.grid.option("data");
             var total = { "code": "TOTAL: ", "montant": '0', IsTotal: true };

              total.montant = 0;
              items.forEach(function (item) {
                  if (item.montant != null ) {
                      total.montant += parseFloat(item.montant);
                  }
              });
              total.montant = total.montant.toFixed(2);
             var $totalRow = $("<tr style='background: #f5f5f5;font-weight: bold;'>");

             args.grid._renderCells($totalRow, total);
             args.grid._content.append($totalRow);

          },
          data: param,

          fields: [
            { name: "code", type: "text", width: 80, validate: "required",editing: false },
            { name: "libelle", title: "Libelle rubrique", type: "text", width: 150, validate: "required",editing: false},
            { name: "entitebenef", title: "Entité bénéficiaire", type: "text", width: 150, validate: "required",editing: false},
            { name: "description", title: "Description Opération", type: "text", width: 250, validate: "required"},
            { name: "montant", title: "Montant", type: "customCurrencyField", width: 80, validate: "required",align: "right"},
            { type: "control", editButton: false,
                itemTemplate: function(_, item) {
                  if(item.IsTotal)
                    return "";
                  return jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                }
            }
          ]
      });

 }

// ############################################################################################# //
function valideroperation() {

      var objjcaisse = {
                      num: "JC0001/2018",
                      datedebut: js_yyyy_mm_dd_hh_mm_ss (),
                      detail: []
                  }

              axios({
                    method: "POST",
                    url: "/journauxcaisse/api/jcaisse/add",
                    data: {
                      exerciceid: exerciceid,
                      regieid: regieid,
                      jcaisse: objjcaisse
                    }
                  })
                  .then((msg) => {
                      if (msg.data.result === 'OK'){
                      swal(
                        'Opération réussie',
                         msg.message,
                        'success'
                    )
                          charger_jsGrid(msg.data.journauxdecaisse);

                          $('#dateop_txt').text(js_yyyy_mm_dd_hh_mm_ss ());
                          $(New_jc_modal).modal('hide');
                          // return msg.message;

                        } else {
                            swal(
                                  'Opération échouée',
                                  msg.message,
                                  'error'
                                )
                          }
                  })

}
// ############################################################################################# //
function afficher_modal_new_jc() {
  var message ='';
// Check exercice
  if (document.getElementById("select2-exercices").value === 'vide') {
      message = message + 'Exercice non valide\n';
  }
// Check regie
  if (document.getElementById("select2-regie").value === 'vide') {
      message = message + 'Régie non valide\n';
  }

// Test end Show message
  if (message !== "") {
      sweetAlert("Champs obligatoires...",message, "warning");

  } else {
    $('#exe_txt').text($("#select2-exercices>option:selected").text());
    $('#regie_txt').text($("#select2-regie>option:selected").text());
    $('#dateop_txt').text(js_yyyy_mm_dd_hh_mm_ss ());
    $(New_jc_modal).modal('show');
  }

}
// ############################################################################################# //
function afficher_detail_jc_modal(param) {
  //
  solde = Number($("#lbl_total_solde").text())
  console.log("Solde at modal show : ", solde)
  jcaisseelmid = param._id;
  $('#numjc_txt').text(param.num);
  if(param.detail !== undefined)   detail_jc_data = param.detail;

  // $('#detail_jc').val(JSON.stringify(detail_jc_data));
  $(detail_jc_modal).modal('show');
  charger_jsGrid_detail_jc(detail_jc_data);
}
// ############################################################################################# //

$(document).ready(function(){
    var tab = [];
      charger_jsGrid(tab);
  });
// ############################################################################################# //
// fonction pour appliquer les droits du profile
  $(function() {
    document.getElementById('menu32').classList.add('active');
  });
// ############################################################################################# //
  function changeexercice () {
    $('#lbl_total_credit').text(parseFloat(0).toFixed(2));
    $('#lbl_total_debit').text(parseFloat(0).toFixed(2));
    $('#lbl_total_solde').text(parseFloat(0).toFixed(2));

    exerciceid = document.getElementById("select2-exercices").value;
    $("#select2-regie").empty()
    var option = document.createElement("option");
    option.text = "";
    option.value = 'vide';
     var select = document.getElementById("select2-regie");
     select.appendChild(option);
     if(exerciceid !== "vide"){
      var q = $.ajax({
               type: "GET",
               url: "/regiescaisse/api/get/".concat(exerciceid),
               dataType: "json",
               success: function(data){
                data.forEach(item => {
                  // if((item.regisseur === '<%= user._id %>') || ('<%= user.region.name %>' === "All")){
                    var option = document.createElement("option");
                    option.text = item.libelle;
                    option.value = item._id;
                     var select = document.getElementById("select2-regie");
                     select.appendChild(option);
                  // }

                 })
                 changeregie();
               }

             });
    } else {
       changeregie();
    }

  }
// ############################################################################################# //
// fonction changeeregie
function changeregie() {
  $('#lbl_total_credit').text(parseFloat(0).toFixed(2));
  $('#lbl_total_debit').text(parseFloat(0).toFixed(2));
  $('#lbl_total_solde').text(parseFloat(0).toFixed(2));

  exerciceid = document.getElementById("select2-exercices").value;
  regieid = document.getElementById("select2-regie").value;
  jc_data = [];
  detail_jc_data = [];
  if (exerciceid === "vide" || regieid === "vide"){
    // var empty = [];
    charger_jsGrid(jc_data);
  }else{
    var query = $.ajax({
             type: "GET",
             url: "/journauxcaisse/api/getjc/".concat(exerciceid + '|' + regieid),
             dataType: "json"
           });

     query.success(function(msg){
       jc_data = msg.jc;
      //  detail_jc_data = msg.jc.detail
       charger_rubriques_regie(msg.emploi);
       charger_jsGrid(jc_data);
       $('#lbl_total_credit').text(parseFloat(msg.total_credit).toFixed(2));
       $('#lbl_total_debit').text(parseFloat(msg.total_debit).toFixed(2));
       $('#lbl_total_solde').text(parseFloat((msg.total_credit) - parseFloat(msg.total_debit)).toFixed(2));
       // $("#jsGrid1").jsGrid({"option", "inserting", true});
     })
  }

}
// ############################################################################################# //
function charger_rubriques_regie(param) {
  $('#rubriques').find('option').remove();
  var options = $("#rubriques");
  $.each(param, function() {
    options.append($("<option />").val(this._id).text( this.code + ' | ' + this.libelle ));
  });
}

// ############################################################################################# //
// fonction reinitial gsgrid
function charger_jsGrid(param) {
console.log("param 8",param);
  InitGridCustomFields();
  $("#jsGrid1").jsGrid({
   //  height: "70%",
    width: "100%",
    filtering: true,
    editing: false,
    sorting: true,
    paging: true,
    autoload: true,
    inserting: false,
    pageSize: 10,
    pageButtonCount: 5,
    pageIndex: 1,
    noDataContent: "Liste vide",

   confirmDeleting: false,

           controller: {
           loadData: function(filter) {

               return $.grep(param, function(obj) {
                   return (!filter.num || obj.num.indexOf(filter.num) > -1)
                   && (!filter.datedebut || obj.datedebut.indexOf(filter.datedebut) > -1)
                   && (!filter.datepostval || obj.datepostval.indexOf(filter.datepostval) > -1);
                  //  && (!filter.montant || obj.montant.indexOf(filter.montant) > -1);
               });
           } ,
            deleteItem: function(item) {
              if(item.detail.length > 0) {

                swal(
                      'Opération échouée',
                      'Vous ne pouvez pas supprimer un journal de caisse non vide.',
                      'error'
                    )
changeregie();
              } else {
                swal({
                    title: "Confirmation!",
                    text: "Voulez-vous vraimenet supprimer cet élement?",
                    showCancelButton: true,
                    confirmButtonColor: '#FE642E',
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function(isConfirm) {
                    if (isConfirm) {
                                   var t =  $.ajax({
                                      method: "POST",
                                      url: "/journauxcaisse/api/jcaisse/remove",
                                      data: {exerciceid: exerciceid ,
                                            regieid: regieid,
                                            jcaisseelmid: item._id  }
                                    });
                                    t.success(function(msg){
                                      if (msg.result === 'OK'){
                                      swal(
                                            'Opération réussie',
                                            msg.message,
                                            'success'
                                          );
                                        } else {
                                            swal(
                                                  'Opération échouée',
                                                  msg.message,
                                                  'error'
                                                )
                                          }
                                      return msg;
                                    })

                    } else {
                                  // run();
                                  $("#jsGrid1").jsGrid("loadData");
                                  $("#jsGrid1").jsGrid("sort", "num", "desc");
                                  swal("Annulation", "Opération annulée.", "error");
                    }
                });
              }

            }

           },
           onRefreshed: function(args) {

                  var items = args.grid.option("data");
                  var total = { "num": "TOTAL: ", "totaldepense": '0', IsTotal: true };

                   total.totaldepense = 0;
                   items.forEach(function (item) {
                       if (item.totaldepense != null ) {
                           total.totaldepense += parseFloat(item.totaldepense);
                       }
                   });
                   total.totaldepense = total.totaldepense.toFixed(2);

                  var $totalRow = $("<tr style='background: #f5f5f5;font-weight: bold;'>");

                  args.grid._renderCells($totalRow, total);
                  args.grid._content.append($totalRow);

            },


     data: param,
        fields: [
                    {
                      itemTemplate: function(_, item) {
                        if(item.num !== "TOTAL: "){
                          if(!item.flagpostval){
                            return $("<h4> <i class='ft-check-circle warning'></i></i></h4>")
                          }else{
                            return item.flagval ? $("<h3><i class='ft-check-circle success'></i></h3>") : $("<h4><i class='fa fa-pencil-square-o warning'></i></h4>")
                          }
                        }

                      },name: "etat", width: 18, align: "center", title: "Etat", css:  "secondary"
                     },
                    { name: "num", title: "N° Journal", type: "text", width: 50, inserting: false, validate: "required" },
                    { name: "datedebut", title: "Date début", type: "text", width: 50, validate: "required",itemTemplate: function (_, item) {
                      if(item.datedebut !== undefined){
                        var from = item.datedebut.substring(0,10).split("-");
                        return from[2] + "/" + from[1] + "/" + from[0]
                      };

                   } },
                    // { name: "datedebut", title: "Date début", type: "text", width: 50, validate: "required" },
                    { name: "datepostval", title: "Date fin", type: "text", width: 50, validate: "required" },
                    { name: "dateval", title: "Date traitement", type: "text", width: 50, validate: "required" },
                    { name: "totaldepense", title: "Total dépense", type: "text", width: 50, validate: "required",align: "right",
                      itemTemplate: function(_,item) {

                          return $("<span>").attr("class", "danger")
                                 .attr("style", "customfamilyfont")
                                //  .text(item.totaldepense);
                                 .text(parseFloat(item.totaldepense).toFixed(2));

                      }
                     },
                    {
                    itemTemplate: function(_, item) {
                      if(item.num !== "TOTAL: "){
                        return $("<button class='btn btn-outline-secondary btn-sm'><i class='fa fa-list-ul'></i></button>").on("click", function() {
                              afficher_detail_jc_modal(item);
                          });}
                    }, width: 45, align: "center", title: "Détail"
                  },
                  { type: "control", editButton: false, width: 30,
                      itemTemplate: function(_, item) {
                        if(item.IsTotal)
                          return "";
                        return jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                      }
                  }
                ]
    });
$("#jsGrid1").jsGrid("sort", "num", "desc");
}



// currency field
function InitGridCustomFields() {

  var optionsCurrency = {
    digitGroupSeparator: ' ',
    decimalCharacter: '.',
    decimalCharacterAlternative: ',',
    currencySymbol: '',
    currencySymbolPlacement: 's',
    decimalPlacesOverride: 2,
    // minimumValue: '0.00',
    emptyInputBehavior: 'zero',
    leadingZero: 'deny',
    defaultValueOverride: '0.00'
  };

  var jsGridCustomCurrencyField = function (config) {
    jsGrid.Field.call(this, config);
  };

  jsGridCustomCurrencyField.prototype = new jsGrid.Field({
    sorter: function (num1, num2) {
      return num1 - num2;
    },
    itemTemplate: function (value) {
      return $.fn.autoFormat(value, optionsCurrency);
    },
    insertTemplate: function (value) {
      this._insertPicker = $('<input type="text">').val(value);
      this._insertPicker.autoNumeric('init', optionsCurrency);
      return this._insertPicker;
    },
    editTemplate: function (value) {
      this._editPicker = $('<input type="text">').val(value);
      this._editPicker.autoNumeric('init', optionsCurrency);
      return this._editPicker;
    },
    filterTemplate: function () {
      if (!this.filtering)
        return '';

      var grid = this._grid,
        $result = $('<input type="text">').val(0);
      if (this.autosearch) {
        $result.on('change', function (e) {
          grid.search();
        });
      }

      return $result;
    },
    filterValue: function () {
      return this._insertPicker.val();
    },
    insertValue: function () {
      return this._insertPicker.autoNumeric('get');
    },
    editValue: function () {
      return this._editPicker.autoNumeric('get');
    }
  });

  jsGrid.fields.customCurrencyField = jsGridCustomCurrencyField;

};

// ################################################################################################ //
  $('#rubriques').on('select2:select',function(){
    $("#entitebenef").focus();
  });
  // ################################################################################################ //
  $('#entitebenef').on('select2:select',function(){
    $("#description").focus();
  });
  // ################################################################################################ //
  $('#description').keypress(function(e) {
      if(e.which == 13) {
        $("#montant").focus();
      }
  });
// ############################################################################################# //
$('#montant').keypress(function(e) {
    if(e.which == 13) {
      document.getElementById('addline').click();
    }
});
// ############################################################################################# //
function js_yyyy_mm_dd_hh_mm_ss () {
  now = new Date();
  year = "" + now.getFullYear();
  month = "" + (now.getMonth() + 1); if (month.length == 1) { month = "0" + month; }
  day = "" + now.getDate(); if (day.length == 1) { day = "0" + day; }
  hour = "" + now.getHours(); if (hour.length == 1) { hour = "0" + hour; }
  minute = "" + now.getMinutes(); if (minute.length == 1) { minute = "0" + minute; }
  second = "" + now.getSeconds(); if (second.length == 1) { second = "0" + second; }
  return year + "/" + month + "/" + day + "  " + hour + ":" + minute + ":" + second;
}
// ############################################################################################# //
</script>
