<% include header.ejs %>
<!-- =============================================== -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Libs Test
      <small>test modules</small>
    </h1>
    <ol class="breadcrumb">
      <li class="active"><a href="/index"><i class="fa fa-dashboard"></i> Home</a></li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Acceuil</h3>


      </div>
      <div class="box-body">
        <!-- Start creating your amazing application! -->

      <h1><%- tera %></h1>
      <p>
        <%= clients %>
      </p>

      </div>
      <div id="jsGrid"></div>
      <button id="refresh">Refresh</button>
      <hr>
      <textarea id="data" name="name" rows="8" cols="80">

      </textarea>
      <!-- /.box-body -->
      <div class="box-footer">
        Footer
      </div>
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->
    <button type="button" class="btn btn-outline-primary block btn-lg" data-toggle="modal" data-keyboard="false" data-target="#entitemodal">
      Launch Modal
    </button>

  </section>
  <!-- /.content -->

  <div class="modal fade text-xs-left" id="entitemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel3">Basic Modal</h4>
      </div>
      <div class="modal-body">
      <label>code: </label>
      <div class="form-group">
        <input type="text" id="code" placeholder="code" class="form-control">
      </div>

      <label>libelle: </label>
      <div class="form-group">
        <input type="text" id="libelle" placeholder="Libelle" class="form-control">
      </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Fermer</button>
      <button id="saveentite" type="button" class="btn btn-outline-primary">Enregister</button>
      </div>
    </div>
    </div>
  </div>

</div>
<!-- /.content-wrapper -->


<% include footer.ejs %>




    <script>

    $("#saveentite").click(function(){
        axios.post('/entites/api/add', {
          code: $("#code").val(),
          libelle: $("#libelle").val()
        })
        .then(() => {
          $("#code").val('')
          $("#libelle").val('')
          $("#entitemodal").modal('hide')
        })
    })

    $(function() {
        var isdeletingItem = false;

        //create the decimal field
        InitGridCustomFields();
        InitGriddateCustomField();

        //create the grid controller
        var db = {
            loadData: function(filter) {
              return $.grep(this.clients, function(client) {
                return (!filter.Name || client.Name.indexOf(filter.Name) > -1)
                  && (filter.Age === undefined || client.Age === filter.Age)
                  && (filter.Married === undefined || client.Married === filter.Married);
              });
            },
            insertItem: function(insertingClient) {
              this.clients.push(insertingClient);
            },
            updateItem: function(updatingClient) { },
            deleteItem: function(deletingClient) {
              var clientIndex = $.inArray(deletingClient, this.clients);
              this.clients.splice(clientIndex, 1);
            }
        };



        var refresh = document.getElementById("refresh");

        refresh.addEventListener("click", () => {
          console.log("OKOKO")
          // $("#jsGrid").jsGrid("refresh");


          $("#jsGrid").jsGrid("render").done(function() {
              console.log("rendering completed and data loaded");
              var data = document.getElementById("data")
              data.value = db.clients
          });

        });

        //create the grid data
        db.clients = [
          {
            "Name": "Otto Clay",
            "Salary": 851.53,
            "Married": false,
            "date": ""
          },
          {
            "Name": "Connor Johnston",
            "Salary": 852.53,
            "Married": false,
            "date": ""
          },
          {
            "Name": "Lacey Hess",
            "Salary": 853.53,
            "Married": false,
            "date": ""
          },
          {
            "Name": "Timothy Henson",
            "Salary": 854.53,
            "Married": false,
            "date": ""
          },
          {
            "Name": "Ramona Benton",
            "Salary": 855.53,
            "Married": true,
            "date": ""
          }];

        $('#jsGrid').jsGrid({
          height: '350px',
          width: '100%',
          filtering: true,
          inserting: true,
          editing: true,
          sorting: true,
          paging: true,
          autoload: true,
          autosearch: true,
          pageSize: 10,
          pageButtonCount: 5,
          confirmDeleting: false,
          noDataContent: 'Sem dados',
          pagerFormat: 'Páginas: {first} {prev} {pages} {next} {last} &nbsp;&nbsp; {pageIndex} de {pageCount}',
          pageNextText: 'Próxima',
          pagePrevText: 'Anterior',
          pageFirstText: 'Primeira',
          pageLastText: 'Última',
          loadMessage: 'A carregar dados...',

          onItemDeleting: function(args) {
              // cancel deletion
              if (isdeletingItem === false) {
                  args.cancel = true;
                  isdeletingItem = true;

                  swal({
                      title: 'Are you sure?',
                      text: 'You will not be able to recover this imaginary file!',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#DD6B55',
                      confirmButtonText: 'Yes, delete it!',
                      cancelButtonText: 'No, cancel plx!',
                      closeOnConfirm: false,
                      closeOnCancel: false
                  },
                  function (isConfirm) {
                      if (isConfirm) {
                          $("#jsGrid").jsGrid("deleteItem", args.item);
                          $("#jsGrid").jsGrid("refresh");
                          swal("Deleted!", "The row has been deleted.", "success");
                      } else {
                          swal("Cancelled", "Your data is safe :)", "error");
                      }
                      isdeletingItem = false;
                  });
              }
          },

          controller: db,
          data: db.clients,
          fields: [
            { name: "Name", type: "text", width: 150 },
            { name: "Salary", type: "customCurrencyField", width: 80 },
            { name: "Married", type: "checkbox", title: "Is Married", sorting: false },
            { name: "date", type: "date", title: "date", sorting: false },
            { type: "control" }
          ]
          });

      });

  function InitGridCustomFields () {
    var optionsCurrency = {
      digitGroupSeparator: '.',
  	  decimalCharacter: ',',
  	  decimalCharacterAlternative: ',',
  	  currencySymbol: ' DHS',
  	  currencySymbolPlacement: 's',
  	  decimalPlacesOverride: 2,
  	  minimumValue: '0.00',
  	  emptyInputBehavior: 'zero',
  	  leadingZero: 'deny',
  	  defaultValueOverride: '0.00'
    };

    var jsGridCustomCurrencyField = function (config) {
  		jsGrid.Field.call(this, config);
  	};

  	jsGridCustomCurrencyField.prototype = new jsGrid.Field({
  		sorter: function (num1, num2) {
  			return num1 - num2;
  		},
  		itemTemplate: function (value) {
  			return $.fn.autoFormat(value, optionsCurrency);
  		},
  		insertTemplate: function (value) {
        this._insertPicker = $('<input type="text">').val(value);
  			this._insertPicker.autoNumeric('init', optionsCurrency);
        return this._insertPicker;
  		},
  		editTemplate: function (value) {
  			this._editPicker = $('<input type="text">').val(value);
        this._editPicker.autoNumeric('init', optionsCurrency);
  			return this._editPicker;
  		},
  		filterTemplate: function () {
  			if (!this.filtering)
  				return '';

  			var grid = this._grid,
  				$result = $('<input type="text">').val(0);
  			if (this.autosearch) {
  				$result.on('change', function (e) {
  					grid.search();
  				});
  			}

  			return $result;
  		},
  		filterValue: function () {
        console.log(this._insertPicker.val());
  			return this._insertPicker.val();
  		},
  		insertValue: function () {
  			return this._insertPicker.autoNumeric('get');
  		},
  		editValue: function () {
  			return this._editPicker.autoNumeric('get');
  		}
  	});

  	jsGrid.fields.customCurrencyField = jsGridCustomCurrencyField;
  };


  function InitGriddateCustomField () {

    var MyDateField = function(config) {
    jsGrid.Field.call(this, config);
    };

    MyDateField.prototype = new jsGrid.Field({

        css: "date-field",            // redefine general property 'css'
        align: "center",              // redefine general property 'align'

        // myCustomProperty: "foo",      // custom property

        sorter: function(date1, date2) {
            return new Date(date1) - new Date(date2);
        },

        itemTemplate: function(value) {
            return new Date(value).toDateString();
        },

        insertTemplate: function(value) {
            return this._insertPicker = $("<input>").datepicker({ defaultDate: new Date() });
        },

        editTemplate: function(value) {
            return this._editPicker = $("<input>").datepicker().datepicker("setDate", new Date(value));
        },

        insertValue: function() {
            return this._insertPicker.datepicker("getDate").toISOString();
        },

        editValue: function() {
            return this._editPicker.datepicker("getDate").toISOString();
        }
    });

    jsGrid.fields.date = MyDateField;

  };
    </script>
