<% include header.ejs %>
<!-- =============================================== -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Libs Test
      <small>test modules</small>
    </h1>
    <ol class="breadcrumb">
      <li class="active"><a href="/index"><i class="fa fa-dashboard"></i> Home</a></li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Acceuil</h3>


      </div>
      <div class="box-body">
        <% if (message) { %>
        <div class="alert alert-danger alert-dismissible fade in mb-2" role="alert">
        	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        		<span aria-hidden="true">&times;</span>
        	</button>
        	<strong>Oh snap!</strong> <%= message %>
        </div>
        <!-- Start creating your amazing application! -->

        <p></p>
        <% } %>
      <p>
        <%= JSON.stringify(permissions) %>
        <%= JSON.stringify(entites) %>
      </p>

      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        Footer
      </div>
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<% include footer.ejs %>
