<!-- navbar-fixed-top-->
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-light bg-gradient-x-grey-blue">
      <div class="navbar-wrapper">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li class="nav-item mobile-menu hidden-md-up float-xs-left"><a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="ft-menu font-large-1"></i></a></li>
<!-- Logo Application  -->
            <li class="nav-item"><a href="/index" class="navbar-brand">
              <!-- <img alt="stack admin logo" src="../app-assets/images/logo/gb-inrh-logo-2.png" class="brand-logo"> -->
              <img alt="stack admin logo" src="../app-assets/images/logo/stack-logo1.png" class="brand-logo">
                 <h2 class="brand-text">GB - INRH</h2>
              </a>
            </li>
            <li class="nav-item hidden-md-up float-xs-right"><a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container"><i class="fa fa-ellipsis-v"></i></a></li>
          </ul>
        </div>
        <div class="navbar-container content container-fluid">
          <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
            <ul class="nav navbar-nav">
              <li class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="ft-menu"></i></a></li>

              <li class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-link-expand"><i class="ficon ft-maximize"></i></a></li>
              <li class="nav-item nav-search"><a href="#" class="nav-link nav-link-search"><i class="ficon ft-search"></i></a>
                <div class="search-input">
                  <input type="text" placeholder="Explore Stack..." class="input">
                </div>
              </li>
            </ul>
            <ul class="nav navbar-nav float-xs-right">
              <li class="dropdown dropdown-user nav-item">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                  <span class="avatar avatar-online">
                    <img src="../../../app-assets/images/user-img.png" alt="avatar"><i></i>
                  </span><span class="user-name"><%= user.username %></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="#" class="dropdown-item"><i class="ft-user"></i>Mon Profile</a>
                  <a href="#" class="dropdown-item"><i class="ft-user"></i>Région : <%= user.region.name %></a>
                  <div class="dropdown-divider"></div><a href="/signout" class="dropdown-item"><i class="ft-power"></i> Quitter</a>
                </div>
                <!-- <div class="dropdown-menu dropdown-menu-right">
                  <a href="#" class="dropdown-item"><i class="ft-user"></i>Ma region : <%= user.region.name %></a>
                  <div class="dropdown-divider"></div><a href="/signout" class="dropdown-item"><i class="ft-power"></i> Quitter</a>
                </div> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- ////////////////////////////////////////////////////////////////////////////-->
