<% include header.ejs %>
<!-- The Good One -->
<!-- BREADCRUMBS -->
    <div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">
           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item"><a href="/liquidations">Liste des ordres de paiement</a>
                 </li>
                 <li class="breadcrumb-item active">Modification ordre de paiement
                 </li>
               </ol>
             </div>
           </div>
         </div>
    </div>
<!-- END BREADCRUMBS -->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- Card Header -->
      <div class="card-header">
        <h4 class="card-title" id="horz-layout-basic">Modification ordre de paiement</h4>
      </div>
      <!-- End card header -->
      <!-- Card Body -->
      <div class="card-body collapse in">
        <div class="card-block">
          <!-- Begin Form -->
          <form name="myform" id="myform"  class="form form-horizontal form-bordered">
             <div class="form-body">

               <!-- Row1 in the form -->
                <div class="row" align="right">
                  <div class="form-actions col-xs-12" >
                      <button type="button" class="btn btn-warning mr-1" id="onCancel">
                        <i class="ft-x"></i> Annuler
                      </button>
                      <button type="button" class="btn btn-primary" name="save" id="save">Enregistrer</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </div>

                <!-- Row2 in the form -->
                <div class="row">

                  <div class="col-xs-4">
                    <div class="form-group">
    							        <label for="exercice">Exercice :</label>
            							<select name="exercice" class="select2-theme form-control" id="exercice" required onchange="exerciceChanged()" style="width:100%" disabled>
                            <option value='<%= exercices._id %>' selected><%= exercices.libelle %></option>
                            <!-- <% for(i=0; i< exercices.length; i++){%>
                              <option value="<%= exercices[i]._id %>"><%= exercices[i].libelle %></option>
                            <%}%> -->
            							</select>
        						</div>
                  </div>

                  <div class="col-xs-8">
                    <div class="form-group">
                          <label for="engagement">Engagement :</label>
                          <select name="engagement" class="select2-theme form-control " id="engagement" required  onchange="engagementChanged()" style="width:100%" disabled>
                            <option value='<%= engagement._id %>' selected><%= engagement.numeng %> | <%= engagement.beneficiaire %></option>
                          </select>
                    </div>
                  </div>

                </div>

                <hr>
                <!-- Row3 in the form -->
                <div class="row">
                      <div class="col-md-12">
                            <div class="table-responsive">
                              <table id="recent-orders" class="table table-hover mb-0 ps-container ps-theme-default">
                                  <thead>
                                      <tr bgcolor="#f5f5f5" color="#4B515D">
                                          <th>Date ENG.</th>
                                          <th>Nature</th>
                                          <th>BC N</th>
                                          <th>Date BC</th>
                                          <th>Marché N</th>
                                          <th>Divers</th>
                                          <th>Montant ENG.</th>
                                          <th>Reliquat ENG.</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr bgcolor="#fafafa">
                                          <td class="text-truncate"><label id="dateeng_lbl"></label></td>
                                          <td class="text-truncate"><label id="nature_lbl"></label></td>
                                          <td class="text-truncate"><label id="numbc_lbl"></label></td>
                                          <td class="text-truncate"><label id="datebc_lbl"></label></td>
                                          <td class="text-truncate"><label id="nummarche_lbl"></label></td>
                                          <td class="text-truncate"><label id="divers_lbl"></label></td>
                                          <td class="text-truncate" align="right"><label id="montantengage_lbl"></label></td>
                                          <td class="text-truncate" align="right"><label id="reliquat_lbl"></label></td>
                                      </tr>

                                  </tbody>
                              </table>
                           </div>
                      </div>

                </div>

                <!-- Row4 in the form -->
                <hr>
                <div class="row">

                  <div class="col-lg-3 col-md-3 col-sm-6">
                          <label for="dateeng">Date OP :</label>
                          <div class="input-group">
                            <span class="input-group-addon">
                              <span class="fa fa-calendar-o"></span>
                            </span>
                            <input type="date" class="form-control" id="dateop" name="dateop"  required value="<%= op.dateop %>">
                          </div>
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-6">
                    <label for="dateeng">Montant OP:</label>
                    <div class="form-group">
                        <input type="text" class="form-control decimal-inputmask" id="montantop" placeholder="0,00" maxlength="14" style="font-size:18px;" value="<%= op.montantop %>">
                    </div>
                  </div>
                  <div class="col-md-1">
                    <label for="dateeng">Retenu:</label>
                    <fieldset>
                      <!-- class="switchery" -->
                         <input type="checkbox" id="retenuFlag"  name="retenuFlag"  <%= op.retenuflag? "checked" : "" %> />
                         <!-- <label for="switchery" class="font-medium-2 text-bold-600 ml-1"></label> -->
                    </fieldset>
                  </div>

                  <div class="col-md-5">
                      <div class="form-group">
                          <label for="beneficiaire">Bénéficiaire OP:</label>
                          <select class="select2-theme form-control " required id="beneficiaireop" name="beneficiaireop" placeholder="Sélectionner un bénéficiaire">
                            <option value=' ' selected></option>
                             <optgroup label="Externe">
                                  <%
                                  for(i=0; i< beneficiairesext.length; i++){%>
                                    <option  value="<%= beneficiairesext[i]._id %>"><%= beneficiairesext[i].nom %></option>
                                  <%}%>
                              </optgroup>
                              <optgroup label="Interne">
                                   <%
                                   for(i=0; i< beneficiairesint.length; i++){%>
                                     <option  value="<%= beneficiairesint[i]._id %>"><%= beneficiairesint[i].nom %></option>
                                   <%}%>
                               </optgroup>
                            </select>
                            <!-- <button type="button" id="refreshcombo" class="btn btn-icon btn-primary mr-1 "><i class="fa fa-refresh"></i></button> -->
                      </div>

                  </div>

                </div>

                <!-- Row5 in the form -->
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="objet">Objet OP:</label>
                            <input type="text" class="form-control" id="objet" name="objet" class="form-control pickadate-translations has-danger" placeholder="Saisir l'objet" value="<%= op.objetop %>">
                        </div>
                    </div>

                </div>

                <!-- Row6 in the form -->

                <br>

                <!-- Row5 in the form -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                  <td bgcolor="#EFF8FB"><h4 class="media-heading mb-0 secondary">Justificatifs :</h4></td>

                                </tr>

                            </tbody>
                        </table>
                        <div id="jsGrid_JUSTIF"></div>
                    </div>

                  </div>



                  <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                  <td bgcolor="#EFF8FB"><h4 class="media-heading mb-0 secondary">Contrôle Budgétaire :</h4></td>

                                </tr>

                            </tbody>
                        </table>
                        <div id="jsGrid_CB"></div>
                    </div>

                  </div>
                </div>


                <!-- Row7 in the form -->
                <div class="row ">
                  <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                  <td colspan=5 bgcolor="#EFF8FB"><h4 class="media-heading mb-0 secondary">Paiements :</h4></td>
                                </tr>
                                <tr bgcolor="#FAFAFA">
                                  <td style="width:30%;">
                                    <div class="form-group">
                                          <label for="comptecompta_lbl">Compte comptable : </label>
                                          <select name="comptecompta" class="select2-theme form-control" id="comptecompta" required style="width:100%">
                                            <option value=' ' selected>Sélectionner un compte</option>
                                            <% for(i=0; i< comptescomptas.length; i++){%>
                                              <option value="<%= comptescomptas[i]._id %>"><%= comptescomptas[i].code %> - <%= comptescomptas[i].libelle %></option>
                                            <%}%>
                                          </select>
                                    </div>
                                  </td>

                                  <td style="width:30%;">
                                    <div class="form-group">
                                      <label for="exercice">Description :</label>
                                        <input type="text" class="form-control" id="description" placeholder="Description" maxlength="50">
                                    </div>
                                  </td>


                                    <td>
                                      <div class="form-group">
                                            <label for="exercice">Sens :</label>
                                            <select name="type" class="select2-theme form-control" id="sens" required  style="width:100%;">
                                              <option value=' ' selected>--Sélect--</option>
                                                <option value="-">Débit</option>
                                                <option value="+">Crédit</option>

                                            </select>
                                      </div>
                                    </td>
                                   <td>
                                     <div class="form-group">
                                       <label for="exercice">Montant :</label>
                                         <input type="text" class="form-control decimal-inputmask" id="montantpaiement" placeholder="0,00" maxlength="14">
                                     </div>
                                   </td>
                                   <td>
                                       <p for="date4">Action :</p>
                                       <button type="button" id="addline" class="btn btn-icon btn-primary mr-1"><i class="fa fa-check"></i></button>
                                   </td>
                                </tr>

                            </tbody>
                        </table>
                        <div id="jsGrid_Paiement"></div>
                    </div>

                  </div>
                </div>
                <br>
                <!-- Row8 in the form -->
                <div class="row">
                  <div class="col-md-10">
                    <div class="form-group">
        							<label for="exercice">Banque :</label>
        							<select name="exercice" class="select2-full-bg form-control" id="comptebancaire" required  style="width:100%">
                        <option value=' ' selected>Sélectionner un compte bancaire</option>
                        <% for(i=0; i< comptesbancaires.length; i++){%>
                          <option value="<%= comptesbancaires[i]._id %>"><%= comptesbancaires[i].code %> | <%= comptesbancaires[i].banque %> | <%= comptesbancaires[i].comptebancaire %></option>
                        <%}%>
        							</select>
        						</div>
                  </div>
                  <div class="col-md-2">
                    <label for="dateeng">TOTAL Crédit:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="montantcredit" placeholder="0,00" style="text-align: right;" readonly="readonly" value="<%= op.montantop %>">
                    </div>
                  </div>
                </div>

                <!-- Row9 in the form -->
                 <div class="row" align="right">
                   <div class="form-actions col-xs-12" >
                     <button type="button" class="btn btn-warning mr-1" id="onCancelbis">
                       <i class="ft-x"></i> Annuler
                     </button>
                      <input id="savebis" type="button" name="_method" class="btn btn-primary"  value="Enregistrer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   </div>
                 </div>
            </div>
            <!-- End form-body -->
          </form>
          <!-- End Form -->
        </div>
      </div>
      <!-- End card body -->
    </div>
  </div>

</div>


<% include footer.ejs %>
<script type="text/javascript">
var elm;
$(document).ready(function () {

  $('#beneficiaireop').select2({disabled: true});

    axios.get('/retenus/api/get')
      .then( result => {
        // console.log(result.data);
        retscodes = result.data
        load_jsGrid_CB();
      })
      .catch(e => {
        console.log('Error: ', e)
      })

  $('#totalcredit_txt').text("0,00");

  var retenuSwitch = document.querySelector('#retenuFlag')

  elm = new Switchery(retenuSwitch)

  // elm.checked = false

  // elm.disable();


  retenuSwitch.addEventListener('change', () => {
    retenuFlag = !retenuFlag
    elm.checked = retenuFlag



    $('#beneficiaireop').val(engage.beneficiaireid).trigger('change');
    $('#beneficiaireop').select2({disabled: !retenuFlag});



    jsgrid_data = [];
    load_jsGrid_CB();

})

});
</script>
<script>
var op = <%- JSON.stringify(op) %>
var engage = <%- JSON.stringify(engagement) %>
var exercice = <%- JSON.stringify(exercices) %>

// console.log(op.justifs);
// console.log(op.imputationbudget);
// console.log(op.paiement);
// console.log(engage);
 var jsgrid_data = op.imputationbudget;
 var justifs = op.justifs;
 var paiement = op.paiement;
 var exerciceid = exercice._id;
 var engageid = engage._id;
 var opid = op._id;
 var rubscodes = [];
 var retscodes = [];
 var rub = [];

 var engagetmp = [];
 var retenuFlag = op.retenuflag;

 // ################################################################################################ //
 $('#dateeng').val('');
 $('#objet').val('');
 $('#beneficiaireop').val(op.beneficiaireopid).trigger('change');
 $('#comptebancaire').val(op.comptebancaireid).trigger('change');
 // jsgrid_data = [];

 engageid = engage._id
 // document.getElementById("engagement").value;
 if (engageid !== ' '){
    // var rub = [];
     var td = 0;
     // rub = engagetmp.filter((item) => item._id.trim() == engageid);
     var opvalid = engage.op.filter(item => item.annuler === false)

     // td = Number(rub[0].montanttotal) - Number(opvalid.reduce(function (acc, obj) { return acc + obj.montantop; }, 0));
     td = Number(engage.montanttotal) - Number(opvalid.reduce(function (acc, obj) { return acc + obj.montantop; }, 0))  ;

     $('#objet').val(engage.objet);
     $('#beneficiaire').val(engage.beneficiaireid).trigger('change');
     $('#dateeng_lbl').text(engage.dateeng);
     $('#nature_lbl').text(engage.nature);
     $('#numbc_lbl').text(engage.numbc);
     $('#datebc_lbl').text(engage.datebc);
     $('#divers_lbl').val(engage.divers);
     $('#nummarche_lbl').text(engage.nummarche);
     $('#montantengage_lbl').text(engage.montanttotal.toFixed(2));
     $('#reliquat_lbl').text(td.toFixed(2));

     rubscodes = [];
     rubscodes.push({libelle: ''})
     engage.rubriques.forEach(function(item){
       if (!containsObject(item.code.trim(), rubscodes)){
         rubscodes.push({libelle: item.code.trim()});
       }
     });

     load_jsGrid_CB();

 }
 // ################################################################################################ //
 // currency field
 function InitGridCustomFields() {

   var optionsCurrency = {
     digitGroupSeparator: ' ',
     decimalCharacter: '.',
     decimalCharacterAlternative: ',',
     currencySymbol: '',
     currencySymbolPlacement: 's',
     decimalPlacesOverride: 2,
     minimumValue: '0.00',
     emptyInputBehavior: 'zero',
     leadingZero: 'deny',
     defaultValueOverride: '0.00'
   };

   var jsGridCustomCurrencyField = function (config) {
     jsGrid.Field.call(this, config);
   };

   jsGridCustomCurrencyField.prototype = new jsGrid.Field({
     sorter: function (num1, num2) {
       return num1 - num2;
     },
     itemTemplate: function (value) {
       return $.fn.autoFormat(value, optionsCurrency);
     },
     insertTemplate: function (value) {
       this._insertPicker = $('<input type="text">').val(value);
       this._insertPicker.autoNumeric('init', optionsCurrency);
       return this._insertPicker;
     },
     editTemplate: function (value) {
       this._editPicker = $('<input type="text">').val(value);
       this._editPicker.autoNumeric('init', optionsCurrency);
       return this._editPicker;
     },
     filterTemplate: function () {
       if (!this.filtering)
         return '';

       var grid = this._grid,
         $result = $('<input type="text">').val(0);
       if (this.autosearch) {
         $result.on('change', function (e) {
           grid.search();
         });
       }

       return $result;
     },
     filterValue: function () {
       console.log(this._insertPicker.val());
       return this._insertPicker.val();
     },
     insertValue: function () {
       return this._insertPicker.autoNumeric('get');
     },
     editValue: function () {
       return this._editPicker.autoNumeric('get');
     }
   });

   jsGrid.fields.customCurrencyField = jsGridCustomCurrencyField;

 };
// Date custom field
 function InitGriddateCustomField () {

   var MyDateField = function(config) {
   jsGrid.Field.call(this, config);
   };

   MyDateField.prototype = new jsGrid.Field({

       css: "date-field",            // redefine general property 'css'
       align: "center",              // redefine general property 'align'

       // myCustomProperty: "foo",      // custom property

       sorter: function(date1, date2) {
           return new Date(date1) - new Date(date2);
       },

       itemTemplate: function(value) {
           return new Date(value).toDateString();
       },

       insertTemplate: function(value) {
           return this._insertPicker = $("<input>").datepicker({ defaultDate: new Date() });
       },

       editTemplate: function(value) {
           return this._editPicker = $("<input>").datepicker().datepicker("setDate", new Date(value));
       },

       insertValue: function() {
           return this._insertPicker.datepicker("getDate").toISOString();
       },

       editValue: function() {
           return this._editPicker.datepicker("getDate").toISOString();
       }
   });

   jsGrid.fields.date = MyDateField;

 };
// ########################################################################################
  $(function() {
    document.getElementById('menu15').classList.add('active');
    $('#onCancel').on('click', function(){
      window.location.href = '/ops';
    })
    $('#onCancelbis').on('click', function(){
      window.location.href = '/ops';
    })
  });
// ########################################################################################
  function validateForm() {

      var message ='';
  // Check exercice
      if (document.getElementById("exercice").value.trim() == "") {
          message = message + 'Exercice non valide\n';
      }
  // Check engagement
      if (document.getElementById("engagement").value.trim() == "") {
          message = message + 'Engagement non valide\n';
      }
  // Check date op
      if (document.getElementById("dateop").value.trim() == "") {
          message = message + 'Date de traitement OP non valide\n';
      }
  // Check montant op
      if (document.getElementById("montantop").value.trim() == "") {
          message = message + 'Montant OP non valide\n';
      }
      // if (document.getElementById("montantop").value >= document.getElementById("montantnonpay").value ) {
      //     message = message + 'Montant OP dépassant le relequat de l\'engagement \n';
      // }
  // Check objet
      if (document.getElementById("objet").value.trim() == "") {
          message = message + 'Objet non valide\n';
      }
  // Check beneficiaire
      if (document.getElementById("beneficiaireop").value.trim() == "") {
          message = message + 'Bénéficiaire non valide\n';
      }
  // Check compte bancaire
      if (document.getElementById("comptebancaire").value.trim() == "") {
          message = message + 'Compte bancaire non valide\n';
      }
  // Check compte imputation budget

      if (jsgrid_data.length === 0) {
          message = message + 'La liste des imputations budgétaires est vide\n';
      }
  // Check compte justificatifs
      if (justifs.length === 0 ) {
          message = message + 'La liste des justificatifs est vide\n';
      }
  // Check compte justificatifs
      if (paiement.length === 0) {
          message = message + 'La liste des comptes comptables est vide\n';
      }
  // Check total des imputations = montant credit
      var tc = Number($('#montantcredit').val());
      var timputations = Number(jsgrid_data.reduce(function (acc, obj) { return acc + Number(obj.montant); }, 0));
      console.log("tc",tc,"timputations",timputations,"somme",tc + timputations);
      if (tc !== timputations) {
          message = message + 'Le total des imputations est différent du montant OP \n';
      }

  // Check equilibre des credit avec les debits
      var tc = Number($('#montantcredit').val());
      var td = Number(paiement.reduce(function (acc, obj) { return acc + obj.montantpaiement; }, 0));
      if ((tc + td) !==0) {
          message = message + 'Le total débit est différent du total crédit \n';
      }
      // Check depassement reliquat
          var tc = Number($('#montantcredit').val());
          var reliquat = Number($('#reliquat_lbl').text());
          // console.log("tc",tc,"reliquat",reliquat, "op.montantop ",op.montantop  );
          if (tc > reliquat + Number(op.montantop)) {
              message = message + 'Le montant OP dépasse le reliquat de l\'engagement sélectionné. \n';
          }
  // alert(JSON.stringify(objet_op))
  // Test end Show message
      if (message !== "") {
          sweetAlert("Champs obligatoires...",message, "warning");
          return false;
      }else {

      //   var query = $.ajax({
      //            type: "POST",
      //            url: "/opform/add/",
      //            dataType: "json",
      //            data: {
      //              exerciceid: exerciceid,
      //              engageid: engageid,
      //              op: objet_op
      //            }
      //          });
      //
      //    query.success(function(msg){
      //      console.log(msg)
      // })
      return true
  }
}
// ################################################################################################ //
    $("#addline").click(function() {

        var message ='';
        var comptecompta =  $("#comptecompta>option:selected").text();
        var description =  $('#description').val();
        var sens =  $("#sens>option:selected").text();
        var montantpaiement = $('#montantpaiement').val();
        var etat = "notfind";

        // Check source
        if($('#comptecompta').val().trim() == ""){
            message = message + 'Compte comptable non valide \n';
        }
        // Check rubrique
        if($('#description').val().trim() == ""){
            message = message + 'Description non valide \n';
        }
        // Check entite beneficiaire
        if($('#sens').val().trim() == ""){
            message = message + 'Sens de l\'opération non valide \n';
        }
        // Check montant rubrique
        if ($('#sens').val() === '-' && Number(montantpaiement)>= 0)   {
            message = message + 'Montant doit être < 0. \n';
        }

        // Check montant rubrique
        if ($('#sens').val() === '+' && Number(montantpaiement)<= 0)  {
            message = message + 'Montant doit être > 0. \n';
        }
        // Test end Show message
        if (message !== "") {
            sweetAlert("Champs obligatoires...",message, "warning");

        }else {


          for(let i=0;i<paiement.length;i++){
                 if(paiement[i].comptecompta.trim() === comptecompta.trim() && paiement[i].description.trim() === description.trim() && paiement[i].sens.trim() === sens.trim()){
                   paiement[i].montantpaiement = Number(paiement[i].montantpaiement) + Number(montantpaiement);
                   etat = "find";
                   break;
                 }
             }

            if (etat === "notfind"){

              paiement.push({
                comptecompta: $("#comptecompta>option:selected").text(),
                description: $('#description').val(),
                sens: $("#sens>option:selected").text(),
                montantpaiement: Number(montantpaiement)
               });

            }
                load_jsGrid_Paiement();
                $('#comptecompta').selectedIndex = 2;
                $('#description').val('');
                $('#sens').selectedIndex = 2;
                $('#montantpaiement').val('');
                $("#comptecompta").focus();
         }

      });
// ################################################################################################ //

// ########################################################################################

// ########################################################################################

function containsObject(obj, list) {
    var i;
    for (i = 0; i < list.length; i++) {
        if (list[i].rubcode === obj) {
            return true;
        }
    }
    return false;
}
// ########################################################################################
$('#engagement').on('select2:select',function(){
    $("#montantop").focus();
});
// ########################################################################################
$("#montantop").on('keyup',function() {
    $('#montantcredit').val(this.value);
});
// ########################################################################################

load_jsGrid_CB();
load_jsGrid_JUSTIF();
load_jsGrid_Paiement();

// ########################################################################################
 function load_jsGrid_CB() {
   InitGridCustomFields();
   $("#jsGrid_CB").jsGrid({
       width: "100%",
       height: "300px",
       inserting: true,
       editing: false,
       sorting: true,
       paging: true,
       noDataContent: "Liste vide",

       data: jsgrid_data,

       fields: [
         // { name: "imputation", title: "Imputation", type: "text", width: "60%", validate: "required",css:"background: #C9EDEF;",validate: { message: "Attention, l'imputation est non valide.", validator: function(value) { return (value !== ""); } } },
           { name: "imputation", type: "select", items: retenuFlag ? retscodes : rubscodes, valueField: "libelle", textField: "libelle", width: "70%",validate: { message: "Attention, le compte budgetaire est vide ou existe déjà dans la liste.", validator: function(value) { return !check_in_array(value); } } },
           { name: "montant", title: "Montant", type: "customCurrencyField", width: "20%", validate: "required",align: "right",validate: { message: "Attention, le montant est non valide.", validator: function(value) { return value > 0; } }},
           { type: "control",editButton: false }
       ]
   });
 }
// ########################################################################################
function check_in_array(target) {
      if (target == ''){return true}
      for(var i = 0; i < jsgrid_data.length; i++)
        {
          if(jsgrid_data[i].imputation === target)
          {
            return true;
          }
        }

    return false;

}
// ########################################################################################
 function load_jsGrid_JUSTIF() {
   var typejustif = [
      { Name: "" },
      { Name: "Bon de livraison" },
      { Name: "Facture" },
      { Name: "Ordre de service" },
      { Name: "Divers" }
  ];
  InitGriddateCustomField();
   $("#jsGrid_JUSTIF").jsGrid({

       width: "100%",
       height: "300px",
       inserting: true,
       editing: false,
       sorting: true,
       paging: true,
       noDataContent: "Liste vide",

       controller: {

       insertItem: function(item) {
       if(justifs.length >=1){
           $('.jsgrid').jsGrid('option', 'inserting', false);
           var d = $.Deferred();
           d.reject();
           alert("Vous avez atteint le nombre maximum de lignes á ajouter.");
           return d.promise();

         }

       },
       updateItem: function(item) {

        },
       deleteItem: function(item) {

       }
     },

       data: justifs,

       fields: [
           { name: "typejustif", title: "Type", type: "select", items: typejustif, valueField: "Name", textField: "Name", width: "30%", validate: "required",align: "left",validate: { message: "Attention, la type de  justificatif est non valide.", validator: function(value) { return (value !== ""); } } },
           { name: "designation", title: "Designation", type: "text", width: "50%", validate: "required",css:"background: #C9EDEF;",validate: { message: "Attention, la designation est non valide.", validator: function(value) { return (value !== ""); } } },
           { name: "Datetypejustif", title: "Date", type: "date", width: "20%", validate: "required",validate: { message: "Attention, la date est non valide.", validator: function(value) { return (value !== ""); } }},
           { type: "control",editButton: false }
       ]
   });
 }

// ########################################################################################
function load_jsGrid_Paiement() {
     $("#jsGrid_Paiement").jsGrid({
        width: "100%",
        // height: "273px",
        inserting: false,
        editing: false,
        sorting: true,
        paging: true,
        noDataContent: "Liste vide",

        onRefreshed: function(args) {
             var items = args.grid.option("data");
             var total = { "comptecompta": "TOTAL Débit: ", "montantpaiement": '0', IsTotal: true };

              total.montantpaiement = 0;
              items.forEach(function (item) {
                  if (item.montantpaiement != null) {
                      total.montantpaiement += parseFloat((item.montantpaiement).toFixed(2))
                  }
              });

             var $totalRow = $("<tr style='background: #f5f5f5;font-weight: bold;'>");

             args.grid._renderCells($totalRow, total);
             args.grid._content.append($totalRow);

       },

       data: paiement,

        fields: [
                    { name: "comptecompta", title: "Compte comptable", type: "text" , validate: "required" },
                    { name: "description", title: "Description", type: "text", validate: "required" },
                    { name: "sens", title: "Sens", type: "text", validate: "required",align: "center"},
                    { name: "montantpaiement", title: "Montant", type: "number", validate: "required", align: "right"},
                    { type: "control", editButton: false,itemTemplate: function(_, item) {
                        if(item.IsTotal)
                        	return "";
                        return jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                      } }
                ]
    });
}
// ########################################################################################
</script>


<script>
// ########################################################################################
(function(){
        var save = document.getElementById('save');
        var savebis = document.getElementById('savebis');

         save.addEventListener('click', mySubmit);
         savebis.addEventListener('click', mySubmit);

})();
// ########################################################################################
function mySubmit() {
 if(validateForm()){
    swal({
          title: "Êtes-vous sûr ?",
          text: "de vouloir ajouter cet enregistrement!",
         //  type: "warning",
          showCancelButton: true,
          confirmButtonColor:  '#04B486',
          confirmButtonText: 'Oui, je confirme!',
          cancelButtonText: "Non, annuler!",
          closeOnConfirm: false,
          closeOnCancel: true
     },
     function(isConfirm){
          if (isConfirm){
            // Construction de l objet OP a envoyer dans body
            var objet_op = {
                datecreate: new Date(),
                lastupdate: new Date(),
                numop: "OP-NO-VAL",
                dateop: document.forms["myform"]["dateop"].value.trim(),
                objetop: document.forms["myform"]["objet"].value.trim(),
                beneficiaireopid: document.forms["myform"]["beneficiaireop"].value.trim(),
                beneficiaireop: $("#beneficiaireop option:selected").text(),
                montantop: document.forms["myform"]["montantop"].value.trim(),
                ml: ConvNumberLetter_fr(Number(document.forms["myform"]["montantop"].value),0),
                comptebancaireid: document.forms["myform"]["comptebancaire"].value.trim(),
                comptebancaire: $("#comptebancaire option:selected").text(),
                justifs: justifs,
                imputationbudget: jsgrid_data,
                paiement: paiement,
                modereglement: "",
                numreglement: "",
                datereglement: "",
                datevisa: "",
                retenuflag: retenuFlag
              }
            axios.post('/ops/update',{
              exerciceid: exerciceid,
              engageid: engageid,
              opid: opid,
              op: objet_op
            })
            .then((msg) => {
              console.log(msg.data.result);
              window.location.href = '/ops';
            })
            .catch((err) => {
              console.log(err)
            })
           } else {
             swal("Annulation", "Cette opération est annulée", "error");
           }

   });
 }else{
   // swal("Annulation", "Cette opération est annulée", "error");
   console.log("Form KO");
 }

}
// ########################################################################################
$('#ressb').on('select2:select',function(){
  $("#montantprevu").focus();
});
$('#comptecompta').on('select2:select',function(){
  $("#description").focus();
});
$('#sens').on('select2:select',function(){
  $("#montantpaiement").focus();
});

// ################################################################################################ //
</script>
<script>
/*
'***********
' Devise=0   aucune
'       =1   Euro 
'       =2   Dollar $
' Langue=0   Français
'       =1   Belgique
'       =2   Suisse
'***********
' Conversion limitée à 999 999 999 999 999 ou 9 999 999 999 999,99
' si le nombre contient plus de 2 décimales, il est arrondit à 2 décimales
*/
function ConvNumberLetter_fr(Nombre, bCheckFloat) {
  var strNombre = new String(Nombre) ;
  var TabNombre = new Array() ;
  var strLetter = new String() ;

  if(isNaN(parseFloat(Nombre))) return "";

  if(bCheckFloat) {
      TabNombre = strNombre.split(".") ;
      if(TabNombre.length > 2 || TabNombre.length <= 0) return "" ;
      for(var i = 0; i < TabNombre.length; i++) {
          if(i == 0)
              strLetter = strLetter + ConvNumberLetter(parseFloat(TabNombre[i]), 1, 0) ;
          else
              strLetter = strLetter + ConvNumberLetter(parseFloat(TabNombre[i]), 0, 0) ;
      }
      return strLetter ;
  }
  else {
      strLetter = ConvNumberLetter(Nombre, 1, 0) ;
      return strLetter ;
  }

}

function ConvNumberLetter(Nombre, Devise, Langue) {
  var dblEnt, byDec ;
  var bNegatif;
  var strDev = new String();
  var strCentimes = new String();

  if( Nombre < 0 ) {
      bNegatif = true;
      Nombre = Math.abs(Nombre);
  }
  dblEnt = parseInt(Nombre) ;
  byDec = parseInt((Nombre - dblEnt) * 100) ;
  if( byDec == 0 ) {
      if (dblEnt > 999999999999999) {
          return "#TropGrand" ;
      }
  }
  else {
      if (dblEnt > 9999999999999.99) {
          return "#TropGrand" ;
      }
  }
  switch(Devise) {
      case 0 :
          if (byDec > 0) strDev = " et" ;
          break;
      case 1 :
          strDev = " Dirham" ;
          if (byDec > 0) strCentimes = strCentimes + " Cents" ;
          break;
      case 2 :
          strDev = " Dollar" ;
          if (byDec > 0) strCentimes = strCentimes + " Cent" ;
          break;
  }
  if (dblEnt > 1 && Devise != 0) strDev = strDev + "s" ;

  // var NumberLetter = ConvNumEnt(parseFloat(dblEnt), Langue) + strDev + " " + ConvNumDizaine(byDec, Langue) + strCentimes + ( strCentimes ==="" ?" Cts","");
  var NumberLetter = ConvNumEnt(parseFloat(dblEnt), Langue) + strDev + " " + ConvNumDizaine(byDec, Langue) + strCentimes ;
  return NumberLetter;
}

function ConvNumEnt(Nombre, Langue) {
  var byNum, iTmp, dblReste ;
  var StrTmp = new String();
  var NumEnt ;
  iTmp = Nombre - (parseInt(Nombre / 1000) * 1000) ;
  NumEnt = ConvNumCent(parseInt(iTmp), Langue) ;
  dblReste = parseInt(Nombre / 1000) ;
  iTmp = dblReste - (parseInt(dblReste / 1000) * 1000) ;
  StrTmp = ConvNumCent(parseInt(iTmp), Langue) ;
  switch(iTmp) {
      case 0 :
          break;
      case 1 :
          StrTmp = "mille " ;
          break;
      default :
          StrTmp = StrTmp + " mille " ;
  }
  NumEnt = StrTmp + NumEnt ;
  dblReste = parseInt(dblReste / 1000) ;
  iTmp = dblReste - (parseInt(dblReste / 1000) * 1000) ;
  StrTmp = ConvNumCent(parseInt(iTmp), Langue) ;
  switch(iTmp) {
      case 0 :
          break;
      case 1 :
          StrTmp = StrTmp + " million " ;
          break;
      default :
          StrTmp = StrTmp + " millions " ;
  }
  NumEnt = StrTmp + NumEnt ;
  dblReste = parseInt(dblReste / 1000) ;
  iTmp = dblReste - (parseInt(dblReste / 1000) * 1000) ;
  StrTmp = ConvNumCent(parseInt(iTmp), Langue) ;
  switch(iTmp) {
      case 0 :
          break;
      case 1 :
          StrTmp = StrTmp + " milliard " ;
          break;
      default :
          StrTmp = StrTmp + " milliards " ;
  }
  NumEnt = StrTmp + NumEnt ;
  dblReste = parseInt(dblReste / 1000) ;
  iTmp = dblReste - (parseInt(dblReste / 1000) * 1000) ;
  StrTmp = ConvNumCent(parseInt(iTmp), Langue) ;
     switch(iTmp) {
      case 0 :
          break;
      case 1 :
          StrTmp = StrTmp + " billion " ;
          break;
      default :
          StrTmp = StrTmp + " billions " ;
  }
  NumEnt = StrTmp + NumEnt ;
   return NumEnt;
}

function ConvNumDizaine(Nombre, Langue) {
  var TabUnit, TabDiz ;
  var byUnit, byDiz ;
  var strLiaison = new String() ;

  TabUnit = Array("", "un", "deux", "trois", "quatre", "cinq", "six", "sept",
      "huit", "neuf", "dix", "onze", "douze", "treize", "quatorze", "quinze",
      "seize", "dix-sept", "dix-huit", "dix-neuf") ;
  TabDiz = Array("", "", "vingt", "trente", "quarante", "cinquante",
      "soixante", "soixante", "quatre-vingt", "quatre-vingt") ;
  if (Langue == 1) {
      TabDiz[7] = "septante" ;
      TabDiz[9] = "nonante" ;
  }
  else if (Langue == 2) {
      TabDiz[7] = "septante" ;
      TabDiz[8] = "huitante" ;
      TabDiz[9] = "nonante" ;
  }
  byDiz = parseInt(Nombre / 10) ;
  byUnit = Nombre - (byDiz * 10) ;
  strLiaison = "-" ;
  if (byUnit == 1) strLiaison = " et " ;
  switch(byDiz) {
      case 0 :
          strLiaison = "" ;
          break;
      case 1 :
          byUnit = byUnit + 10 ;
          strLiaison = "" ;
          break;
      case 7 :
          if (Langue == 0) byUnit = byUnit + 10 ;
          break;
      case 8 :
          if (Langue != 2) strLiaison = "-" ;
          break;
      case 9 :
          if (Langue == 0) {
              byUnit = byUnit + 10 ;
              strLiaison = "-" ;
          }
          break;
  }
  var NumDizaine = TabDiz[byDiz] ;
  if (byDiz == 8 && Langue != 2 && byUnit == 0) NumDizaine = NumDizaine + "s" ;
  if (TabUnit[byUnit] != "") {
      NumDizaine = NumDizaine + strLiaison + TabUnit[byUnit] ;
  }
  else {
      NumDizaine = NumDizaine ;
  }
  return NumDizaine;
}

function ConvNumCent(Nombre, Langue) {
  var TabUnit ;
  var byCent, byReste ;
  var strReste = new String() ;
  var NumCent;
  TabUnit = Array("", "un", "deux", "trois", "quatre", "cinq", "six", "sept","huit", "neuf", "dix") ;

  byCent = parseInt(Nombre / 100) ;
  byReste = Nombre - (byCent * 100) ;
  strReste = ConvNumDizaine(byReste, Langue)
  switch(byCent) {
      case 0 :
          NumCent = strReste ;
          break;
      case 1 :
          if (byReste == 0)
              NumCent = "cent" ;
          else
              NumCent = "cent " + strReste ;
          break;
      default :
          if (byReste == 0)
              NumCent = TabUnit[byCent] + " cents" ;
          else
              NumCent = TabUnit[byCent] + " cent " + strReste ;
  }
  return NumCent;
}

</script>
