<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">
           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">Ordres de paiement
                 </li>
               </ol>
             </div>
           </div>
         </div>

 </div>
  <!-- End Row Header=============================================== -->
  <!-- content page -->
  <section id="custom-view">

    <!-- Row liste des exercices -->
    <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <p>Sélectionner un exercice</p>
            <select class="select2-theme form-control" id="select2-exercices" onchange="run()" style="width: 100%">
                <!-- <option value= 'vide'>Sélectionner  un exercice</option> -->
              <% for(i=0; i< exercices.length; i++){%>
                <option value= <%= exercices[i]._id %> ><%= exercices[i].libelle %></option>
              <%}%>
            </select>
        </div>
      </div>
    </div>
    <!-- End Row liste des exercices -->
      <div class="row">

          <div class="col-xs-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Liste des ordres de paiement de l'exercice sélectionné</h4>
                      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                      <div class="heading-elements">
                        <h3>
                          <ul class="list-inline mb-0">

                            <li><a href="/opformadd" class="btn btn-outline-primary btn-min-width mr-1 mb-1"> Nouvel ordre de paiement</a></li>
                            <li onclick="run()"><a data-action="reload" id="btn-reload"><i class="ft-rotate-cw"></i></a></li>
                            <!-- <li><a  id="btn-refresh" class="btn btn-outline-primary btn-min-width mr-1 mb-1" role="button" >Actualiser</a></li>
                            <li><button type="button" id="btn-refresh" class="btn btn-outline-primary btn-min-width mr-1 mb-1" name="btn-refresh" data-action="reload" onclick="run();">Actualiser</button></li> -->
                              <!-- <li><a href="/opformadd" id="btn-refresh" class="btn btn-outline-primary btn-min-width mr-1 mb-1" role="button" onclick="run();">Actualiser</a></li> -->
                              <!-- <li><a href="/opformadd" id="linkderogationform" class="btn btn-outline-primary btn-min-width mr-1 mb-1" role="button">Nouvel ordre de paiement</a></li> -->
                          </ul>
                        </h3>
                      </div>
                  </div>
                                   <!-- js grid -->
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard ">
                        <div id="jsGrid1"></div>
                      </div>
                  </div>
                  <!-- end js grid -->
              </div>
          </div>
      </div>
  </section>

  <!-- content page-->


<% include footer.ejs %>
<script>
  var clients = [];
  var exerciceid;
  var engageid;
  var opid;

  $(document).ready(function(){
    run();
  });

// ##############################################################
// fonction pour appliquer les droits du profile
  $(function() {
    document.getElementById('menu15').classList.add('active');
  });

// fonction de chargement des engagements dans le jsgrid
function run() {
  exerciceid = document.getElementById("select2-exercices").value;
  // console.log("---",exerciceid,"---");
  var query = $.ajax({
           type: "GET",
           url: "/ops/api/get/".concat(exerciceid),
           dataType: "json"
         });

   query.success(function(msg){

     clients = msg;

     $("#jsGrid1").jsGrid({
      //  height: "70%",
       width: "100%",
       filtering: true,
       editing: false,
       sorting: true,
       paging: true,
       autoload: true,
       inserting: false,
       pageSize: 15,
       pageButtonCount: 5,
       confirmDeleting: false,
       pageIndex: 1,
       noDataContent: "Liste vide",

        controller: {

        loadData: function(filter) {

            return $.grep(clients, function(obj) {
                return (!filter.dateeng || obj.dateeng.indexOf(filter.dateeng) > -1)
                && (!filter.beneficiaire || obj.beneficiaire.indexOf(filter.beneficiaire) > -1)
                && (!filter.objet || obj.objet.indexOf(filter.objet) > -1)
                && (!filter.numeng || obj.numeng.indexOf(filter.numeng) > -1)
                && (!filter.nature || obj.nature.indexOf(filter.nature) > -1)
                && (!filter.numop || obj.numop.indexOf(filter.numop) > -1);
            });
        },
         deleteItem: function(item) {
           swal({
               title: "Confirmation!",
               text: "Voulez-vous vraimenet supprimer cet élement?",
               showCancelButton: true,
               confirmButtonColor: '#FE642E',
               confirmButtonText: "Yes",
               cancelButtonText: "No",
               closeOnConfirm: true,
               closeOnCancel: true
           }, function(isConfirm) {
               if (isConfirm) {
                              var t =  $.ajax({
                                 type: "POST",
                                 url: "ops/delete/",
                                 data: {
                                   exerciceid: item.exerciceid,
                                   engageid: item.engageid,
                                   opid: item.opid
                                 }
                               });
                               t.success(function(msg){
                                 if (msg.result === 'OK'){
                                 swal(
                                       'Opération réussie',
                                       msg.message,
                                       'success'
                                     );
                                   } else {
                                       swal(
                                             'Opération échouée',
                                             msg.message,
                                             'error'
                                           )
                                     }
                                 return msg;
                               })

               } else {
                             run();
                             swal("Annulation", "Opération annulée.", "error");
               }
           });
         }

        },

        data: clients,

           fields: [
                       {
                         itemTemplate: function(_, item) {
                                   return !item.tmpflagop ? $("<h3><i class='ft-check-circle success'></i></h3>") : $("<h4><i class='fa fa-pencil-square-o warning'></i></h4>")
                         }, width: 20, align: "center", title: "", css:  "secondary"
                        },
                        { name: "lastupdate", title: "Date modification", type: "text", width: 80, validate: "required",itemTemplate: function (_, item) {
                         return item.lastupdate.substr(0,10) + " " + item.lastupdate.substr(11,8);
                       } },
                       { name: "dateop", title: "Date OP", type: "text", width: 50, validate: "required",itemTemplate: function (_, item) {
                         var from = item.dateop.split("-");
                         return from[2] + "/" + from[1] + "/" + from[0]
                       } },
                       { name: "numop", title: "N° OP", type: "text", width: 60, validate: "required"},
                       { name: "numeng", title: "N° ENG", type: "text", width: 60, validate: "required"},
                       { name: "nature", title: "Nature", type: "text", width: 40, validate: "required"},
                       { name: "beneficiaire", title: "Bénéficiaire", type: "text", width: 150, validate: "required"},
                       { name: "montantop", title: "Montant OP", type: "number", width: 80, validate: "required",
                         align: "right",itemTemplate: function(cost) {return (cost).toFixed(2); }},
                       {
                             itemTemplate: function(_, item) {
                                       return $("<button class='btn btn btn-outline-secondary btn-sm' data-toggle='modal' data-backdrop='true'><i class='ft-printer'></i></button>").on("click", function() {
                                        var win = window.open('/ops/print/' + item.exerciceid + "|" + item.engageid + "|" + item.opid , '_blank');
                                        win.focus();
                                       });
                             }, width: 33, align: "center", title: "Aperçu", css: "Secondary"
                        },


                        {
                          type: "control",
                          itemTemplate: function(value, item) {
                              var $result = $([]);
                              var $customButton = $("<button>")
                                     .attr({class: "customGridEditbutton jsgrid-button jsgrid-edit-button"})
                                     .click(function(e) {
                                        window.location.href ='/opformedit/' + exerciceid + '|' +  item.engageid + '|' + item.opid;
                                       });
                              if(item.tmpflagop) {
                                  $result = $result.add($customButton);
                                  $result = $result.add(this._createDeleteButton(item));
                              }
                              return $result;
                          }
                       }
                  ]


       });
       $("#jsGrid1").jsGrid("option", "filtering", false);
       $("#jsGrid1").jsGrid("sort", "lastupdate", "desc");
    });
}



</script>
