<!DOCTYPE html>
<html>
<head>
<title>Ordre de virement - INRH</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8">
<link rel="stylesheet" href="/app-assets/op/css/bootstrap2.css">
<link type="text/css" rel="stylesheet" href="/app-assets/ov/css/style.css">
<link href='/app-assets/ov/css/googleapis.com.css' rel='stylesheet' type='text/css'>
<!-- <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'> -->

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>


<body id="top">
	<div class="container" style="border: 1px solid gray ; border-radius: 10px; width: 780px;" id="cadre-btn">
		<br>
	<div class="row">
		<div class="col-lg-6 col-md-6">

		</div>
		<div class="col-lg-6 col-md-6">
				<div class="form-group">
						<!-- <button id="btn-frs">frs</button>
						<button id="btn-devise">devise</button>
						<button id="btn-salaire">salaire</button>
						<button id="btn-mad">mad</button>
						<button id="btn-prime">prime</button> -->
<!-- onclick="print_pdf('print-salaire');" -->
						<button type="button" class="btn mb-1 btn-info btn-lg btn-block" id="btnprintop" >Impression OV</button>
				</div>
		</div>
	</div>
	</div>
<!-- ################## 1 CAS ORDRE DE VIREMENT FOURNISSEUR ###################################################### -->
	<div class="container" style=" border: 1px solid gray ; border-radius: 10px; width: 780px;"  id="print-frs">
		<br>
<div class="row">
<div id="print" class="instaFade">
	<div class="mainDetails">
		<div align="center"><img src="/app-assets/images/logo/inrh-logo.png" alt="Logo" style="width:250px;height:120px;"/></div>

		<div id="name">
		</div>

		<div id="contactDetails" class="quickFade delayFour">
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>

				<div class="sectionContent"  align=center>
					<h2>ORDRE DE VIREMENT</h2>
					<p class="Details">N° 204/2017 DU 28/03/2017</p><br><br>
					<p>LE DIRECTEUR GENERAL DE L'INRH <br>
						A <br>
						MONSIEUR LE CHEF D'AGENCE BANCAIRE DE CASA BOURGOGNE <br>
						DE LA TRESORERIE GENERALE DU ROYAUME</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>

			<div class="sectionContent">
				<article>

					<p>Par le débit du compte de l'INRH « Recherches Scientifiques » N° <b>TG 7004616</b> tenu chez vous, nous vous prions de bien vouloir virer la somme de 913 680.00 Dirhams (Neuf Cent treize mille six cent quatre vingt Dirhams).</p>
				</article>

				<article>
					<table style="width:100%; heigth:700px;">

					  <tr>
					    <td width="100"> En faveur de :</td>
					    <td > <h2> S.E.S.A</h2></td>
					  </tr>
					  <tr></tr>
					  <tr>
					  	 <td width="100"> R.I.B :</td>
					    <td > <h2> 021 810 0000185030007846 50</h2> </td>
					  </tr>
					</table>
					 <!-- En faveur de :<h2> S.E.S.A</h2> <br>
					 R.I.B :<h2> 021 810 0000185030007846 50</h2>  -->
				</article>
				<br><br>
				<article>


					<p>En règlement de : Facture N° 3038/2017 du 07/03/2017 <br>
					   Rèf : Marché n 28/2016</p><br><br>
					   <p>Ordre de paiement N° : 279/2017</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionContent">
				<article>
					<table style="width:100%; heigth:700px;">
					  <tr>
					    <th>LE DIRECTEUR GENERAL DE L'INRH</th>
					    <th>LE TRESORIER PAYEUR DE L'INRH</th>
					  </tr>
					  <tr>
					    <td height="200"> &nbsp;</td>
					    <td height="200"> &nbsp;</td>
					  </tr>
					</table>

				</article>

			</div>
			<div class="clear"></div>
		</section>

	</div>
</div>
</div>
</div>

<!--################ 2 CAS ORDRE DE VIREMENT mise a disposition ############################################################  -->
<div class="container" style=" border: 1px solid gray ; border-radius: 10px; width: 780px;"  id="print-mad">
	<br>
<div class="row">
<div id="print" class="instaFade">
<div class="mainDetails">
	<div align="center"><img src="/app-assets/images/logo/inrh-logo.png" alt="Logo" style="width:250px;height:120px;"/></div>

	<div id="name">
	</div>

	<div id="contactDetails" class="quickFade delayFour">
	</div>
	<div class="clear"></div>
</div>

<div id="mainArea" class="quickFade delayFive">
	<section>
		<article>

			<div class="sectionContent"  align=center>
				<h2>MISE Á DISPOSITION</h2>
				<p class="Details">N° 22/2017 DU 24/03/2017</p><br><br>
				<p>LE DIRECTEUR GENERAL DE L'INRH <br>
					A <br>
					MONSIEUR LE CHEF D'AGENCE BANCAIRE DE CASA BOURGOGNE <br>
					DE LA TRESORERIE GENERALE DU ROYAUME</p>
			</div>
		</article>
		<div class="clear"></div>
	</section>


	<section>

		<div class="sectionContent">
			<article>

				<p>Par le débit du compte de l'INRH « Recherches Scientifiques » N° <b>TG 12518</b> tenu chez vous, nous vous prions de bien vouloir mettre á la disposition de Mr :</p>
				<table style="width:100%; heigth:700px;">

					<tr>
						<td width="150"> - Nom et Prénom :</td>
						<td > <h2> YARID RACHID</h2></td>
					</tr>
					<tr>
						<td width="150"> - Qualité :</td>
						<td > <h2> Régisseur Principal de dépense á l'INRH</h2></td>
					</tr>
					<tr>
						<td width="150"> - N° C.I.N :</td>
						<td > <h2> BH105381</h2></td>
					</tr>
					<tr>
						<td width="150"> - Lieu :</td>
						<td > <h2> Casablanca</h2></td>
					</tr>

				</table>
			</article>
			<br><br>
			<article>
				<p>La somme de <b>8 868,65 Dirhams</b> (Huit mille huit cent soixante huit Dirhams soixante cinq Centimes)</p>
				<p>En règlement de : Régie de Fonctionnement du siège de l'INRH á Casablanca <br>
					JC N° 8288 et 8291 du mois 02/2017.</p>
			</article>
			<br><br>
			<article>

				 <br>
					 <p>Ordre de paiement N° : 262/2017</p>
			</article>
		</div>
		<div class="clear"></div>
	</section>


	<section>


		<div class="sectionContent">
			<article>
				<table style="width:100%; heigth:700px;">
					<tr>
						<th>LE DIRECTEUR GENERAL DE L'INRH</th>
						<th>LE TRESORIER PAYEUR DE L'INRH</th>
					</tr>
					<tr>
						<td height="200"> &nbsp;</td>
						<td height="200"> &nbsp;</td>
					</tr>
				</table>

			</article>

		</div>
		<div class="clear"></div>
	</section>

</div>
</div>
</div>
</div>
<!--################ 3 CAS ORDRE DE VIREMENT DEVISE ############################################################  -->
<div class="container" style=" border: 1px solid gray ; border-radius: 10px; width: 780px;"  id="print-devise">
	<br>
<div class="row">
<div id="print" class="instaFade">
<div class="mainDetails">
	<div align="center"><img src="/app-assets/images/logo/inrh-logo.png" alt="Logo" style="width:250px;height:120px;"/></div>
	<div id="name">
	</div>

	<div id="contactDetails" class="quickFade delayFour">
	</div>
	<div class="clear"></div>
</div>

<div id="mainArea" class="quickFade delayFive">
	<section>
		<article>

			<div class="sectionContent"  align=center>
				<h2>ORDRE DE VIREMENT</h2>
				<p class="Details">N° <%= dataop.numreglement %> DU <%= dataop.dateop.split("-").reverse().join("/"); %></p><br><br>
				<p>LE DIRECTEUR GENERAL DE L'INRH <br>
					A <br>
					MONSIEUR LE CHEF D'AGENCE BANCAIRE DE CASA BOURGOGNE <br>
					DE LA TRESORERIE GENERALE DU ROYAUME.</p>
			</div>
		</article>
		<div class="clear"></div>
	</section>


	<section>
		<div class="sectionContent">
			<article>

				<p>Par le débit du compte de l'INRH « Recherches Scientifiques » N° <b> <%= dataop.comptebancaire.split("|")[2] %></b> tenu chez vous, nous vous prions de bien vouloir virer la somme de <span><%= dataop.ovdevise %></span> Euros (Huit Cent trente Euros).</p>
			</article>

			<article>
				<table style="width:100%; heigth:700px;">

					<tr>
						<td width="160"> En faveur de :</td>
						<td > <h2> <%= dataengage.beneficiaire %></h2></td>
					</tr>
					<tr></tr>
					<tr>
						<td width="160"> Nom de la banque :</td>
						<td > <h2> <%= dataengage.beneficiaireid.bankname %></h2></td>
					</tr>
					<tr>
						<td width="160"> Bank account :</td>
						<td > <h2> <%= dataengage.beneficiaireid.rib %></h2></td>
					</tr>
					<tr>
						<td width="160"> IBAN Number :</td>
						<td > <h2> <%= dataengage.beneficiaireid.iban %></h2></td>
					</tr>
					<tr>
						 <td width="100"> BIC :</td>
						<td > <h2> <%= dataengage.beneficiaireid.bic %></h2> </td>
					</tr>
				</table>
			</article>
			<br><br>
			<article>


				<p>Objet du règlement : Facture N° Q2017P0006 du 24/01/2017 <br>
					 <%= dataop.objetop %>
				 </p><br><br>
					 <p>Ordre de paiement N° : <%= dataop.numop %></p>
			</article>
		</div>
		<div class="clear"></div>
	</section>


	<section>


		<div class="sectionContent">
			<article>
				<table style="width:100%; heigth:700px;">
					<tr>
						<th>LE DIRECTEUR GENERAL DE L'INRH</th>
						<th>LE TRESORIER PAYEUR DE L'INRH</th>
					</tr>
					<tr>
						<td height="200"> &nbsp;</td>
						<td height="200"> &nbsp;</td>
					</tr>
				</table>

			</article>

		</div>
		<div class="clear"></div>
	</section>

</div>
</div>
</div>
</div>
<!-- ################## 4 CAS ORDRE DE VIREMENT des salaires ###################################################### -->
	<div class="container" style=" border: 1px solid gray ; border-radius: 10px; width: 780px;"  id="print-salaire">
		<br>
<div class="row">
<div id="print" class="instaFade">
	<div class="mainDetails">
		<div align="center"><img src="/app-assets/images/logo/inrh-logo.png" alt="Logo" style="width:250px;height:120px;"/></div>

		<div id="name">
		</div>

		<div id="contactDetails" class="quickFade delayFour">
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>

				<div class="sectionContent"  align=center>
					<h2>ORDRE DE VIREMENT</h2>
					<p class="Details">N° 221/2018 DU 22/03/2018</p><br><br>
					<p>LE DIRECTEUR GENERAL DE L'INRH <br>
						A <br>
						MONSIEUR LE CHEF D'AGENCE BANCAIRE DE CASA BOURGOGNE <br>
						DE LA TRESORERIE GENERALE DU ROYAUME</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>

			<div class="sectionContent">
				<article>

					<p><b>OBJET :</b> Virement des salaires du mois de Mars 2018 concernant le personnel Titulaires de l'INRH.</p>
				</article>
				<article>

					<p>Par le débit du compte de l'INRH « Recherches Scientifiques » N° <b>TG 12518</b> tenu chez vous, nous vous prions de bien vouloir virer la somme de <b>3 763 781.00 Dirhams</b> (Trois million sept cent soixante trois mille sept cent quatre vingt et un Dirhams), suivant l'état ci-joint.</p>
				</article>

				<article>
 					<p>veuillez agréer, monsieur le chef, l'expression de nos salutations distinguées.</p>
					 <!-- En faveur de :<h2> S.E.S.A</h2> <br>
					 R.I.B :<h2> 021 810 0000185030007846 50</h2>  -->
				</article>
				<br><br>
				<article>

			  <p>Ordre de paiement N° : 270/2018</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionContent">
				<article>
					<table style="width:100%; heigth:700px;">
					  <tr>
					    <th>LE DIRECTEUR GENERAL DE L'INRH</th>
					    <th>LE TRESORIER PAYEUR DE L'INRH</th>
					  </tr>
					  <tr>
					    <td height="200"> &nbsp;</td>
					    <td height="200"> &nbsp;</td>
					  </tr>
					</table>

				</article>

			</div>
			<div class="clear"></div>
		</section>

	</div>
</div>
</div>
</div>

<!--################ 5 CAS ORDRE DE VIREMENT prime de campagne############################################################  -->
<div class="container" style=" border: 1px solid gray ; border-radius: 10px; width: 780px;"  id="print-prime">
	<br>
<div class="row">
<div id="print" class="instaFade">
<div class="mainDetails">
	<div align="center"><img src="/app-assets/images/logo/inrh-logo.png" alt="Logo" style="width:250px;height:120px;"/></div>

	<div id="name">
	</div>

	<div id="contactDetails" class="quickFade delayFour">
	</div>
	<div class="clear"></div>
</div>

<div id="mainArea" class="quickFade delayFive">
	<section>
		<article>

			<div class="sectionContent"  align=center>
				<h2>ORDRE DE VIREMENT</h2>
				<p class="Details">N° 198/2018 DU 12/03/2018</p><br><br>
				<p>LE DIRECTEUR GENERAL DE L'INRH <br>
					A <br>
					MONSIEUR LE CHEF D'AGENCE BANCAIRE DE CASA BOURGOGNE <br>
					DE LA TRESORERIE GENERALE DU ROYAUME</p>
			</div>
		</article>
		<div class="clear"></div>
	</section>


	<section>

		<div class="sectionContent">
			<article>

				<p><b>OBJET :</b> Prime de campagne en MER pour la période du 19/09/2017 au 21/10/2017 concernant duvers personnel Navigant de l'INRH (N/R AMA).</p>
			</article>
			<article>

				<p>Par le débit du compte de l'INRH « Recherches Scientifiques » N° <b>TG 700 4616</b> tenu chez vous, nous vous prions de bien vouloir virer la somme de <b>39 960.00 Dirhams</b> (Trente neuf mille neuf cent soixante Dirhams), suivant l'état ci-joint.</p>
			</article>

			<article>
				<p>veuillez agréer, monsieur le chef, l'expression de nos salutations distinguées.</p>
				 <!-- En faveur de :<h2> S.E.S.A</h2> <br>
				 R.I.B :<h2> 021 810 0000185030007846 50</h2>  -->
			</article>
			<br><br>
			<article>

			<p>Ordre de paiement N° : 238/2018</p>
			</article>
		</div>
		<div class="clear"></div>
	</section>

	<section>
		<div class="sectionContent">
			<article>
				<table style="width:100%; heigth:700px;">
					<tr>
						<th>LE DIRECTEUR GENERAL DE L'INRH</th>
						<th>LE TRESORIER PAYEUR DE L'INRH</th>
					</tr>
					<tr>
						<td height="200"> &nbsp;</td>
						<td height="200"> &nbsp;</td>
					</tr>
				</table>

			</article>

		</div>
		<div class="clear"></div>
	</section>

</div>
</div>
</div>
</div>
<!--################CAS ORDRE DE VIREMENT REGIE############################################################  -->

<script src="/app-assets/vendors/js/html2pdf/dist/html2pdf.bundle.min.js"></script>
<script>


	var frs = document.querySelector('#print-frs');
	var salaire = document.querySelector('#print-salaire');
	var prime = document.querySelector('#print-prime');
	var mad = document.querySelector('#print-mad');
	var devise = document.querySelector('#print-devise');

	// var btnfrs = document.querySelector('#btn-frs');
	// var btnmad = document.querySelector('#btn-mad');
	// var btnprime = document.querySelector('#btn-prime');
	// var btnsalaire = document.querySelector('#btn-salaire');
	// var btndevise = document.querySelector('#btn-devise');

	var btnprint = document.querySelector('#btnprintop');

	var id = "<%= typeregl %>"



	btnprint.addEventListener('click', () => {

		var element = document.getElementById('print-'.concat(id));

		html2pdf(element,{
			margin:       1,
			filename:     id.concat('.pdf'),
			image:        { type: 'jpeg', quality: 0.98 },
			html2canvas:  { dpi: 200, scale: 1},
			jsPDF:        { unit: 'mm', format: 'a4', orientation: 'p' }
		});

	})

	// btnfrs.addEventListener('click', () => {
	// 	salaire.style.display = 'none';
	// 	prime.style.display = 'none';
	// 	mad.style.display = 'none';
	// 	devise.style.display = 'none';
	// 	frs.style.display = 'block';
	// 	id = "frs"
	// })
	// btndevise.addEventListener('click', () => {
	// 	frs.style.display = 'none';
	// 	salaire.style.display = 'none';
	// 	prime.style.display = 'none';
	// 	mad.style.display = 'none';
	// 	devise.style.display = 'block';
	// 	id = "devise"
	// })
	// btnprime.addEventListener('click', () => {
	// 	frs.style.display = 'none';
	// 	salaire.style.display = 'none';
	// 	mad.style.display = 'none';
	// 	devise.style.display = 'none';
	// 	prime.style.display = 'block';
	// 	id = "prime"
	// })
	// btnmad.addEventListener('click', () => {
	// 	frs.style.display = 'none';
	// 	salaire.style.display = 'none';
	// 	prime.style.display = 'none';
	// 	devise.style.display = 'none';
	// 	mad.style.display = 'block';
	// 	id = "mad"
	// })
	// btnsalaire.addEventListener('click', () => {
	// 	frs.style.display = 'none';
	// 	prime.style.display = 'none';
	// 	mad.style.display = 'none';
	// 	devise.style.display = 'none';
	// 	salaire.style.display = 'block';
	// 	id = "salaire"
	// })

	switch (id) {
		case "salaire":
			frs.style.display = 'none';
			prime.style.display = 'none';
			mad.style.display = 'none';
			devise.style.display = 'none';
			salaire.style.display = 'block';
			break;
		case "prime":
			frs.style.display = 'none';
			salaire.style.display = 'none';
			mad.style.display = 'none';
			devise.style.display = 'none';
			prime.style.display = 'block';
			break;
		case "frs":
			salaire.style.display = 'none';
			prime.style.display = 'none';
			mad.style.display = 'none';
			devise.style.display = 'none';
			frs.style.display = 'block';
			break;
		case "devise":
			frs.style.display = 'none';
			salaire.style.display = 'none';
			prime.style.display = 'none';
			mad.style.display = 'none';
			devise.style.display = 'block';
			break;
		case "mad":
			frs.style.display = 'none';
			salaire.style.display = 'none';
			prime.style.display = 'none';
			devise.style.display = 'none';
			mad.style.display = 'block';
			break;
		default:

	}



// ########################################################################################
// function print_pdf(id) {
//
// 					var element = document.getElementById(id);
//
// 					html2pdf(element,{
// 						margin:       1,
// 						filename:     'OP.pdf',
// 						image:        { type: 'jpeg', quality: 0.98 },
// 						html2canvas:  { dpi: 200, scale: 1},
// 						jsPDF:        { unit: 'mm', format: 'a4', orientation: 'p' }
// 					});
//
//
// }
</script>
</body>
</html>
