<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">
           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">Règlements
                 </li>
               </ol>
             </div>
           </div>
         </div>

 </div>
  <!-- End Row Header=============================================== -->
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="form-group">

          <!-- Modal -->
          <div class="modal fade text-xs-left" id="primarymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header p-2 bg-gradient-x-primary white media-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel8">Règlement des Ordres de paiement</h4>
              </div>
              <div class="modal-body">
              <div class="row">
                <div class="col-xs-12">
                  <div class="card">
                    <div class="card-body collapse in">
                      <div class="card-block">
                        <!-- show image etat engagement -->
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-6">
                            <!-- <button type="button" class="btn mb-1 btn-success btn-lg btn-block" id="btnvaliderregl" onclick="validerreglement(true);"><i class="fa fa-check-circle"></i> Valider ce règlement</button> -->
                            <img src="../images/valider.jpeg" alt="Smiley face" height="40" width="102" id="imgvalide">
                          </div>
                        </div>
                        <!-- show entete engagement -->
                        <div class="row">
                          <div class="table-responsive">
                            <div class="table-responsive">
                              <table class="table table-bordered">
                                <thead>
                                    <tr bgcolor="#EFFBF8">
                                      <th width="25%" >Exercice</th>
                                      <th width="75%" ><label  ID="exe_txt"></label> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                      <td class="text-middle" >Numéro d'engagement</td>
                                      <td> <label  id="numeng_txt"></label></td>
                                    </tr>
                                    <tr>
                                      <td class="text-middle" >Type de réglement</td>
                                      <td> <label  id="typeregl"></label></td>
                                    </tr>
                                    <tr>
                                      <td class="text-middle" >Numéro OP</td>
                                      <td><label  id="numop_txt"></label></td>
                                    </tr>
                                    <tr>
                                      <td class="text-middle" >Bénéficiaire</td>
                                      <td> <label  id="benef_txt"></label></td>
                                    </tr>
                                    <tr>
                                      <td class="text-middle" >RIB</td>
                                      <td> <input type="text" name="" value="111122223333444455556666" id="rib_txt" size="60%"></td>
                                    </tr>
                                    <tr>
                                      <td class="text-middle" >Nature</td>
                                      <td><label  id="nature_txt"></label></td>
                                    </tr>

                                    <tr bgcolor="#FAFAFA">
                                      <td class="text-middle" >Montant OP</td>
                                      <td><span class="primary"><b><label  id="montantop_txt"></label> dhs</b></span></td>
                                    </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <!-- Row liste des mode paiement in modal -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <div class="form-group" id="divmodepaiement">
                                <p>Sélectionner un mode de paiement</p>
                                <select id="select2-modepaiement" class="select2-theme form-control" style="width: 100%" onchange="change()">
                                  	<option value = 'vide' selected>--SELECT--</option>
                                  	<option value = 'Chèque'>Chéque</option>
                                  	<option value = 'Virement'>Virement</option>
                                  	<option value = 'MAD'>Mise á disposition</option>
                                  	<option value = 'ESP'>Espèce</option>
                                </select>
                            </div>
                          </div>
                        </div>
                        <!-- show detail engagement in datatable -->
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-6">
                              <div class="form-group">
                                  <label for="numbc">Numéro de règlement :</label>
                                  <input type="text" class="form-control" id="numregl" name="numregl" required placeholder="Entrez le numéro du règlement">
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6">
                                  <label for="dateeng">Date règlement :</label>
                                  <div class="input-group">
                                    <span class="input-group-addon">
                                      <span class="fa fa-calendar-o"></span>
                                    </span>
                                    <input type="date" class="form-control" id="dateregl" name="dateregl"  required>
                                  </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6">
                                  <label for="dateeng">Date VISA :</label>
                                  <div class="input-group">
                                    <span class="input-group-addon">
                                      <span class="fa fa-calendar-o"></span>
                                    </span>
                                    <input type="date" class="form-control" id="datevisa" name="datevisa"  required disabled>
                                  </div>
                          </div>

                        </div>

                        <!-- type d'impressiom -->
                        <!-- <section id="ovtyperegl">
                          <hr>
                          <label for="">Choisir un type de réglement :</label>
                          <fieldset>
                            <label class="display-inline-block custom-control custom-checkbox">
                              <input type="radio" name="color-radio" id="frs" class="custom-control-input">
                              <span class="bg-primary custom-control-indicator"></span>
                              <span class="custom-control-description">FRS</span>
                            </label>
                            <label class="display-inline-block custom-control custom-checkbox">
                              <input type="radio" name="color-radio" id="devise" class="custom-control-input">
                              <span class="bg-primary custom-control-indicator"></span>
                              <span class="custom-control-description">DEVISE</span>
                            </label>
                            <label class="display-inline-block custom-control custom-checkbox">
                              <input type="radio" name="color-radio" id="salaire" class="custom-control-input">
                              <span class="bg-primary custom-control-indicator"></span>
                              <span class="custom-control-description">SALAIRE</span>
                            </label>
                            <label class="display-inline-block custom-control custom-checkbox">
                              <input type="radio" name="color-radio" id="prime" class="custom-control-input">
                              <span class="bg-primary custom-control-indicator"></span>
                              <span class="custom-control-description">PRIME</span>
                            </label>
                            <label class="display-inline-block custom-control custom-checkbox">
                              <input type="radio" name="color-radio" id="mad" class="custom-control-input">
                              <span class="bg-primary custom-control-indicator"></span>
                              <span class="custom-control-description">MAD</span>
                            </label>
                          </fieldset>
                        </section> -->
                        <!-- type d'impressiom -->

                        <!-- type d'impression  2 -->
                        <section id="ovtyperegl">
                          <hr>
                          <label for="">Choisir un type de réglement :</label>
                          <div class="card-block">
                            <!-- <p>Use <code>.nav-active-bordered-pill</code> class to <code>.nav-pills</code> for bordered type pills. </p> -->
                            <ul class="nav nav-pills nav-active-bordered-pill">
                              <li class="nav-item">
                                <a class="nav-link" id="frs" data-toggle="pill" href="#pill31" aria-expanded="true">FRS</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="devise" data-toggle="pill" href="#pill32" aria-expanded="false">DEVISE</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="salaire" data-toggle="pill" href="#pill33" aria-expanded="false">SALAIRE</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="prime" data-toggle="pill" href="#pill34" aria-expanded="false">PRIME</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="mad" data-toggle="pill" href="#pill35" aria-expanded="false">MAD</a>
                              </li>
                              <!-- <li class="nav-item">
                                <a class="nav-link disabled">Disabled</a>
                              </li> -->
                            </ul>
                            <div class="tab-content px-1 pt-1">
                              <div role="tabpanel" class="tab-pane active" id="pill31" aria-expanded="true" aria-labelledby="base-pill31">

                              </div>
                              <div class="tab-pane" id="pill32" aria-labelledby="base-pill32">
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                  <div class="form-group">
                                      <label for="numbc">Montant en devise :</label>
                                      <input type="text" class="form-control" id="montantdevise" name="montantdevise" required placeholder="Entrez le montant en devis">
                                  </div>
                                </div>
                              </div>
                              <div class="tab-pane" id="pill33" aria-labelledby="base-pill33">

                              </div>
                            </div>
                          </div>
                        </section>

                        <!-- type d'impression  2 -->



                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="btn-valider" class="btn btn-outline-info" onclick="validerreglement('valider');">Valider</button>
                <button type="button" id="btn-enregistrer" class="btn btn-outline-primary" onclick="validerreglement('enregistrer');">Enregistrer</button>
                <button type="button" id="btn-fermer" class="btn grey btn-outline-secondary " data-dismiss="modal">Fermer</button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- content page -->
  <section id="custom-view">

    <!-- Row liste des exercices -->
    <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <p>Sélectionner un exercice</p>
            <select class="select2-theme form-control" id="select2-exercices" onchange="run()" style="width: 100%">
                <!-- <option value= 'vide'>Sélectionner  un exercice</option> -->
              <% for(i=0; i< exercices.length; i++){%>
                <option value= <%= exercices[i]._id %> ><%= exercices[i].libelle %></option>
              <%}%>
            </select>
        </div>
      </div>
    </div>
    <!-- End Row liste des exercices -->
      <div class="row">

          <div class="col-xs-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Liste des ordres de paiement de l'exercice sélectionné</h4>
                      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                      <!-- <div class="heading-elements">
                          <ul class="list-inline mb-0">
                              <li><a href="/liquidationsform" id="linkderogationform" class="btn btn-outline-primary btn-min-width mr-1 mb-1" role="button">Nouvel ordre de paiement</a></li>
                          </ul>
                      </div> -->
                  </div>
                                   <!-- js grid -->
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard ">
                        <div id="jsGrid1"></div>
                      </div>
                  </div>
                  <!-- end js grid -->
              </div>
          </div>
      </div>
  </section>

  <!-- content page-->


<% include footer.ejs %>
<script>
  var clients = [];
  var exerciceid;
  var engageid;
  var opid;
  var ovtyperegl;
// ################################################################################################ //
  $(document).ready(function(){
    run();
  });

  var mad = document.querySelector('#mad');
  var prime = document.querySelector('#prime');
  var salaire = document.querySelector('#salaire');
  var devise = document.querySelector('#devise');
  var frs = document.querySelector('#frs');



  mad.addEventListener('click', () => {
    console.log("MAD",opid)
    ovtyperegl = "MAD"
    console.log(ovtyperegl)
  })
  frs.addEventListener('click', () => {
    console.log("FRS",opid)
    ovtyperegl = "FRS"
    console.log(ovtyperegl)
  })
  devise.addEventListener('click', () => {
    console.log("DEVISE",opid)
    ovtyperegl = "DEVISE"
    console.log(ovtyperegl)
  })
  salaire.addEventListener('click', () => {
    console.log("SALAIRE",opid)
    ovtyperegl = "SALAIRE"
    console.log(ovtyperegl)
  })
  prime.addEventListener('click', () => {
    console.log("PRIME",opid)
    ovtyperegl = "PRIME"
    console.log(ovtyperegl)
  })


  // Onchange function for the reglement nature
  function change () {

    var elem = document.querySelector("#select2-modepaiement")
    var selected = elem.options[elem.selectedIndex].value

    var disablethis = document.querySelector("#numregl")

    if(selected === 'Virement' || selected === 'MAD' || selected === 'ESP'){
      disablethis.disabled = true
    }else{
      disablethis.disabled = false
    }

  }

// ################################################################################################ //
  // fonction de chargement du modal selon l'engagement selectionne
  function charger_modal(param){
    if(param.annuler){
      swal(
            'OP annulé!',
            "L\'Ordre de paiement est annulé",
            'error'
          )
    }else {
      opid = param.opid;
      engageid = param.engageid;
      ovtyperegl = param.ovtyperegl;

      document.getElementById('ovtyperegl').classList.toggle('hidden')

      $('#exe_txt').text($("#select2-exercices>option:selected").text());
      $('#numeng_txt').text(param.numeng);
      $('#numop_txt').text(param.numop);
      $('#benef_txt').text(param.beneficiaire);
      document.getElementById('montantdevise').value = param.ovdevise == undefined?'':param.ovdevise;
      $('#typeregl').text((param.ovtyperegl === 'DEVISE')? param.ovtyperegl.concat('| Montant en devise : [' + param.ovdevise + ']'): param.ovtyperegl);
      switch(param.nature) {
          case 'BC':
              $('#nature_txt').text('Bon de commande N° : ' +  param.numbc + ' Date BC : ' + param.datebc);
              break;
          case 'MAR':
              $('#nature_txt').text('Marché N° : ' + param.nummarche);
              break;
          case 'REG':
              $('#nature_txt').text('Régie : ' + param.autreinfos);
              break;
          case 'DEP':
              $('#nature_txt').text('Déplacement : ' + param.autreinfos);
              break;
          case 'PAI':
              $('#nature_txt').text('Paie : ' + param.autreinfos);
              break;
          case 'CON':
              $('#nature_txt').text('Contrat : ' + param.autreinfos);
              break;
      };
      $('#montantop_txt').text(param.montantop.toFixed(2));
      console.log(param.regflagop ,param.visaflagop);
      if(param.regflagop === false && param.visaflagop === false){
        // Pour l'enregistrement
        document.getElementById("imgvalide").style.visible =  false;
        document.getElementById("btn-enregistrer").disabled =  false ;
        document.getElementById("btn-valider").disabled = true ;
        document.getElementById('ovtyperegl').classList.toggle('hidden')
      } else if (param.regflagop === true && param.visaflagop === false){
        // Pour la validation
        document.getElementById("imgvalide").style.visible =  false;
        document.getElementById("btn-enregistrer").disabled =  true ;
        document.getElementById("btn-valider").disabled = false ;
        document.getElementById('ovtyperegl').classList.add('hidden')
      } else if (param.regflagop === true && param.visaflagop === true){
        // OP enregistré et valide
        document.getElementById("imgvalide").style.visible =  true;
        document.getElementById("btn-enregistrer").disabled =  true ;
        document.getElementById("btn-valider").disabled = true ;
        document.getElementById('ovtyperegl').classList.add('hidden')
      }


      if(param.regflagop === true && param.visaflagop === false){
        var visaelem = document.querySelector("#datevisa")
        visaelem.disabled = false
      }
      // $('#select2-modepaiement').val((param.regflagop === false)? 'vide':param.modereglement).trigger('change');

      if (param.modereglement !== ""){
        $('#select2-modepaiement').val(param.modereglement).trigger('change');
      }
       document.getElementById('dateregl').value = (param.regflagop === false)? "":param.datereglement;
       document.getElementById('numregl').value = (param.regflagop === false)? "":param.numreglement;
       document.getElementById('datevisa').value = (param.visaflagop === false)? "":param.datevisa;

      //  desable edit data reglement if regflag is true
      document.querySelector("#select2-modepaiement").disabled = (param.regflagop === true);
      document.getElementById('dateregl').readOnly = (param.regflagop === true);
      document.getElementById('numregl').readOnly = (param.regflagop === true);
      //  desable edit data reglement if visaflag is true
      document.getElementById('datevisa').readOnly = (param.visaflagop === true);
        // afficher le modal
        $(primarymodal).modal('show');
        // document.getElementById("select2-modepaiement").selectedIndex = 0;
    }

    }
// ################################################################################################ //
// fonction pour appliquer les droits du profile
  $(function() {
    document.getElementById('menu16').classList.add('active');
  });
// ################################################################################################ //
// fonction de chargement des engagements dans le jsgrid
function run() {
  exerciceid = document.getElementById("select2-exercices").value;
  var modereglement = [
     { Name: "--|--" },
     { Name: "CHQ|par chèque" },
     { Name: "VIR|par virement bancaire" },
     { Name: "MAD|par mise á disposition" },
     { Name: "ESP|en espèce" }
  ];
  var query = $.ajax({
           type: "GET",
           url: "/ops/api/get_opvalide/".concat(exerciceid),
           dataType: "json"
         });

   query.success(function(msg){

     clients = msg;

     $("#jsGrid1").jsGrid({
      //  height: "70%",
       width: "100%",
       filtering: true,
       editing: false,
       sorting: true,
       paging: true,
       autoload: true,
       inserting: false,
       pageSize: 15,
       pageButtonCount: 5,
       confirmDeleting: false,
       noDataContent: "Liste vide",

        controller: {

        loadData: function(filter) {

            return $.grep(clients, function(obj) {
                return (!filter.dateeng || obj.dateeng.indexOf(filter.dateeng) > -1)
                && (!filter.beneficiaire || obj.beneficiaire.indexOf(filter.beneficiaire) > -1)
                && (!filter.objet || obj.objet.indexOf(filter.objet) > -1)
                // && (!filter.nature || obj.nature.indexOf(filter.nature) > -1)
                && (!filter.numeng || obj.numeng.indexOf(filter.numeng) > -1)
                && (!filter.numop || obj.numop.indexOf(filter.numop) > -1);
            });
        },
         deleteItem: function(item) {
           swal({
               title: "Confirmation!",
               text: "Voulez-vous vraimenet supprimer cet élement?",
               showCancelButton: true,
               confirmButtonColor: '#FE642E',
               confirmButtonText: "Yes",
               cancelButtonText: "No",
               closeOnConfirm: false,
               closeOnCancel: false
           }, function(isConfirm) {
               if (isConfirm) {
                              var t =  $.ajax({
                                 type: "DELETE",
                                 url: "ops/api/delete/".concat(item._id),
                                 data: item
                               });
                               t.success(function(msg){
                                 if (msg.etat === 'OK'){
                                 swal(
                                       'Opération réussie',
                                       msg.message,
                                       'success'
                                     );
                                   } else {
                                       swal(
                                             'Opération échouée',
                                             msg.message,
                                             'error'
                                           )
                                     }
                                 return msg;
                               })

               } else {
                             run();
                             swal("Annulation", "Opération annulée.", "error");
               }
           });
         }

        },

           fields: [
                       {
                             itemTemplate: function(_, item) {
                                       if(item.annuler){
                                         return $("<h4><i class='fa fa-times danger'></i></h4>")
                                       }else{
                                         return item.visaflagop ? $("<h3><i class='ft-check-circle success'></i></h3>") : $("<h4><i class='fa fa-pencil-square-o warning'></i></h4>")
                                       }
                             }, width: 18, align: "center", title: "", css:  "secondary"
                        },
                        { name: "lastupdate", title: "Date modification", type: "text", width: 70, validate: "required",itemTemplate: function (_, item) {
                         return item.lastupdate.substr(0,10) + " " + item.lastupdate.substr(11,8);
                       } },
                      //  { name: "dateop", title: "Date OP", type: "text", width: 60, validate: "required" },
                       { name: "numop", title: "N° OP", type: "text", width: 50, validate: "required"},
                      //  { name: "numeng", title: "N° ENG", type: "text", width: 60, validate: "required"},
                      //  { name: "nature", title: "Nature", type: "text", width: 40, validate: "required"},
                       { name: "beneficiaire", title: "Bénéficiaire", type: "text", width: 150, validate: "required"},
                       { name: "montantop", title: "Montant OP", type: "number", width: 50, validate: "required",
                         align: "right",itemTemplate: function(cost) {return (cost).toFixed(2); }},
                       { name: "modereglement", title: "Mode", type: "text", width: "40", validate: "required",align: "left",validate: { message: "Attention, le mode de règlement est non valide.", validator: function(value) { return (value !== ""); } } },
                       { name: "numreglement", title: "N° règlement", type: "text", width: 60, validate: "required"},
                       { name: "datereglement", title: "Date règlement", type: "text", width: 50, validate: "required",itemTemplate: function (_, item) {
                             if(item.datereglement !== '' && item.datereglement !== undefined){
                                 var from = item.datereglement.split("-");
                                 return from[2] + "/" + from[1] + "/" + from[0]
                             } else {
                                return item.datereglement
                             }
                       } },
                       { name: "datevisa", title: "Date VISA", type: "text", width: 50,itemTemplate: function (_, item) {
                         if(item.datevisa !== '' && item.datevisa !== undefined){
                             var from = item.datevisa.split("-");
                             return from[2] + "/" + from[1] + "/" + from[0]
                         } else {
                            return item.datevisa
                         }
                       } },

                       {
                         itemTemplate: function(value, item) {
                             var $result = $([]);

                             var $customButton = $("<button class='btn btn btn-outline-secondary btn-sm' data-toggle='modal' data-backdrop='true'><i class='ft-eye'></i></button>")
                                    .click(function(e) {
                                      console.log(item)
                                       charger_modal(item);
                                      });
                             var $customButtonop = $("<button class='btn btn btn-outline-secondary btn-sm' data-toggle='modal' data-backdrop='true'><i class='ft-printer'></i></button>")
                                    .click(function(e) {
                                        var win = window.open('/ops/print/' + item.exerciceid + "|" + item.engageid + "|" + item.opid , '_blank');
                                        win.focus();
                                      });
                             var $customButtonov = $("<button class='btn btn btn-outline-primary btn-sm' data-toggle='modal' data-backdrop='true'><i class='ft-printer'></i></button>")
                                    .click(function(e) {
                                        var win = window.open('/ordresvirement/'.concat(item.ovtyperegl.toLowerCase()).concat('|').concat(item.exerciceid).concat('|').concat(item.engageid).concat('|').concat(item.opid) , '_blank');
                                        win.focus();
                                      });

                             $result = $result.add($customButton);
                             $result = $result.add($customButtonop);
                             $result = $result.add($customButtonov);
                             return $result;

                         }, width: 50, align: "center", title: "Aperçu", css: "Secondary"
                        }
                  ]


       });
        $("#jsGrid1").jsGrid("option", "filtering", false);
        $("#jsGrid1").jsGrid("sort", "lastupdate", "desc");
    });
}
// ################################################################################################ //
// fonction pour valider le reglement
    function validerreglement(param) {
      var message ='';
      var regflag = false;
      var visaflag = false;
      switch(param) {
          case 'enregistrer':
          // Check mode de paiement
              if (document.getElementById("select2-modepaiement").value.trim() == "vide") {

                  message = message + 'Mode de paiement non valide\n';
              }
              // Check mode de paiement
              if (document.getElementById("select2-modepaiement").value.trim() == "cheque" && document.getElementById("numregl").value.trim() == "") {
                  message = message + 'Numéro de règlement non valide\n';
              }
              // Check date reglement
              if (document.getElementById("dateregl").value.trim() == "") {
                  message = message + 'Date de règlement OP non valide\n';
              }
              if(ovtyperegl === 'DEVISE' && document.getElementById("montantdevise").value.trim() == "") {
                message = message + 'Montant en devise n\'est pas valide \n';
              }
              regflag = true;
              break;
          case 'valider':
          // Check date visa
              if (document.getElementById("datevisa").value.trim() == "") {
                  message = message + 'Date de visa OP non valide\n';
              }
              // Check date reglement
                  if (document.getElementById("datevisa").value.trim() !== "" && document.getElementById("datevisa").value < document.getElementById("dateregl").value) {
                      message = message + 'Date VISA est inféroieure de la date de règlement OP\n';
                  }
                regflag = true;
                visaflag = true
              break;
          case 'modifier':
              regflag = false;
              visaflag = false;

              break;
          // default:
          //     code block
      }


      // Check rib beneficiaire
      // if (document.getElementById("rib_txt").value.trim() == "") {
      //     message = message + 'Mode de paiement non valide\n';
      // }

      // Check date reglement
          // if (document.getElementById("datevisa").value.trim() !== "" && document.getElementById("dateregl").value.trim() == "") {
          //     message = message + 'Date de règlement OP non valide\n';
          // }

      // Test end Show message
          if (message !== "") {
              sweetAlert("Champs obligatoires...",message, "warning");

          } else {
                 swal({
                      title: "Êtes-vous sûr ?",
                      text: (!param)? "de vouloir mettre á jour cet enregistrement!" : "de vouloir valider cet enregistrement!",
                      showCancelButton: true,
                      confirmButtonColor:  '#04B486',
                      confirmButtonText: 'Oui, je confirme!',
                      cancelButtonText: "Non, annuler!",
                      closeOnConfirm: false,
                      closeOnCancel: true,
                      showLoaderOnConfirm: true
                    }, function () {
                      // Construction de l objet OP a envoyer dans body [partie reglement]
                      var objet_op = {
                          lastupdate: new Date(),
                          modereglement: document.getElementById("select2-modepaiement").value.trim(),
                          numreglement: document.getElementById("numregl").value.trim() ,
                          datereglement: document.getElementById("dateregl").value.trim(),
                          datevisa: document.getElementById("datevisa").value.trim(),
                          ribbenef: document.getElementById("rib_txt").value.trim(),
                          ovtyperegl: ovtyperegl,
                          ovdevise: (ovtyperegl === "DEVISE")? document.getElementById("montantdevise").value.trim(): '0',
                          regflagop: regflag,
                          visaflagop: visaflag
                        }
                      axios.post('/ops/update',{
                        exerciceid: exerciceid,
                        engageid: engageid,
                        opid: opid,
                        op: objet_op
                      })
                      .then((msg) => {
                        window.location.href = '/paiements';
                      })
                      .catch((err) => {
                        console.log(err)
                      })

                    });
          }

    }
// ################################################################################################ //
</script>
