<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">

           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item"><a href="/roles">Rôles</a>
                 </li>
                 <li class="breadcrumb-item active">Permissions du rôle : <%=permissions.nomrole %>
                 </li>
               </ol>
             </div>
           </div>
         </div>

    </div>
  <!-- End Row Header=============================================== -->
  <!-- content page -->
  <section id="custom-view">
      <div class="row">

          <h>
            <% if (message.length > 0) { %>
             <div class="alert alert-danger"><%= message %></div>
           <% } %>
          </h>
            <div class="col-xs-12">
                <div class="card">

                    <div class="card-body collapse in">
                        <div class="card-block card-dashboard ">
                            <!-- <p>All components of the grid can be easily configured. Heading, filtering, inserting, editing, sorting, paging and row selection could be switched with a single corresponding boolean option.</p> -->
                            <form name="myForm" class="form form-horizontal form-bordered" action="/permissions/api/update/<%= permissions._id %>"  method="post">
                              <div class="form-actions" >
                                <div align="right">
                                  <button type="button" class="btn btn-warning mr-1" onclick="window.location.href='/roles'">
                                    <i class="ft-x"></i> Annuler
                                  </button>
                                  <button type="submit" class="btn btn-primary"  id="btn-submit">
                                      <i class="fa fa-check-square-o"></i> Enregistrer
                                  </button>
                                </div>

                              </div>
                              <section class="icheck-checkbox">
                                <!-- <div class="row">
                                  <div class="col-xs-10 mt-3 mb-1">
                                    <h4 class="text-uppercase">Les permissions attribués au role : <b><%= permissions.nomrole %></b></h4>
                                  </div>

                                </div> -->
                                <div class="row match-height">
                                  <div class="col-xl-12 col-lg-12">
                                    <b>Menu dashboard:</b>
                                      <div class="card box-shadow-0 card-outline-primary">
                                      <!-- <div class="card-header">
                                        <h4 class="card-title">Menu Recettes</h4>
                                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                      </div> -->
                                        <div class="card-body collapse in">
                                        <div class="card-block">

                                          <div class="row skin skin-flat">
                                            <div class="col-md-6 col-sm-12">

                                              <fieldset>
                                                   <input type="checkbox" id="input-0"  name="dashboard"  class="switchery" <%= ((permissions.dashboard ) ? "checked" : "") %>/>
                                                   <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Tableau de bord</label>
                                              </fieldset>



                                            </div>

                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-xl-12 col-lg-12">

                                    <b>Menu Administration:</b>
                                    <div class="card box-shadow-0 card-outline-primary">



                                    <!-- <div class="card"> -->
                                      <!-- <div class="card-header">
                                        <h4 class="card-title">Menu Administration</h4>
                                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                      </div> -->




                                        <div class="card-body collapse in">
                                        <div class="card-block">

                                          <div class="row skin skin-flat">
                                            <div class="col-md-6 col-sm-12">

                                              <fieldset>
                                                <input type="checkbox" id="input-1" name="adm_user"  class="switchery" <%= ((permissions.adm_user ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Utilisateurs</label>
                                              </fieldset>

                                              <fieldset>
                                                <input type="checkbox" id="input-2"  name="adm_role"  class="switchery" <%= ((permissions.adm_role) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Rôles</label>
                                              </fieldset>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                              <fieldset>
                                                <input type="checkbox" id="input-3"  name="adm_trace"  class="switchery" <%= ((permissions.adm_trace) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Traçabilité</label>
                                              </fieldset>

                                            </div>

                                          </div>
                                        </div>
                                      <!-- </div> -->
                                    </div></div>
                                  </div>


                                  <div class="col-xl-12 col-lg-12">
                                    <b>Menu Parametrage:</b>
                                    <div class="card box-shadow-0 card-outline-primary">
                                      <!-- <div class="card-header">
                                        <h4 class="card-title">Menu Parametrage</h4>
                                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                                      </div> -->
                                        <div class="card-body collapse in">
                                        <div class="card-block">
                                          <div class="row skin skin-flat">
                                            <div class="col-md-6 col-sm-12">

                                              <fieldset>
                                                <input type="checkbox" id="input-4"   name="param_srcbudget"  class="switchery" <%= ((permissions.param_srcbudget) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Sources budgetaires</label>
                                              </fieldset>

                                              <fieldset>
                                                <input type="checkbox" id="input-24"  name="param_categoriesrubriques" class="switchery" <%= ((permissions.param_categoriesrubriques) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Catégories Rubriques</label>
                                              </fieldset>

                                              <fieldset>
                                                <input type="checkbox" id="input-5"  name="param_rubriques" class="switchery" <%= ((permissions.param_rubriques ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Rubriques</label>
                                              </fieldset>


                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                              <fieldset>
                                                <input type="checkbox" id="input-6"  name="param_cptbancaire" class="switchery" <%= ((permissions.param_cptbancaire ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Comptes bancaires</label>
                                              </fieldset>

                                              <fieldset>
                                                <input type="checkbox" id="input-7"  name="param_benef" class="switchery" <%= ((permissions.param_benef ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Bénéficiaires</label>
                                              </fieldset>

                                              <fieldset>
                                                <input type="checkbox" id="input-8"  name="param_entitebenef" class="switchery" <%= ((permissions.param_entitebenef ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Entités bénéficiaires</label>
                                              </fieldset>

                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                              <fieldset>
                                                <input type="checkbox" id="input-23"  name="param_comptescompta" class="switchery" <%= ((permissions.param_comptescompta ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Comptes comptables</label>
                                              </fieldset>

                                                <input type="checkbox" id="input-27"  name="param_regies" class="switchery" <%= ((permissions.param_regies ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Régies</label>
                                              </fieldset>

                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                              <fieldset>
                                                <input type="checkbox" id="input-26"  name="param_centres" class="switchery" <%= ((permissions.param_centres ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Centres</label>
                                              </fieldset>
                                              <fieldset>
                                                <input type="checkbox" id="input-28"  name="param_regions" class="switchery" <%= ((permissions.param_regions ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Regions</label>
                                              </fieldset>
                                              <fieldset>

                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>


                                  <div class="col-xl-12 col-lg-12">
                                    <b>Menu Exercices:</b>
                                      <div class="card box-shadow-0 card-outline-primary">
                                      <!-- <div class="card-header">
                                        <h4 class="card-title">Menu Exercices</h4>
                                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                      </div> -->
                                        <div class="card-body collapse in">
                                        <div class="card-block">

                                          <div class="row skin skin-flat">
                                            <div class="col-md-6 col-sm-12">

                                              <fieldset>
                                                <input type="checkbox" id="input-9"  name="exer_gestexercice" class="switchery" <%= ((permissions.exer_gestexercice) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Gestion des exercices</label>
                                              </fieldset>

                                              <fieldset>
                                                <input type="checkbox" id="input-10"  name="exer_crdouvert" class="switchery" <%= ((permissions.exer_crdouvert ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Crédits ouverts</label>
                                              </fieldset>
                                              <fieldset>
                                                <input type="checkbox" id="input-25"  name="exer_raps" class="switchery" <%= ((permissions.exer_raps ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">RAPs</label>
                                              </fieldset>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                              <fieldset>
                                                <input type="checkbox" id="input-11"  name="exer_vircrd" class="switchery" <%= ((permissions.exer_vircrd ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Virements de crédit</label>
                                              </fieldset>
                                              <fieldset>
                                                <input type="checkbox" id="input-25"  name="exer_projets" class="switchery" <%= ((permissions.exer_projets ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Projets</label>
                                              </fieldset>
                                              <fieldset>
                                                <input type="checkbox" id="input-34"  name="exer_compta" class="switchery" <%= ((permissions.exer_compta ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Lettrage compta</label>
                                              </fieldset>


                                            </div>

                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>


                                  <div class="col-xl-12 col-lg-12">
                                    <b>Menu Régies:</b>
                                      <div class="card box-shadow-0 card-outline-primary">
                                        <div class="card-body collapse in">
                                        <div class="card-block">

                                          <div class="row skin skin-flat">
                                            <div class="col-md-6 col-sm-12">

                                              <fieldset>
                                                <input type="checkbox" id="input-9"  name="regie_budget" class="switchery" <%= ((permissions.regie_budget) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Budget de la régie</label>
                                              </fieldset>

                                              <fieldset>
                                                <input type="checkbox" id="input-10"  name="regie_histocredit" class="switchery" <%= ((permissions.regie_histocredit ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Historique crédit</label>
                                              </fieldset>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                              <fieldset>
                                                <input type="checkbox" id="input-11"  name="regie_jc" class="switchery" <%= ((permissions.regie_jc) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Journaux de caisse</label>
                                              </fieldset>
                                              <fieldset>
                                                <input type="checkbox" id="input-25"  name="regie_alimcaisse" class="switchery" <%= ((permissions.regie_alimcaisse ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Alimentation de caisse</label>
                                              </fieldset>

                                            </div>

                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-xl-12 col-lg-12">
                                    <b>Menu Recettes:</b>
                                      <div class="card box-shadow-0 card-outline-primary">
                                      <!-- <div class="card-header">
                                        <h4 class="card-title">Menu Recettes</h4>
                                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                      </div> -->
                                        <div class="card-body collapse in">
                                        <div class="card-block">

                                          <div class="row skin skin-flat">
                                            <div class="col-md-6 col-sm-12">

                                              <fieldset>
                                                <input type="checkbox" id="input-12"  name="rec_gestrecettes" class="switchery" <%= ((permissions.rec_gestrecettes) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Gestion des recettes</label>
                                              </fieldset>



                                            </div>

                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-xl-12 col-lg-12">
                                    <b>Menu Depenses:</b>
                                      <div class="card box-shadow-0 card-outline-primary">
                                      <!-- <div class="card-header">
                                        <h4 class="card-title">Menu Depenses</h4>
                                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                      </div> -->
                                        <div class="card-body collapse in">
                                        <div class="card-block">

                                          <div class="row skin skin-flat">
                                            <div class="col-md-6 col-sm-12">

                                              <fieldset>
                                                <input type="checkbox" id="input-13"   name="dep_engage" class="switchery" <%= ((permissions.dep_engage ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Engagements</label>
                                              </fieldset>

                                              <fieldset>
                                                <input type="checkbox" id="input-14"   name="dep_liquid" class="switchery" <%= ((permissions.dep_liquid ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Ordres de paiement</label>
                                              </fieldset>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                              <fieldset>
                                                <input type="checkbox" id="input-15"   name="dep_paie" class="switchery" <%= ((permissions.dep_paie ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Règlements</label>
                                              </fieldset>

                                            </div>

                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-xl-12 col-lg-12">
                                    <b>Menu Etats:</b>
                                    <div class="card box-shadow-0 card-outline-primary">
                                      <!-- <div class="card-header">
                                        <h4 class="card-title">Menu Etats</h4>
                                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                      </div> -->
                                        <div class="card-body collapse in">
                                        <div class="card-block">

                                          <div class="row skin skin-flat">
                                            <div class="col-md-6 col-sm-12">

                                              <fieldset>
                                                <input type="checkbox" id="input-16"   name="etat_crdouvert" class="switchery" <%= ((permissions.etat_crdouvert ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Crédits ouverts</label>
                                              </fieldset>

                                              <fieldset>
                                                <input type="checkbox" id="input-17"  name="etat_solde" class="switchery" <%= ((permissions.etat_solde ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Soldes trésoreries</label>
                                              </fieldset>

                                              <fieldset>
                                                <input type="checkbox" id="input-18"  name="etat_recettes" class="switchery" <%= ((permissions.etat_recettes  ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Recettes</label>
                                              </fieldset>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                              <fieldset>
                                                <input type="checkbox" id="input-19"  name="etat_engage"  class="switchery" <%= ((permissions.etat_engage  ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Engagements</label>
                                              </fieldset>

                                              <fieldset>
                                                <input type="checkbox" id="input-21"  name="etat_annulop"  class="switchery" <%= ((permissions.etat_annulop ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">OP annulés</label>
                                              </fieldset>

                                              <fieldset>
                                                <input type="checkbox" id="input-20"  name="etat_annulengage"  class="switchery" <%= ((permissions.etat_annulengage   ) ? "checked" : "") %>/>
                                                <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Engagements annulés</label>
                                              </fieldset>

                                            </div>

                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>


                                </div>
                              </section>

                              </form>

                              <!-- content page-->


                        </div>
                    </div>
                </div>
            </div>

      </div>
  </section>
  <!-- content page-->




<% include footer.ejs %>
<script>
  $(function() {
    document.getElementById('menu3').classList.add('active');
  });
</script>
