<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ordre de paiement - INRH</title>
	<link rel="stylesheet" href="/app-assets/op/css/bootstrap2.css">
	<style>
	/*@import url(http://fonts.googleapis.com/css?family=Bree+Serif);*/
	body, h1, h2, h3, h4, h5, h6{
		font-family: 'Bree Serif', serif;
	}
	</style>

</head>
<body >
	<div class="container" style="border: 1px solid gray; border-radius: 10px;" id="cadre-btn">
		<br>
	<div class="row">
		<div class="col-lg-6 col-md-6">
			<!-- <h4>ORDRE DE PAIEMENT EN PHASE : <%= data.op.tmpflagop %></h4> -->
			<% if (data.op.tmpflagop){%>
				<button type="button" class="btn mb-1 btn-success btn-lg btn-block" id="btnvaliderop" onclick="validerOP('<%= data.exerciceid %>|<%= data.engageid %>|<%= data.op._id %>');"><i class="fa fa-check-circle"></i> Valider cet Ordre de Paiement</button>
			<%} else {%>
				<img src="/images/valider.jpeg" alt="Smiley face" height="40" width="102" id="imgvalide">
			<%}%>

		</div>
		<div class="col-lg-6 col-md-6">
        <div class="form-group">
            <button type="button" class="btn mb-1 btn-primary btn-lg btn-block" id="btnprintop" onclick="print_pdf();">Impression OP</button>
        </div>
    </div>
	</div>
	</div>


	<div class="container" style="border: 1px solid gray; border-radius: 10px;" id="print">
		<br>



		<div class="row">

			<!-- <div class="col-md-4">
					      <p><h4>INSTITUT NATIONAL DE RECHERCHE HALIEUTIQUE</h4>
								Adressse: 2, BD Sidi Abderrahmane, ain diab.
						    <br> code postal 20100 - Casablanca</p>
			</div> -->

			<div class="col-md-12 text-center">
					<img src="/app-assets/images/logo/inrh-logo.png" style="width:250px;height:100px;">
			</div>


		   <!-- <div class="col-md-4 text-right">
								<p><h3>	المعهد الوطني للبحث في الصيد البحري </h3>
												العنوان: طريق سيدي عبد الرحمن نادي الفروسية  الدار البيضاء
								</p>
				</div> -->
		</div>

		<br><br>

		<!-- row 2 -->
		<div class="row">
 			<div class="col-xs-6">
			  <h4>ORDRE DE PAIEMENT N° : <%= data.op.numop %></h4>
			</div>
			<div class="col-xs-5 col-xs-offset-1 text-left">
				<div class="table-responsive">
                    <table class="table table-bordered mb-0 " >
                        <tbody>
                            <tr>
															<%   var from = data.op.dateop.split("-");%>
															<% const MONTH_NAMES = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin","Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"]; %>
                                <th scope="row" style="width:22%;" bgcolor="#F2F4F4" >MOIS : </th>
                                <td class="text-center"><%= MONTH_NAMES[parseInt(from[1])-1] + "  " + from[0]%></td>
																<th scope="row" style="width:22%;" bgcolor="#F2F4F4">DATE : </th>
																<td class="text-center"><%= from[2] + "/" + from[1] + "/" + from[0] %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
			</div>
		</div>


		<!-- row 3 -->
		  <div class="row">
		  	<div class="container">
				<div class="table-responsive">
                    <table class="table table-bordered mb-0 " >
                        <tbody>
                            <tr>
                                <th scope="row" style="width:15%;" bgcolor="#F2F4F4">BENEFICIAIRE : </th>
                                <td><%= data.op.beneficiaireop %></td>
                            </tr>
                            <tr>
                                <th scope="row" style="width:15%;" bgcolor="#F2F4F4">OBJET : </th>
                                <td><%= data.op.objetop %></td>
                            </tr>
                            <tr>
                               <th scope="row" style="width:15%;" bgcolor="#F2F4F4">MONTANT : </th>
                                <td><%= data.op.montantop %> dhs</td>
                            </tr>
                            <tr>
                                <th scope="row" style="width:15%;" bgcolor="#F2F4F4">MONTANT EN LETTRES : </th>
                                <td><%= data.op.ml %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
		  	</div>
		  </div>





			<!-- row 4 -->
		  <div class="row">
		  	 <div class="col-xs-5">

	 				<div class="table-responsive" style="">
	                    <table class="table table-bordered mb-0 " >
												JUSTIFICATIFS :
	                        <tbody>
	                            <tr>
	                            	<td bgcolor="#F2F4F4">MARCHÉ N° : </td>
	                            	<td colspan=3><%= data.nummarche %> </td>
	                            </tr>
	                            <tr>
	                           		  <td bgcolor="#F2F4F4" scope="row" style="width:30%;">B.C N°: </td>
	                            	  <td scope="row" style="width:30%;"><%= data.numbc %> </td>
	                            	  <td bgcolor="#F2F4F4" scope="row" style="width:18%;">DATE: </td>
	                            	  <td scope="row" style="width:25%;"><%= data.datebc %> </td>
	                           </tr>
														 <% for(i=0; i< 9; i++){%>
	                           <tr>
	                           		  <td bgcolor="#F2F4F4" scope="row"><%= (i < data.op.justifs.length) ? data.op.justifs[i].typejustif : '###' %> </td>
	                            	  <td scope="row"><%= (i < data.op.justifs.length) ? data.op.justifs[i].designation : '###' %> </td>
	                            	  <td bgcolor="#F2F4F4" scope="row">DATE : </td>
	                            	  <td scope="row"><%= (i < data.op.justifs.length) ? data.op.justifs[i].Datetypejustif : '###' %> </td>
	                           </tr>
														 <%} %>

	                        </tbody>
	                    </table>

            	</div>
             </div>
             <div class="col-xs-7">
             	<div class="table-responsive">
                    <table class="table table-bordered mb-0 " >

									  		CONTROLE BUDGETAIRE  :
                        <tbody>
                            <tr>
                            	<td scope="row" style="width:70%;" bgcolor="#F2F4F4">IMPUTATION BUDGETAIRE </td>
                                <td scope="row" bgcolor="#F2F4F4" class="text-center" style="width:30%;">MONTANT </td>
                            </tr>
														<% if (data.op.imputationbudget.length  > 10 ){%>
															 <tr>
	                                <td colspan=2 class="text-center">VOIR ETAT ANNEXE ( <%= data.op.imputationbudget.length %> lignes )</td>
	                                <!-- <td align="right">###</td> -->
	                            </tr>
															<% for(i=0; i< 9; i++){%>
	                            <tr>
	                                <td scope="row">###</td>
	                                <td align="right">'###</td>
	                            </tr>
															<%}} else { for(i=0; i< 10; i++){%>
															<tr>
																	<td scope="row"> <%= (i < data.op.imputationbudget.length) ? data.op.imputationbudget[i].imputation : '###' %> </td>
																	<td align="right"><%= (i < data.op.imputationbudget.length) ? Number(data.op.imputationbudget[i].montant).toFixed(2) : '###' %> </td>
															</tr>
															 <%}} %>


                        </tbody>
                    </table>
                </div>
             </div>
		  </div>



		  <!-- row 5 -->


		  <!-- row 6 -->
		  <div class="row">
		  	<div class="container">
				<div class="table-responsive">
                    <table class="table table-bordered mb-0 " >
                    	PAIEMENTS :
                        <tbody>
                            <tr>
                                <th scope="row" style="width:30%;" bgcolor="#F2F4F4">COMPTE</th>
                                <th scope="row" style="width:45%;" bgcolor="#F2F4F4" >INTITULE </th>
                                <th scope="row" style="width:10%;" bgcolor="#F2F4F4">DEBIT</th>
                                <th scope="row" style="width:10%;" bgcolor="#F2F4F4">CREDIT</th>

                            </tr>
														<% if (data.op.paiement.length  > 8 ){%>
															 <tr>
	                                <td colspan=3 class="text-center">VOIR ETAT ANNEXE ( <%= data.op.paiement.length %> lignes )</td>
	                                <!-- <td align="right">###</td> -->
	                            </tr>
															<% for(i=0; i< 7; i++){%>
	                            <tr>
	                                <td scope="row">###</td>
	                                <td align="right">'###</td>
	                                <td align="right">'###</td>
	                            </tr>
															<%}} else { for(i=0; i< 8; i++){%>
															<tr>
																	<td scope="row"> <%= (i < data.op.paiement.length) ? data.op.paiement[i].comptecompta : '###' %> </td>
																	<td scope="row"> <%= (i < data.op.paiement.length) ? data.op.paiement[i].description : '###' %> </td>
																	<td scope="row" align="right"><%= (i < data.op.paiement.length) ? data.op.paiement[i].montantpaiement < 0 ? data.op.paiement[i].montantpaiement.toFixed(2): '' : '###' %> </td>
																	<td scope="row" align="right"><%= (i < data.op.paiement.length) ? data.op.paiement[i].montantpaiement > 0 ? data.op.paiement[i].montantpaiement.toFixed(2): '' : '###' %> </td>


															</tr>
															 <%}} %>

                            <tr>

                                <td colspan=2><%= data.op.comptebancaire %></td>
																<td scope="row" align="right">&nbsp; </td>
                                <td class="text-right"><%= data.op.montantop.toFixed(2) %></td>
                            </tr>



                        </tbody>
                    </table>
                </div>
		  	</div>
		  </div>
		  <!-- row 7 -->
		  <div class="row">
		  	<div class="container">
				<div class="table-responsive">
					<% var from1 = data.op.datereglement.split("-"); %>
                    <table class="table table-bordered mb-0 " >
                    	REFERENCES REGLEMENT :
                        <tbody>
                            <tr>
                                <th scope="row" style="width:18%;" bgcolor="#F2F4F4">REF-REGLEMENT : </th>
                                <td><%= data.op.modereglement %> N°:  <%= data.op.numreglement %></td>
                                <th scope="row" style="width:8%;" bgcolor="#F2F4F4">DATE: </th>
                                <td style="width:13%;"><%= data.op.datereglement === "" ? "" : from1[2] + "/" + from1[1] + "/" + from1[0] %></td>
                                <th scope="row" style="width:12%;" bgcolor="#F2F4F4">DATE VISA: </th>
                                <td style="width:13%;">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
		  	</div>
		  </div>

		  <!-- row 7 -->
		  <div class="row">
			  	<div class="col-xs-6">
			  		 <div class="table-responsive">
	                    <table class="table table-bordered mb-0 " >
	                    	VISA DU DIRECTEUR GENERAL :
	                        <tbody>
	                            <tr>
	                                <td style="width:100%; height: 90px;" >&nbsp;</td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
			  	</div>
			  	<div class="col-xs-6">

			  		 <div class="table-responsive">
	                    <table class="table table-bordered mb-0 " >
	                    	VISA DU TRESORIER PAYEUR :
	                        <tbody>
	                            <tr>
	                                <td style="width:100%; height: 90px;">&nbsp;</td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
			    </div>
		   </div>



	</div>
	<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/extensions/sweetalert.css">
	<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
	<script src="/app-assets/vendors/js/axios/axios.min.js"></script>
	<script src="/app-assets/vendors/js/html2pdf/dist/html2pdf.bundle.min.js"></script>
	<script src="/app-assets/vendors/js/extensions/sweetalert.min.js" type="text/javascript"></script>
	<script>

// ########################################################################################
function validerOP(param){
	swal({
					title: "Êtes-vous sûr ?",
					text: "de vouloir valider cet Ordre de paiement!",
				 //  type: "warning",
					showCancelButton: true,
					confirmButtonColor:  '#04B486',
					confirmButtonText: 'Oui, je confirme!',
					cancelButtonText: "Non, annuler!",
					closeOnConfirm: false,
					closeOnCancel: true
		 },
		 function(isConfirm){
					if (isConfirm){
						var exerciceid = param.split('|')[0]
						var engageid = param.split('|')[1]
						var opid = param.split('|')[2]

						axios.post('/ops/validate/',{
							exerciceid: exerciceid,
							engageid: engageid,
							opid: opid
						})
						.then((msg) => {

							if (msg.data.result === "OK"){
								swal({
										title: "Opération réussie!",
										text: "OP validé avec succès",
										type: "success",
										confirmButtonText: "Ok"
										}, function(){
													location.reload(true);
											 });

								} else {
										swal(
													'Opération échouée',
													msg.message,
													'error'
												)
								}

						})
						.catch((err) => {
							console.log(err)
						})
					}
				});




}
// ########################################################################################
function print_pdf() {
	// swal({
	// 				title: "Êtes-vous sûr ?",
	// 				text: "de vouloir ajouter cet enregistrement!",
	// 			 //  type: "warning",
	// 				showCancelButton: true,
	// 				confirmButtonColor:  '#04B486',
	// 				confirmButtonText: 'Oui, je confirme!',
	// 				cancelButtonText: "Non, annuler!",
	// 				closeOnConfirm: false,
	// 				closeOnCancel: true
	// 	 },
	// 	 function(isConfirm){
	// 				if (isConfirm){
						var element = document.getElementById('print');

						html2pdf(element,{
							margin:       0,
							filename:     'OP.pdf',
							image:        { type: 'jpeg', quality: 0.98 },
							html2canvas:  { dpi: 200, scale: 1},
							jsPDF:        { unit: 'mm', format: 'a4', orientation: 'p' }
						});
			// 		}
			// }	);

}
	</script>
<!-- <script>
alert(ConvNumberLetter_fr(7761.56,0))


</script> -->
</body>
</html>
