<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">

           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">Projets
                 </li>
               </ol>
             </div>
           </div>
         </div>

    </div>
  <!-- End Row Header=============================================== -->
  <!-- content page -->
  <section id="custom-view">
      <div class="row">
        <h>
          <% if (message.length > 0) { %>
           <div class="alert alert-danger"><%= message %></div>
         <% } %>
        </h>
          <div class="col-xs-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Liste des projets</h4>
                      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                  </div>
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard ">
                          <!-- <p>All components of the grid can be easily configured. Heading, filtering, inserting, editing, sorting, paging and row selection could be switched with a single corresponding boolean option.</p> -->
                        <div id="jsGrid1"></div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- content page-->


<% include footer.ejs %>
<script>
  $(function() {
    document.getElementById('menu25').classList.add('active');
  });
</script>
<script>
   var cancel = false;
   var clients = [];


  var query = $.ajax({
           type: "GET",
           url: "/projets/api/get",
           dataType: "json"
         });



   query.success(function(msg){

     clients = msg;


     $("#jsGrid1").jsGrid({
      //  height: "70%",
       width: "100%",
       filtering: true,
       editing: true,
       sorting: true,
       paging: true,
       autoload: true,
       inserting: true,
       pageSize: 15,
       pageButtonCount: 5,

      confirmDeleting: false,
      onItemDeleting: function(args) {
        console.log("onItemDeleting  triggred");
        // swal("Here's the title!", "...and here's the text!");
        swal({
            title: "Confirm Button Text",
            text: "See the confirm button text! Have you noticed the Change?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function(isConfirm) {
            if (isConfirm) {
              console.log("delete the item");
              // confirmDeleting = true;
              $("#jsGrid1").jsGrid("option", "deleteConfirm", "OK");
              swal("Changed!", "Confirm button text was changed!!", "success");

            } else {
              console.log("do not delete the item");
              $("#jsGrid1").jsGrid("option", "deleteConfirm", "NO-OK");
              swal("Cancelled", "It's safe.", "error");

            }
        });
      },

        controller: {
        loadData: function(filter) {

            return $.grep(clients, function(obj) {
                return (!filter.code || obj.code.indexOf(filter.code) > -1)
                && (!filter.libelle || obj.libelle.indexOf(filter.libelle) > -1)
                  && (filter.cloturer === undefined || obj.cloturer === filter.cloturer)
                && (!filter.chef || obj.chef.indexOf(filter.chef) > -1)
                && (!filter.montant || obj.montant.indexOf(filter.montant) > -1);
            });
        },

        insertItem: function(item) {
          var t = $.ajax({
                type: "POST",
                url: "projets/api/add/",
                data: item
              });
          t.success(function(msg){
            clients = msg.data;
            if (msg.message === 'OK'){
            swal(
                  'Opération réussie',
                  'L\'enregistrement est ajouté avec succès.',
                  'success'
                )} else {
                  swal(
                        'Opération échouée',
                        'Erreur d\'ajout de l\'enregistrement.',
                        'error'
                      )
                }
             $("#jsGrid1").jsGrid("loadData");
            return msg.message;
          })

        },
        updateItem: function(item) {
          var t = $.ajax({
                type: "POST",
                url: "projets/api/update/".concat(item._id),
                data: item
              });
          t.success(function(msg){
            if (msg.message === 'OK'){
            swal(
                  'Opération réussie',
                  'L\'enregistrement est modifié avec succès.',
                  'success'
                )} else {
                  swal(
                        'Opération échouée',
                        'Erreur de modification de l\'enregistrement.',
                        'error'
                      )
                }
            return msg;
          })
         },
         deleteItem: function(item) {
           swal({
                 title: "Are you sure?",
                 text: "Your will not be able to recover this imaginary file!",
                 type: "warning",
                 showCancelButton: true,
                 confirmButtonColor: "#DD6B55",
                 confirmButtonText: "Yes, delete it!"
                },
                function(){
                 alert("Deleted!");
                });
           var t =  $.ajax({
                 type: "DELETE",
                 url: "projets/api/delete/".concat(item._id),
                 data: item
               });
           t.success(function(msg){
             if (msg.message === 'OK'){
             swal(
                   'Opération réussie',
                   'L\'enregistrement est modifié avec succès.',
                   'success'
                 )} else {
                   swal(
                         'Opération échouée',
                         'Erreur de modification de l\'enregistrement.',
                         'error'
                       )
                 }
             return msg;
           })
         }

        },

        data: clients,

           fields: [
               { name: "code", title: "Code", type: "text", width: 30, validate: "required" },
               { name: "libelle", title: "Libelle", type: "text", width: 100, validate: "required"},
               { name: "chef", title: "Chef de projet", type: "text", width: 80, validate: "required"},
               { name: "montant", title: "Credit ouvert", type: "Number", width: 60,editing: false, inserting: false,align: "right",itemTemplate: function(cost) {
                 if (typeof cost == 'undefined') {cost = 0;}
                                        return (cost).toFixed(2);
                                     } },
              //  { name: "createdate", title: "Date de création", type: "text", width: 50,editing: false, inserting: false },
              //  { name: "usercreate", title: "Utilisateur", type: "text", width: 30,editing: false, inserting: false },
               { name: "cloturer", title: "Clôturer", type: "checkbox", width: 25 },
               {
               itemTemplate: function(_, item) {
                   return $("<button class='btn btn-outline-secondary btn-sm'><i class='ft-cog'></i></button>").on("click", function() {
                         window.location.href ='/projetemploi/'.concat(item._id);
                     });
               }, width: 25, align: "center", title: "Emploi"
             },
               { type: "control" }
           ]
       });
       $("#jsGrid1").jsGrid("option", "filtering", false);
    });



</script>
