<% include header.ejs %>
<!-- Line Stacked Area Chart -->

<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">

           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">RAPs
                 </li>
               </ol>
             </div>
           </div>
         </div>

    </div>


    <section id="custom-view">
        <div class="row">
          <h>
            <% if (message.length > 0) { %>
             <div class="alert alert-danger"><%= message %></div>
           <% } %>
          </h>
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Liste des RAPs</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block card-dashboard ">
                            <!-- <p>All components of the grid can be easily configured. Heading, filtering, inserting, editing, sorting, paging and row selection could be switched with a single corresponding boolean option.</p> -->
                          <div id="jsGrid1"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- jsGrid Detail -->
    <section id="detail-view">
      <div class="row">
        <h>
          <% if (message.length > 0) { %>
           <div class="alert alert-danger"><%= message %></div>
         <% } %>
        </h>
        <div class="col-xs-12">
          <div class="card">
            <div class="card-header">
              <h4>Details engagements par exercice</h4>
              <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            </div>
            <div class="card-body collapse in">
              <div class="card-block card-dashboard">
                <div id="jsGrid2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>




 <!-- =============================================== -->
<% include footer.ejs %>


 <script>
  $(function() {
    document.getElementById('menu29').classList.add('active');
  });

</script>


<script>
   var cancel = false;
   var clients = [];


  var query = $.ajax({
           type: "GET",
           url: "/raps/api/get",
           dataType: "json"
         });



   query.success(function(msg){

     clients = msg.exercices;


     $("#jsGrid1").jsGrid({
      //  height: "70%",
       width: "100%",
       filtering: true,
       editing: false,
       sorting: true,
       paging: true,
       autoload: true,
       inserting: false,
       pageSize: 15,
       pageButtonCount: 5,

      confirmDeleting: false,
      onItemDeleting: function(args) {
      },
      controller: {
      loadData: function(filter) {
          return $.grep(clients, function(obj) {
              return (!filter.code || obj.code.indexOf(filter.code) > -1)
              && (!filter.libelle || obj.libelle.indexOf(filter.libelle) > -1);
          });
        },
        insertItem: function(item) {
        },
        updateItem: function(item) {
         },
         deleteItem: function(item) {
         }
        },

        data: clients,

           fields: [
               { name: "code", title: "Code", type: "text", width: 30, validate: "required" },
               { name: "libelle", title: "Libelle", type: "text", width: 100, validate: "required"},
               { name: "rap", title: "RAP", type: "text", width: 100, validate: "required"},
               {
               itemTemplate: function(_, item) {
                   return $("<button class='btn btn-outline-secondary btn-sm'><i class='ft-cog'></i></button>").on("click", function() {
                         // window.location.href = '/raps/api/geteng/'.concat(item._id);

                         axios.get('/raps/api/geteng/'.concat(item._id))
                           .then((result) => {

                             // console.log(result);
                             var data2 = result.data.engagement


                             console.log(data2);

                             $("#jsGrid2").jsGrid({
                              //  height: "70%",
                               width: "100%",
                               filtering: true,
                               editing: false,
                               sorting: true,
                               paging: true,
                               autoload: true,
                               inserting: false,
                               pageSize: 15,
                               pageButtonCount: 5,

                              confirmDeleting: false,
                              onItemDeleting: function(args) {
                              },
                              controller: {
                              loadData: function(filter) {
                                  return $.grep(data2, function(obj) {
                                      return (!filter.numeng || obj.numeng.indexOf(filter.numeng) > -1)
                                      && (!filter.dateeng || obj.dateeng.indexOf(filter.dateeng) > -1);
                                  });
                                },
                                insertItem: function(item) {
                                },
                                updateItem: function(item) {
                                 },
                                deleteItem: function(item) {
                                 }
                                },

                                data: data2,

                                fields: [
                                       { name: "numeng", title: "Numéro", type: "text", width: 30, validate: "required" },
                                       { name: "dateeng", title: "Date", type: "text", width: 100, validate: "required"},
                                       { name: "rap", title: "RAP", type: "text", width: 100, validate: "required"},
                                       {
                                         itemTemplate: function(_, item2) {
                                           return $("<button class='btn btn-outline-secondary btn-sm'><i class='ft-cog'></i></button>").on("click", function() {
                                                 // window.location.href = '/raps/api/geteng/'.concat(item._id);
                                                 console.log(item2)
                                                 axios.post('/raps/api/cpeng/', {
                                                    data: {
                                                      engage: item2,
                                                      exerciceid: item._id,
                                                      region: item.region
                                                    }
                                                 })
                                                   .then((result) => {
                                                     console.log(result);
                                                     location.reload();
                                                     // var obj = JSON.stringify(result);
                                                     // var data = document.querySelector("#modalcontent");
                                                     // var p = document.createElement("p");
                                                     //
                                                     // data.append(obj, p);
                                                   })

                                             });
                                       }, width: 25, align: "center", title: "Edit"
                                      }
                                   ]
                               });
                               $("#jsGrid2").jsGrid("option", "filtering", false);

                             // var obj = JSON.stringify(result);
                             // var data = document.querySelector("#modalcontent");
                             // var p = document.createElement("p");
                             //
                             // data.append(obj, p);
                           })

                     });
               }, width: 25, align: "center", title: "Edit"
             }
           ]
       });
       $("#jsGrid1").jsGrid("option", "filtering", false);
    });



</script>
