<% include header.ejs %>

<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">

           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">Recettes
                 </li>
               </ol>
             </div>
           </div>
         </div>

    </div>
  <!-- End Row Header=============================================== -->

  <!-- content page -->

  <section id="custom-view">
    <div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="form-group">

    <!-- Modal -->
     <div class="modal fade text-xs-left" id="bootstrap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel35" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>

                <div class="alert alert-warning mb-2" align ="center">
                    <h4 >Annulation de la recette sélectionnée.</h4>
                </div>

            </div>
            <form name="myForm" id="myForm" class="form form-horizontal form-bordered" method="post">
                    <div class="modal-body">

                        <label for="comptebancaire">Compte bancaire</label>
                        <input type="hidden" class="form-control"  id="ecritureid" name="ecritureid" placeholder="id ecriture">
                        <input type="hidden" class="form-control"  id="comptebancaireidmodal" name="comptebancaireidmodal" placeholder="id Compte bancaire">
                        <input type="text" readonly="readonly" class="form-control"  id="comptebancairemodal" name="comptebancairemodal" placeholder="Compte bancaire">

                        <label for="title">Débiteur</label>
                        <input type="text"  readonly="readonly" class="form-control" id="debiteurmodal" name="debiteurmodal" placeholder="Débiteur">

                        <label for="title1">Montant</label>
                        <div class="controls">
                            <div class="input-group">

                              <input type="number" id="montantmodal" name="montantmodal" step=".01" min="0"  readonly="readonly" class="form-control" >
                              <span class="input-group-addon ">dhs</span>
                            </div>
                        </div>

                        <label for="title">Imputation</label>
                        <input type="text"  readonly="readonly" class="form-control" id="imputationmodal" placeholder="Imputation">

                        <label for="title">Date d'annulation</label>
                        <div class="input-group">
                          <span class="input-group-addon">
                            <span class="fa fa-calendar-o"></span>
                          </span>
                          <input type='text' id="dateannulationmodal" name="dateannulationmodal"   readonly="readonly" required class="form-control" placeholder="Saisir la date d'annulation" />
                        </div>

                        <br><br><br>
                        <fieldset class="form-group floating-label-form-group">
                          <label for="title">Motif de l'annulation</label>
                          <input type="text" class="form-control" id="motifannulationmodal" name="motifannulationmodal" required placeholder="Motif de l'annulation">
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                      <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="Annuler">
                      <input type="submit" class="btn btn-outline-primary btn-lg" value="Enregistrer">
                    </div>
            </form>
      </div>
      </div>
    </div>
  </div>
</div>
    </div>
    <div class="row">

        <div class="col-xs-12">
          <div class="form-group">
            <p>Sélectionner un compte bancaire</p>
            <select class="select2-theme form-control" id="select2-comptesbancaires" onchange="run()" style="width: 100%">
                <% for(i=0; i< comptesbancaires.length; i++){%>
                  <option value=  <%= comptesbancaires[i]._id %>  ><%= comptesbancaires[i].code %>&nbsp&nbsp&nbsp&nbsp<%= comptesbancaires[i].banque %></option>
                <%}%>
            </select>
        </div></div></div>
      <div class="row">

          <div class="col-xs-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Liste des recettes</h4>
                      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                      <div class="heading-elements">
                          <ul class="list-inline mb-0">
                              <li><a href="/recetteform" id="linkderogationform" class="btn btn-outline-primary btn-min-width mr-1 mb-1" role="button">Nouvelle recette</a></li>

                          </ul>
                      </div>
                  </div>
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard ">

                        <div id="jsGrid1"></div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>


  <!-- content page-->

<% include footer.ejs %>
<script>
    $(document).ready(function(){
       run();
    });

    // Default Date for the date picker
    var date = new Date();
    $("#dateannulationmodal").val( date.getDate()+"/"+(date.getMonth() + 1 )+"/"+ date.getFullYear());



    $(function() {
      document.getElementById('menu13').classList.add('active');
    });

</script>

<script>
//
 function run() {

     comptesbancairesid = document.getElementById("select2-comptesbancaires").value;

    //  // -----------------------Au moins il y a un exercice---------------------------------------------------------
     var loadeddata = [];
     var banques = [];
     var sourcebudget = [];

     var query = $.ajax({
             type: "GET",
             url: "/recettes/api/get/".concat(comptesbancairesid),
             dataType: "json"
           });

     query.success(function(msg){

       loadeddata = msg.filter(function (a) {
           return a.annuler === false;
        });


        $("#jsGrid1").jsGrid({
        //  height: "70%",
         width: "100%",
         filtering: true,
         editing: false,
         sorting: true,
         paging: true,
         autoload: true,
         inserting: false,
         pageSize: 15,
         pageButtonCount: 5,

          deleteConfirm: "Do you really want to delete it?",
          controller: {
          loadData: function(filter) {
              return $.grep(loadeddata, function(obj) {
                  return (!filter.numavis || obj.numavis.indexOf(filter.numavis) > -1)
                  && (!filter.exercice || obj.exercice.indexOf(filter.exercice) > -1)
                  && (!filter.dateav || obj.dateav.indexOf(filter.dateav) > -1)
                  && (!filter.debiteur || obj.debiteur.indexOf(filter.debiteur) > -1)
                  && (!filter.montant || obj.montant.indexOf(filter.montant) > -1);
              });
          }

        },

          data: loadeddata,

             fields: [
                 { name: "numavis", title: "N° Avis", type: "text", width: 50, validate: "required",align:"right" },
                 { name: "dateav", title: "Date AV", type: "text", width: 50, validate: "required"},
                 { name: "sourcebudget", title: "Affectation", type: "text", width: 160, validate: "required",visible:false},
                 { name: "debiteur", title: "debiteur", type: "text", width: 150, validate: "required",visible:false},
                 { name: "objet", title: "Objet de la recette", type: "text", width: 150, validate: "required"},
                 { name: "montant", title: "Montant", type: "number", width: 60, validate: "required",
                   align: "right",itemTemplate: function(cost) {
                                            return (cost).toFixed(2);
                                         }, validate: { message: "Attention, valeur saisie doit être > 0" , validator: function(value, item) { return value > 0 ; } } },

                 { name: "dateencaissement" , title: "Date Encaissement", type: "text",  width: 60, validate: "required" },
                 {
                 itemTemplate: function(_, item) {

                     return $("<button title='Annuler la recette.' class='btn btn-outline-danger btn-sm' (item.annuler == true) ? '' : 'disabled'  data-toggle='modal' data-target='#bootstrap'><i class='ft-x'></i></button>").on("click", function() {

                           document.getElementById("ecritureid").value = item._id;
                           document.getElementById("comptebancaireidmodal").value = document.getElementById("select2-comptesbancaires").value;
                           document.getElementById("comptebancairemodal").value = document.getElementById("select2-comptesbancaires").options[document.getElementById("select2-comptesbancaires").selectedIndex].text;
                           document.getElementById("debiteurmodal").value =item.debiteur;
                           document.getElementById("montantmodal").value =item.montant;
                           document.getElementById("imputationmodal").value =item.sourcebudget;
                           document.getElementById('myForm').action ="/recettes/api/cancel/".concat(document.forms['myForm']['comptebancaireidmodal'].value + '?ecritureid=' + item._id);

                       });
                 }, width: 20, align: "center", title: "Annul"

               },{
               itemTemplate: function(_, item) {

                   return $("<button title='Imprimer Ordre de Recette.' class='btn btn-outline-primary btn-sm' data-target='#bootstrap'><i class='ft-printer'></i></button>").on("click", function() {

                        window.location.href = "./invoice";
                     });
               }, width: 20, align: "center", title: "Impr"

             },
                {type: "control", editButton: false, deleteButton: false  }
             ]
         });
       });
};

</script>
