<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">

           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item"><a href="/recettes">Liste des recettes</a>
                 </li>
                 <li class="breadcrumb-item active">Nouvelle recette
                 </li>
               </ol>
             </div>
           </div>
         </div>

    </div>
  <!-- End Row Header=============================================== -->
  <!-- content page -->
  <div class="row">



    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="bordered-layout-basic-form">Formulaire de saisie: NOUVEL ORDRE DE RECETTE </h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

            </div>
            <div class="card-body collapse in">
                <div class="card-block">
                    <div class="card-text">


                    </div>
                    <form name="myForm" id="myForm" class="form form-horizontal form-bordered"   method="post">
                      <div class="form-body">
                        <h4 class="form-section"></h4>

                        <div class="form-group row">
                            <label class="col-md-2 label-control" for="projectinput4">Date avis de recette</label>
                            <div class="col-md-3">

                              <div class="input-group">
                                <span class="input-group-addon">
                                  <span class="fa fa-calendar-o"></span>
                                </span>
                                <input type="date" class="form-control" id="dateavis" name="dateavis" placeholder="Saisir la date de l\'avis de recette" required  >  <!-- <input type='text' id="dateop" name="dateop" class="form-control pickadate-translations has-danger" placeholder="Saisir la date de la recette" required /> -->
                              </div>

                            </div>
                            <label class="col-md-1 label-control" for="projectinput4">Exercice actuel</label>
                            <div class="col-md-2">
                              <select class="select2-diacritics form-control" id="exercices" name="exercices">
                                  <% for(i=0; i< exercices.length; i++){%>
                                    <option><%= exercices[i].libelle %></option>
                                  <%}%>
                              </select>
                            </div>

                            <label class="col-md-1 label-control" for="projectinput4">Exercice imputé</label>
                            <div class="col-md-2">
                              <select class="select2-diacritics form-control" id="exercices" name="exercices">
                                  <% for(i=0; i< exercices.length; i++){%>
                                    <option><%= exercices[i].libelle %></option>
                                  <%}%>
                              </select>
                            </div>
                        </div>



                          <div class="form-group row">
                                <label class="col-md-2 label-control" for="projectinput1">Comptes bancaires</label>
                                <div class="col-md-3">
                                  <select class="select2 form-control" required id="comptesbancaires" name="comptesbancaires">
                                          <%
                                          for(i=0; i< comptesbancaires.length; i++){%>
                                            <option value=  <%= comptesbancaires[i]._id %>  ><%= comptesbancaires[i].code %>&nbsp&nbsp&nbsp&nbsp<%= comptesbancaires[i].banque %></option>
                                          <%}%>
                                    </select>
                                </div>

                                <label class="col-md-1 label-control" for="projectinput1">Imputation</label>
                                <div class="col-md-5">
                                  <select class="select2 form-control" required id="sourcebudget" name="sourcebudget">
                                          <%
                                          for(i=0; i< sourcesbudget.length; i++){%>
                                            <option><%= sourcesbudget[i].libelle %></option>
                                          <%}%>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                  <label class="col-md-2 label-control" for="projectinput1">Débiteur</label>
                                  <div class="col-md-9">
                                    <select class="select2-placeholder form-control " required id="debiteur" name="debiteur">
                                      <%
                                      for(i=0; i< debiteurs.length; i++){%>
                                        <option><%= debiteurs[i].libelle %></option>
                                      <%}%>
                                    </select>
                                  </div>
                                  <!-- <br>
                                    &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-outline-secondary mr-1"><i class="fa ft-plus"></i></button> -->

                            </div>
                            <div class="form-group row">
                                  <label class="col-md-2 label-control" for="projectinput1">Objet</label>
                                  <div class="col-md-9">
                                    <input type="text" class="form-control" id="objet" name="objet"  required>
                                  </div>
                              </div>



                                <div class="form-group row">
                                    <label class="col-md-2 label-control" for="projectinput3">Montant á transferer</label>
                                    <div class="col-md-3">
                                      <div class="controls">
                                          <div class="input-group">

                                            <input type="number" id="montant" name="montant" step=".01" min="0" class="form-control" required data-validation-required-message="Ce champs est oblogatoire.">
                                             <span class="input-group-addon ">dhs</span>
                                          </div>
                                        </div>
                                    </div>

                                    <label class="col-md-3 label-control" for="projectinput4">Date encaissement</label>
                                    <div class="col-md-3">

                                      <div class="input-group">
                                        <span class="input-group-addon">
                                          <span class="fa fa-calendar-o"></span>
                                        </span>
                                        <input type="date" class="form-control" id="dateencaissement" name="dateencaissement" placeholder="Saisir la date de l\'avis de recette" required  >  <!-- <input type='text' id="dateop" name="dateop" class="form-control pickadate-translations has-danger" placeholder="Saisir la date de la recette" required /> -->
                                      </div>

                                    </div>
                                </div>

                          <div class="form-group row ">
                              <label class="col-md-2 label-control" for="projectinput4">Justificatifs</label>
                              <div class="col-md-8">
                                <input type="text" name="cities" id="justif" class="form-control" value="" data-role="tagsinput"/>
                              </div>
                          </div>
                          <br>

                          <div class="row">
                            <div class="col-md-12">
                                  <label for=""><b>Comptabilité générale :</b></label>
                                  <div id="jsGrid1"></div>
                          </div>
                          </div>

                      </div>

                        <div class="form-actions">
                            <button type="button" class="btn btn-warning mr-1" onclick="window.location.href='/recettes'">
                              <i class="ft-x"></i> Annuler
                            </button>
                            <button type="submit" class="btn btn-primary" onclick="return validateForm()">
                                <i class="fa fa-check-square-o"></i> Enregistrer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->





  <!-- content page-->

<% include footer.ejs %>


<script>


  $(function() {
    document.getElementById('menu13').classList.add('active');

  });

  // Default Date for the date picker
  // var date = new Date();
  // $("#dateavis").val( date.getDate()+"/"+(date.getMonth() + 1 )+"/"+ date.getFullYear());
  // $("#dateencaissement").val( date.getDate()+"/"+(date.getMonth() + 1 )+"/"+ date.getFullYear());
  //
  function enregistrer(item) {

    var t = $.ajax({
          type: "POST",
          url: "recettes/api/add/",
          data: item
        });
    t.success(function(msg){
      return msg;
    })
   }



   function validateForm() {
     document.getElementById('myForm').action ="/recetteform/api/add/".concat(document.forms['myForm']['comptesbancaires'].value);
   }

</script>
<script>
   var dataloaded = [];
   var banques = [ {id: "", name: ""},
                   {id: "BMCE", name: "BMCE"},
                   {id: "Trésorerie Général", name: "Trésorerie Général"},
                   {id: "BMCI", name: "BMCI"},
                   {id: "Attijariwafa Bank", name: "Attijariwafa Bank"},
                   {id: "Banque populaire", name: "Banque populaire"},
                   {id: "CIH Bank", name: "CIH Bank"},
                   {id: "Crédit agricole", name: "Crédit agricole"},
                   {id: "Crédit agricole", name: "Crédit du Maroc"},
                   {id: "Société générale Maroc", name: "Société générale Maroc"},
                   {id: "Barid Bank", name: "Barid Bank"}];
     var typeop = [ {id: "", name: ""},
                   {id: "DEBIT", name: "Débit"},
                   {id: "CREDIT", name: "Crédit"}];

     $("#jsGrid1").jsGrid({
      //  height: "70%",
       width: "100%",
       filtering: true,
       editing: true,
       sorting: true,
       paging: true,
       autoload: true,
       inserting: true,
       pageSize: 15,
       pageButtonCount: 5,

        deleteConfirm: "Do you really want to delete it?",
        controller: {
        loadData: function(filter) {
            return $.grep(dataloaded, function(obj) {
                return (!filter.code || obj.code.indexOf(filter.code) > -1)
                && (!filter.agence || obj.agence.indexOf(filter.agence) > -1)
                && (!filter.rib || obj.rib.indexOf(filter.rib) > -1)
                && (!filter.banque || obj.banque == filter.banque)
                && (!filter.typeop || obj.typeop == filter.typeop)
                && (!filter.comptebancaire || obj.comptebancaire.indexOf(filter.comptebancaire) > -1);
            });
        },

        insertItem: function(item) {
          var t = $.ajax({
                type: "POST",
                url: "comptesbancaires/api/add/",
                data: item
              });
          t.success(function(msg){
            dataloaded = msg.data;
             $("#jsGrid1").jsGrid("loadData");
            return msg.message;
          })

        },
        updateItem: function(item) {
          var t = $.ajax({
                type: "POST",
                url: "comptesbancaires/api/update/".concat(item._id),
                data: item
              });
          t.success(function(msg){
            return msg;
          })
         },
        deleteItem: function(item) {
          var t =  $.ajax({
                type: "DELETE",
                url: "comptesbancaires/api/delete/".concat(item._id),
                data: item
              });
          t.success(function(msg){
            return msg;
          })
        }
      },

        data: dataloaded,

           fields: [
               { name: "compte", title: "Compte", type: "text", width: 60, validate: "required" },
               { name: "libelle", title: "Libellé", type: "text", width: 160, validate: "required" },
               { name: "type" , title: "Type", type: "select", items: typeop, valueField: "id", textField: "name", width: 60, validate: "required", align: "left" },
               { name: "montant", title: "Montant", type: "number", width: 60, validate: "required" ,
                 align: "right",itemTemplate: function(cost) {
                                          return (cost).toFixed(2);
                                       } },
               { type: "control" }
           ]
       });





</script>
