<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">
           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">Regies / Alimentation de caisse
                 </li>
               </ol>
             </div>
           </div>
         </div>

 </div>

  <!-- End Row Header=============================================== -->
  <!-- content page -->
  <section id="custom-view">
    <!-- Row liste des exercices -->
    <div class="row">
        <div class="col-xs-6">
              <div class="form-group">
                <p>Sélectionner un exercice</p>
                <select class="select2-theme form-control" id="select2-exercices" onchange="changeexercice()" style="width: 100%">
                    <option value= 'vide'></option>
                  <% for(i=0; i< exercices.length; i++){%>
                    <option value= <%= exercices[i]._id %> ><%= exercices[i].libelle %></option>
                  <%}%>
                </select>
              </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
            <p>Sélectionner une régie</p>
            <select class="select2-theme form-control" id="select2-regie" onchange="changeregie()" style="width: 100%" data-bgcolor="success" data-bgcolor-variation="lighten-3">
                <option value= 'vide'></option>
            </select>
        </div>
      </div>


    </div>
    <div class="row">
        <div class="col-xl-4 col-md-12">
            <div class="card overflow-hidden">
                <div class="card-body">
                    <div class="media bg-primary white">
                        <div class="media-left bg-primary bg-darken-2 p-2 media-middle">
                            <i class="ft-plus-circle font-large-2 white"></i>
                        </div>
                        <div class="media-body p-2">
                            <h4>Total crédit</h4>
                            <span>Total Encaissements</span>
                        </div>
                        <div class="media-right p-2 media-middle">
                            <h1><label id="lbl_total_credit">0.00</label></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="media bg-danger white">
                        <div class="media-left bg-danger bg-darken-2 p-2 media-middle">
                            <i class="ft-minus-circle font-large-2 white"></i>
                        </div>
                        <div class="media-body p-2">
                            <h4>Total débit</h4>
                            <span>Total Dépenses</span>
                        </div>
                        <div class="media-right p-2 media-middle">
                            <h1><label id="lbl_total_debit">0.00</label></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-12">
          <div class="card overflow-hidden">
              <div class="card-body">
                  <div class="media  ">
                      <div class="media-left bg-primary bg-darken-2 p-2 media-middle">
                          <i class="icon-wallet font-large-2 white"></i>
                      </div>
                      <div class="media-body p-2">
                          <h4>Solde</h4>
                          <span>Disponibles</span>
                      </div>
                      <div class="media-right p-2 media-middle">
                          <h1 class="primary"><label id="lbl_total_solde">0.00</label></h1>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <!-- End Row liste des exercices -->
      <div class="row">

          <div class="col-xs-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Liste des alimentations des caisses des régies de l'exercice sélectionné</h4>
                      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                      <div class="heading-elements">
                          <ul class="list-inline mb-0">
                            <button type="button" name="button" class="btn btn-outline-primary btn-min-width mr-1 mb-1" onclick="afficher_modal();"  >Nouvelle alimentation de caisse</button>
                              <!-- <li><a href="/engagementsform" id="linkderogationform" class="btn btn-outline-primary btn-min-width mr-1 mb-1" role="button">Nouvelle alimentation de caisse</a></li> -->
                          </ul>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">

                        </div>
                      </div>
                  </div>
                  <!-- js grid -->
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard ">
                        <div id="jsGrid1"></div>
                      </div>
                  </div>
                  <!-- end js grid -->
              </div>
          </div>
      </div>

  </section>

<!--  modal -->
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="form-group">

        <!-- Modal -->
        <div class="modal fade text-xs-left" id="primarymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header p-2 bg-gradient-x-primary white media-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel8">Nouvelle alimentation de caisse</h4>
            </div>
            <div class="modal-body">
            <div class="row">
              <div class="col-xs-12">
                <div class="card">
                  <div class="card-body collapse in">
                    <div class="card-block">

                      <!-- show entete engagement -->
                      <div class="row">
                        <div class="table-responsive">
                          <div class="table-responsive">
                            <table class="table table-bordered">
                              <thead>
                                  <tr bgcolor="#EFFBF8">
                                    <th width="25%">Exercice</th>
                                    <th width="75%"><label  ID="exe_txt"></label> </th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                    <td class="text-middle">La régie</td>
                                    <td> <label  ID="regie_txt"></label></td>
                                  </tr>
                                  <tr>
                                    <td class="text-middle">Date opération</td>
                                    <td> <label  ID="dateop_txt"></label></td>
                                  </tr>
                                  <tr bgcolor="#FAFAFA">
                                    <td class="text-middle">Sens</td>
                                    <td><span class="primary"><b>
                                      <div class="form-group">
                                            <select name="type" class="select2-theme form-control" id="sens" required  style="width:100%;">
                                                <option value=' ' selected>--Sélect--</option>
                                                <option value="-">Débit</option>
                                                <option value="+">Crédit</option>
                                            </select>
                                      </div>
                                    </b></span></td>
                                  </tr>
                                  <tr bgcolor="#FAFAFA">
                                    <td class="text-middle">Montant total</td>
                                    <td><span class="primary"><b>
                                      <input type="text" class="form-control decimal-inputmask" id="montantcredit" placeholder="0,00" maxlength="14">
                                        <!-- <input type="text" class="form-control decimal-inputmask" id="montantcredit"  placeholder="0,00" maxlength="12" style="font-size:18px;"  required min="0" max="100" > -->
                                      <!-- <input type="number" class="form-control decimal-inputmask" id="montant_txt" placeholder="0,00" maxlength="14"> -->
                                    </b></span></td>
                                  </tr>
                                  <tr bgcolor="#FAFAFA">
                                    <td class="text-middle">Description</td>
                                    <td><span class="primary"><b><input type="text" class="form-control" name="description_txt" ID="description_txt"></b></span></td>
                                  </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="modal-footer">

              <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal" id="closemodal">Fermer</button>
              <button type="button" id="btnvalidermodal" class="btn btn-outline-primary" onclick="valideroperation();">Valider</button>

            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <!-- content page-->


<% include footer.ejs %>
<script>
  var cancel = false;
  // var clients = [];
  var exerciceid;
  var regieid;

  var etatdispo = true;
// ############################################################################################# //
function valideroperation() {
  var message ='';
  // Check description
  if($('#description_txt').val().trim() == ""){
      message = message + 'Description non valide \n';
  }
  // Check sens operation (debit ou credit)
  if($('#sens').val().trim() == ""){
      message = message + 'Sens de l\'opération non valide \n';
  }
  // Check montant rubrique
  if ($('#sens').val() === '-' && Number($('#montantcredit').val())>= 0)   {
      message = message + 'Montant doit être < 0. \n';
  }

  // Check montant rubrique
  if ($('#sens').val() === '+' && Number($('#montantcredit').val())<= 0)  {
      message = message + 'Montant doit être > 0. \n';
  }

  // Test end Show message
  if (message !== "") {
      sweetAlert("Champs obligatoires...",message, "warning");

  }else {

      var objcaisse = {
                      date: js_yyyy_mm_dd_hh_mm_ss (),
                      libelle: document.getElementById("description_txt").value,
                      sens: $("#sens>option:selected").text(),
                      montant: Number($('#montantcredit').val()),
                      user: "<%= user._id %>"
                  }

              axios({
                    method: "POST",
                    url: "/regiescaisse/api/caisse/add",
                    data: {
                      exerciceid: exerciceid,
                      regieid: regieid,
                      caisse: objcaisse
                    }
                  })
                  .then((msg) => {
                      if (msg.data.result === 'OK'){
                      swal(
                        'Opération réussie',
                         msg.message,
                        'success'
                    )
                          charger_jsGrid(msg.data.caisse);

                          $('#dateop_txt').text(js_yyyy_mm_dd_hh_mm_ss ());
                          $('#description_txt').val('');
                          $('#montantcredit').val('');
                          $("#montantcredit").focus();

                          // return msg.message;

                        } else {
                            swal(
                                  'Opération échouée',
                                  msg.message,
                                  'error'
                                )
                          }
                  })
      }
}
// ############################################################################################# //
function afficher_modal() {
  var message ='';
// Check exercice
  if (document.getElementById("select2-exercices").value === 'vide') {
      message = message + 'Exercice non valide\n';
  }
// Check regie
  if (document.getElementById("select2-regie").value === 'vide') {
      message = message + 'Régie non valide\n';
  }


// Test end Show message
  if (message !== "") {
      sweetAlert("Champs obligatoires...",message, "warning");

  } else {
    $('#exe_txt').text($("#select2-exercices>option:selected").text());
    $('#regie_txt').text($("#select2-regie>option:selected").text());
    $('#dateop_txt').text(js_yyyy_mm_dd_hh_mm_ss ());
    $(primarymodal).modal('show');
  }

}
// ############################################################################################# //

$(document).ready(function(){
    var tab = [];
      charger_jsGrid(tab);
  });
// ############################################################################################# //
// fonction pour appliquer les droits du profile
  $(function() {
    document.getElementById('menu33').classList.add('active');
  });
// ############################################################################################# //
  function changeexercice () {
    $('#lbl_total_credit').text(parseFloat(0).toFixed(2));
    $('#lbl_total_debit').text(parseFloat(0).toFixed(2));
    $('#lbl_total_solde').text(parseFloat(0).toFixed(2));

    exerciceid = document.getElementById("select2-exercices").value;
    $("#select2-regie").empty()
    var option = document.createElement("option");
    option.text = "";
    option.value = 'vide';
     var select = document.getElementById("select2-regie");
     select.appendChild(option);


    if(exerciceid !== "vide"){
      var q = $.ajax({
               type: "GET",
               url: "/regiescaisse/api/get/".concat(exerciceid),
               dataType: "json",
               success: function(data){

                data.forEach(item => {
                  var option = document.createElement("option");
                  option.text = item.libelle;
                  option.value = item._id;
                   var select = document.getElementById("select2-regie");
                   select.appendChild(option);
                 })
                 changeregie();
               }

             });
    } else {
       changeregie();
    }


  }
// ############################################################################################# //
// fonction changeeregie
function changeregie() {
  $('#lbl_total_credit').text(parseFloat(0).toFixed(2));
  $('#lbl_total_debit').text(parseFloat(0).toFixed(2));
  $('#lbl_total_solde').text(parseFloat(0).toFixed(2));

  exerciceid = document.getElementById("select2-exercices").value;
  regieid = document.getElementById("select2-regie").value;
  if (exerciceid === "vide" || regieid === "vide"){
    var empty = [];
    charger_jsGrid(empty);
  }else{
    var query = $.ajax({
             type: "GET",
             url: "/regiescaisse/api/getcaisse/".concat(exerciceid + '|' + regieid),
             dataType: "json"
           });

     query.success(function(msg){
       charger_jsGrid(msg.caisse);
       $('#lbl_total_credit').text(parseFloat(msg.totaux.total_credit).toFixed(2));
       $('#lbl_total_debit').text(parseFloat(msg.totaux.total_debit).toFixed(2));
       $('#lbl_total_solde').text(parseFloat((msg.totaux.total_credit) - parseFloat(msg.totaux.total_debit)).toFixed(2));
       // $("#jsGrid1").jsGrid({"option", "inserting", true});
     })
  }

}
// ############################################################################################# //
// fonction reinitial gsgrid
function charger_jsGrid(param) {
  InitGridCustomFields();
  $("#jsGrid1").jsGrid({
   //  height: "70%",
    width: "100%",
    filtering: true,
    editing: false,
    sorting: true,
    paging: true,
    autoload: true,
    inserting: false,
    pageSize: 10,
    pageButtonCount: 5,
    pageIndex: 1,
    noDataContent: "Liste vide",

   confirmDeleting: false,



           controller: {
           loadData: function(filter) {

               return $.grep(param, function(obj) {
                   return (!filter.date || obj.date.indexOf(filter.date) > -1)
                   && (!filter.libelle || obj.libelle.indexOf(filter.libelle) > -1);
                  //  && (!filter.montant || obj.montant.indexOf(filter.montant) > -1);
               });
           } ,
            deleteItem: function(item) {
              swal({
                  title: "Confirmation!",
                  text: "Voulez-vous vraimenet supprimer cet élement?",
                  showCancelButton: true,
                  confirmButtonColor: '#FE642E',
                  confirmButtonText: "Yes",
                  cancelButtonText: "No",
                  closeOnConfirm: false,
                  closeOnCancel: false
              }, function(isConfirm) {
                  if (isConfirm) {
                                 var t =  $.ajax({
                                    method: "POST",
                                    url: "/regiescaisse/api/caisse/remove",
                                    data: {exerciceid: exerciceid ,
                                          regieid: regieid,
                                          caisseelmid: item._id  }
                                  });
                                  t.success(function(msg){
                                    if (msg.result === 'OK'){
                                    swal(
                                          'Opération réussie',
                                          msg.message,
                                          'success'
                                        );
                                      } else {
                                          swal(
                                                'Opération échouée',
                                                msg.message,
                                                'error'
                                              )
                                        }
                                    return msg;
                                  })

                  } else {
                                // run();
                                $("#jsGrid1").jsGrid("loadData");
                                swal("Annulation", "Opération annulée.", "error");
                  }
              });
            }

           },
           onRefreshed: function(args) {
                var items = args.grid.option("data");
                var total = { "date":"TOTAL Crédit:","libelle": "","montant": '0', IsTotal: true };

                 total.montant = 0;
                 items.forEach(function (item) {
                     if (item.montant!= null) {
                        //  total.montant += parseFloat((item.montant).toFixed(2))
                         total.montant = (Number(total.montant ) + Number(item.montant )).toFixed(2)
                     }
                 });

                var $totalRow = $("<tr style='background: #f5f5f5;font-weight: bold;'>");

                args.grid._renderCells($totalRow, total);
                args.grid._content.append($totalRow);

          } ,

     data: param,
        fields: [
                    { name: "date", title: "Date", type: "text", width: 50, inserting: false, validate: "required" },
                    { name: "libelle", title: "Libelle", type: "text", width: 250, validate: "required" },
                    { name: "sens", title: "Sens", type: "text", width: 50, validate: "required",
                              itemTemplate: function(value, item) {
                                  return $("<span>").attr("class", (item.sens === "Crédit")? "primary" : "danger" )
                                         .attr("style", "customfamilyfont")
                                         .text(item.sens);
                              }
                    },
                    { name: "montant", title: "Montant", type: "customCurrencyField", width: 50, validate: "required", align: "right",
                              itemTemplate: function(value, item) {
                                switch(item.sens) {
                                      case "Crédit":
                                      return $("<span>").attr("class", "primary")
                                             .attr("style", "customfamilyfont")
                                             .text(value);
                                          break;
                                      case "Débit":
                                      return $("<span>").attr("class","danger")
                                             .attr("style", "customfamilyfont")
                                             .text(value);
                                          break;
                                      default:
                                      return $("<span>").attr("class","secondary")
                                             .attr("style", "customfamilyfont")
                                             .text(value);

                                  }

                              }
                    },
                    {type: "control", editButton: false,itemTemplate: function(_, item) {
                        if(item.IsTotal)
                        	return "";
                        return jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                      }}
                ]
    });
$("#jsGrid1").jsGrid("sort", "date", "desc");
}
// currency field
function InitGridCustomFields() {

  var optionsCurrency = {
    digitGroupSeparator: ' ',
    decimalCharacter: '.',
    decimalCharacterAlternative: ',',
    currencySymbol: '',
    currencySymbolPlacement: 's',
    decimalPlacesOverride: 2,
    // minimumValue: '0.00',
    emptyInputBehavior: 'zero',
    leadingZero: 'deny',
    defaultValueOverride: '0.00'
  };

  var jsGridCustomCurrencyField = function (config) {
    jsGrid.Field.call(this, config);
  };

  jsGridCustomCurrencyField.prototype = new jsGrid.Field({
    sorter: function (num1, num2) {
      return num1 - num2;
    },
    itemTemplate: function (value) {
      return $.fn.autoFormat(value, optionsCurrency);
    },
    insertTemplate: function (value) {
      this._insertPicker = $('<input type="text">').val(value);
      this._insertPicker.autoNumeric('init', optionsCurrency);
      return this._insertPicker;
    },
    editTemplate: function (value) {
      this._editPicker = $('<input type="text">').val(value);
      this._editPicker.autoNumeric('init', optionsCurrency);
      return this._editPicker;
    },
    filterTemplate: function () {
      if (!this.filtering)
        return '';

      var grid = this._grid,
        $result = $('<input type="text">').val(0);
      if (this.autosearch) {
        $result.on('change', function (e) {
          grid.search();
        });
      }

      return $result;
    },
    filterValue: function () {
      return this._insertPicker.val();
    },
    insertValue: function () {
      return this._insertPicker.autoNumeric('get');
    },
    editValue: function () {
      return this._editPicker.autoNumeric('get');
    }
  });

  jsGrid.fields.customCurrencyField = jsGridCustomCurrencyField;

};
// ########################################################################################
// ############################################################################################# //
function js_yyyy_mm_dd_hh_mm_ss () {
  now = new Date();
  year = "" + now.getFullYear();
  month = "" + (now.getMonth() + 1); if (month.length == 1) { month = "0" + month; }
  day = "" + now.getDate(); if (day.length == 1) { day = "0" + day; }
  hour = "" + now.getHours(); if (hour.length == 1) { hour = "0" + hour; }
  minute = "" + now.getMinutes(); if (minute.length == 1) { minute = "0" + minute; }
  second = "" + now.getSeconds(); if (second.length == 1) { second = "0" + second; }
  return year + "/" + month + "/" + day + "  " + hour + ":" + minute + ":" + second;
}
// ############################################################################################# //
</script>
