<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">
           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">Regies / Budget annuel de la régie
                 </li>
               </ol>
             </div>
           </div>
         </div>

 </div>
  <!-- End Row Header=============================================== -->
  <!-- content page -->
  <section id="custom-view">
    <!-- Row liste des exercices -->
    <div class="row">
        <div class="col-xs-6">
              <div class="form-group">
                <p>Sélectionner un exercice</p>
                <select class="select2-theme form-control" id="select2-exercices" onchange="changeexercice()" style="width: 100%">
                    <option value= 'vide'></option>
                  <% for(i=0; i< exercices.length; i++){%>
                    <option value= <%= exercices[i]._id %> ><%= exercices[i].libelle %></option>
                  <%}%>
                </select>
              </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
            <p>Sélectionner une régie</p>
            <select class="select2-theme form-control" id="select2-regie" onchange="changeregie()" style="width: 100%" data-bgcolor="success" data-bgcolor-variation="lighten-3">
                <option value= 'vide'></option>
            </select>
        </div>
      </div>


    </div>
    <!-- End Row liste des exercices -->
      <div class="row">

          <div class="col-xs-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Crédit ouvert des régies de l'exercice sélectionné</h4>
                      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                      <div class="heading-elements">
                       
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">

                        </div>
                      </div>
                  </div>
                  <!-- js grid -->
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard ">
                        <div id="jsGrid1"></div>
                      </div>
                  </div>
                  <!-- end js grid -->
              </div>
          </div>
      </div>

  </section>


  <!-- content page-->


<% include footer.ejs %>
<script>
  var cancel = false;
  // var clients = [];
  var exerciceid;
  var regieid;

  var etatdispo = true;
// ############################################################################################# //

// ############################################################################################# //

$(document).ready(function(){
    var tab = [];
      charger_jsGrid(tab);
  });
// ############################################################################################# //
// fonction pour appliquer les droits du profile
  $(function() {
    document.getElementById('menu30').classList.add('active');
  });
// ############################################################################################# //
  function changeexercice () {
    exerciceid = document.getElementById("select2-exercices").value;
    $("#select2-regie").empty()
    var option = document.createElement("option");
    option.text = "";
    option.value = 'vide';
     var select = document.getElementById("select2-regie");
     select.appendChild(option);


    if(exerciceid !== "vide"){
      var q = $.ajax({
               type: "GET",
               url: "/regiescaisse/api/get/".concat(exerciceid),
               dataType: "json",
               success: function(data){

                data.forEach(item => {
                  var option = document.createElement("option");
                  option.text = item.libelle;
                  option.value = item._id;
                   var select = document.getElementById("select2-regie");
                   select.appendChild(option);
                 })
                 changeregie();
               }

             });
    } else {
       changeregie();
    }


  }
// ############################################################################################# //
// fonction changeeregie
function changeregie() {

  exerciceid = document.getElementById("select2-exercices").value;
  regieid = document.getElementById("select2-regie").value;
  if (exerciceid === "vide" || regieid === "vide"){
    var empty = [];
    charger_jsGrid(empty);
  }else{
    var query = $.ajax({
             type: "GET",
             url: "/regiescaisse/api/getcreditouvert/".concat(exerciceid + '|' + regieid),
             dataType: "json"
           });

     query.success(function(msg){
       charger_jsGrid(msg.emploi);
       // $("#jsGrid1").jsGrid({"option", "inserting", true});
     })
  }

}
// ############################################################################################# //
// fonction reinitial gsgrid
function charger_jsGrid(param) {
  InitGridCustomFields();
  $("#jsGrid1").jsGrid({
   //  height: "70%",
    width: "100%",
    filtering: true,
    editing: false,
    sorting: true,
    paging: true,
    autoload: true,
    inserting: false,
    pageSize: 10,
    pageButtonCount: 5,
    pageIndex: 1,
    noDataContent: "Liste vide",

   confirmDeleting: false,



   controller: {
   loadData: function(filter) {

       return $.grep(param, function(obj) {
         return (!filter.code || obj.code.indexOf(filter.code) > -1)
         && (!filter.libelle || obj.libelle.indexOf(filter.libelle) > -1);
       });
   }
   },
   onRefreshed: function(args) {
        var items = args.grid.option("data");
        var total = { "code": "TOTAL: ", "creditouvert": '0', "plafond": '0', "montantdispo": '0', IsTotal: true };

         total.creditouvert = 0;
         total.plafond = 0;
         total.disponible = 0;
         items.forEach(function (item) {
             if (item.creditouvert != null && item.plafond != null && item.disponible != null) {
                 total.creditouvert += parseFloat(item.creditouvert);
                 total.plafond += parseFloat(item.plafond);
                 total.disponible += parseFloat(item.disponible);
             }
         });
         total.creditouvert = total.creditouvert.toFixed(2);
         total.plafond = total.plafond.toFixed(2);
         total.disponible = total.disponible.toFixed(2);
        var $totalRow = $("<tr style='background: #f5f5f5;font-weight: bold;'>");

        args.grid._renderCells($totalRow, total);
        args.grid._content.append($totalRow);

  },
   data: param,

      fields: [
        { name: "code", title: "Code rubrique", type: "text", width: 60, validate: "required" },
        { name: "libelle", title: "Libellé", type: "text", width: 160, validate: "required" },
        { name: "creditouvert", title: "Crédit budgétaire", type: "customCurrencyField", width: 60, validate: "required",align: "right"} ,
        { name: "plafond", title: "Plafond", type: "customCurrencyField", width: 60, validate: "required",align: "right"} ,
        { name: "disponible", title: "Disponible", type: "customCurrencyField", width: 60, validate: "required",align: "right",
                  itemTemplate: function(value, item) {
                      return $("<span>").attr("class","primary")
                             .attr("style", "customfamilyfont")
                             .text( parseFloat(item.disponible).toFixed(2));
                  }
        },
        { type: "control",deleteButton: false, editButton: false,itemTemplate: function(_, item) {
            if(item.IsTotal)
              return "";
            return jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
          } }
      ]
    });
$("#jsGrid1").jsGrid("sort", "date", "desc");
}
// currency field
function InitGridCustomFields() {

  var optionsCurrency = {
    digitGroupSeparator: ' ',
    decimalCharacter: '.',
    decimalCharacterAlternative: ',',
    currencySymbol: '',
    currencySymbolPlacement: 's',
    decimalPlacesOverride: 2,
    // minimumValue: '0.00',
    emptyInputBehavior: 'zero',
    leadingZero: 'deny',
    defaultValueOverride: '0.00'
  };

  var jsGridCustomCurrencyField = function (config) {
    jsGrid.Field.call(this, config);
  };

  jsGridCustomCurrencyField.prototype = new jsGrid.Field({
    sorter: function (num1, num2) {
      return num1 - num2;
    },
    itemTemplate: function (value) {
      return $.fn.autoFormat(value, optionsCurrency);
    },
    insertTemplate: function (value) {
      this._insertPicker = $('<input type="text">').val(value);
      this._insertPicker.autoNumeric('init', optionsCurrency);
      return this._insertPicker;
    },
    editTemplate: function (value) {
      this._editPicker = $('<input type="text">').val(value);
      this._editPicker.autoNumeric('init', optionsCurrency);
      return this._editPicker;
    },
    filterTemplate: function () {
      if (!this.filtering)
        return '';

      var grid = this._grid,
        $result = $('<input type="text">').val(0);
      if (this.autosearch) {
        $result.on('change', function (e) {
          grid.search();
        });
      }

      return $result;
    },
    filterValue: function () {
      return this._insertPicker.val();
    },
    insertValue: function () {
      return this._insertPicker.autoNumeric('get');
    },
    editValue: function () {
      return this._editPicker.autoNumeric('get');
    }
  });

  jsGrid.fields.customCurrencyField = jsGridCustomCurrencyField;

};
// ########################################################################################
// ############################################################################################# //
function js_yyyy_mm_dd_hh_mm_ss () {
  now = new Date();
  year = "" + now.getFullYear();
  month = "" + (now.getMonth() + 1); if (month.length == 1) { month = "0" + month; }
  day = "" + now.getDate(); if (day.length == 1) { day = "0" + day; }
  hour = "" + now.getHours(); if (hour.length == 1) { hour = "0" + hour; }
  minute = "" + now.getMinutes(); if (minute.length == 1) { minute = "0" + minute; }
  second = "" + now.getSeconds(); if (second.length == 1) { second = "0" + second; }
  return year + "/" + month + "/" + day + "  " + hour + ":" + minute + ":" + second;
}
// ############################################################################################# //
</script>
