<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">

           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item"><a href="/projets">Liste des régies</a>
                 </li>
                 <li class="breadcrumb-item active">Crédits ouverts pour les régies
                 </li>
               </ol>
             </div>
           </div>
         </div>

    </div>
  <!-- End Row Header=============================================== -->

  <!-- content page -->
  <div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="bordered-layout-basic-form">CREDIT OUVERT DE LA REGIE:  <%= regieparamemplois.libelle %></h4>
            </div>
            <div class="card-body collapse in">
                <div class="card-block">
                    <div class="card-text">
                    </div>

<!-- action="/regieparamemploi/<%= regieparamemplois._id %>" -->
<form name="myform" id="myform"   class="form form-horizontal form-bordered" novalidate method="post">
  <div class="form-body">
    <fieldset>
                    <div class="row" align="right">
                      <div class="form-actions">
                        <button type="button" class="btn btn-warning mr-1" id="onCancel">
                          <i class="ft-x"></i> Annuler
                        </button>
                        <button type="button" id="save" name="save" class="btn btn-primary">
                          <i class="fa fa-check-square-o"></i> Enregistrer</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      </div>
                    </div>
                    <div class="row">

                      <div class="col-md-7">
                        <div class="form-group">
                          <!-- <p>Rubriques : </p> -->
                          <select class="select2-border border-primary form-control"name="rubriques" id="rubriques" placeholder="Rubriques" required tabindex="1">
                            <option value="" selected></option>
                            <% for(i=0; i< rubriques.length; i++){%>
                              <option value="<%= rubriques[i]._id %>"><%= rubriques[i].code %> | <%= rubriques[i].libelle %></option>
                            <%}%>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2">
                          <div class="form-group">
                              <!-- <p for="date4">Crédit ouvert :</p> -->
                              <input type="text" class="form-control" id="montant" placeholder="Crédit budgétaire" required tabindex="2">
                          </div>
                      </div>
                      <div class="col-md-2">
                          <div class="form-group">
                              <!-- <p for="date4">Crédit ouvert :</p> -->
                              <input type="text" class="form-control" id="plafond" placeholder="Plafond" required tabindex="3">
                          </div>
                      </div>
                      <div class="col-md-1" align="center">
                            <!-- <p for="date4">Action :</p> -->
                            <button type="button" id="addline" class="btn btn-icon btn-info mr-1"><i class="fa fa-plus"></i>  Add</button>
                      </div>
                    </div>

                    <div class="row hidden">
                      <div class="col-md-12">
                        <div class="form-group">
                          <p>Objet for BackEnd :</p>
                          <textarea type="text" id="programemploi"  name="programemploi" required="required" class="form-control" placeholder="programemploi" >
                          </textarea>
                        </div>
                      </div>
                    </div>

                  </fieldset>
                  </div>
                </form><br>
<!--  -->


                    <div class="row">
                       <div class="col-md-12">
                            <div id="jsGrid1"></div>
                       </div>

                     </div>
                 </div>
            </div>
       </div>
   </div>
 </div>






  <!-- content page-->

<% include footer.ejs %>


<script>

var clients = [];
var regieparamid = "<%= regieparamemplois._id %>"

var query = $.ajax({
         type: "GET",
         url: "/regieparamemploi/api/get/".concat(regieparamid),
         dataType: "json"
       });

 query.success(function(msg){

   clients = msg.emploi;
   $('#programemploi').val(JSON.stringify(clients));
    run();
});
function run() {
  InitGridCustomFields();
     $("#jsGrid1").jsGrid({
      //  height: "70%",
       width: "100%",
       filtering: true,
       editing: false,
       sorting: true,
       paging: true,
       autoload: true,
       inserting: false,
       pageSize: 15,
       pageButtonCount: 5,
       confirmDeleting: false,

        controller: {
        loadData: function(filter) {

            return $.grep(clients, function(obj) {
              return (!filter.code || obj.code.indexOf(filter.code) > -1)
              && (!filter.libelle || obj.libelle.indexOf(filter.libelle) > -1);
            });
        }
        },
        onRefreshed: function(args) {
             var items = args.grid.option("data");
             var total = { "code": "TOTAL: ", "creditouvert": '0',"plafond": '0', "disponible": '0', IsTotal: true };

              total.creditouvert = 0;
              total.plafond = 0;
              total.disponible = 0;
              items.forEach(function (item) {
                  if (item.creditouvert != null && item.plafond != null  && item.disponible != null) {
                      total.creditouvert += parseFloat(item.creditouvert);
                      total.plafond += parseFloat(item.plafond);
                      total.disponible += parseFloat(item.disponible);
                  }
              });
              total.creditouvert = total.creditouvert.toFixed(2);
              total.plafond = total.plafond.toFixed(2);
              total.disponible = total.disponible.toFixed(2);
             var $totalRow = $("<tr style='background: #f5f5f5;font-weight: bold;'>");

             args.grid._renderCells($totalRow, total);
             args.grid._content.append($totalRow);

       },


        data: clients,

           fields: [
             { name: "code", title: "Code rubrique", type: "text", width: 60, validate: "required" },
             { name: "libelle", title: "Libellé", type: "text", width: 160, validate: "required" },
             { name: "creditouvert", title: "Crédit budgétaire", type: "customCurrencyField", width: 60, validate: "required",align: "right"} ,
             { name: "plafond", title: "Plafond", type: "customCurrencyField", width: 60, validate: "required",align: "right"} ,
             { name: "disponible", title: "Disponible", type: "customCurrencyField", width: 60, validate: "required",align: "right"} ,
            //  { type: "control", editButton: false }
            { type: "control", editButton: false,itemTemplate: function(_, item) {
                if(item.IsTotal)
                  return "";
                return jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
              } }
           ]
       });
       $("#jsGrid1").jsGrid("option", "filtering", false);
       $("#jsGrid1").jsGrid("sort", "lastupdate", "desc");
}
$("#jsGrid1").jsGrid({
     onItemDeleted: function(arg) {
     clients.splice(arg.itemIndex, 1);
     $('#programemploi').val(JSON.stringify(clients));

     }
 });
$(document).ready(function() {
   run();
 });
  $(function() {
    document.getElementById('menu27').classList.add('active');

  });
  $("#addline").click(function() {
    console.log('Clicked')
    var message = "";
    // Check rubriques
    if ($("#rubriques>option:selected").text()===""){
            message = message + 'Compte budgétaire non valide\n';
    }
    // Check montant
    if (isNaN(parseFloat($('#montant').val()))){
            message = message + 'Crédit ouvert non valide\n';
    }
    // Check plafond
    if (isNaN(parseFloat($('#plafond').val()))){
            message = message + 'Plafond non valide\n';
    }
    // Check montant >= plafond
    if (Number($('#plafond').val()) > Number($('#montant').val())) {
            message = message + 'Plafond ne doit pas dépadsser le crédit ouvert non valide\n';
    }

// CHECK DATA

    if (message === ""){
      var codetmp = $("#rubriques>option:selected").text().split("|")[0];
      var etat = "notfind";
      for(let i=0;i<clients.length;i++){
             if(clients[i].code.trim() === codetmp.trim()){
               clients[i].creditouvert = Number(clients[i].creditouvert) + Number($('#montant').val());
               clients[i].disponible = Number(clients[i].disponible) + Number($('#montant').val());
               etat = "find";
               break;
             }
         }

        if (etat === "notfind"){

          clients.push({
             code: $("#rubriques>option:selected").text().split("|")[0],
             libelle: $("#rubriques>option:selected").text().split("|")[1],
             creditouvert:$('#montant').val(),
             plafond:$('#plafond').val(),
             disponible:$('#montant').val()
           });

        }
      run();
      $('#programemploi').val(JSON.stringify(clients));
      $('#montant').val('');
      $('#plafond').val('');
       $('#rubriques').focus();
    }else{

      console.log(message)
      
    }

   });

   // ################################################################################################ //
     (function(){
              var save = document.getElementById('save');
              save.addEventListener('click', mySubmit);
     })();
   // ################################################################################################ //
   function mySubmit() {

             swal({
               title: "Êtes-vous sûr ?",
               text: "de vouloir enregistrer ces enregistrements!",
               type: "info",
               showCancelButton: true,
               confirmButtonColor:  '#04B486',
               confirmButtonText: 'Oui, je confirme!',
               cancelButtonText: "Non, annuler!",
               closeOnConfirm: true,
               closeOnCancel: true

             }, function(isConfirm){
               console.log("lancer axios");
                 if (isConfirm){
                  axios.post('/regieparamemploi/add/'.concat(regieparamid),{
                    programemploi: clients
                  })
                  .then((msg) => {
                    console.log(msg);
                    window.location.href = '/regiesparam';
                  })
                  .catch((err) => {
                    console.log(err)
                  })
                 }
             });

   }
   // ################################################################################################ //

   $('#onCancel').on('click', function(){
     window.location.href = '/regiesparam'
   })

   $('#rubriques').on('select2:select',function(){
   $("#montant").focus();
   });
   $('#montant').keypress(function(e) {
       if(e.which == 13) {
               $('#plafond').focus();
       }
   });
   $('#plafond').keypress(function(e) {
       if(e.which == 13) {
         document.getElementById('addline').click();
                //  $("#addline").focus();
       }
   });

   // currency field
   function InitGridCustomFields () {

     var optionsCurrency = {
       digitGroupSeparator: '.',
       decimalCharacter: ',',
       decimalCharacterAlternative: ',',
       currencySymbol: '',
       currencySymbolPlacement: 's',
       decimalPlacesOverride: 2,
       minimumValue: '0.00',
       emptyInputBehavior: 'zero',
       leadingZero: 'deny',
       defaultValueOverride: '0.00'
     };

     var jsGridCustomCurrencyField = function (config) {
       jsGrid.Field.call(this, config);
     };

     jsGridCustomCurrencyField.prototype = new jsGrid.Field({
       sorter: function (num1, num2) {
         return num1 - num2;
       },
       itemTemplate: function (value) {
         return $.fn.autoFormat(value, optionsCurrency);
       },
       insertTemplate: function (value) {
         this._insertPicker = $('<input type="text">').val(value);
         this._insertPicker.autoNumeric('init', optionsCurrency);
         return this._insertPicker;
       },
       editTemplate: function (value) {
         this._editPicker = $('<input type="text">').val(value);
         this._editPicker.autoNumeric('init', optionsCurrency);
         return this._editPicker;
       },
       filterTemplate: function () {
         if (!this.filtering)
           return '';

         var grid = this._grid,
           $result = $('<input type="text">').val(0);
         if (this.autosearch) {
           $result.on('change', function (e) {
             grid.search();
           });
         }

         return $result;
       },
       filterValue: function () {
         console.log(this._insertPicker.val());
         return this._insertPicker.val();
       },
       insertValue: function () {
         return this._insertPicker.autoNumeric('get');
       },
       editValue: function () {
         return this._editPicker.autoNumeric('get');
       }
     });

     jsGrid.fields.customCurrencyField = jsGridCustomCurrencyField;
   };
</script>
