<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">

           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item"><a href="/exercices">Liste des exercixes</a>
                 </li>
                 <li class="breadcrumb-item active">Ressources exercice
                 </li>
               </ol>
             </div>
           </div>
         </div>

    </div>
  <!-- End Row Header=============================================== -->

  <!-- content page -->
  <div class="row">

    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
              <h4 class="card-title">Liste des ressources de l'exercice: <%= codeexercice %></h4>
              <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

          </div>
            <div class="card-body collapse in">
                <div class="card-block">
                    <div class="card-text">
                    </div>

<!--  -->
<form action="/ressourcesexercice/<%= exeid %>" class="form form-horizontal form-bordered" novalidate method="post" id="myForm">
  <div class="form-body">
    <fieldset>
                    <div class="row" align="right">
                      <div class="form-actions">
                        <button type="button" class="btn btn-warning mr-1" id="onCancel">
                          <i class="ft-x"></i> Annuler
                        </button>
                        <button type="button" class="btn btn-primary" id="save">
                          <i class="fa fa-check-square-o"></i> Enregistrer</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <div class="form-group">
                          <!-- <p>Rubriques : </p> -->
                          <select class="select2-border border-primary form-control"name="typebudget" id="typebudget" placeholder="Types" required>
                            <option value="" selected></option>
                              <option value="EQUIPPEMENTS">EQUIPEMENT</option>
                              <option value="FONCTIONNEMENTS">FONCTIONNEMENT</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="form-group">
                          <!-- <p>Rubriques : </p> -->
                          <select class="select2-border border-primary form-control"name="ressb" id="ressb" placeholder="Ressources" required>
                            <option value="" selected></option>
                            <% for(i=0; i< sourcesbudget.length; i++){%>
                              <option value="<%= sourcesbudget[i]._id %>"><%= sourcesbudget[i].libelle %></option>
                            <%}%>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2">
                          <div class="form-group">
                              <!-- <p for="date4">Crédit ouvert :</p> -->
                              <input type="text" class="form-control" id="montantprevu" placeholder="Montant prévu" required>
                          </div>
                      </div>
                      <div class="col-md-1" align="center">
                            <!-- <p for="date4">Action :</p> -->
                            <button type="button" id="addline" class="btn btn-icon btn-info mr-1"><i class="fa fa-plus"></i>  Add</button>
                      </div>
                    </div>

                    <div class="row hidden">
                      <div class="col-md-12">
                        <div class="form-group">
                          <p>Objet for BackEnd :</p>
                          <textarea type="text" id="ressourcesobj"  name="ressourcesobj" required="required" class="form-control" placeholder="ressourcesobj" >
                          </textarea>
                        </div>
                      </div>
                    </div>

                  </fieldset>
                  </div>
                </form><br>
<!--  -->


                    <div class="row">
                       <div class="col-md-12">
                            <div id="jsGrid1"></div>
                       </div>

                     </div>
                 </div>
            </div>
       </div>
   </div>
 </div>
<!-- Modal -->





  <!-- content page-->

<% include footer.ejs %>

<script>
var clients = [];
var exerciceid = "<%= exeid %>"


function reloaddata(){
  var query = $.ajax({
           type: "GET",
           url: "/ressourcesexercice/api/get/".concat(exerciceid),
           dataType: "json"
         });

   query.success(function(msg){
     clients = msg;
      $('#ressourcesobj').val(JSON.stringify(clients));
      run();
    });
}
function run() {
InitGridCustomFields();
    $("#jsGrid1").jsGrid({
     //  height: "70%",
      width: "100%",
      filtering: true,
      editing: false,
      sorting: true,
      paging: true,
      autoload: true,
      inserting: false,
      pageSize: 15,
      pageButtonCount: 5,

       confirmDeleting: false,
       controller: {
       loadData: function(filter) {

           return $.grep(clients, function(obj) {
             return (!filter.typebudget || obj.typebudget.indexOf(filter.typebudget) > -1)
             && (!filter.ressb || obj.ressb.indexOf(filter.ressb) > -1);
           });
       }
       },
       onRefreshed: function(args) {
            var items = args.grid.option("data");
            var total = { "typebudget": "TOTAL: ", "montantprevu": '0', IsTotal: true };

             total.montantprevu = 0;
             items.forEach(function (item) {
                 if (item.montantprevu != null) {
                     total.montantprevu += parseFloat(item.montantprevu);
                 }
             });
             total.montantprevu = total.montantprevu.toFixed(2);
            var $totalRow = $("<tr style='background: #f5f5f5;font-weight: bold;'>");

            args.grid._renderCells($totalRow, total);
            args.grid._content.append($totalRow);

      },

       data: clients,

          fields: [
            { name: "typebudget", title: "Type", type: "text", width: 60, validate: "required" },
            { name: "ressb", title: "Ressource", type: "text", width: 260, validate: "required" },
            { name: "montantprevu", title: "Montant programmé", type: "customCurrencyField", width: 60, validate: "required",align: "right"} ,
            { type: "control", editButton: false,itemTemplate: function(_, item) {
                if(item.IsTotal)
                  return "";
                return jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
              } }
            // { type: "control", editButton: false }
          ]
      });

}
$("#jsGrid1").jsGrid({
     onItemDeleted: function(arg) {
     clients.splice(arg.itemIndex, 1);
     $('#ressourcesobj').val(JSON.stringify(clients));
     }
 });
 reloaddata()
$(document).ready(function() {
   run();
 });
  $(function() {
    document.getElementById('menu10').classList.add('active');

  });
  $("#addline").click(function() {

    if ($("#ressb>option:selected").text()==="" || $("#typebudget>option:selected").text()==="" || isNaN(parseFloat($('#montantprevu').val())) || !isFinite($('#montantprevu').val())){
      alert("Veuillez sélectionner une ressources valide");
    } else {

      var ressource = $("#ressb>option:selected").text();
      var type = $("#typebudget>option:selected").text();
      var etat = "notfind";
      for(let i=0;i<clients.length;i++){
             if(clients[i].ressb.trim() === ressource.trim() && clients[i].typebudget.trim() === type.trim()){
               clients[i].montantprevu = Number(clients[i].montantprevu) + Number($('#montantprevu').val());
               etat = "find";
               break;
             }
         }

        if (etat === "notfind"){

          clients.push({
             typebudget: $("#typebudget>option:selected").text(),
             ressb: $("#ressb>option:selected").text(),
             montantprevu:Number($('#montantprevu').val())
           });

        }
      run();
      $('#ressourcesobj').val(JSON.stringify(clients));
      $('#montantprevu').val('');
    }


   });
   $('#onCancel').on('click', function(){
     window.location.href = '/exercices'
   })

   $('#typebudget').on('select2:select',function(){
   $("#rubriques").focus();
   });
   $('#rubriques').on('select2:select',function(){
   $("#montant").focus();
   });

  $('#montantprevu').keypress(function(e) {
      if(e.which == 13) {
        document.getElementById('addline').click();
               //  $("#addline").focus();
      }
  });

</script>

<script>
(function(){
var save = document.getElementById('save');

 save.addEventListener('click', mySubmit);

 function mySubmit() {
   swal({
         title: "Êtes-vous sûr ?",
         text: "Cette opération mettra á jour le budget programmé des ressources budgétaires!",
        //  type: "warning",
         showCancelButton: true,
         confirmButtonColor:  '#04B486',
         confirmButtonText: 'Oui, je confirme!',
         cancelButtonText: "Non, annuler!",
         closeOnConfirm: false,
         closeOnCancel: false
    },
    function(isConfirm){
         if (isConfirm){
           var data = $("#ressourcesobj").val()

           $.ajax({
               type: 'POST',
               data: data,
               contentType: 'application/json',
               url: '/ressourcesexercice/api/check/'.concat(exerciceid),
               success: function(data) {

                   if(data.etat === 'OK'){
                   document.getElementById("myForm").submit();
                   swal({
                          title: "Opération réussie",
                          text: "L\'enregistrement est modifié avec succès.",
                          type: "success"
                          },function() {
                           window.location.href ='/exercices' ;
                          });
                     }
                       else {
                         reloaddata();
                         swal(
                               'Opération échouée',
                               data.message,
                               // 'Erreur de modification de l\'enregistrement.',
                               'error'
                             )
                       }
               }
           });
          }  else {
            reloaddata();
            swal("Annulation", "Cette opération est annulée", "error");
          }

  });
   }

})();
$('#ressb').on('select2:select',function(){
$("#montantprevu").focus();
});
// currency field
function InitGridCustomFields () {

  var optionsCurrency = {
    digitGroupSeparator: '.',
    decimalCharacter: ',',
    decimalCharacterAlternative: ',',
    currencySymbol: '',
    currencySymbolPlacement: 's',
    decimalPlacesOverride: 2,
    minimumValue: '0.00',
    emptyInputBehavior: 'zero',
    leadingZero: 'deny',
    defaultValueOverride: '0.00'
  };

  var jsGridCustomCurrencyField = function (config) {
    jsGrid.Field.call(this, config);
  };

  jsGridCustomCurrencyField.prototype = new jsGrid.Field({
    sorter: function (num1, num2) {
      return num1 - num2;
    },
    itemTemplate: function (value) {
      return $.fn.autoFormat(value, optionsCurrency);
    },
    insertTemplate: function (value) {
      this._insertPicker = $('<input type="text">').val(value);
      this._insertPicker.autoNumeric('init', optionsCurrency);
      return this._insertPicker;
    },
    editTemplate: function (value) {
      this._editPicker = $('<input type="text">').val(value);
      this._editPicker.autoNumeric('init', optionsCurrency);
      return this._editPicker;
    },
    filterTemplate: function () {
      if (!this.filtering)
        return '';

      var grid = this._grid,
        $result = $('<input type="text">').val(0);
      if (this.autosearch) {
        $result.on('change', function (e) {
          grid.search();
        });
      }

      return $result;
    },
    filterValue: function () {
      console.log(this._insertPicker.val());
      return this._insertPicker.val();
    },
    insertValue: function () {
      return this._insertPicker.autoNumeric('get');
    },
    editValue: function () {
      return this._editPicker.autoNumeric('get');
    }
  });

  jsGrid.fields.customCurrencyField = jsGridCustomCurrencyField;
};
</script>
