<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">
           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">Rubriques
                 </li>
               </ol>
             </div>
           </div>
         </div>
    </div>
  <!-- End Row Header=============================================== -->
  <!-- content page -->
  <section id="custom-view">
      <div class="row">
          <div class="col-xs-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Liste des rubriques</h4>
                      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                  </div>
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard ">
                          <!-- <p>All components of the grid can be easily configured. Heading, filtering, inserting, editing, sorting, paging and row selection could be switched with a single corresponding boolean option.</p> -->
                        <div id="jsGrid1"></div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- content page-->
</div>



<% include footer.ejs %>
<script>
  $(function() {
    document.getElementById('menu6').classList.add('active');
  });
</script>
<script>
   var dataloaded = [];
   var cat =[];
   var section = [ {id: "", name: ""},
                   {id: "EQUIPEMENT", name: "EQUIPEMENT"},
                   {id: "FONCTIONNEMENT", name: "FONCTIONNEMENT"}
                 ];
   function run(){
       $("#jsGrid1").jsGrid({
         width: "100%",
         filtering: true,
         editing: true,
         sorting: true,
         paging: true,
         autoload: true,
         inserting: true,
         pageSize: 15,
         pageButtonCount: 5,
         confirmDeleting: false,

         data: dataloaded,
         fields: [
           { name: "code", title: "Code", type: "text", width: 30, validate: "required" },
           { name: "libelle" , title: "Libelle", type: "text", width: 150, validate: "required" },
           { name: "typerubrique" , title: "Type", type: "select", items: section, valueField: "id", textField: "name", width: 50, validate: "required",align:"left" },
           { name: "categorie" , title: "Catégorie", type: "select", items: cat, valueField: "libelle", textField: "libelle", width: 150, validate: "required",align:"left" },
          //  { name: "categorie" , title: "Catégorie", type: "text", width: 130, validate: "required" },
           { name: "active" , title: "Active", type: "checkbox", width: 20 },

           { type: "control" }
         ]
       });
     }


       var q = $.ajax({
                type: "GET",
                url: "/categoriesrubriques/api/get",
                dataType: "json"
              });

       q.success(function(d){
         var query = $.ajax({
               type: "GET",
               url: "/rubriques/api/get",
               dataType: "json"
             });

       query.success(function(msg){


         dataloaded = msg;
        //  cat= d ;
         cat.push ({code:'', libelle:''});
         for ( var i=0; i<d.length; i++ ) {

            cat.push( {libelle: d[i].libell, libelle: d[i].libelle} );

    }



     $("#jsGrid1").jsGrid({
      //  height: "70%",
       width: "100%",
       filtering: true,
       editing: true,
       sorting: true,
       paging: true,
       autoload: true,
       inserting: true,
       pageSize: 15,
       pageButtonCount: 5,
       confirmDeleting: false,

        // deleteConfirm: "Do you really want to delete it?",
        controller: {
          loadData: function(filter) {
            return $.grep(dataloaded, function(obj) {
                return (!filter.code || obj.code.indexOf(filter.code) > -1)
                && (!filter.libelle || obj.libelle.indexOf(filter.libelle) > -1)
                && (!filter.typerubrique || obj.typerubrique == filter.typerubrique)
                && (!filter.categorie || obj.categorie == filter.categorie)
                && (filter.active === undefined || obj.active === filter.active);
            });
          },

        insertItem: function(item) {
          var t = $.ajax({
                type: "POST",
                url: "rubriques/api/add/",
                data: item
              });
          t.success(function(msg){
            if (msg.etat === 'OK'){
            swal(
                  'Opération réussie',
                  msg.message,
                  'success'
                );
                dataloaded = msg.data;
                $("#jsGrid1").jsGrid("loadData");
                return msg.message;

              } else {
                  swal(
                        'Opération échouée',
                        msg.message,
                        'error'
                      )
                }

          })

        },
        updateItem: function(item) {
          var t = $.ajax({
                type: "POST",
                url: "rubriques/api/update/".concat(item._id),
                data: item
              });
          t.success(function(msg){
            if (msg.etat === 'OK'){
            swal(
                  'Opération réussie',
                  msg.message,
                  'success'
                )} else {
            swal(
                  'Opération échouée',
                  msg.message,
                  'error'
                )
            }
            return msg;
          })
         },
        deleteItem: function(item) {
          swal({
              title: "Confirmation!",
              text: "Voulez-vous vraimenet supprimer cet élement?",
              showCancelButton: true,
              confirmButtonColor: '#FE642E',
              confirmButtonText: "Yes",
              cancelButtonText: "No",
              closeOnConfirm: false,
              closeOnCancel: false
          }, function(isConfirm) {
              if (isConfirm) {

                console.log("delete the item");
                var t =  $.ajax({
                  type: "DELETE",
                  url: "rubriques/api/delete/".concat(item._id),
                  data: item
                });
                t.success(function(msg){
                  if (msg.etat === 'OK'){
                  swal(
                        'Opération réussie',
                        msg.message,
                        'success'
                      );
                    } else {
                        swal(
                              'Opération échouée',
                              msg.message,
                              'error'
                            )
                      }
                  return msg;
                })

              } else {
                run();
                swal("Annulation", "Opération annulée.", "error");

              }
          });
        }
      },

        data: dataloaded,

        fields: [
            { name: "code", title: "Code", type: "text", width: 30, validate: "required" },
            { name: "libelle" , title: "Libelle", type: "text", width: 150, validate: "required" },
            { name: "typerubrique" , title: "Type", type: "select", items: section, valueField: "id", textField: "name", width: 50, validate: "required",align:"left" },
            { name: "categorie" , title: "Catégorie", type: "select", items: cat, valueField: "libelle", textField: "libelle", width: 150, validate: "required",align:"left" },
           //  { name: "categorie" , title: "Catégorie", type: "text", width: 130, validate: "required" },
            { name: "active" , title: "Active", type: "checkbox", width: 20 },

            { type: "control" }
        ]
       });

    });

  });


</script>
