<div data-scroll-to-active="true" class="main-menu menu-fixed menu-light menu-accordion menu-shadow">
  <div id="menupermissions" class="main-menu-content">
    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">

      <!-- Start Menu -->
      <li class=" nav-item" id="menu0"><a href="/index"><i class="ft-monitor"></i><span data-i18n="" class="menu-title">Accueil</span></a>
      <li class=" nav-item" id="menu1"><a href="/dashboard"><i class="ft-bar-chart-2"></i><span data-i18n="" class="menu-title">Tableau de bord</span></a>

      </li>
      <li class=" nav-item"><a href="#"><i class="ft-grid"></i><span data-i18n="" class="menu-title">Administration</span></a>
        <ul class="menu-content">
          <li id="menu2"><a href="/users" class="menu-item">Utilisateurs</a>
          </li>
          <li id="menu3"><a href="/roles" class="menu-item">Rôles</a>
          </li>
          <li id="menu4"><a href="/traces"><span data-i18n="" class="menu-item">Traçabilité</span></a>
          </li>
        </ul>
      </li>
      <li class=" nav-item"><a href="#"><i class="ft-cog"></i><span data-i18n="" class="menu-title">Paramètrage</span></a>
        <ul class="menu-content">
          <li id="menu5"><a href="/sourcesbudget" class="menu-item">Source budgétaire</a>
          </li>
          <li id="menu24"><a href="/categoriesrubriques" class="menu-item">Catégories rubriques</a>
          </li>
          <li id="menu6"><a href="/rubriques" class="menu-item">Rubriques budgétaires</a>
          </li>
          <li  id="menu7"><a href="/comptesbancaires" class="menu-item">Comptes bancaires</a>
          </li>
          <li id="menu8"><a href="/beneficiaires" class="menu-item">Bénéficiaires</a>
          </li>
          <li id="menu9"><a href="/entites" class="menu-item">Entités Bénéficiaires</a>
          </li>
          <li id="menu23"><a href="/comptescomptas" class="menu-item">Comptes comptables</a>
          </li>
          <!-- <li id="menu26"><a href="/centres" class="menu-item">Centres</a>
          </li> -->
          <li id="menu27"><a href="/regiesparam" class="menu-item">Régies</a>
          </li>
          </li>
          <li id="menu28"><a href="/regions" class="menu-item">Régions</a>
          </li>
        </ul>
      </li>
      <li class=" nav-item"><a href="#"><i class="icon-briefcase"></i><span data-i18n="" class="menu-title">Exercices</span></a>
        <ul class="menu-content">
          <li id="menu10"><a href="/exercices" class="menu-item">Gestion des exercices</a>
          </li>
          <li id="menu11"><a href="/creditsouverts" class="menu-item">Crédits ouverts</a>
          </li>
          <li id="menu12"><a href="/virementscredit" class="menu-item">Virements de crédit</a>
          </li>
          <li id="menu25"><a href="/projets" class="menu-item">Projets</a>
          </li>
          <li id="menu29"><a href="/raps" class="menu-item">RAPs</a>
          </li>
        </ul>
      </li>
      <li class=" nav-item"><a href="#"><i class="fa fa-shopping-bag"></i><span data-i18n="" class="menu-title">Regies</span></a>
        <ul class="menu-content">
          <li id="menu30"><a href="/regiescreditsouverts" class="menu-item">Budget de la régie</a>
          </li>
          <li id="menu33"><a href="/regiescaisse" class="menu-item">Alimentation de caisse</a>
          </li>
          <li id="menu32"><a href="/journauxcaisse" class="menu-item">Journaux de caisse</a>
          </li>
          <li id="menu31"><a href="/regiescaissehistorique" class="menu-item">Historique Crédit</a>
          </li>


        </ul>
      </li>
      <li class=" nav-item"><a href="#"><i class="ft-plus-circle"></i><span data-i18n="" class="menu-title">Recettes budgétaires</span></a>
        <ul class="menu-content">
          <li id="menu13"><a href="/recettes" class="menu-item">Gestion des recettes</a>
          </li>
        </ul>
      </li>
      <li class=" nav-item"><a href="#"><i class="ft-minus-circle"></i><span data-i18n="" class="menu-title">Dépenses budgétaire</span></a>
        <ul class="menu-content">
          <li id="menu14"><a href="/engagements" class="menu-item">Engagements</a>
          </li>
          <li id="menu15"><a href="/ops" class="menu-item">Ordres de paiement</a>
          </li>
          <li id="menu16"><a href="/paiements" class="menu-item">Règlements</a>
          </li>
          <li id="menu34"><a href="/compta" class="menu-item">Lettrage Compta</a>
          </li>
        </ul>
      </li>
      <li class=" nav-item" ><a href="#"><i class="ft-bar-chart"></i><span data-i18n="" class="menu-title">États</span></a>
        <ul class="menu-content">
          <li id="menu17"><a href="/etatcreditsouverts" class="menu-item">Crédits ouverts</a>
          </li>
          <li id="menu18"><a href="/soldescomptesbancaires" class="menu-item">Soldes trésorerie</a>
          </li>
          <li id="menu19"><a href="#" class="menu-item">Recettes</a>
          </li>
          <li id="menu20"><a href="#" class="menu-item">Engagements</a>
          </li>
          <li id="menu21"><a href="#" class="menu-item">Annulations OP</a>
          </li>
          <li id="menu22"><a href="#" class="menu-item">Annulations Engagements</a>
          </li>

        </ul>
      </li>
      <!-- End Menu -->













    </ul>
  </div>
</div>
