<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">

           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">Soldes des comptes bancaires
                 </li>
               </ol>
             </div>
           </div>
         </div>

    </div>
  <!-- End Row Header=============================================== -->
  <!-- content page -->

<div class="col-xl-12 col-lg-12 col-md-12">
  <div class="card">
      <div class="card-header">
          <h4 class="card-title">Solde des comptes bancaires</h4>
          <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

      </div>
      <div class="card-body collapse in">
          <div class="card-block card-dashboard ">
              <!-- <p>All components of the grid can be easily configured. Heading, filtering, inserting, editing, sorting, paging and row selection could be switched with a single corresponding boolean option.</p> -->
            <div id="jsGrid1"></div>

          </div>
      </div>
  </div>
</div>

<div class="col-xl-6 col-lg-12 col-md-12">
   <div class="card">
      <div class="card-header">
         <h4 class="card-title">Présentation graphique</h4>
         <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
            <ul class="list-inline mb-0">
               <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
            </ul>
         </div>
      </div>
      <div class="card-body collapse in">
         <div class="card-block ">

           <div id="container" style="width:100%; height:320px;">
            <canvas id="oilChart" width="100%" height="50px"></canvas>
          </div>
         </div>
      </div>
   </div>
</div>

<div class="col-xl-6 col-lg-12 col-md-12">
   <div class="card">
      <div class="card-header">
         <h4 class="card-title">Présentation graphique</h4>
         <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
            <ul class="list-inline mb-0">
               <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
            </ul>
         </div>
      </div>
      <div class="card-body collapse in">
         <div class="card-block ">

           <div id="container1" style="width:100%; height:320px;">
             <canvas id="myChart" ></canvas>
           </div>
         </div>
      </div>
   </div>
</div>


  <!-- content page-->

<% include footer.ejs %>
<script>
  $(function() {
    document.getElementById('menu18').classList.add('active');
  });


var loadeddata = [];
 var tmp = [];
 var tmp1 = [];

var query = $.ajax({
        type: "GET",
        url: "/comptesbancaires/api/get",
        dataType: "json"
      });

query.success(function(msg){

  loadeddata = msg;
  for(i=0; i< loadeddata.length; i++){
        tmp1.push(loadeddata[i].code );
        tmp.push(loadeddata[i].solde.toFixed(2));
  }
  // graph 1
  var oilCanvas = document.getElementById("oilChart");

  Chart.defaults.global.defaultFontFamily = "Lato";
  Chart.defaults.global.defaultFontSize = 18;

  var oilData = {
      labels: tmp1,
      datasets: [
          {
              data: tmp,
              backgroundColor: [
                  "#CEE3F6",
                  "#045FB4",
                  "#84FF63",
                  "#8463FF",
                  "#6384FF",
                  "#04B4AE"
              ]
          }]
  };

  var pieChart = new Chart(oilCanvas, {
    type: 'pie',
    data: oilData
  });
// graph 2
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: tmp1,
        datasets: [{
            label: 'Solde',
            data: tmp,
            backgroundColor :  "#CEE3F6",
					  borderColor : "#585858",

            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
//



     $("#jsGrid1").jsGrid({
      //  height: "70%",
       width: "100%",
       filtering: false,
       editing: false,
       sorting: true,
       paging: true,
       autoload: true,
       inserting: false,
       pageSize: 15,
       pageButtonCount: 5,

        deleteConfirm: "Do you really want to delete it?",
        controller: {
        loadData: function(filter) {
            return $.grep(loadeddata, function(obj) {
                return (!filter.code || obj.code.indexOf(filter.code) > -1)
                && (!filter.banque || obj.banque.indexOf(filter.banque) > -1);
            });
        }
      },

        data: loadeddata,

           fields: [
               { name: "code", title: "Code", type: "text", width: 40, validate: "required" },
               { name: "banque", title: "Banque", type: "text", width: 150, validate: "required"},
               { name: "solde", title: "Solde", type: "number", width: 60, validate: "required",
                 align: "right",itemTemplate: function(cost) {
                                          return (cost).toFixed(2);
                                       } }

           ]
       });


  });

</script>
