<% include header.ejs %>
<!-- BREADCRUMBS -->
    <div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">
           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item"><a href="/engagements">Liste des engagements</a>
                 </li>
                 <li class="breadcrumb-item active">Modification engagement
                 </li>
               </ol>
             </div>
           </div>
         </div>
    </div>
<!-- END BREADCRUMBS -->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- Card Header -->
      <div class="card-header">
        <!-- Card Title -->
        <h4 class="card-title" id="horz-layout-basic">Header</h4>
        <!-- End card title -->
        <!-- Heading icons -->
        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
            <li><a data-action="close"><i class="ft-x"></i></a></li>
          </ul>
        </div>
        <!-- End Heading icons -->
      </div>
      <!-- End card header -->
      <!-- Card Body -->
      <div class="card-body collapse in">
        <div class="card-block">
          <form action="" class="form form-horizontal form-bordered">
            <div class="form-body">
              <fieldset>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
      <!-- End card body -->
    </div>
  </div>

</div>


<% include footer.ejs %>


 <script>
  $(function() {
    document.getElementById('menu14').classList.add('active');
  });

</script>
