<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">

           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">Traces
                 </li>
               </ol>
             </div>
           </div>
         </div>

    </div>
  <!-- End Row Header=============================================== -->
  <!-- content page -->
  <section id="custom-view">
      <div class="row">
          <div class="col-xs-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Liste des Traces</h4>
                      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                  </div>
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard ">
                          <!-- <p>All components of the grid can be easily configured. Heading, filtering, inserting, editing, sorting, paging and row selection could be switched with a single corresponding boolean option.</p> -->
                          <div id="jsGrid1"></div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- content page-->




<% include footer.ejs %>
<script>
  $(function() {
    document.getElementById('menu4').classList.add('active');
  });
</script>
<script>
   var clients = [];


  var query = $.ajax({
           type: "GET",
           url: "/traces/api/get",
           dataType: "json"
         });



   query.success(function(msg){

     clients = msg;
     var types = [ {id: "", name: ""},
                   {id: "Insert", name: "Ajout"},
                   {id: "Update", name: "Modification"},
                   {id: "Delete", name: "Delete"},
                   {id: "Show", name: "Consultation"},
                   {id: "Login", name: "Authentification"}
                 ];

     $("#jsGrid1").jsGrid({
      //  height: "70%",
       width: "100%",

       filtering: true,
       sorting: true,
       paging: true,


       pageSize: 15,
       pageButtonCount: 5,

        deleteConfirm: "Do you really want to delete it?",
        controller: {
        loadData: function(filter) {
            return $.grep(clients, function(obj) {
                return (!filter.dateop || obj.dateop.indexOf(filter.dateop) > -1)
                && (!filter.description || obj.description.indexOf(filter.description) > -1)
                && (!filter.user || obj.user.indexOf(filter.user) > -1)
                && (!filter.typeop || obj.typeop == filter.typeop);
            });
        },

        insertItem: function(item) {
          var t = $.ajax({
                type: "POST",
                url: "traces/api/add/",
                data: item
              });
          t.success(function(msg){
            return msg;
          })

        },
        updateItem: function(item) {
          var t = $.ajax({
                type: "POST",
                url: "traces/api/update/".concat(item._id),
                data: item
              });
          t.success(function(msg){
            return msg;
          })
         },
        deleteItem: function(item) {
          var t =  $.ajax({
                type: "DELETE",
                url: "traces/api/delete/".concat(item._id),
                data: item
              });
          t.success(function(msg){
            return msg;
          })
        }
      },

        data: clients,

           fields: [
               { name: "dateop", title: "Date Opération", type: "text", width: 30, validate: "required" },
               { name: "typeop", title: "Nature", type: "select", items: types, valueField: "id", textField: "name", width: 30, validate: "required" },
               { name: "description", title: "Description", type: "text", width: 150, validate: "required" },
               { name: "user", title: "Utilisateur", type: "text", width: 50, validate: "required" }
           ]
       });
       $("#jsGrid1").jsGrid("sort", "dateop");
    });



</script>
