<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">

           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item active">Utilisateurs
                 </li>
               </ol>
             </div>
           </div>
         </div>

    </div>
  <!-- End Row Header=============================================== -->
  <!-- content page -->
  <section id="custom-view">
      <div class="row">
          <div class="col-xs-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Liste des utilisateurs</h4>
                      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                  </div>
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard ">
                          <!-- <p>All components of the grid can be easily configured. Heading, filtering, inserting, editing, sorting, paging and row selection could be switched with a single corresponding boolean option.</p> -->
                        <div id="jsGrid1"></div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- content page-->




<% include footer.ejs %>
<script>
  $(function() {
    document.getElementById('menu2').classList.add('active');
  });
</script>
<script>
   var dataloaded = [];
   var section = [];
   function run(){
       $("#jsGrid1").jsGrid({
         width: "100%",
         filtering: true,
         editing: true,
         sorting: true,
         paging: true,
         autoload: true,
         inserting: true,
         pageSize: 15,
         pageButtonCount: 5,
         confirmDeleting: false,

         data: dataloaded,
         fields: [
             { name: "username", title: "Login", type: "text", width: 50, validate: "required" },
             { name: "firstName", title: "Prénom", type: "text", width: 80, validate: "required"},
             { name: "lastName", title: "Nom", type: "text", width: 80, validate: "required"},
             { name: "password" , title: "Password", type: "text", width: 90, editing: true, validate: "required", css: "over",
             editTemplate: function(value, item){
               var $result = jsGrid.fields.text.prototype.editTemplate.call(this, value, item);
               $result.attr('type',  'password');
               return $result;
             },
             itemTemplate: function(value, item){
               var $result = jsGrid.fields.text.prototype.editTemplate.call(this, value, item);
               $result.attr('type',  'password');
               return $result;
             }},
             { name: "region", title: "Region", type: "text", width: 100, validate: "required",editing: true, inserting: true },
             { name: "roleid" , title: "Rôle", type: "select", items: section, valueField: "_id", textField: "nomrole", width: 80, validate: "required" },
             { name: "regisseur" , title: "Regisseur", type: "checkbox", width: 40 },
             { name: "cin", title: "N CIN", type: "text", width: 50,editing: true, inserting: true },
             { type: "control" }
         ]
       });
     }
     var query = $.ajax({
              type: "GET",
              url: "/users/api/get",
              dataType: "json"
            });



      query.success(function(msg){

        var q = $.ajax({
                 type: "GET",
                 url: "/roles/api/get",
                 dataType: "json"
               });

        q.success(function(d){

         var p = $.ajax({
                  type: "GET",
                  url: "/regions/api/get/".concat('all'),
                  dataType: "json"
                });

         p.success(function(e){

         dataloaded = msg;
         section = d;
         regions = e;


     $("#jsGrid1").jsGrid({
      //  height: "70%",
       width: "100%",
       filtering: true,
       editing: true,
       sorting: true,
       paging: true,
       autoload: true,
       inserting: true,
       pageSize: 15,
       pageButtonCount: 5,
       confirmDeleting: false,

        // deleteConfirm: "Do you really want to delete it?",
        controller: {
          loadData: function(filter) {
            return $.grep(dataloaded, function(obj) {
                return (!filter.username || obj.username.indexOf(filter.username) > -1)
                && (!filter.firstName || obj.firstName.indexOf(filter.firstName) > -1)
                && (!filter.lastName || obj.lastName.indexOf(filter.lastName) > -1);
            });
          },

        insertItem: function(item) {
          var t = $.ajax({
                type: "POST",
                url: "users/api/add/",
                data: item
              });
          t.success(function(msg){
            if (msg.etat === 'OK'){
            swal(
                  'Opération réussie',
                  msg.message,
                  'success'
                );
                dataloaded = msg.data;
                $("#jsGrid1").jsGrid("loadData");
                return msg.message;

              } else {
                  swal(
                        'Opération échouée',
                        msg.message,
                        'error'
                      )
                }

          })

        },
        updateItem: function(item) {
          console.log('LOG UPDATE1',item._id);
          var t = $.ajax({
                type: "POST",
                url: "users/api/update/".concat(item._id),
                data: item
              });
          t.success(function(msg){
            if (msg.etat === 'OK'){
            swal(
                  'Opération réussie',
                  msg.message,
                  'success'
                )} else {
            swal(
                  'Opération échouée',
                  msg.message,
                  'error'
                )
            }
            return msg;
          })
         },
        deleteItem: function(item) {
          swal({
              title: "Confirmation!",
              text: "Voulez-vous vraimenet supprimer cet élement?",
              showCancelButton: true,
              confirmButtonColor: '#FE642E',
              confirmButtonText: "Yes",
              cancelButtonText: "No",
              closeOnConfirm: false,
              closeOnCancel: false
          }, function(isConfirm) {
              if (isConfirm) {

                console.log("delete the item");
                var t =  $.ajax({
                  type: "DELETE",
                  url: "users/api/delete/".concat(item._id),
                  data: item
                });
                t.success(function(msg){
                  if (msg.etat === 'OK'){
                  swal(
                        'Opération réussie',
                        msg.message,
                        'success'
                      );
                    } else {
                        swal(
                              'Opération échouée',
                              msg.message,
                              'error'
                            )
                      }
                  return msg;
                })

              } else {
                run();
                swal("Annulation", "Opération annulée.", "error");

              }
          });
        }
      },

        data: dataloaded,

        fields: [
            { name: "username", title: "Login", type: "text", width: 50, validate: "required" },
            { name: "firstName", title: "Prénom", type: "text", width: 80, validate: "required"},
            { name: "lastName", title: "Nom", type: "text", width: 80, validate: "required"},
            { name: "password" , title: "Password", type: "text", width: 90, editing: true, validate: "required", css: "over",
            editTemplate: function(value, item){
              var $result = jsGrid.fields.text.prototype.editTemplate.call(this, value, item);
              $result.attr('type',  'password');
              return $result;
            },
            itemTemplate: function(value, item){
              var $result = jsGrid.fields.text.prototype.editTemplate.call(this, value, item);
              $result.attr('type',  'password');
              return $result;
            }},
            { name: "region" , title: "Région", type: "select", items: regions, valueField: "_id", textField: "name", width: 80, validate: "required", align:"left" },
            { name: "roleid" , title: "Rôle", type: "select", items: section, valueField: "_id", textField: "nomrole", width: 80, validate: "required" },
            { name: "regisseur" , title: "Regisseur", type: "checkbox", width: 40 },
            { name: "cin", title: "N CIN", type: "text", width: 50,editing: true, inserting: true },
            { type: "control" }
        ]
       });
     });
   });
   });




</script>
