<% include header.ejs %>
<!-- Row Header=============================================== -->
<div class="content-header row">
         <div class="content-header-left col-md-6 col-xs-12 mb-2">

           <div class="row breadcrumbs-top">
             <div class="breadcrumb-wrapper col-xs-12">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="/index">Index</a>
                 </li>
                 <li class="breadcrumb-item"><a href="/exercices">Exercices</a>
                 </li>
                 <li class="breadcrumb-item active">Virements de crédit
                 </li>
               </ol>
             </div>
           </div>
         </div>

    </div>
  <!-- End Row Header=============================================== -->
  <!-- content page -->
  <section id="custom-view">
    <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <p>Sélectionner un exercice</p>
            <select class="select2-theme form-control" id="select2-exercices" onchange="run()" style="width: 100%">
                <!-- <option value= 'vide'></option> -->
              <% for(i=0; i< exercices.length; i++){%>
                <option value= <%= exercices[i]._id %> ><%= exercices[i].libelle %></option>
              <%}%>
            </select>
        </div></div></div>

        <div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-xs-12 border-right-blue-grey border-right-lighten-3">
                            <div class="float-xs-left ">
                                <span class=" danger"><b>EQUIPEMENT:</b> Total Débit </span>
                            </div><br>
                            <div class="float-xs-right ">
                                <span class="font-large-1 text-bold-300 danger right"><label id="labelEquip_TotalD">0.00</label></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12 border-right-blue-grey border-right-lighten-3">
                          <div class="float-xs-left ">
                              <span class=" primary"><b>EQUIPEMENT:</b> Total Crédit </span>
                          </div><br>
                          <div class="float-xs-right pl-2">
                              <span class="font-large-1 text-bold-300 primary"><label id="labelEquip_TotalC">0.00</label></span>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12 border-right-blue-grey border-right-lighten-3">
                          <div class="float-xs-left ">
                              <span class=" danger"><b>FONCTIONNEMENT:</b> Total Débit </span>
                          </div><br>
                            <div class="float-xs-right ">
                                <span class="font-large-1 text-bold-300 danger"><label id="labelFonct_TotalD">0.00</label></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12">
                          <div class="float-xs-left ">
                              <span class=" primary"><b>FONCTIONNEMENT:</b> Total Crédit </span>
                          </div><br>
                          <div class="float-xs-right pl-2">
                                <span class="font-large-1 text-bold-300 primary"><label id="labelFonct_TotalC">0.00</label></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

      <div class="row">
          <div class="col-xs-12">

              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Les virements de crédit de l'exercice sélectionné</h4>
                      <div class="heading-elements">
                         <button type="button" id="btnappliquer" class="btn btn-outline-primary btn-min-width mr-1 mb-1" disabled>   Appliquer les virements</button>
                      </div>
                  </div>
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard ">

                        <div id="jsGrid1"></div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- content page-->

<% include footer.ejs %>
<script>

    $(document).ready(function(){
      run();
    });

 </script>

<script>
var clients = [];
var exerciceid ='';
 // Active menu
  $(function() {
    document.getElementById('menu12').classList.add('active');
  });
  function calcul_synthese() {
    var labelEquip_TotalD = 0;
    var labelEquip_TotalC = 0;
    var labelFonct_TotalD = 0;
    var labelFonct_TotalC = 0;

    for(let i=0;i<clients.length;i++){
      if (clients[i].typerubrique === "EQUIPEMENT"){
            if (Number(clients[i].virementcredittmp < 0)){
              labelEquip_TotalD += Number(clients[i].virementcredittmp);
            } else {
              labelEquip_TotalC += Number(clients[i].virementcredittmp);
            }
      } else {
        if (Number(clients[i].virementcredittmp < 0)){
          labelFonct_TotalD += Number(clients[i].virementcredittmp);
        } else {
          labelFonct_TotalC += Number(clients[i].virementcredittmp);
        }
      }

     }
     $('#labelEquip_TotalD').text(labelEquip_TotalD.toFixed(2));
     $('#labelEquip_TotalC').text(labelEquip_TotalC.toFixed(2));
     $('#labelFonct_TotalD').text(labelFonct_TotalD.toFixed(2));
     $('#labelFonct_TotalC').text(labelFonct_TotalC.toFixed(2));
     $("#btnappliquer").attr("disabled",!((labelEquip_TotalD + labelEquip_TotalC === 0) && (labelFonct_TotalD + labelFonct_TotalC === 0) && (labelFonct_TotalC > 0 || labelEquip_TotalC > 0)));
   }
// Load jsgrid
    function run() {
      console.log("run");
        exerciceid = document.getElementById("select2-exercices").value;
      //  if (exerciceid !== '') {

         // -----------------------Au moins il y a un exercice---------------------------------------------------------
           clients = [];
            var query = $.ajax({
              type: "GET",
              url: "/exercices/api/get/".concat(exerciceid),
              dataType: "json"
            });

            query.success(function(msg){

              // clients = msg.rubriques;
              clients = msg;
              var section = [ {id: "", name: ""},
                              {id: "EQUIPEMENT", name: "EQUIPEMENT"},
                              {id: "FONCTIONNEMENT", name: "FONCTIONNEMENT"}
                            ];


             $("#jsGrid1").jsGrid({
              //  height: "70%",
               width: "100%",
               filtering: true,
               editing: true,
               sorting: true,
               paging: true,
               autoload: true,
               inserting: false,
               pageSize: 15,
               pageButtonCount: 5,
              //  deleteButton: true,

                deleteConfirm: "Do you really want to delete it?",
                controller: {
                     loadData: function(filter) {
                              return $.grep(clients, function(obj) {
                                  return (!filter.code || obj.code.indexOf(filter.code) > -1)
                                  && (!filter.libelle || obj.libelle.indexOf(filter.libelle) > -1)
                                  && (!filter.categorie || obj.categorie.indexOf(filter.categorie) > -1)
                                  && (!filter.typerubrique || obj.typerubrique == filter.typerubrique);
                              });
                     },
                              updateItem: function(item) {
                                    var t = $.ajax({
                                          type: "POST",
                                          url: "virementscredit/api/update/".concat(item._id + '?exeid=' + exerciceid),
                                          data: item
                                    });
                                    t.success(function(msg){
                                      run();
                                      if (msg.etat === 'OK'){
                                      swal(
                                            'Opération réussie',
                                            'L\'enregistrement est modifié avec succès.',
                                            'success'
                                          )} else {
                                            swal(
                                                  'Opération échouée',
                                                  msg.message,
                                                  // 'Erreur de modification de l\'enregistrement.',
                                                  'error'
                                                )
                                          }
                                      return msg;
                                    })

                                  }
                  },
                  onRefreshed: function(args) {
                       var items = args.grid.option("data");
                       var total = { "code": "TOTAL: ", "budget": '0',"montantdispo": '0', "virementcredittmp": '0', IsTotal: true };

                        total.budget = 0;
                        total.montantdispo = 0;
                        total.virementcredittmp = 0;
                        items.forEach(function (item) {
                            if (item.budget != null && item.montantdispo != null  && item.virementcredittmp != null) {
                                total.budget += parseFloat(item.budget);
                                total.montantdispo += parseFloat(item.montantdispo);
                                total.virementcredittmp += parseFloat(item.virementcredittmp);
                            }
                        });
                        total.budget = total.budget.toFixed(2);
                        total.montantdispo = total.montantdispo.toFixed(2);
                        total.virementcredittmp = total.virementcredittmp.toFixed(2);
                       var $totalRow = $("<tr style='background: #f5f5f5;font-weight: bold;'>");

                       args.grid._renderCells($totalRow, total);
                       args.grid._content.append($totalRow);
                       console.log("onRefreshed");

                 },
                data: clients,

                   fields: [
                       { name: "code", title: "Code", type: "text", width: 50, validate: "required",editing: false, inserting: false },
                       { name: "libelle", title: "Libelle", type: "text", width: 120, validate: "required",editing: false, inserting: false },
                       { name: "typerubrique" , title: "Type", type: "select", items: section, valueField: "id", textField: "name", width: 50, validate: "required",editing: false, inserting: false },
                      //  { name: "categorie", title: "Categorie", type: "text", width: 120, validate: "required",editing: false, inserting: false },
                       { name: "budget", title: "Crédit ouvert", type: "numbcustomCurrencyFielder", width: 60, validate: "required",editing: false, inserting: false ,
                         align: "right",itemTemplate: function(cost) {return parseFloat(cost).toFixed(2); } },
                       { name: "montantdispo", title: "Crédit disponible", type: "numbcustomCurrencyFielder", width: 60, validate: "required",editing: false, inserting: false ,
                         align: "right" ,itemTemplate: function(cost) {return parseFloat(cost).toFixed(2); }},
                       { name: "virementcredittmp", title: "Virements Temp", type: "number", width: 60, validate: "required",
                         align: "right",itemTemplate: function(cost) {return parseFloat(cost).toFixed(2); }},
                       { type: "control",deleteButton: false,itemTemplate: function(_, item) {
                           if(item.IsTotal)
                             return "";
                           return jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                         } }
                      //  { type: "control",deleteButton: false }
                   ]
               });
               $("#jsGrid1").jsGrid("option", "filtering", false);
               calcul_synthese();
            });

}

$("#btnappliquer").click(function() {

  swal({
        title: "Confirmation!",
        text: "Voulez-vous vraiment supprimer cet élement?",
        // type: "warning",
        showCancelButton: true,
        confirmButtonColor: '#01DF74',
        confirmButtonText: 'Oui, je confirme!',
        cancelButtonText: "Non, annuler!",
        closeOnConfirm: false,
        closeOnCancel: false
   },
   function(isConfirm){
        if (isConfirm){
           var t = $.ajax({
                 type: "POST",
                 url: "virementscredit/api/valider/".concat(exerciceid),
               });
               t.success(function(msg){
                 if (msg.etat === 'OK'){
                   sweetAlert({
                       title: "Succès!",
                       text: "Opération terminée avec succès!",
                       type: "success"
                   },function () {
                        window.location.reload();
                     });
                 } else {
                          swal(
                             'Opération échouée',
                             msg.message,
                             'error'
                           )
                         }
                 return msg;
               })
         }  else {
           swal("Annulation", "Cette opération est annulée", "error");
         }

 });

});

// currency field
function InitGridCustomFields () {

  var optionsCurrency = {
    digitGroupSeparator: '.',
    decimalCharacter: ',',
    decimalCharacterAlternative: ',',
    currencySymbol: '',
    currencySymbolPlacement: 's',
    decimalPlacesOverride: 2,
    minimumValue: '0.00',
    emptyInputBehavior: 'zero',
    leadingZero: 'deny',
    defaultValueOverride: '0.00'
  };

  var jsGridCustomCurrencyField = function (config) {
    jsGrid.Field.call(this, config);
  };

  jsGridCustomCurrencyField.prototype = new jsGrid.Field({
    sorter: function (num1, num2) {
      return num1 - num2;
    },
    itemTemplate: function (value) {
      return $.fn.autoFormat(value, optionsCurrency);
    },
    insertTemplate: function (value) {
      this._insertPicker = $('<input type="text">').val(value);
      this._insertPicker.autoNumeric('init', optionsCurrency);
      return this._insertPicker;
    },
    editTemplate: function (value) {
      this._editPicker = $('<input type="text">').val(value);
      this._editPicker.autoNumeric('init', optionsCurrency);
      return this._editPicker;
    },
    filterTemplate: function () {
      if (!this.filtering)
        return '';

      var grid = this._grid,
        $result = $('<input type="text">').val(0);
      if (this.autosearch) {
        $result.on('change', function (e) {
          grid.search();
        });
      }

      return $result;
    },
    filterValue: function () {
      console.log(this._insertPicker.val());
      return this._insertPicker.val();
    },
    insertValue: function () {
      return this._insertPicker.autoNumeric('get');
    },
    editValue: function () {
      return this._editPicker.autoNumeric('get');
    }
  });

  jsGrid.fields.customCurrencyField = jsGridCustomCurrencyField;
};
</script>
